.lastUpdated {
  font-size: var(--text-12);
  color: var(--label-color);
  margin-top: auto;
}

.metricsBlock {
  width: 100%;
  display: flex;
  flex-direction: column;

  .metricRow {
    display: flex;
    align-items: center;
    padding: 24px 0;
    gap: 20px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }

    .metricName {
      font-size: var(--text-14);
      font-weight: var(--font-medium);
      color: var(--paragraph-color);
      min-width: 120px;
    }
  }
}
.semester {
  font-weight: var(--font-normal);
  color: var(--label-color);
}
