.lastUpdated {
  font-size: 12px;
  color: var(--label-color);
  margin-top: auto;
}

.metricsBlock {
  width: 100%;
  display: flex;
  flex-direction: column;

  .metricRow {
    display: flex;
    align-items: center;
    padding: 24px 0;
    gap: 20px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }

    .metricName {
      font-size: 14px;
      font-weight: 500;
      color: var(--paragraph-color);
      min-width: 120px;
    }
  }
}
.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--paragraph-color);
  max-width: 100%;
}
.semester {
  font-weight: 400;
  color: var(--label-color);
  margin-left: 5px;
}
