.divider {
  width: 1px;
  background-color: var(--border-color);
}

.title {
  color: var(--label-color);
  line-height: 1;
  font-size: 14px;
}

.description {
  color: var(--paragraph-color);
  line-height: 1.5;
  font-size: 14px;

  a {
    color: var(--blue-500);
    font-weight: 500;

    &:hover {
      color: var(--blue-600);
    }
  }
}
