.divider {
  width: 1px;
  background-color: var(--border-color);
}

.title {
  font-weight: var(--font-medium);
  font-size: var(--text-14);
  line-height: 20px;
  color: var(--heading-color);
}

.description {
  font-weight: var(--font-normal);
  font-size: var(--text-14);
  color: var(--paragraph-color);
  line-height: 1.5;

  a {
    color: var(--blue-500);
    font-weight: 500;

    &:hover {
      color: var(--blue-600);
    }
  }
}
