.login {
  flex-direction: column;
  .login-btn {
    width: 350px;
    height: 35px;
    padding: 3px 0 3px 0;
    @include font-size-responsive(16px);
    @include mobile {
      width: 200px;
      height: 35px;
    }
    align-self: center;
    .login-img {
      transform: scale(0.75);
    }
  }

  .login-text {
    color: $bt-light-text;
    @include font-size-responsive(14px);
    padding: 5px 0 20px 0;
  }

  .back-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: unset;
    margin: unset;
    img {
      width: 10px;
      height: 10px;
    }
  }

  .modal-dialog {
    width: 500px;
    @include mobile {
      width: 75vw;
    }

    position: absolute;
    align-self: center;
    top: 25vh;

    .modal-content {
      padding: 50px;
      text-align: center;
      border-radius: 4px;
    }
  }
}
