.profile-subview{
    max-width: 700px;
    margin-top: 100px; 
    margin-left: 30px;
    margin-right: 30px;

    h1{
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 40px;
    }

    h2{
        font-weight: bold;
        font-size: 32px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.profile-row{
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1.5px solid #ECECEC;

    height: 50px;
}