.trigger {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  align-self: flex-start;
}

.content {
  border-radius: 4px;
  padding: 12px;
  background-color: var(--tooltip-color);
  color: var(--neutral-400);
  max-width: 256px;
  font-size: 14px;
  animation: fadeIn 100ms ease-in;
  z-index: 998;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  .arrow {
    fill: var(--tooltip-color);
  }

  .title {
    font-weight: 600;
    color: var(--tooltip-heading-color);
    margin-bottom: 8px;
    line-height: 1;
  }

  .description {
    line-height: 1.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

