.root {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  display: inline-grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
  background: unset;
  outline: none;
  transition:
    border-color 100ms ease-in-out,
    background-color 100ms ease-in-out,
    color 100ms ease-in-out;

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &[data-variant="outline"] {
    border: 1px solid var(--border-color);
    color: var(--paragraph-color);

    &:hover {
      background-color: var(--button-hover-color);
      color: var(--heading-color);
    }

    &:active {
      background-color: var(--button-active-color);
    }

    &:focus-visible {
      border-color: var(--blue-500);
    }
  }
}
