.footer{
    background-color: $bt-footer;
    line-height: $line-height;

    .footer-nav {
        display: flex;
        flex-direction: row;
        margin: 30px 0px;

        .footer-col {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-right: 40px;

            .footer-items {
                list-style: none;

                li {
                    color: white;
                    font-size: 12px;
                }

                li.first {
                    font-weight: 600;
                    margin-bottom: 10px;
                    font-size: 16px;
                }
            }
        }
    }

}

.footer-default{
    background-color: $smoke-bg;
}

.footer:not(.footer-big){
    nav > ul{
       font-size: $font-size-base;
       li{
            margin-left: 20px;
            float: left;
        }
        a{
            padding: 10px 0px;
            margin: 10px 10px 10px 0px;
        }
    }
}
