.btfooter {
    background-color: $bt-footer;

    padding: 40px;

    .columns {
        .column {
            display: flex;
            flex-direction: column;

            color: white;

            :first-child {
                margin-bottom: 10px;
            }

            > *:not(:first-child):not(:last-child) {
                margin-bottom: 5px;
            }

            > *:not(:first-child) {
                font-size: 13px;
            }

            a {
                color: white;
            }

            a:hover {
                color: hsl(204, 86%, 53%);
            }
        }
    }
}
