.jumbotron {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;

    .jumbotron-content {
        .jumbotron-title {
            font-weight: bold;
        }

        .jumbotron-subheading {
            font-weight: 400;
            font-family: "Open Sans";
            margin-bottom: 30px;
        }

        .jumbotron-explore-btn {
            margin-right: 15px;
            border-radius: 20px;
            font-family: "Open Sans";
            // background: linear-gradient(to right, #6154A4 , #5637F3);
        }

        .jumbotron-sign-up-btn {
            border-radius: 20px;
            font-family: "Open Sans";
        }
    }

    .jumbotron-image {
        padding-right: 15%;

        .jumbotron-img {
            width: 250px;
            object-fit: scale-down;
        }
    }
}
