.mission-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;

    .mission-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;

        .info-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 40%;
            height: 350px;
            min-width: 400px;
            max-width: 800px;
            padding: 30px 50px;
            box-shadow: none;

            h2 {
                text-align: center;
                font-weight: bold;
                font-size: 30px;
                font-family: "Open Sans";
                margin-top: 0;
            }

            p {
                text-align: center;
                font-size: 18px;
            }

            a {
                text-align: center;
                font-size: 18px;
            }
        }
    }
}
