{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Enrollment{% endblock %}

{% block meta %}
    <meta name="description" content="See course enrollment history and compare across different semesters, courses, and sections. Know what to sign up for during Enrollment Phase I and II.">
    <meta name="keywords" content="berkeley, courses, enrollment, telebears, phase i, phase ii, adjustment period, waitlist, waitlisted, drop, enrolled, full, uc, cal, uc berkeley">
{% endblock %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap-modal.min.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/catalog/course_box.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/popover.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/common/welcome.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/tour/grumble.min.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/data/enrollment.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/elusive-webfont.css' %}">
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/csrf-ajax.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/underscore.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script type="text/javascript" src="{% static 'js/d3.v3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/common/frame.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.popover.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/course-box.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/tour/Bubble.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/tour/jquery.grumble.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tour/tour.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/data/enrollment-utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/data/enrollment.js' %}"></script>
    <script type="text/javascript">
        window.TELEBEARS = {{telebears|safe}};
        window.SECRET = "{{ad.title}}";
    </script>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="section_select">
            {% spaceless %}
            {% if courses %}
            <div class="select_container">
                <select id='select_course' data-placeholder='Select a course...'>
                    <option></option>
                    {% for course in courses %}
                        <option value="{{ course.id }}" data-title="{{course.abbreviation}} {{course.course_number}}">
                            <p class="title">{{course.abbreviation}} {{course.course_number}}</p>
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="select_container">
                <select disabled id='select_semester'data-placeholder='Select a semester...'></select>
            </div>
            <div class="select_container">
                <select disabled id='select_section'data-placeholder='Select a section...'></select>
            </div>
            <div id='select_add_button' class='select-button'>
                <i class='icon-plus-sign'></i>
            </div>
            <div style='display: none;' id='select_question_button' class='select-button'>
                <i class='icon-question-sign'></i>
            </div>
            <div style='display: none;' id='select_question_button_2' class='select-button'>
                <i class='icon-question-sign'></i>
            </div>
            <div style='display: none;' id='select_question_button_3' class='select-button'>
                <i class='icon-question-sign'></i>
            </div>
            {% endspaceless %}
        </div>

        <div id="graph_container">
            <div class="telebears-warning">
                warning: fall and spring enrollment phases have different lengths, so spring and fall enrollment graphs may not match up.
            </div>

            <div id="enrollment_info">
                <div id="title_container"></div>
                <div id="section_info_container"></div>
                <div id="day_info_container" {% if not ad %}style="width: 56%;"{% endif %}></div>
                {% if ad %}
                <div class="enrollment-secret-container">
                    <div class="secret-divider-container">
                        <div class="secret-divider">from the student community</div>
                    </div>
                    <div class="enrollment-secret berkeleytime-secret" data-color="{{ad.color}}" data-url="{{ad.url}}">
                        <div class="secret-body">
                            <div class="secret-title">{{ad.title|safe}}</div>
                            <div class="secret-subtitle">{{ad.text|safe}}</div>
                            <div class="secret-footer"><a target="_blank" href="/advertise">(?)</a></div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div id="graph">
                <div class="loading" style="display: none;"><img src="{% static 'css/img/loading.gif' %}"></div>
                <div class="welcome" style="display: none;">
                    <div class="greeting"><i class="icon-graph"></i></div>
                    <h1 class="welcome-subheading">Know when your classes fill up, so you can get the classes you want. <a class="welcome-highlight">Take a tour</a>.</h1>
                    <h2 class="welcome-paragraph">
                        Filter enrollment histories by semester and section, and compare classes to each other easily. Additional info is shown above.
                    </h2>
                </div>
            </div>
        </div>

        <a href="https://goo.gl/forms/HDQ10XBDHJ0aCjhf1"  target="_blank">
            <button id="feedback-button">
                Report a Problem
            </button>
        </a>

    </div>
{% endblock %}
