.root {
  padding: 96px 0;

  .row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 96px;

    &:not(:last-child) {
      margin-bottom: 96px;
    }

    .gallery {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      position: relative;

      .calendar {
        width: calc(100% - 128px);
      }

      .schedule {
        width: 256px;
        margin-left: auto;
        margin-top: -128px;
      }
    }

    .text {
      width: 512px;
      flex-shrink: 0;

      .link {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--blue-500);
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        transition: all 100ms ease-in-out;

        &:hover {
          color: var(--blue-600);
        }
      }

      .description {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 32px;
        color: var(--slate-500);
      }

      .heading {
        font-size: 32px;
        font-weight: 660;
        font-feature-settings: 'cv05' on, 'cv13' on, 'ss07' on, 'cv12' on, 'cv06' on;
        line-height: 1.25;
        letter-spacing: -1%;
        margin-bottom: 16px;
        color: var(--slate-900);
      }

      .badge {
        height: 24px;
        border-radius: 4px;
        padding: 0 8px;
        display: flex;
        align-items: center;
        background-color: var(--orange-500);
        width: max-content;
        color: white;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 16px;
      }
    }
  }
}
