.overlay {
  inset: 0;
  position: fixed;
  background-color: var(--background-color);
  opacity: 0.9;

  &[data-state="open"] {
    animation: fadeIn 150ms ease-in;
  }

  &[data-state="closed"] {
    animation: fadeOut 150ms ease-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 512px;
  max-width: calc(100% - 48px);

  &[data-state="open"] {
    animation: jumpIn 150ms ease-in;
  }

  &[data-state="closed"] {
    animation: jumpOut 150ms ease-out;
  }
}

@keyframes jumpIn {
  from {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes jumpOut {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }
}

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;

  &[data-align="start"] {
    left: 0;

    &[data-state="open"] {
      animation: slideInStart 150ms ease-in;
    }

    &[data-state="closed"] {
      animation: slideOutStart 150ms ease-out;
    }
  }

  &[data-align="end"] {
    right: 0;

    &[data-state="open"] {
      animation: slideInEnd 150ms ease-in;
    }

    &[data-state="closed"] {
      animation: slideOutEnd 150ms ease-out;
    }
  }
}

@keyframes slideInStart {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutStart {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInEnd {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutEnd {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.header {
  border-bottom: solid 1px var(--border-color);
  align-items: center;
}
.headerTitle {
  font-size: 20px;
  color: var(--heading-color);
  font-weight: 580;
}
.headerSubtitle {
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 14px;
}
.footer {
  border-top: solid 1px var(--border-color);
}