@mixin dark-theme {
  background-color: rgba(#18181b, 0.8);
}

@mixin light-theme {
  background-color: rgba(#f8fafc, 0.8);
}

body[data-theme="dark"] {
  .overlay {
    @include dark-theme;
  }
}

body[data-theme="light"] {
  .overlay {
    @include light-theme;
  }
}

body:not([data-theme]) {
  .overlay {
    @include light-theme;

    @media (prefers-color-scheme: dark) {
      @include dark-theme;
    }
  }
}

.overlay {
  inset: 0;
  position: fixed;
  z-index: 988;

  &[data-state="open"] {
    animation: fadeIn 250ms ease-in;
  }

  &[data-state="closed"] {
    animation: fadeOut 250ms ease-out;
  }
}

.content {
  position: fixed;
  z-index: 989;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
