.header {
  background-color: var(--foreground-color);
  border-bottom: 1px solid var(--border-color);

  .bookmark.active {
    color: var(--blue-500);
    border-color: color-mix(in srgb, currentColor 10%, transparent);
    background-color: color-mix(in srgb, currentColor 10%, transparent);
  }

  .heading {
    font-size: 24px;
    font-weight: 660;
    font-feature-settings:
      "cv05" on,
      "cv13" on,
      "ss07" on,
      "cv12" on,
      "cv06" on;
    color: var(--heading-color);
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
    color: var(--paragraph-color);
  }
}
