.root {
  background-color: var(--background-color);
}

.header {
  background-color: var(--foreground-color);
  border-bottom: 1px solid var(--border-color);

  .bookmark.active {
    color: var(--blue-500);
    border-color: color-mix(in srgb, currentColor 10%, transparent);
    background-color: color-mix(in srgb, currentColor 10%, transparent);
  }

  .heading {
    font-size: 24px;
    font-weight: 660;
    font-feature-settings:
      "cv05" on,
      "cv13" on,
      "ss07" on,
      "cv12" on,
      "cv06" on;
    color: var(--heading-color);

    .sectionNumber {
      color: var(--paragraph-color);
    }
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
    color: var(--paragraph-color);
  }

  .badge {
    position: relative;
    display: inline;
    padding: 2px 6px;
    border-radius: 10px;
    background-color: var(--blue-500);
    color: white;
    font-size: 11px;
    line-height: 1.5;
    right: -5px;
    z-index: 999;
  }
  .dot {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    right: -6px;
    top: 1px;
    background-color: var(--blue-500);
  }
}

.loading {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .loadingHeader {
    height: 238.5px;
    background-color: var(--foreground-color);
    border-bottom: 1px solid var(--border-color);
  }

  .loadingBody {
    flex-grow: 1;
    background-color: var(--background-color);
  }
}

.tooltipContent {
  border-radius: 4px;
  padding: 12px;
  background-color: var(--tooltip-color);
  color: var(--description-color);
  max-width: 256px;
  font-size: var(--text-14);
  animation: fadeIn 100ms ease-in;
  z-index: 998;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  .tooltipArrow {
    fill: var(--tooltip-color);
  }

  .tooltipTitle {
    font-weight: var(--font-semibold);
    color: var(--tooltip-heading-color);
    margin-bottom: 8px;
    line-height: 1;
  }

  .tooltipDescription {
    line-height: 1.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
