@import "../utils.less";
@import "../standard.less";

html {
    width: 100%;
    height: 100%;
    .background("../img/berkeley.jpg");
}

@width: 300px;
.change-done-container {
    .font(@main-font, 300);
    .absolute-center(@width, 23%);
    background-color: rgba(255, 255, 255, 0);
    color: white;

    .change-done-icon {
        width: 100%;
        .height(180px, 140px);
        margin-top: 25px;
        text-align: center;
        color: black;
    }

    .change-done-text {
        .font(@main-font, 300);
        width: 300px;
        margin: 5px auto;
        font-size: 20px;
        position: relative;
        text-align: center;
        color: black;
        a {
            font-size: 15px;
            text-decoration: none;
            .dark-link(@berkeleytime-blue);
        }
    }
}
