/* Actual Standard Stuff */
html {
  width: 100%;
  height: 100%;
  background: url("../img/berkeley.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
::-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* firefox 19+ */
:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* ie */
input:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.change-password-box {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 30px 0px 30px 0px;
  display: block;
  position: absolute;
  top: 20%;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  background-color: rgba(220, 220, 220, 0.6);
  border: none;
  font-size: 13px;
}
.change-password-box .message {
  width: 300px;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  margin-top: -30px;
}
.change-password-box .message .error-short {
  background: #f43d6b;
}
.change-password-box .message .welcome {
  background: #5aa834;
}
.change-password-box input {
  display: block;
  margin: 5px auto 0px auto;
  position: relative;
  width: 231px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}
.change-password-box button {
  width: 100px;
  margin-top: 10px;
  margin-left: 177.5px;
  padding: 0;
  background-color: #4288aa;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 13px;
  font-size: 13px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
.change-password-box button:hover {
  background-color: #5ea1c1;
}
.change-password-box .title {
  height: 70px;
  line-height: 70px;
  font-size: 32px;
  text-align: center;
  font-family: "Lobster";
}
