/* Actual Standard Stuff */
body {
  width: 100%;
  height: 100%;
  background: url("../img/berkeley.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.facebook-block-container {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: absolute;
  top: 23%;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
}
.facebook-block-container .facebook-block-icon {
  width: 100%;
  height: 180px;
  line-height: 180px;
  font-size: 160px;
  margin-top: 25px;
  text-align: center;
}
.facebook-block-container .facebook-block-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 300px;
  margin: 5px auto;
  font-size: 14px;
  position: relative;
  text-align: center;
}
