/* Actual Standard Stuff */
body {
  width: 100%;
  height: 100%;
  background: url("../img/berkeley.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.email-sent-container,
.reset-done-container {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: absolute;
  top: 23%;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
}
.email-sent-container .email-sent-icon,
.reset-done-container .email-sent-icon,
.email-sent-container .reset-done-icon,
.reset-done-container .reset-done-icon {
  width: 100%;
  height: 180px;
  line-height: 180px;
  font-size: 150px;
  margin-top: 25px;
  text-align: center;
}
.email-sent-container .email-sent-content,
.reset-done-container .email-sent-content,
.email-sent-container .reset-done-content,
.reset-done-container .reset-done-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 300px;
  margin: 5px auto;
  font-size: 19px;
  position: relative;
  text-align: center;
}
