@import "../utils.less";
@import "../standard.less";

body {
    width: 100%;
    height: 100%;
    .background("../img/berkeley.jpg");
}

.input-font(@main-font, 300);

@width: 275px;
@field-font-size: 13px;
.change-password-box {
    .font(@main-font, 300);
    padding: 30px 0px 20px 0px;
    display: block;
    position: absolute;

    width: @width;
    top: 30%;
    left: 50%;
    margin-left: -@width/2;

    background-color: @form-container-bg;
    border: none;
    font-size: @field-font-size;

    @message-height: 30px;
    .message {
        margin-top: -@message-height;
        z-index: 10;
        height: @message-height;
        background: #f43d6b;
        margin-bottom: 15px;
        p {
            text-align: center;
            vertical-align: middle;
            line-height: @field-font-size;
            padding: 9px;
        }

        .error { background: #f43d6b; }
        .welcome { background: #5aa834; }
    }

    .reset-container {
        margin-top: 30px;
        display: block;

        @field-width: 0.85 * @width;
        @field-padding: 10px;
        @field-height: 30px;
        @field-font-size: 13px;
        @field-border-width: 2px;
        @field-side-margin: (@width - @field-width)/2;
        input {
            display: block;
            position: relative;
            margin: 15px auto;
            width: @field-width - 2 * @field-padding - 2* @field-border-width;
            .height(@field-height; @field-font-size);
            padding-left: @field-padding;
            padding-right: @field-padding;
        }

        @button-width: 120px;
        button {
            margin-left: @field-side-margin + @field-width - @button-width;
            width: @button-width;
            right: @field-side-margin;
            background-color: @button-blue;
            color: white;
            text-align: center;
            .height(@field-height, @field-font-size);
            overflow: hidden;
            border: none; //override default button styles
            cursor: pointer;
            &:hover {
                cursor: pointer;
                &:hover {
                    background-color: lighten(@button-blue, 10%);
                }
            }
        }
    }
}

@width: 300px;
.invalid-url-container {
    .font(@main-font, 300);
    .absolute-center(@width, 23%);
    background-color: rgba(255, 255, 255, 0);
    color: black;
    .invalid-url-icon {
        width: 100%;
        .height(200px, 180px);
        margin-top: 25px;
        text-align: center;
    }
    .invalid-url-text {
        .font(@main-font, 300);
        width: 300px;
        margin: 5px auto;
        font-size: 15px;
        position: relative;
        text-align: center;
        a {
            font-size: 14px;
            text-decoration: none;
            .dark-link(@berkeleytime-red);
        }
    }
}
