/* Actual Standard Stuff */
body {
  width: 100%;
  height: 100%;
  background: url("../img/berkeley.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
::-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* firefox 19+ */
:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* ie */
input:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.change-password-box {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 30px 0px 20px 0px;
  display: block;
  position: absolute;
  width: 300px;
  top: 30%;
  left: 50%;
  margin-left: -150px;
  background-color: rgba(220, 220, 220, 0.6);
  border: none;
  font-size: 13px;
}
.change-password-box .message {
  margin-top: -30px;
  z-index: 10;
  height: 30px;
  background: #f43d6b;
  margin-bottom: 15px;
}
.change-password-box .message p {
  text-align: center;
  vertical-align: middle;
  line-height: 13px;
  padding: 9px;
}
.change-password-box .message .error {
  background: #f43d6b;
}
.change-password-box .message .welcome {
  background: #5aa834;
}
.change-password-box .reset-container {
  margin-top: 30px;
  display: block;
}
.change-password-box .reset-container input {
  display: block;
  position: relative;
  margin: 15px auto;
  width: 231px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
}
.change-password-box .reset-container button {
  margin-left: 157.5px;
  width: 120px;
  right: 22.5px;
  background-color: #4288aa;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
.change-password-box .reset-container button:hover {
  cursor: pointer;
}
.change-password-box .reset-container button:hover:hover {
  background-color: #5ea1c1;
}
.invalid-url-container {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: absolute;
  top: 23%;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
}
.invalid-url-container .invalid-url-icon {
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-size: 180px;
  margin-top: 25px;
  text-align: center;
}
.invalid-url-container .invalid-url-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 300px;
  margin: 5px auto;
  font-size: 15px;
  position: relative;
  text-align: center;
}
.invalid-url-container .invalid-url-text a {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #d73a40;
}
.invalid-url-container .invalid-url-text a:hover {
  color: #b9252b;
}
