html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
a.nostyle {
  color: inherit;
  text-decoration: none;
}
#main-menu {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  width: 100%;
}
#main-menu ul {
  min-width: 960px;
  list-style: none;
}
#main-menu ul li {
  display: inline-block;
  text-align: center;
  width: 11%;
}
#main-menu ul li.selected {
  width: 23%;
}
#main-menu ul li .tab {
  background: #1896d5;
}
#main-menu ul li a {
  display: block;
  vertical-align: center;
  color: white;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  text-decoration: none;
}
#main-menu ul li:hover .tab {
  background: #37aee9;
}
#fb {
  display: block;
  width: 85%;
  margin: 0 7.5% 0 7.5%;
  background-color: #273a6a;
  background: -moz-linear-gradient(#3f619e 0%, #273a6a 100%);
  /* FF 3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f619e), color-stop(100%, #273a6a));
  /* Safari 4+, Chrome 2+ */

  background: -webkit-linear-gradient(#3f619e 0%, #273a6a 100%);
  /* Safari 5.1+, Chrome 10+ */

  background: -o-linear-gradient(#3f619e 0%, #273a6a 100%);
  /* Opera 11.10 */

  background: linear-gradient(#3f619e 0%, #273a6a 100%);
  /* the standard */

  font-size: 13px;
  text-align: center;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border-top: 1px solid #5887bc;
  height: 30px;
  line-height: 30px;
}
#fb:hover {
  background-color: #354e8f;
  background: -moz-linear-gradient(#5579bb 0%, #354e8f 100%);
  /* FF 3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5579bb), color-stop(100%, #354e8f));
  /* Safari 4+, Chrome 2+ */

  background: -webkit-linear-gradient(#5579bb 0%, #354e8f 100%);
  /* Safari 5.1+, Chrome 10+ */

  background: -o-linear-gradient(#5579bb 0%, #354e8f 100%);
  /* Opera 11.10 */

  background: linear-gradient(#5579bb 0%, #354e8f 100%);
  /* the standard */

}
#fb #facebook {
  font-weight: 900;
  font-family: Helvetica, sans-serif;
}
#fb:before {
  width: 25px;
  height: 30px;
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid #273a6a;
  float: left;
  content: 'f';
  line-height: 30px;
  font-size: 20px;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
}
.berkeleytime-box {
  padding: 30px 0px 30px 0px;
  display: block;
  position: absolute;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  background-color: rgba(213, 213, 213, 0.75);
  border: none;
  font-size: 13px;
}
.berkeleytime-box .message {
  z-index: 10;
}
.berkeleytime-box .message .error-short {
  margin-top: -30px;
  height: 30px;
  background: #f43d6b;
}
.berkeleytime-box .message .error-short p {
  text-align: center;
  vertical-align: middle;
  line-height: 13px;
  padding: 9px;
}
.berkeleytime-box .message .error-short p i {
  margin-right: 5px;
}
.berkeleytime-box .message .error-long {
  margin-top: -40px;
  height: 40px;
  background: #f43d6b;
}
.berkeleytime-box .message .error-long p {
  text-align: center;
  vertical-align: middle;
  line-height: 13px;
  padding: 9px;
}
.berkeleytime-box .message .error-long p i {
  margin-right: 5px;
}
.berkeleytime-box .message .welcome {
  margin-top: -30px;
  height: 30px;
  background: #5aa834;
}
.berkeleytime-box .message .welcome p {
  text-align: center;
  vertical-align: middle;
  line-height: 13px;
  padding: 9px;
}
.berkeleytime-box input {
  width: 84%;
  height: 30px;
  line-height: 30px;
  padding-left: 1%;
  margin: 0px 7.5% 5px 7.5%;
  font-size: 13px;
}
.berkeleytime-box button {
  width: 30%;
  margin-top: 10px;
  margin-left: 62.5%;
  background-color: #4288aa;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 13px;
  font-size: 13px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
.berkeleytime-box button:hover {
  background-color: #5ea1c1;
}
.berkeleytime-box fieldset {
  border-top: 1px solid grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  text-align: center;
}
.berkeleytime-box fieldset legend {
  padding: 10px;
  font-family: 'Lobster';
  font-size: 17px;
}
.berkeleytime-link {
  display: block;
  width: 85%;
  height: 13px;
  margin: 0px 7.5% 0px 7.5%;
  line-height: 13px;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
}
.berkeleytime-link a {
  color: black;
  text-decoration: none;
}
.berkeleytime-link a:hover {
  color: #808080;
}
#logo {
  display: block;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
  height: 46px;
  line-height: 46px;
  font-size: 46px;
  text-align: center;
}
#logo #logo_t {
  color: #1896d5;
}
html {
  width: 100%;
  height: 100%;
  background: url(../img/howl.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.berkeleytime-box {
  margin: 30px 0px 0px 0px;
  padding-top: 0px;
  width: 375px;
  min-width: 375px;
  max-width: 375px;
  top: 25%;
  left: 50%;
  margin-left: -187.5px;
}
.berkeleytime-box #header p {
  font-size: 37px;
  margin: 20px 0px 20px 0px;
  text-align: center;
  font-family: "Lobster";
}
.berkeleytime-box p {
  margin-top: 20px;
  text-align: center;
}
.berkeleytime-box #major-form {
  margin-left: 37px;
}
.berkeleytime-box #major-form select {
  width: 300px;
}
.berkeleytime-box #major-form input {
  height: 15px;
  font-size: 13px;
  line-height: 13px;
}
.berkeleytime-box #major-form .major-select {
  margin-bottom: 10px;
}
