// @import "base.less";
@import "../standard.less";
@import "../utils.less";

body {
    .background("../img/berkeley.jpg");
}

@profile-container-height: 500px;
@profile-container-width: 300px;
@profile-header-height: 0.25 * @profile-container-height;

@picture-diameter: 190px;
.profile-header-picture {
    width: @picture-diameter;
    .circle-picture(@picture-diameter);
    margin: 0 auto;
    margin-top: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile-header-text {
    color: black;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    .profile-name {
        .height(40px, 25px);
    }
    .facebook-status {
        .height(20px, 13px);
    }
}

.profile-footer-text {
    color: black;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    .height(30px, 13px);
}


.profile-list-container {
    z-index: -1;
    margin-top: 20px;
}

.profile-list-container {
    margin-top: 35px;
    width: 100%;
    text-align: center;
    li {
        padding: 10px;
        display: inline-block;
    }
}


li.profile-item {
    vertical-align: top;
    .height(35px, 20px);
    text-align: center;
    padding: 0px 30px;
    a {
        cursor: pointer !important;
        display: block;
        text-decoration: none;
        .font(@main-font, 300);
    }
    a:hover {
        span, i { color: @header-blue;  }
    }
}

.item-container {
    span, i {
        display: block;
        color: black;
        text-decoration: none;
    }
    i {
        .height(40px, 30px);
    }
    span {
        margin-top: 10px;
        .height(20px, 13px);
    }
}
