@import "utils.less";
@import "standard.less";

#container {
    .font(@main-font, 300);
}

.fb-like {
    display: block !important;
    margin-top: 30px !important;
}

.ad-container--about {
    margin-top: 20px;
}

.header-container {
    width: 100%;
    padding-bottom: 50px;
    .background("img/berkeley.jpg");
    .header-content {
        position: relative;
        display: block;
        width: 700px;
        margin: 0 auto;
        padding-top: 65px;
        text-align: center;
        .header-title {
            .height(60px, 43px);
        }
        .header-subtitle {
            .height(20px, 14px);
        }
        .registration-button {
            text-decoration: none;
            display: inline-block;
            margin: 0px 20px;
            margin-top: 30px;
            font-family: @main-font;
            width: 200px;
            background-color: @header-blue;
            color: white;
            text-align: center;
            .height(40px, 15px);
            overflow: hidden;
            border: none;
            &:hover {
                    background-color: darken(@header-blue, 20%);
            }
            cursor: pointer;
        }
        .video {
            vertical-align: top;
            cursor: pointer;
            color: @header-blue;
            &:hover {
                color: darken(@header-blue, 20%);
            }
            .height(38px, 15px);
            i {
                .height(40px, 22px);
                padding-left: 8px;
            }
        }
        .video-embed {
            display: none;
            margin-top: 10px;
        }
    }
}

// @menu-height: 45px;
// .menu-wrapper {
//     display: block;
//     width: 100%;
//     height: @menu-height;

//     .menu-bar {
//         list-style: none;
//         text-align: center;
//         padding: 0;
//         margin: 0;
//         li {
//             display: inline-block;
//             margin: 20px 40px;
//             text-align: center;
//             padding: 10px 30px;
//             width: 200px;
//             font-size: 17px;
//             .active {
//                 color: @berkeleytime-blue;
//             }
//             a {
//                 display: block;
//                 vertical-align: center;
//                 .height(25px, 15px);
//                 color: black;
//                 width: 100%;
//                 text-decoration: none;
//             }
//         }
//         li:hover {
//             a { background: #eee; }
//         }
//     }
// }

.block {
    display: inline-block;
    vertical-align: top;
}

.feature, .people-container {
    position: relative;
    margin: 0 auto;
    width: 960px;
    .feature-picture-container {
        padding: 0;
        text-align: center;
        margin-left: 2%;
        width: 20%;
    }
    .feature-description-container {
        padding: 0;
        width: 100%;
        .feature-description {
            margin-left: 2%;
        }
    }
}

.about-content-container {
    width: 100%;
    padding-top: 20px;
    .feature-picture-container {
        min-width: 300px;
    }

    .feature-description-container {
        min-width: 300px;
        margin-top: 40px;
        .feature-description {
            width: 80%;
        }
        .description-title {
            font-weight: 400;
            .height(40px, 23px);
            // &.catalog a { color: #f62066; }
            // &.data a { color: #3fa639; }
            // &.campus a { color: #9e5f99; }
            a {
                color: black;
                text-decoration: none;
                &:hover {
                    color: darken(@header-blue, 20%);
                }
            }

        }
        .description-text {
            padding-top: 20px;
            .line-height(22px, 14px);
        }
    }
}

.picture-icon {
    position: relative;
    margin: 35px auto;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    // &:hover {
        //javascript expand width/height + 20px
    // }
}

.picture1 {
    background-image: url("img/catalog.jpg");
}

.picture3 {
    background-image: url("img/graph.jpg");
}

.picture4 {
    background-image: url("img/campus.jpg");
}

.people-content {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 40px;
    .line-height(17px, 12px);
    text-align: center;
    a {
        .dark-link(@berkeleytime-blue);
        text-decoration: none;
    }
}
