@import "utils.less";
@import "standard.less";

@main-font: 'Open Sans', sans-serif;
@secondary-font: Helvetica, sans-serif;
@container-width: 960px;

@bar-height: 25px;

// prevent website scroll bounce on mac
// http://stackoverflow.com/questions/12046315/prevent-overscrolling-of-web-page
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}


html {
    //always 100% so we can display background images
    width: 100%;
    height: 100%;
}

body {
    //always 100% so we can display bg images
    width: 100%;
    height: 100%;
    font-family: @main-font;
}

a.nostyle {
    color: inherit;
    text-decoration: none;
}

@number-of-elements: 8;
#main-menu {
    .font(@main-font, 300);
    display: block;
    width: 100%;
    ul {
        min-width: @container-width;
        list-style: none;
        @color: #1896d5;
        @menu-element-width: (100% / @number-of-elements);
        li {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            width: @menu-element-width;
            &.selected {
                width: @menu-element-width * 2;
            }
            .tab {
                background:@color;
            }
            a {
                display: block;
                vertical-align: center;
                color: white;
                width: 100%;
                .height(@bar-height, 15px);
                text-decoration: none;
            }
        }

        li:hover {
            .tab {background: lighten(@color, 10%);}
        }
    }
}

@field-height: 30px;
@field-width: 85%;
@button-font: 13px;

@fb-wordmark-padding: 10px;
@fb-wordmark-width: 35px - @fb-wordmark-padding;

/* Google Ads */
.ad-container--leaderboard {
    text-align: center;
}

#fb {
    @field-width-margin: (100% - @field-width)/2;
    display: block;
    width: @field-width;
    margin: 0 @field-width-margin 0 @field-width-margin;
    height: @field-height;

    @fb-color-dark: #273a6a;
       @fb-color-light: #3f619e;
    @fb-color-lightest: #5887bc;
    background-color: @fb-color-dark;
    .linear-gradient-two(@fb-color-light, @fb-color-dark);

    font-size: @button-font;
    text-align: center;
    color: white;
    overflow: hidden;

    &:hover {
        background-color: lighten(@fb-color-dark, 10%);
        .linear-gradient-two(lighten(@fb-color-light, 10%), lighten(@fb-color-dark, 10%));
    }

    border-top: 1px solid @fb-color-lightest;
    height: @field-height;
    line-height: @field-height;

    #facebook {
        font-weight: 900;
        font-family: @secondary-font;
    }
    &:before {
        //Dimensions
        width: @fb-wordmark-width;
        height: @field-height;

        //Alignment and Borders
        text-align: right;
        padding-right: @fb-wordmark-padding;
        border-right: 1px solid @fb-color-dark;
        float: left;

        //Font
        content: 'f';
        line-height: @field-height;
        font-size: @field-height - 10px;
        font-weight: 900;
          font-family: @secondary-font;
    }
}

.flat {
  border: 0px solid #999;
  border: 0px solid rgba(0, 0, 0, 0.3);
  *border: 0px solid #999;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.frame {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;

    .frame-buffer {
        height: 45%;
    }

    .frame-loader {
        display: inline;
        padding: 10px 20px;
        margin: 10px auto;
        background-color: @berkeleytime-blue;
        color: white;
        border: 1px solid white;
        font-size: 13px;
        .border-radius(5px);
    }
}

.berkeleytime-secret {
    position: relative;
    color: white;
    padding: @ad-topbottom-padding @ad-horizontal-padding;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    height: @ad-height;

    .font(@main-font, 300);

    .secret-body {
        display: block;
    }

    a {
        color: inherit;
        text-decoration: none;
        text-decoration: underline;
    }

    @ad-footer-height: 12px;
    @ad-footer-right-offset: 5px;
    @ad-footer-bottom-offset: @ad-footer-right-offset;
    .secret-footer {
        display: block;
        position: absolute;
        right: @ad-footer-right-offset;
        top: @ad-footer-bottom-offset;
        .height(@ad-footer-height, @ad-footer-height - 2px);
        color: rgba(0, 0, 0, 0.5);

        a, a:visited {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    &:hover {
        height: auto;

        .secret-subtitle {
            .disable-ellipsis-overflow();
            height: auto;
        }
    }

    .secret-title {
        display: block;
        .height(@ad-title-height, @ad-title-font-size);
    }

    .secret-subtitle {
        display: block;
        .height(@ad-subtitle-height, @ad-subtitle-font-size);
        .ellipsis-overflow();
    }
}

#feedback-button {
    background-color: @berkeleytime-red;
    color: white;
    text-align: center;
    .height(40px, 14px);
    overflow: hidden;
    border: none;
    outline: none;
    padding: 0 10px;

    &:hover {
        background-color: lighten(@berkeleytime-red, 10%);
    }
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.cursor--pointer {
    cursor: pointer;
}

.text--right {
    text-align: right;
}

.marketplace-action-container {
    button {
        background-color: @marketplace-green;
        color: white;
        .height(25px, 13px);
        overflow: hidden;
        border: none;
        outline: none;
        padding: 0 12px;
        cursor: pointer;
        border-radius: 4px;
        margin: 0px;
        font-weight: 600;
        .buy-button-text {
            letter-spacing: 2px;
            margin-right: -2px;
        }
        &:hover {
            background-color: darken(@marketplace-green, 5%);
        }
        &.price-cta {
            margin-top: 7px;

            .buy-button-text {
                letter-spacing: 1px;
            }
        }
    }
    .action-description-container  {
        display: block;
        margin-top: 3px;

        line-height: 9px;
        font-size: 9px;
        color: #cbcbcb;
        font-weight: 600;
        .action-description { vertical-align: middle; }
        img { height: 12px; padding-left: 2px; vertical-align: middle; display: inline-block; }
    }
}

.gamma {
    line-height: 16px;
    font-size: 12px;
    font-weight: 600;
}

.vertical-align--middle {
    vertical-align: middle !important;
}

.textbook-container {
    margin-top: 10px;
}

/* TODO (*) Move this somewhere else */
.textbook-table-container {
    .semester-subheader {
        padding-top: 5px;
        padding-bottom: 2px;
        font-size: 12px;
    }

    .table--row {
        td { padding-left: 0; }

        &:hover {
            background-color: #fafafa;
        }
        &:last-child {
            border-bottom: 1px solid #cbcbcb;
        }
        border-top: 1px solid #cbcbcb;
    }
    .textbook-title {
        .line-height(14px, 12px);
        line-spacing: -1px;
        .textbook-is-required {
            font-weight: 400;
            color: #c0c0c0;
            padding-left: 5px;
        }
    }
    .textbook-author {
        .line-height(12px, 10px);
        line-spacing: -1px;
    }
}

