@import "utils.less";
@import "standard.less";

.contact-row {
    min-width: 960px;
}

@person-height: 150px;
.person-container {
    margin-top: 40px;
    @diameter: 150px;
    .picture {
        @picture-border: 2px;
        width: @diameter;
        height: @diameter;
        // width: @diameter - 2 * @picture-border;
        // height: @diameter - 2 * @picture-border;
        margin: 0 auto;
        -webkit-border-radius: 99em;
        -moz-border-radius: 99em;
        border-radius: 99em;
        // border: @picture-border solid #eee;
        // box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        &.yuxin {
            background-image: url("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-frc3/240897_10152318601035034_896218568_o.jpg");
        }
        &.noah {
            background-image: url("https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn2/208992_10151601915759809_2026386494_n.jpg");
        }
    }
}
