@import "utils.less";
@import "standard.less";

.header-container {
    width: 100%;
    padding-bottom: 50px;
    .background("img/library.jpg");

    height: 400px;
    position: relative;

    .shade {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .header-content {
        h1, h3 {
            position: absolute;
            width: 100%;
            text-align: center;
            margin-top: 100px;
            .height(250px, 125px);
            color: white;
            font-weight: 300;
        }
        .logo-t {
            color: lighten(@berkeleytime-blue, 10%);
        }
    }
}

.content-container {
    width: 80%;
    margin-left: 10%;
    font-weight: 300;
}

.features-container {
    height: 300px;
    padding-top: 50px;
    color: #0e0e0e;
    .column {
        display: inline-block;
        vertical-align: top;
        width: 33%;
        min-width: 200px;
    }
    .feature-icon {
        .height(120px, 120px);
        text-align: center;
        width: 100%;
    }

    .title-container {
        margin-top: 10px;
        .height(30px, 22px);
        font-weight: 700;
        text-align: center;
    }

    .description-container {
        .height(19px, 13px);
        width: 80%; margin-left: 10%;
        text-align: center;
    }
}

.build-header {
    .height(30px, 20px);
    padding: 10px;
    width: auto;
    text-align: center;
    text-transform: uppercase;
}

.build-container {
    width: 800px;
    margin: 0 auto;
    

    .render-container, .form-container {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 350px;
    }
    
    .render-container {
        .secret-container {
            margin-top: 50px;
            width: 300px;

            .secret-banner {
                .text-with-divider(@color: rgba(0, 0, 0, 0.1));
                color: rgba(0, 0, 0, 0.4);
                .line-height(15px, 13px);
                text-transform: uppercase;
                text-align: center;

                // overrides
                margin-bottom: 0.75em;
            }
            .secret-content {
                height: 50px;
                color: white;
                padding: 10px;
                cursor: pointer;
                font-weight: 300;
                

                &:hover {
                    .secret-subtitle {
                        .disable-ellipsis-overflow();                    
                    }
                    height: auto;    
                }

                .secret-header {
                    .height(28px, 23px);
                }
                .secret-subtitle {
                    padding-top: 4px;
                    .line-height(20px, 13px);
                    .ellipsis-overflow();
                }
            }
        }
        .color-container {
            margin-top: 15px;
            display: inline-block;
            width: 30px;

            .color-circle {
                display: block;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin: 0 auto;
                cursor: pointer;
                transition: 0.1s linear;
                &:hover {
                    width: 25px; height: 25px;


                }
            }
            .color-name {
                .height(20px, 12px);
            }
        }
    }

    .form-container {
        .input-container {
            display: block;
            margin-bottom: 20px;
            .input-field {
                display: inline-block;
                margin-top: 2px;
                border-bottom: 1px solid black;
                
                input, input:focus {
                    display: block;
                    .height(30px, 20px);
                    outline: none;
                    border: none;
                    font-family: @main-font;
                    background-color: white;
                    letter-spacing: 0.5px;
                    font-size: 15px;
                    color: black;
                    font-weight: 300;
                    width: 300px;
                }
            }
            textarea, textarea:focus {
                border: 1px solid black;
                font-size: 13px;
                outline: none;
                letter-spacing: 0.5px;
                font-weight: 300px;
                font-family: @main-font; 
                width: 300px;
            }

            .footer {
                .height(12px, 10px);
            }
        }        
    }
}
.button-container {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    overflow: auto;
}

.button {
    cursor: pointer;
    display: inline-block;

    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid @berkeleytime-blue;
    .height(20px, 16px);
    a {
        text-decoration: none;
        color: @berkeleytime-blue;
    }
    &:hover {
        -webkit-transition: background-color 0.2s;
        background-color: @berkeleytime-blue;
        a {
            color: white;
        }
    }
}

.people-content {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 40px;
    .line-height(17px, 12px);
    text-align: center;
    a {
        .dark-link(@berkeleytime-blue);
        text-decoration: none;
    }
}