/* Actual Standard Stuff */
@berkeleytime-blue: #5ab2de;
@berkeleytime-red: #d73a40;
@berkeleytime-green: #57af3e;
@marketplace-green: #7ed321;
@header-blue: #1896d5;
@main-font: 'Open Sans', sans-serif;

@button-blue: #4288aa;
@form-container-bg: rgba(220, 220, 220, 0.6);
@hover-link-blue: #309ed6;

//stupid Chrome thing, where buttons have an outline (wtf)
button {
    outline: none;
}

// ads
@ad-height: 40px;
@ad-title-height: 25px;
@ad-title-font-size: 16px;
@ad-subtitle-height: 16px;
@ad-subtitle-font-size: 12px;
@ad-topbottom-padding: 6px;
@ad-horizontal-padding: 10px;
@ad-footer-height: 12px;
@ad-footer-right-offset: 5px;
@ad-footer-bottom-offset: @ad-footer-right-offset;
