.root {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  flex-shrink: 0;
  background-color: var(--foreground-color);
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  height: 100%;
  overflow: hidden;

  .border {
    width: 8px;
    background-color: var(--purple-500);
    border-radius: 8px 0 0 8px;
    align-self: stretch;
  }

  .column {
    padding: 16px;
    padding-left: 0;
    height: min-content;
    .icon {
      color: var(--paragraph-color);
      transition: all 100ms ease-in-out;
    }
    .icon:hover {
      color: var(--heading-color);
    }
    .delete-icon {
      color: var(--red-700);
    }
    .delete-icon:hover {
      color: var(--red-600);
    }
  }

  .body {
    flex: 1 1 auto;
    font-size: 14px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    min-width: 0;
    background-color: inherit;

    .heading {
      color: var(--heading-color);
      margin-bottom: 8px;
      line-height: 1;
      font-weight: 660;
      font-size: 16px;
      font-feature-settings:
        "cv05" on,
        "cv13" on,
        "ss07" on,
        "cv12" on,
        "cv06" on;
    }

    .description {
      color: var(--neutral-700);
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .wrapDescription {
      white-space: normal;
      overflow: unset;
      text-overflow: unset;
    }

    .footer {
      display: flex;
      gap: 12px;
      margin-top: 12px;
      align-items: center;
      color: var(--paragraph-color);
    }
  }
}
.hover-color-change:hover {
  background-color: var(--button-hover-color);
}

.active {
  border: 1px solid var(--blue-500);
}
.disabled {
  filter: grayscale(100%);
  background-color: var(--background-color);
}
