.catalogRoot {
	display: grid;
	grid-template-areas: 'filters list view';
	grid-template-rows: 1fr;
	grid-template-columns: 1.45fr 1.45fr 2.9fr;
	position: relative;
	top: 57px;
	height: calc(100vh - 58px);
	align-items: stretch;
	overflow: hidden;

	@include tablet {
		grid-template-areas:
			'filters view'
			'list view';
		grid-template-rows: auto 1fr;
		grid-template-columns: 1.5fr 2fr;
	}

	@include mobile {
		grid-template-areas:
			'filters'
			'list';
		grid-template-rows: min-content 1fr;
		grid-template-columns: 1fr;
	}
}
