.root {
  display: flex;
  flex-grow: 1;
  overflow: clip;
  height: 0;

  .placeholder {
    height: 100vh;
  }

  .column, .body {
    width: 384px;
    border-right: 1px solid var(--slate-200);
    flex-shrink: 0;
    overflow: auto;
  }

  .body {
    background-color: var(--slate-50);
    display: flex;
    flex-direction: column;

    .wrapper {
      padding: 12px 12px 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .footer {
      margin-top: auto;
      text-align: center;
      font-size: 14px;
      color: var(--slate-500);
      line-height: 1.5;
      position: sticky;
      bottom: 0;
      padding: 12px;
      background: linear-gradient(to top, var(--slate-50) 33px, transparent);
    }
  }

  .course {
    flex-grow: 1;
    overflow: auto;

    .header {
      border-bottom: 1px solid var(--slate-200);

      .information {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 16px 24px 0;
      }

      .row {
        display: flex;
        padding: 24px 24px 12px;

        .detail {
          flex: 1;
          font-size: 14px;

          .title {
            color: var(--slate-500);
            line-height: 1;
            margin-bottom: 8px;
          }

          .description {
            color: var(--slate-600);
            line-height: 1.5;
            font-weight: 500;
          }

          &:not(:last-child) {
            border-right: 1px solid var(--slate-200);
          }

          &:first-child {
            padding-right: 16px;
          }

          &:nth-child(2) {
            padding: 0 16px;
          }

          &:last-child {
            padding-left: 16px;
          }
        }
      }

      .details {
        padding: 24px 24px 0;
        display: flex;
        align-items: flex-start;
        gap: 12px;

        .group {
          display: flex;
          gap: 12px;
        }
        
        .text {
          flex-grow: 1;

          .heading {
            font-size: 24px;
            font-feature-settings: 'cv05' on, 'cv13' on, 'ss07' on, 'cv12' on, 'cv06' on;
            line-height: 1.25;
            letter-spacing: -1%;
            margin-bottom: 8px;
          }

          .description {
            font-size: 16px;
            line-height: 1.5;
            color: var(--slate-500);
          }
        }
      }

      .menu {
        display: flex;
        padding: 0 12px;
        align-items: center;
      }
    }
  }
}