@font: 'Droid Sans', sans-serif;

#window {
    width: 100%;
    height: 100%;
    // background-color: rgba(213, 213, 213, .75);
    #message {
        display: block;
        width: 100%;
        min-width: 960px;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        background: #f43d6b;
    }
}


// #create-box {
//     height: 500px;
//     padding: 30px 0px 30px 0px;
//     display: block;
//     position: absolute;

//     @width: 500px;
//     width: @width;
//     min-width: @width;
//     max-width: @width;

//     top: 15%;
//     left: 50%;
//     margin-left: -@width/2;

//     background-color: @box-background;
//     border: none;
//     font-size: @field-font-size;

//     .message {
//         z-index: 10;

//         .error {
//             margin-top: -@error-height;
//             height: @error-height;
//             background: #f43d6b;
//             p {
//                 text-align: center;
//                 vertical-align: middle;
//                 line-height: @field-font-size;
//                 padding: 9px;
//             }
//         }

//         .welcome {
//             margin-top: -@welcome-height;
//             height: @welcome-height;
//             background: #5aa834;
//             p {
//                 text-align: center;
//                 vertical-align: middle;
//                 line-height: @field-font-size;
//                 padding: 9px;
//             }
//         }
//     }

//     input {
//         width: @field-width - @field-padding;
//         height: @field-height;
//         line-height: @field-height;

//         padding-left: @field-padding;
//         @side-margin: (100% - @field-width)/2;
//         margin: 0px @side-margin 5px @side-margin;

//         font-size: @field-font-size;
//     }

//     button {
//         width: @button-width;
//         margin-top: 10px;
//         @side-margin: (100% - @field-width)/2;
//         margin-left: @field-width - @button-width + @side-margin;

//         background-color: @button-blue;
//         color: white;
//         text-align: center;
//         height: @field-height;
//         line-height: @field-font-size;
//         font-size: @field-font-size;
//         overflow: hidden;
//         border: none;

//         &:hover {
//             background-color: lighten(@button-blue, 10%);
//         }
//         cursor: pointer;
//     }
// }
