@import "../utils.less";
@import "../standard.less";

html {
    width: 100%;
    height: 100%;
}

.input-font(@main-font, 300);

@width: 800px;
.redirect-content {
  width: @width;
  .absolute-center(@width, 35%);
  text-align: center;
  .font(@main-font, 300);
  .redirect-title {
    .height(125px, 90px);
  }
  .redirect-text {
    .line-height(30px, 14px);

  }
  .redirect-button {
      text-decoration: none;
      display: inline-block;
      margin: 0px 20px;
      margin-top: 30px;
      font-family: @main-font;
      width: 200px;
      background-color: @header-blue;
      color: white;
      text-align: center;
      .height(40px, 15px);
      overflow: hidden;
      border: none;
      &:hover {
              background-color: darken(@header-blue, 20%);
      }
      cursor: pointer;
  }

}
