body {
        margin:0;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

.container {
  width: 80%;
  min-width: 800px;
}

.fc-content {
  .fc-title {
  font-size: 9pt;
  }

  div.fc-time {
    font-size: 7pt;
  }
}



#calendar {
	min-width: 600px;
	margin: 30px;
  padding: 15px;
	background-color: white;
  font-family: "Open Sans", sans-serif;
  // border: 1px solid black;

    > div.fc-toolbar.fc-header-toolbar > div.fc-center {
    margin-left: 5%;
    font-size: 20px;
    }

}

#wrapper {
	width: 100%;
	display: inline-block;
	padding-top: 30px;
	background-color:white;
	margin-top:50px;
}


.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
  padding: 0 30px;
}

.button-group-right {
  display: flex;
  flex-direction: row;
}

.navButton, .ui-button {
    text-align: center;
    text-decoration: none;
    background-color: #1694D2;
    color: #fff;
    padding: 10px 15px;
    font-size: 13px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    line-height: 13px;
}

.button {
  width: 100px;
  height: auto;
}

#backButton {
  display: inline-block;
  width: 75px;
  margin: 3px 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

#unsaveButton {
  display: none;
}

// Custom BerkeleyTime Schedules Styles
.fc-head {
  border-bottom: 5px solid #E0E0E0;
}

#calendar > div.fc-toolbar.fc-header-toolbar {
  display: flex;
  flex-direction: column;
}

#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 37.5px;
}

#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-center > div.fc-count {
  font-size: 16px;
}

#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 37.5px;
}

#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-buttons > div.fc-left {
  order: 0;
}

#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-buttons > div.fc-right {
  order: 2;
}

#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-buttons > div.fc-left > button.fc-randomSched-button {
  margin: 0 15px;
}

.fc tr, .fc th {
  border-bottom: 1px solid #EEEEEE;
}
