@import "../utils.less";
@import "../standard.less";

@main-font: "Open Sans", sans-serif;
@button-blue: #4288aa;

html {
    font-family: @main-font;
    font-weight: 300;
}

// WARNING (*) This is a huge change, so leaving the old value here
// @container-width: 960px;
@page-width: 1050px;
// @ad-width: 160px;
// @ad-content-padding: 20px;
// @container-width: @page-width - @ad-width - @ad-content-padding;
@container-width: @page-width;
#container {
    display: block;
    width: @page-width;
    margin: 0 auto;
    padding-top: 10px;
}

/* Placeholder and Input Fields */

::-webkit-input-placeholder { .font(@main-font, 300) }
::-moz-placeholder { .font(@main-font, 300) } /* firefox 19+ */
:-ms-input-placeholder { .font(@main-font, 300) } /* ie */
input:-moz-placeholder { .font(@main-font, 300) }
input[type="text"] { .font(@main-font, 300) }

/* Pseudo-Twitter Bootstrap (Necessary for Tab Functionality) */

.tab-pane {
    display: none;
    &.active {
        display: block;
    }
}

.container-inner {
    display: inline-block;
    vertical-align: middle;

    // &.ad-outer-container {
    //     width: @ad-width;
    //     margin-right: @ad-content-padding;
    // }

    &.content-outer-container {
        width: @container-width;
    }
}

@google-font-size: 12px;
@google-line-height: 15px;

.google {
    display: block;

    .heading {
        font-weight: bold;
        font-size: @google-font-size;
        line-height: @google-line-height;
        color: #ddd;
        .text-with-divider(@color: #ddd);
        text-align: center;
        margin-bottom: 20px;
    }

    text-align: center;
    .google-wrap-inner {
        display: inline-block;
    }
    .google-wrap {
        margin-bottom: 0px;
    }
}

/* Breadcrumbs */

@and-orange: #ff9b40;
@breadcrumb-line-height: 15px;
@breadcrumb-font-size: @breadcrumb-line-height - 3px;
@breadcrumb-blue: @berkeleytime-blue;
@breadcrumb-padding: 4px;
@breadcrumb-radius: 8px;
@breadcrumb-remove-margin: 5px;
@breadcrumb-slash-margin: @breadcrumb-remove-margin;
@breadcrumbs-bottom-margin: 0px;

.breadcrumbs {
    display: inline-block;
    line-height: @breadcrumb-line-height;
    width: @container-width - 2 * @breadcrumb-padding;
    margin-bottom: @breadcrumbs-bottom-margin;
    padding: @breadcrumb-padding;
    background-color: white;

     .info {
         display: inline-block;
        color: black;
        font-size: 13px;
        font-weight: bold;
        background-color: white;
    }

    .breadcrumb {
        display: inline-block;
        line-height: @breadcrumb-line-height;
        font-size: @breadcrumb-font-size;

        background-color: @breadcrumb-blue;
        color: white;
        padding: @breadcrumb-padding;

        .border-radius(@breadcrumb-radius, @breadcrumb-radius, @breadcrumb-radius, @breadcrumb-radius);
        margin-right: 5px;
        margin-bottom: 4px;

        .remove {
            display: inline-block;
            margin-left: @breadcrumb-remove-margin;
            color: white;

            cursor: pointer;

            &:hover {
                color: darken(white, 20);
            }
        }

        &.and {
            background-color: @and-orange;
            &:after {
                content: "and";
            }
        }

        .breadcrumb-text {
            &:before {
                content: "/";
                display: inline-block;
                margin: 0 @breadcrumb-slash-margin;
            }

            &:first-child:before {
                content: "";
                margin: 0;
                display: none;
            }
        }
    }
}

/*Tabs*/

@tab-width: 30px;
@tab-top-offset: 20px;
@tab-inset: 15px;
.tabs {
    display: inline-block;
    // width: @tab-width;
    padding-top: @tab-top-offset;

    .tab {
        display: block;
        margin-top: -@tab-inset;
        position: relative;

        &:first-of-type {
            margin-top: 0;
        }
    }
    .tab.active {
        margin-left: -5px;
        &.active {
            margin-left: -4px;
            z-index: 999;
            a img {
                border-right-width: 4px;
                border-right-style: solid;
            }
        }
        &.active a { border-color: 5px #0a71af solid }
    }

    .tab1 {
        z-index: 501;
        a img { border-color: #0e5e9d; }
    }
    .tab2 {
        z-index: 500;
        a img { border-color: #0a71af; }
    }
    .tab3 {
        z-index: 400;
        a img { border-color: #1e85c1; }
    }
    .tab4 {
        z-index: 300;
        a img { border-color: #61aada; }
    }
    .tab5 {
        z-index: 200;
        a img { border-color: #89bbe2; }
    }
}

/*Columns*/

@column-height: 490px;
@column-one-width: @container-width * 0.27 - @tab-width;
@column-two-width: @container-width * 0.27;
@column-three-width: @container-width * 0.46;
@column-margin: 0px;
@column-padding-sides: 10px;
@column-padding-top: 10px;

@column-content-height: @column-height - 2 * @column-padding-top;

.column {
    display: inline-block;
    height: @column-content-height;

    margin-right: @column-margin;
    padding: @column-padding-top @column-padding-sides;


    &:last-of-type {
        margin-right: 0;
    }

    background-color: white;
    vertical-align: top;

    @input-field-padding: 5px;
    @input-field-height: 25px;
    @field-height-size-offset: 10px; // difference between the field"s height and its font size
    @input-field-border: 1px;
    @input-field-bottom-margin: 10px;

    @column-one-content-width: @column-one-width - @column-margin - 2 * @column-padding-sides;
    @column-two-content-width: @column-two-width - @column-margin - 2 * @column-padding-sides;
    @column-three-content-width: @column-three-width - 2 * @column-padding-sides;
    &.left {
        width: @column-one-content-width;
        input {
            width: @column-one-content-width - 2 * @input-field-padding - 2 * @input-field-border; //2 for the border
        }
    }
    &.center {
        width: @column-two-content-width;
        input {
            width: @column-two-content-width - 2 * @input-field-padding - 2 * @input-field-border;
        }
    }
    &.right {
        width: @column-three-content-width;
    }

    @form-gray: #aaa;
    @form-border-gray: #ccc;
    input {
        display: block;
        margin: 0 auto @input-field-bottom-margin auto;
        padding: 0 @input-field-padding;
        .height(@input-field-height, @input-field-height - @field-height-size-offset);
        border: @input-field-border solid @form-border-gray;
        &:focus {
            color: black;
        }
    }

    @filter-height: 25px;
    @filter-line-height: 22px;
    @filter-text-size: 14px;
    @filter-margin: 5px;
    @filter-padding: 10px;
    @filter-border: 1px;
    @filter-vertical-padding: 4px;
    .filter-list {
        display: block;
        height: @column-content-height - 2 * @input-field-border - @input-field-height - @input-field-bottom-margin;
        overflow-y: scroll;
        overflow-x: hidden;

        @list-heading-height: 25px;
        @list-heading-text-size: 14px;
        @list-heading-margin: 10px;


        .header {
            display: block;
            .height(@list-heading-height, @list-heading-text-size);

            margin-top: @list-heading-margin;
            margin-bottom: @list-heading-margin;

            text-transform: uppercase;
        }

        .header:first-child {
            margin-top: 0px;
        }

        .filter {
            display: block;
            min-height: @filter-height;
            line-height: @filter-line-height;
            font-size: @filter-text-size;
            width: @column-one-content-width - @filter-padding * 2 - @filter-border * 2;

            padding: @filter-vertical-padding @filter-padding;
            border: @filter-border solid #e6e6e6;
            border-top-width: 0;

            background-color: white;

            text-align: center;
            font-size: 13px;
            cursor: pointer;

            &.active {
                color: white;
                background-color: @berkeleytime-blue;
            }
            &.first-filter {
                border-top: @filter-border solid #e6e6e6;
            }
        }
        .header + .filter {
            border-top-width: @filter-border;
        }
    }

    .favorite-ad-container {
        width: @column-one-content-width - 50px;
        height: 300px;
        position: relative;
        margin: 0 auto;
        margin-top: 150px;
        i, .favorite-ad {
            display: block;
            text-align: center;
        }

        i {
            .height(100px, 80px);
        }
        .favorite-ad {
            line-height: 19px;
            font-size: 13px;
            .favorite-link {
                .dark-link(@berkeleytime-blue);
                text-decoration: none;
            }
        }

    }

    @select-field-height: 28px;
    @select-field-bottom-margin: 10px;
    .select_wrapper {
        display: block;
        width: 100%;
        height: @select-field-height;
        padding: 0;
        margin-bottom: @select-field-bottom-margin;

        font-family: @main-font;

        a {
            line-height: @select-field-height;
            height: @select-field-height;
        }
    }

    @course2-height: 53px;
    @course2-title-height: 25px;
    @course2-title-font-size: 16px;

    @course2-subtitle-height: 16px;
    @course2-subtitle-font-size: 12px;

    @course-margin: 5px;
    @course-border: 1px;

    @course-topbottom-padding: (@course2-height - @course2-title-height - @course2-subtitle-height) / 2;
    @course-padding-sides: @column-padding-sides;

    @constant-text-size: 25px;

    @loading-width: 35px;
    .course-loading {
        position: absolute;
        margin-left: (@column-two-content-width)/2 - 35px;
        height: @loading-width;
        width: @loading-width;
        margin-top: 150px;
        img { width: @loading-width; }
    }

    // ad classes are called "secret" in order to get around adblock
    @course-width: @column-two-content-width - @course-padding-sides * 2 - @course-border * 2;
    @calculated-course-height: @course2-height - @course-topbottom-padding * 2;
    .course-list .course {
        display: block;
        margin-bottom: 0;

        width: @course-width;
        padding: @course-topbottom-padding @course-padding-sides;
        border: @course-border solid #e6e6e6;
    }

    // ADS ADS ADS
    .secret-divider {
        .text-with-divider(@color: rgba(0, 0, 0, 0.1));
        color: rgba(0, 0, 0, 0.4);
        .line-height(12px, 11px);
        text-transform: uppercase;
        width: 100%;
        text-align: center;

        // overrides
        margin-bottom: 0.75em;
    }

    @course-ad-bottom-margin: 5px;
    .course-secret {
        margin-bottom: @course-ad-bottom-margin;
    }

    // Amazon promotions

    .amazon-promotion {
        overflow: hidden;
        display: table;
        width: 100%;
        box-sizing: border-box;

        a {
            color: inherit;
            text-decoration: none;
        }

        .promo-image {
            max-width: 100%;
            display: block;
        }
        .promo-image-container {
            width: 15%;
            text-align: center;
        }

        .amazon-promotion-component {
            display: inline-block;
            vertical-align: middle;
        }

        .amazon-promotion-title {
            font-weight: 500;
            line-height: @course2-title-height;
            font-size: 14px;
        }

        .amazon-promotion-info {
            width: 80%;
            margin-left: 5%;
            line-height: @course2-subtitle-height;
            font-size: 11px;
            overflow: hidden;
        }

        margin-bottom: 10px;
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }

        cursor: pointer;
        width: 100%;
        padding: @course-topbottom-padding @course-padding-sides;

        background-color: #f4f4f4;
        &:hover {
            background-color: darken(#f4f4f4, 5%);
        }
    }

    .course .course-title {
        display: block;
        .height(@course2-title-height, @course2-title-font-size);
    }

    .course .course-subtitle {
        display: block;
        .height(@course2-subtitle-height, @course2-subtitle-font-size);
        .ellipsis-overflow();
    }

    .course-list {
        display: block;
        // Note(Noah): if we want to add a course add here, append "- @ad-height - @course-ad-bottom-margin"
        height: @column-content-height - 2 * @input-field-border - @input-field-height - @input-field-bottom-margin - @select-field-height - @select-field-bottom-margin;
        overflow-y: scroll;
        overflow-x: hidden;

        .amazon-promo + .course {
            border-bottom-width: 0
        }

        .course {
            height: @calculated-course-height;
            background-color: white;
            border-bottom-width: 0;

            &:last-of-type, &.bottom-border {
                border-bottom-width: @course-border;
            }

            position: relative;
            font-size: 15px;

            cursor: pointer;

            .display-constant {
                vertical-align: top;
                display: inline-block;
                width: @course-width * 0.17;
                .height(@course2-title-height + @course2-subtitle-height, @constant-text-size);
                text-align: right;

                &.grade_average {
                    font-size: 25px;
                    text-align: left;
                    width: @course-width * 0.13;
                    padding-left: @course-width * 0.02;
                    letter-spacing: 2px;
                }
                &.enrolled_percentage {
                    font-size: 17px;
                }
                &.open_seats {
                    font-size: 18px;
                }
                &.favorite_count {
                    font-size: 19px;
                }
            }

            .course-text-container {
                vertical-align: top;
                display: inline-block;
                width: @course-width * 0.82;
            }

            &.active {
                color: white;
                background-color: @berkeleytime-blue;
            }
        }
    }


    /* Course Column */

    .course-info {
        /* Make some room for the scrollbar */
        padding-right: 10px;
        overflow-y: scroll;
        overflow-x: hidden;

        // TODO (*) Uncomment if you want to hide the scrollbar
        -ms-overflow-style: none;  // IE 10+
        overflow: -moz-scrollbars-none;  // Firefox

        &::-webkit-scrollbar { 
            display: none;  // Safari and Chrome
        }

        width: @column-three-content-width;
        height: @column-content-height;
        display: block;

        background-color: white;

        .cover-photo {
            width: @column-three-content-width;
            display: block;
            height: 140px;

            @header-indent-padding: 10px;
            @header-width: @column-three-content-width - @header-indent-padding;
            .course-header {
                position: absolute;
                text-align: left;
                width: @header-width;
                margin-top: 90px;
                height: 50px;
                padding-left: @header-indent-padding;
                background: rgba(255, 255, 255, 0.8);
                .title-text-box {
                    display: inline-block;
                    vertical-align: top;
                    width: 0.85 * @header-width;
                    padding-bottom: 3px;
                    padding-top: 2px;
                    .title {
                        display: block;
                        .height(25px, 19px);
                    }
                    .subtitle {
                        display: block;
                        .height(20px, 13px);
                    }
                }
                .favorite-icon {
                    display: inline-block;
                    vertical-align: top;
                    height: 45px;
                    padding-top: 2px;
                    padding-bottom: 3px;
                    width: 0.15 * @header-width;
                    cursor: pointer;
                    background-size: 70%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url(../img/heart1-transparent.png);
                    &.favorited {
                        background-image: url(../img/heart1-filled.png);
                    }
                }
            }
        }

        @numbers-indent-padding: 5px;
        @numbers-width: @column-three-content-width - @numbers-indent-padding;
        .numbers {
            width: @numbers-width;
            padding-left: @numbers-indent-padding;

            .blocks {
                display: inline-block;
                vertical-align:top;
            }

            @grade-bar-height: 45px;
            @text-box-bottom-padding: 5px;
            @text-box-top-padding: 5px;
            .grade-bar-container {
                height: @grade-bar-height;
                margin-top: 15px;
                .avg-grade {
                    width: 0.20 * @numbers-width;
                    .height(@grade-bar-height, 45px);
                    text-align: center;
                }
                .grade-text-box {
                    padding-top: @text-box-top-padding;
                    padding-bottom: @text-box-bottom-padding;
                    width: 0.35 * @numbers-width;

                    .grade-description {
                        display: block;
                        .height(20px, 14px);
                    }
                    .grade-link {
                        display: block;
                        .height(15px, 11px);
                    }
                }
        .units {
          width: 0.15 * @numbers-width;
          .height(@grade-bar-height, 28px);
          text-align: center;
        }
        .units-text-box {
          padding-top: @text-box-top-padding;
          padding-bottom: @text-box-bottom-padding;
          width: 0.30 * @numbers-width;

          .units-description {
            display: block;
            .height(20px, 14px);
          }
        }
            }

            @enrolled-bar-height: 45px;
            .enrolled-bar-container {
                height: @enrolled-bar-height;
                margin-top: 10px;
                .enrolled-data{
                    width: 0.20 * @numbers-width;
                    .height(@enrolled-bar-height, 28px);
                    text-align: center;
                }
                .enrolled-text-box {
                    width: 0.35 * @numbers-width;
                    padding-top:@text-box-top-padding;
                    padding-bottom: @text-box-bottom-padding;
                    .enrolled-description {
                        display: block;
                        .height(20px, 14px);
                    }
                    .enrolled-link {
                        display: block;
                        .height(15px, 11px);
                    }
                }
                .waitlisted-data {
                    width: 0.15 * @numbers-width;
                    .height(@enrolled-bar-height, 28px);
                    text-align: center;
                }
                .waitlisted-text-box {
                    width: 0.30 * @numbers-width;
                    padding-top: @text-box-top-padding;
                    padding-bottom: @text-box-bottom-padding;
                    .waitlisted-description {
                        display: block;
                        .height(20px, 14px);
                    }
                    .waitlisted-information {
                        display: block;
                        .height(15px, 11px);
                    }
                }
            }
        }
        .description-container {
            margin-top: 10px;
            // width: @column-three-content-width - 10px - 10px;
            padding: 0px 0px;
            line-height: 16px;
            font-size: 12px;
            text-align: justify;
            .description { font-weight: 600; }
        }

        .course-ad-container {
            margin-top: 10px;
        }


        .section-info-button {
            width: @column-three-content-width/2.5;
        }

        /* Marketplace Recommended Textbook */
        @recommended-content-height: 65px;

        .recommended-textbook-container {
            cursor: pointer;

            border-radius: 5px;
            background-color: #f4f4f4;
            &:hover {
                background-color: darken(#f4f4f4, 5%);
                button {
                    background-color: darken(@marketplace-green, 5%);
                }
            }

            margin-top: 0px;
            /* TODO (*) Because description container indented by 10px */
            // margin-left: 10px;
            margin-bottom: 5px;
            padding: 10px;

            .display--inline-block {
                display: inline-block;
                vertical-align: middle;
            }
            .textbook-cover-container {
                width: 17.5%;
                img { height: @recommended-content-height; }

            }

            @title-font-size: 15px;
            @author-font-size: 12px;
            @description-padding: 4px;
            @description-height: @title-font-size + @author-font-size + @description-padding;
            .recommended-description-container {
                // padding-top: (@recommended-content-height - @description-height) / 2;
                /* Assumes image does not exist */
                width: 70%;
                margin-right: 7.5%;
                .textbook-title {
                    .line-height(@title-font-size + 5px, @title-font-size);
                    font-weight: 600;
                }
                .textbook-author {
                    padding-top: @description-padding;
                    .line-height(@author-font-size + 2px, @author-font-size);
                }
            }

            .recommended-description-container.price-cta {
                width: 60%;
            }

            /* If they both exist, override and make it shorter */
            .textbook-cover-container + .recommended-description-container {
                width: 60%;
                margin-right: 0;

                &.price-cta {
                    width: 50%;
                }
            }

            .recommended-action-container {
                width: 100% - 17.5% - 60%;
                text-align: right;

                &.price-cta {
                    width: 100% - 17.5% - 50%;
                }
            }
        }
    }
}

.welcome {
    @breadcrumb-line-height: 12px;
    @breadcrumb-font-size: @breadcrumb-line-height - 2px;
    @breadcrumb-blue: #5ab2de;
    @breadcrumb-padding: 4px;
    @breadcrumb-radius: 7px;

    .box-breadcrumb {
        display: inline-block;
        line-height: @breadcrumb-line-height;
        font-size: @breadcrumb-font-size;

        background-color: @breadcrumb-blue;
        color: white;
        padding: @breadcrumb-padding 6px;

        .border-radius(@breadcrumb-radius, @breadcrumb-radius, @breadcrumb-radius, @breadcrumb-radius);
        margin-right: 1px;
    }
}

button {
    margin-top: 10px;
    background-color: @berkeleytime-blue;
    color: white;
    text-align: center;
    .height(30px, 12px);
    overflow: hidden;
    border: none;
    outline: none;

    &:hover {
        background-color: lighten(@berkeleytime-blue, 10%);
    }
    cursor: pointer;
}

.help-text {
    margin-top: 20px;
    font-size: 13px;
    padding-left: 5px;
}

.blue-link {
    color: @berkeleytime-blue;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        color: darken(@berkeleytime-blue, 20%);
    }
}

.no-results-container {
    margin-top: 5px;
    color: grey;
    font-size: 12px;
    line-height: 17px;
    .no-results-header {
        color: black;
        .height(30px, 16px);
        margin-bottom: 5px;
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
}

.header-subtitle {
    .height(15px, 11px);
    margin: 10px 0;
}

.telebears-not-started {
    font-size: 10px;
}
