.info {
  display: block;
  width: 250px;
  max-width: 100%;
  color: var(--paragraph-color);

  .heading {
    margin-bottom: 8px;
    font-weight: 500;

    .course {
      color: var(--heading-color);
      font-size: 18px;
    }
  }

  .distType {
    color: var(--label-color);
    font-size: 14px;
    margin-bottom: 12px;
  }

  .label {
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 14px;
  }

  .value {
    line-height: 24px;
  }
}
