.info {
  position: relative;
  top: 100px;
  display: inline-block;
  width: 250px;
  color: var(--paragraph-color);

  .heading {
    margin-bottom: 8px;

    .course {
      color: var(--heading-color);
      font-size: 18px;
    }
  }
  .label {
    font-family: "Inter Variable", sans-serif;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 14px;
  }
}
