.hero {
  padding: 5rem 1rem;
  text-align: center;
  margin-left: 25%;
  max-width: 50%;
  position: static;
}

.filter {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.primary {
  width: 100%;
  justify-content: center;
  padding: 1.25rem 1rem;
  gap: 0.625rem;
}
