.catalog {
  min-height: 600px;
  height: 100vh;

  // row
  > div {
    height: 100%;
    overflow-y: scroll;

    // columns
    > div {
      height: 100%;

<<<<<<< HEAD
      @include mobile{
        height: 20%;
      }

      // columns
      > div {
        height: 100%;
=======
      @include mobile {
        height: 25%;
      }

      @include tablet {
        height: 25%;
>>>>>>> 659ce6fa87b3980bdbfa02b6675b72031c8cac4b
      }
    }

    .filter-column {
      border-right: 1px solid $bt-border-grey;
      padding-right: 0; // override bootstrap padding
      position: relative;
    }

    .filter-results-column {
      border-right: 1px solid $bt-border-grey;
      padding: 0; // override bootstrap padding
    }

    .catalog-description-column {
      padding-left: 0; // override bootstrap padding
    }
  }
}