.catalog {
  height: 100%;

  // row
  > div {
    height: 100%;
    overflow-y: scroll;

    // columns
    > div {
      height: 100%;
<<<<<<< HEAD

      @include mobile{
        height: 25%;
      }

      // columns
      > div {
        height: 100%;
      }
=======
>>>>>>> 49176ce21ae2df031361eade65e01705a693f3ea
    }
  }

  .filter-column {
    border-right: 1px solid $bt-border-grey;
    padding-right: 0; // override bootstrap padding
  }

  .filter-results-column {
    border-right: 1px solid $bt-border-grey;
    padding: 0; // override bootstrap padding
  }

  .catalog-description-column {
    padding-left: 0; // override bootstrap padding
  }
}