.catalog {

  //hide mobile views
  min-width: 992px;
  min-height: 600px;

  // row
  > .row {
    // Effective height: 100%
    align-items: stretch;
    // Effective width: 100%
    flex: 1;

    /*@include mobile {
      max-height: 95vh;
    }*/

    // columns
    // > div {
    //   height: 100%;
    // }
  }

  .row {
    margin: 0; // override bootstrap padding

    .filter-column {
      border-right: 1.5px solid $bt-light-border-grey;
      padding: 0; // override bootstrap padding

      /*@include mobile {
        max-height: 128px;
      }*/
    }

    .filter-results-column {
      border-right: 1.5px solid $bt-light-border-grey;
      padding: 0; // override bootstrap padding
    }

    .catalog-description-column {
      padding: 0; // override bootstrap padding

      @include mobile {
        height: 0px;
      }
    }
  }
}
