.catalog {
  min-height: 600px;
  height: 100vh;

  .catalog-container {
    height: 100%;
    overflow-y: scroll;

    // row
    > div {
      height: 100%;

      @include mobile{
        height: 25%;
      }

      // columns
      > div {
        height: 100%;
      }
    }

    .filter-column {
      border-right: 1px solid $bt-border-grey;
      padding-right: 0; // override bootstrap padding
    }

    .filter-results-column {
      border-right: 1px solid $bt-border-grey;
      padding: 0; // override bootstrap padding
    }

    .catalog-description-column {
      padding-left: 0; // override bootstrap padding
    }
  }
}