.catalog {
  min-height: 600px;
  height: 100vh;

  @include mobile {
    //row
    > div {
      height: 100%;
      overflow-y: scroll;
    }
  }

  .row {
    .filter-column {
      border-right: 1.5px solid;
      @include themed('border-right-color', 'border-white');
      padding: 0; // override bootstrap padding

      @include mobile {
        max-height: 128px;
      }
    }

    .filter-results-column {
      border-right: 1.5px solid $bt-light-border-grey;
      padding: 0; // override bootstrap padding

      @include mobile {
        height: 70vh;
      }
    }

    .catalog-description-column {
      padding: 0; // override bootstrap padding
      position: relative; // Allows positioning of content

      @include mobile {
        height: 0px;
      }
    }
  }
}
