.catalog {
  min-height: 600px;
  height: 100vh;

  // row
  > div {
    height: 100%;
    overflow-y: scroll;

    @include mobile {
      max-height: 80vh;
    }

    // columns
    > div {
      height: 100%;
    }
  }

  .row {
    margin: 0; // override bootstrap padding

    .filter-column {
      border-right: 1.5px solid $bt-light-border-grey;
      padding: 0; // override bootstrap padding

      @include mobile {
        max-height: 128px;
      }
    }

    .filter-results-column {
      border-right: 1.5px solid $bt-light-border-grey;
      padding: 0; // override bootstrap padding
    }

    .catalog-description-column {
      padding: 0; // override bootstrap padding

      @include mobile {
        height: 0px;
      }
    }
  }
}
