.catalog-description-container {
  height: 100%;

  .loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .catalog-description {
    height: 100%;
    padding: 30px;

    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 15px;
    }

    h3 {
      font-size: 24px;
      font-weight: 600;
    }

    h6 {
      font-size: 18px;
      font-weight: 500;
      color: $bt-light-text;
    }

    .stats {
      display: flex;
      flex-direction: column;

      .statline {
        display: flex;
        flex-direction: row;

        > img {
          width: 14px;
          margin-right: 8px;
        }

        color: $bt-light-text;

        > p {
          margin-left: 5px;
        }

        .statlink {
          color: $bt-blue;

          &:hover {
            color: $bt-light-text;
            cursor: pointer;
          }
        }
      }
    }

    .description {
      color: $bt-grey-text;
    }

    h5 {
      color: $bt-grey-text;
      font-weight: 500;
      margin-top: 10px;
    }

    .table-container {
      flex: 1;
      overflow-y: auto;

      table {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 0;
      }
    }
    
  }
}