.filter {
  padding: 30px;

  @include desktop {
     height: 100%;
  }

  @include mobile {
    overflow: visible;
    padding: 20px 28px;
  }

  display: flex;
  flex-direction: column;

  .filter-scroll {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: scroll;

    .filter-scroll-btn {
      position: relative;
      margin-right: 10px !important;
      height: auto;
      padding: 9px 12px 9px 12px;
    }

    .blue-text {
      color: $bt-blue;
    }
  }

  .filter-loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-name {
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    align-items: baseline;

    p {
      font-size: 20px;
      font-weight: 600;
      margin-right: 30px;
    }

    button {
      color: $bt-blue;
      transition: .5s;
      border: none;
      background: none;
      padding: 4px 8px;
      border-radius: 4px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #ebebeb9e;
      }
    }
  }

  .filter-search {
    margin-bottom: 16px;

    @include mobile {
      margin-bottom: 16px;
    }

    input {
      width: 100%;
      padding: 6px;
      border: solid 1px $bt-border-grey;
      color: $bt-base-text;
      font-size: 14px;
      font-family: 'FontAwesome', 'Inter', sans-serif;
      transition: .5s;
      border-radius: 4px;
      text-indent: 6px;

      &::placeholder{
        color: $bt-light-grey;
      }

      &:focus::placeholder {
        color: $bt-light-border-grey;
      }

      @include mobile {
        // Set the font size so no zoom in on mobile
        font-size: 16px;
      }
    }
  }

  .filter-sort, .filter-requirements, .filter-units,
  .filter-department, .filter-class-level, .filter-semesters {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;

    > p {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight:600;
    }

    //override dropdown stylings

    .css-10r6hld-indicatorContainer:hover {
      color: $bt-border-grey;
      transition: .5s;
    }

    .css-10r6hld-indicatorContainer:hover {
      color: $bt-border-grey;
      transition: .5s;
    }

    .css-1wa3eu0-placeholder::placeholder {
      color: $bt-light-border-grey;
    }

    .css-1okebmr-indicatorSeparator {
      display: none;
    }

    .css-1wa3eu0-placeholder, .css-1uccc91-singleValue , .css-12jo7m5, .css-12jo7m5, .css-26l3qy-menu {
      font-size: 14px;
    }

    .css-yk16xz-control::after, .css-1pahdxg-control::after {
      border: solid 1.5px blue;
      background-color: blue;
    }

    .css-xb97g8 {
      color: $bt-border-grey;
      transition: .5s;
    }

    .css-xb97g8:hover {
      color: #7e7e7e;
    }

    .css-xb97g8:hover {
      background-color: #ffbdad00;
      color: hsl(0, 0%, 67%);
    }

    .css-yk16xz-control:hover, .css-xb97g8:hover, .css-xb97g8:hover {
      cursor: pointer;
    }



    .css-1rhbuit-multiValue {
      background-color: #f3f3f3;
      border-radius: 16px;
      padding: 2px 6px;
    }
  }
}

.filter-modal {

  .filter-form {
    padding: 20px 28px;
    max-height: 50vh;
    overflow-y: scroll;

    .filter-form-label {
      width: 80vw;
      height: 40px;
      margin: 2vh 0;
      padding: 1vh 3vw;
      background-color: $bt-off-white;
      font-weight: 500;
      border-radius: 4px;
    }

    .custom-control {
      min-height: 1.75rem;
      padding-left: 2rem;
    }
  }
  .filter-button-bar {
    border-top: 2px solid $bt-light-border-grey;
    display: flex;
    justify-content: center;
    padding: 20px 0;

    button {
      margin-right:10px;
      width: 35vw;
      height: 6vh;
    }
  }
}
