.bt-filter-modal.modal.fade .modal-dialog {
	transform: translate(0, 50px);
}

.bt-filter-modal.modal.show .modal-dialog {
	transform: none;
}

//override bootstrap modal settings
.modal {
	display: flex !important;

	.link-btn {
		margin: 30px 0px 0px 15px;
		color: $bt-blue;
		background: none;
		border: none;
		outline: none;
	}

	.modal-dialog {
		align-self: flex-end;
		width: 100vw;
  		max-width: 100vw;
  		margin: 0px;
  		bottom: 0vh;

  		.modal-content {
  			border: 0px;
  			border-radius: 0px;
  			overflow: scroll;

				svg {
					margin-right: 8px;
					margin-bottom: 2.5px;
				}
		}

		/* The padding is so this is viewable
			even if the browser search bar is active */
		.full {
  			height: 100vh;
  			padding-top: 80px;
  		}
	}
}
