.filter-results {
  height: 100%;

  @include desktop {
    padding-top: 20px;
  }

  @include mobile {
  	padding: 10px 15px 15px 15px;
  }

  .filter-results-loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
