.filter-results {
  height: 100%;

  /*@include mobile {
    height: 90vh;
    //height: 70vh;

    // Make scrollbar invisible
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }*/

  @include desktop {
    padding-top: 20px;
  }

  @include mobile {
  	padding: 10px 15px 15px 15px;
  }

  .filter-results-loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-results-empty {
    padding: 1.5rem;
    font-size: 18px;
    text-align: center;
    color: $bt-light-text;
  }
}
