@media (max-width: 600px) {
    .container {
        width: 100%; 
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #F8F8F8 !important;
    border-radius: 8px;
    width: 226px;
    margin: 20px auto;
  }

  .classContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 8px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 8px;
    text-align: left;
    min-height: 92px;
    
  }

  .classContainer:hover {
    background-color: #e0e0e0; /* Grayer background on hover */
  }

  .classTitle {
    color: var(--Primary-Text, #000);
    align-items: flex-start;
    /* height: 92px; */
    width: 100%;
    /* min-width: 110px; */
    font-family: "Inter Variable";
    font-size: 12px;
    margin: 0;
    padding-left: 16px;
    padding-top: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .units {
    color: var(--Secondary-Text, #8A8A8A);
    font-family: "Inter Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding-left: 16px;
    padding-top: 2px;
  }

.counter {
    background-color: #E7E7E7;
    color: var(--Primary-Text, #000);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    padding: 4px 6px;
    border-radius: 4px;


}

.semesterCount {
    display: flex;
    align-items: baseline;
    gap: var(--XS, 8px);
}

.title {
    color: var(--Primary-Text, #000);
    text-align: center;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
}

.add-button {
    font-size: 14px;
    background-color: #F8F8F8 !important;
    color: black !important;
}

.semesters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.three-dot-menu {
  border-radius: var(--XXS, 4px);
  background: var(--White, #FFF);
  /* highdrop */
  box-shadow: 0px 8px 12px 0px rgba(60, 66, 87, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.30);
  padding: var(--XS, 8px);  
}

.dropDownBtn {
  width: 32px;
  height: 16px;
  position: absolute;
  opacity: 0;
  /* position: absolute;
  top: 8px;
  right: 8px; */
  /* background: none;
  border: none;
  font-size: 20px;
  color: #666; */
  cursor: pointer;
  /* opacity: 0; Initially hidden
  transition: opacity 0.3s; */
}


.classContainer:hover .dropDownBtn {
  opacity: 1;
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  background-color: #bfdbfe;
}

