.root {
  position: relative;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  display: flex;

  &:not([data-mode="full"]) {
    &:not(.expanded) > :first-child {
      display: none;
    }

    &.expanded > :last-child {
      display: none;
    }
  }
}
