.about {
  padding-top: $bt-navbar-height;

  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-weight: bold;
    color: $bt-base-text;
    margin: 50px 10px 30px;
    font-size: 28px;

    @include mobile {
      font-size: 30px;
    }
  }

  .teampic {
    width: 100vw;
    object-fit: cover;

    @include desktop {
      height: 35vw;
      object-position: 50% 40%;
    }

    @include tablet {
      height: 40vw;
      object-position: 50% 60%;
    }

    @include mobile {
      height: 70vw;
    }

    margin-bottom: 40px;
  }

  .about-us {
    > h5 {
      margin-bottom: 20px;
      text-align: center;

      font-weight: bold;
      color: $bt-base-text;
      font-size: 28px;

      @include mobile {
        font-size: 20px;
      }
    }

    > p {
      margin: 0 20px 70px;
      text-align: center;

      font-size: 16px;
      color: $bt-grey-text;
      width: 450px;

      @include mobile {
        width: 330px;
      }
    }
  }

  .values {

    margin-bottom: 50px;

    @include desktop {
      width: 900px;
    }

    @include mobile {
      width: 300px;
    }

    > h5 {
      margin-bottom: 30px;
      text-align: center;

      font-weight: bold;
      color: $bt-base-text;
      font-size: 24px;

      @include mobile {
        font-size: 20px;
      }
    }

    .value {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 40px;

      > img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
      }

      > h6 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      > p {
        text-align: center;
        width: 95%;
      }
    }
  }

  .group {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;

    > img {
      @include desktop {
        height: 400px;
      }

      @include touch {
        height: 250px;
      }
    }

    @include desktop {
      > img {
        padding: 0 10px;
      }

      :first-child {
        padding-left: 40px;
      }

      :last-child {
        padding-right: 40px;
      }
    }

    @include touch {
      > img {
        padding: 0 5px;
      }

      :first-child {
        padding-left: 20px;
      }

      :last-child {
        padding-right: 20px;
      }
    }

    // remove scroll bar
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .group::-webkit-scrollbar { /* Safari and Chrome */
    display: none;
  }
}
