.about {
  padding-top: $bt-navbar-height;

  .about-our-team {
    text-align: center;

    p {
      @include themed('color', 'text-light');
      line-height: 1.75;
      width: 500px;

      @include mobile {
        width: 300px;
      }
    }
  }

  .group {
    display: flex;
    flex-direction: row;
    width: 100%;

    > img {
      @include desktop {
        height: 400px;
      }

      @include sm-md {
        height: 300px;
      }

      @include xs {
        height: 200px;
      }
    }

    @include desktop {
      > img {
        padding: 0 10px;
      }

      :first-child {
        padding-left: 60px;
      }

      :last-child {
        padding-right: 60px;
      }
    }

    @include touch {
      > img {
        padding: 0 5px;
      }

      :first-child {
        padding-left: 20px;
      }

      :last-child {
        padding-right: 20px;
      }
    }

    // remove scroll bar
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  // remove scroll bar
  .group::-webkit-scrollbar { /* Safari and Chrome */
    display: none;
  }

  .values {
    margin-bottom: 80px;

    @include desktop {
      width: 900px;
    }

    @include mobile {
      width: 300px;
    }

    > h3 {
      margin-bottom: 40px;
      text-align: center;
    }

    .value-col {
      margin-bottom: 20px;

      .value {
        height: 100%;
        padding: 0 20px;

        .value-content {
          height: 100%;
          padding: 20px 10px;

          display: flex;
          flex-direction: column;
          align-items: center;

          > svg {
            width: 60px;
            height: 60px;

            path {
              @include themed('fill', 'primary');
              @include themed('stroke', 'primary');
            }

            @include touch {
              width: 40px;
              height: 40px;
            }
            margin-bottom: 20px;
          }

          > h6 {
            margin-bottom: 10px;
          }

          > p {
            text-align: center;
            width: 95%;
            line-height: 1.75;
            @include themed('color', 'text-light');
          }
        }
      }
    }
  }




  // should move somewhere else???
  .releases-heading-button {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 64px;

    input {
      overflow: visible;
      margin-right: 10px;
      border: solid 1px #cfcfcf;
      text-indent: 10px;
      color: $bt-base-text;
      border-radius: 4px;
      width: 280px;

      &::placeholder{
        color: $bt-light-grey;
      }
    }
  }

  .join-pic {
    width: 800px;
    margin-bottom: 28px;
    @include mobile {
      width: 95%;
    }
  }

  .nav-link {
    background-color: #e1e1e16b;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-weight: bold;
    color: $bt-base-text;
    font-size: 24px;

    @include mobile {
      font-size: 30px;
    }
  }
}
