.current-contributors {

  // width's chosen so column widths are exactly 150px, kinda jank but whatever
  @include desktop {
    width: 690px;
  }
  @include touch {
    width: 330px;
  }

  margin-bottom: 30px;

  > h5 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
  }

  .contributor-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    // use px to enforce aspect ratio i guess
    .headshot {
      width: 150px;
      height: 160px;

      img {
        width: 150px;
        height: 150px;

        position: absolute;
        object-fit: cover;
        object-position: 50% 20%;
        border-radius: 3px;
      }

      .serious {
        z-index: 1;
        transition: 50ms;

        &:hover {
          opacity: 0;
        }
      }
    }

    .name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      margin-bottom: 3px;

      > p {
        font-weight: bold;
        color: $bt-grey-text;
      }

      > a > img {
        width: 20px;
        height: 20px;
      }
    }

    .role {
      font-size: 14px;
      color: $bt-grey-text
    }
  }
}