*.pyc
*.DS_Store
*.log
venv*
*.dump
*.rdb
.vagrant
.idea
.env*
!.env.template
vagrant/data/data.tar.gz
build/postgres-data
build/requirements.txt
.sass-cache/
postgres-data.tar.gz
bt_main.sql
/.vscode
node_modules/
build/docker-compose.yml
config.statuspage.json
*.cert
*.key
