 services:
  - docker:19.03.13-dind

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: /certs
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  FILEPATH_DEPLOY_BACKEND: infra/k8s/default/bt-backend.yaml
  FILEPATH_DEPLOY_FRONTEND: infra/k8s/default/bt-frontend.yaml
  FILEPATH_DEPLOY_INGRESS: infra/k8s/default/bt-ingress-tricycle.yaml
  FILEPATH_LOCAL_DOCKER_COMPOSE_BACKEND: backend
  FILEPATH_LOCAL_DOCKER_COMPOSE_FRONTEND: frontend

stages:
  - build
  - deploy-dev
  - deploy-staging
  - deploy-prod

.before_build:
  before_script:
    - until docker info; do sleep 1; done;
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - |
      tag=":$CI_COMMIT_BRANCH"
      echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"

build-backend:
  stage: build
  image: docker:19.03.13-dind
  extends: .before_build
  script:
    - docker build -t "${CI_REGISTRY_IMAGE}/bt-backend${tag}" $FILEPATH_LOCAL_DOCKER_COMPOSE_BACKEND
    - docker push "${CI_REGISTRY_IMAGE}/bt-backend${tag}"

build-frontend:
  stage: build
  image: docker:19.03.13-dind
  extends: .before_build
  script:
    - docker build -t "${CI_REGISTRY_IMAGE}/bt-frontend${tag}" $FILEPATH_LOCAL_DOCKER_COMPOSE_FRONTEND
    - docker push "${CI_REGISTRY_IMAGE}/bt-frontend${tag}"

deploy-dev:
  stage: deploy-dev
  except:
    refs:
      - master
  environment:
    name: staging
  image: $CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX/berkeleytime/bt-gitlab-runner
  script:
    - npm --prefix infra/tricycle install && node infra/tricycle

deploy-staging:
  stage: deploy-staging
  only:
    refs:
      - master
  environment:
    name: staging
  image: $CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX/berkeleytime/bt-gitlab-runner
  script:
    - envsubst < $FILEPATH_DEPLOY_BACKEND | kubectl apply -f - --kubeconfig $SECRET_KUBERNETES_CREDENTIALS
    - envsubst < $FILEPATH_DEPLOY_FRONTEND| kubectl apply -f - --kubeconfig $SECRET_KUBERNETES_CREDENTIALS
    - kubectl rollout status --timeout=1200s deploy/bt-backend-staging
    - kubectl rollout status --timeout=1200s deploy/bt-frontend-staging

deploy-prod:
  stage: deploy-prod
  only:
    refs:
      - master
  environment:
    name: prod
  when: manual
  image: $CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX/berkeleytime/bt-gitlab-runner
  script:
    - envsubst < $FILEPATH_DEPLOY_BACKEND | kubectl apply -f - --kubeconfig $SECRET_KUBERNETES_CREDENTIALS
    - envsubst < $FILEPATH_DEPLOY_FRONTEND| kubectl apply -f - --kubeconfig $SECRET_KUBERNETES_CREDENTIALS
    - kubectl rollout status --timeout=1200s deploy/bt-backend-prod
    - kubectl rollout status --timeout=1200s deploy/bt-frontend-prod

