# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The last matching lines takes the most precendence.

*               @kevinzwang
backend/        @AlexXi19 @kevinzwang
infra/          @AlexXi19 @kevinzwang
build/          @AlexXi19 @kevinzwang
frontend/       @christinas24
