# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

berkeleytime/  @hantaowang @rkooo567 @tsaianson
kubernetes/    @hantaowang @rkooo567 @tsaianson
build/         @hantaowang
frontend/      @chrisdliu @michaelli1324
*              @michaelli1324
