---
networks:
  bt:
    name: bt
services:
  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
      target: backend-dev
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - bt
    restart: always
    volumes:
      - ./.env:/backend/apps/backend/.env
      - ./apps/backend:/backend/apps/backend
      - ./packages:/backend/packages
  frontend:
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile
      target: frontend-dev
    networks:
      - bt
    restart: always
    volumes:
      - ./apps/frontend:/frontend/apps/frontend
      - ./packages:/frontend/packages
  ag-frontend:
    build:
      context: .
      dockerfile: ./apps/ag-frontend/Dockerfile
      target: ag-frontend-dev
    networks:
      - bt
    restart: always
    volumes:
      - ./apps/ag-frontend:/ag-frontend/apps/ag-frontend
      - ./packages:/ag-frontend/packages
  staff-frontend:
    build:
      context: .
      dockerfile: ./apps/staff-frontend/Dockerfile
      target: staff-frontend-dev
    networks:
      - bt
    restart: always
    volumes:
      - ./apps/staff-frontend:/staff-frontend/apps/staff-frontend
      - ./packages:/staff-frontend/packages
  mongodb:
    image: mongo:7.0.5
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    networks:
      - bt
    ports:
      - 27017:27017
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongodb:27017',priority:1}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30
    volumes:
      - ./data/mongodb/db:/data/db
      - ./data/mongodb/configdb:/data/configdb
  nginx:
    depends_on:
      - backend
      - frontend
      - ag-frontend
      - staff-frontend
    image: nginx:1.21
    networks:
      - bt
    ports:
      - 8080:8080
      - 8081:8081
      - 8082:8082
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
  redis:
    image: redis:7.2.4
    ports:
      - 6379:6379
    networks:
      - bt
    restart: always
  storybook:
    build:
      context: .
      dockerfile: ./apps/storybook/Dockerfile
      target: storybook-dev
    ports:
      - 6006:6006
    networks:
      - bt
    restart: always
    volumes:
      - ./packages/theme:/storybook/packages/theme
      - ./apps/storybook:/storybook/apps/storybook
  docs:
    build:
      context: .
      dockerfile: ./apps/docs/Dockerfile
      target: docs-dev
    ports:
      - 3000:3000
    networks:
      - bt
    restart: always
    volumes:
      - ./apps/docs:/apps/docs
      
  # if using staff photos in dev, use --profile dev
  minio:
    image: 'minio/minio:latest'
    profiles:
      - dev
    ports:
      - '9000:9000'
      - '9090:9090'
    environment:
      MINIO_ROOT_USER: 'root'
      MINIO_ROOT_PASSWORD: 'password'
    networks:
      - bt
    volumes:
      - 'minio:/data/minio'
    command: minio server /data/minio --console-address ":9090"
  createbuckets:
    image: minio/mc
    profiles:
      - dev
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 root password;
      /usr/bin/mc mb myminio/${S3_STAFF_PHOTOS_BUCKET};
      /usr/bin/mc policy set public myminio/${S3_STAFF_PHOTOS_BUCKET};
      exit 0;
      "
volumes:
  minio:
    driver: local

