---
networks:
  bt:
    name: bt
services:
  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
      target: backend-dev
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - bt
    restart: always
    volumes:
      - ./.env:/backend/apps/backend/.env
      - ./apps/backend:/backend/apps/backend
      - ./packages:/backend/packages
  semantic-search:
    build:
      context: ./apps/semantic-search
      dockerfile: Dockerfile
    networks:
      - bt
    ports:
      - "${DEV_PORT_PREFIX:-30}09:8000"
    restart: always
    volumes:
      - ./apps/semantic-search/app:/app/app
      - ./data/semantic-search/indexes:/app/indexes
    environment:
      - SEMANTIC_SEARCH_YEAR=2026
      - SEMANTIC_SEARCH_SEMESTER=Spring
      - BACKEND_URL=http://backend:5001
  frontend:
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile
      target: frontend-dev
    networks:
      - bt
    restart: always
    volumes:
      - ./apps/frontend:/frontend/apps/frontend
      - ./packages:/frontend/packages
  ag-frontend:
    build:
      context: .
      dockerfile: ./apps/ag-frontend/Dockerfile
      target: ag-frontend-dev
    networks:
      - bt
    restart: always
    volumes:
      - ./apps/ag-frontend:/ag-frontend/apps/ag-frontend
      - ./packages:/ag-frontend/packages
  staff-frontend:
    build:
      context: .
      dockerfile: ./apps/staff-frontend/Dockerfile
      target: staff-frontend-dev
    networks:
      - bt
    restart: always
    volumes:
      - ./apps/staff-frontend:/staff-frontend/apps/staff-frontend
      - ./packages:/staff-frontend/packages
  mongodb:
    image: mongo:7.0.5
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    networks:
      - bt
    ports:
      - "${DEV_PORT_PREFIX:-30}08:27017"
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongodb:27017',priority:1}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30
    volumes:
      - ./data/mongodb/db:/data/db
      - ./data/mongodb/configdb:/data/configdb
  nginx:
    depends_on:
      - backend
      - frontend
      - ag-frontend
      - staff-frontend
    image: nginx:1.21
    networks:
      - bt
    ports:
      - "${DEV_PORT_PREFIX:-30}00:8080"
      - "${DEV_PORT_PREFIX:-30}01:8081"
      - "${DEV_PORT_PREFIX:-30}02:8082"
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
  redis:
    image: redis:7.2.4
    ports:
      - "${DEV_PORT_PREFIX:-30}04:6379"
    networks:
      - bt
    restart: always
  storybook:
    build:
      context: .
      dockerfile: ./apps/storybook/Dockerfile
      target: storybook-dev
    ports:
      - "${DEV_PORT_PREFIX:-30}05:6006"
    networks:
      - bt
    restart: always
    volumes:
      - ./packages/theme:/storybook/packages/theme
      - ./apps/storybook:/storybook/apps/storybook
  docs:
    build:
      context: .
      dockerfile: ./apps/docs/Dockerfile
      target: docs-dev
    ports:
      - "${DEV_PORT_PREFIX:-30}03:3000"
    networks:
      - bt
    restart: always
    volumes:
      - ./apps/docs:/apps/docs
      
  # if using staff photos in dev, use --profile dev
  minio:
    image: 'minio/minio:latest'
    profiles:
      - dev
    ports:
      - "${DEV_PORT_PREFIX:-30}06:9000"
      - "${DEV_PORT_PREFIX:-30}07:9090"
    environment:
      MINIO_ROOT_USER: 'root'
      MINIO_ROOT_PASSWORD: 'password'
    networks:
      - bt
    volumes:
      - 'minio:/data/minio'
    command: minio server /data/minio --console-address ":9090"
  createbuckets:
    image: minio/mc
    profiles:
      - dev
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://localhost:9000 root password;
      /usr/bin/mc mb myminio/images; 
      /usr/bin/mc anonymous set public myminio/images;
      exit 0;
      "
volumes:
  minio:
    driver: local

