.root {
  width: 288px;
  flex-shrink: 0;
  overflow: auto;
  background-color: var(--foreground-color);

  .body {
    display: flex;
    flex-direction: column;
    padding: 24px;

    .button {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 14px;
      color: var(--blue-500);
      line-height: 1;
      cursor: pointer;
      font-weight: 500;
      margin-top: 12px;
      transition: all 100ms ease-in-out;

      &:hover {
        color: var(--blue-600);
      }
    }

    .label {
      font-size: 14px;
      color: var(--label-color);
      line-height: 1;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    .filter {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 12px;

      &:hover .text .value {
        color: var(--heading-color);
      }

      &:hover .checkbox:not([data-state="checked"]), &:hover .radio:not([data-state="checked"]) {
        border-color: var(--heading-color);
      }

      .text {
        font-size: 14px;
        color: var(--label-color);
        line-height: 1;
        flex-grow: 1;

        .value {
          font-weight: 500;
          color: var(--paragraph-color);
        }
      }

      .radio {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid var(--paragraph-color);
        position: relative;

        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: var(--blue-500);
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &[data-state="checked"] {
          border-color: var(--blue-500);

          &::after {
            opacity: 1;
          }

          & + .text .value {
            color: var(--heading-color);
          }
        }
      }

      .checkbox {
        width: 16px;
        height: 16px;
        display: grid;
        place-items: center;
        border-radius: 4px;

        &[data-state="checked"] {
          background-color: var(--blue-500);
          color: white;

          & + .text .value {
            color: var(--heading-color);
          }
        }

        &[data-state="unchecked"] {
          border: 2px solid var(--paragraph-color);
        }
      }
    }
  }

  @media (width > 992px) {
    border-right: 1px solid var(--border-color);

    &:not(.responsive) > :first-child {
      display: none;
    }
  }

  @media (width > 1400px) {
    > :first-child {
      display: none;
    }
  }

  @media (width <= 992px) {
    width: 100%;

    .body {
      padding-top: 12px;
    }
  }

  @media (992px < width <= 1400px) {
    &.responsive {
      width: 384px;
      
      .body {
        padding-top: 12px;
      }
    }
  }
}