.alternateContent {
  border-radius: 4px;
  padding: 8px 14px;
  background-color: var(--foreground-color);
  font-size: 14px;
  color: var(--paragraph-color);
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 400px;
  border: 1px solid var(--border-color);
  transform-origin: top left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  animation: fadeIn 50ms ease-out;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
