.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--label-color);
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  padding: 24px;
  text-align: center;

  .title {
    color: var(--heading-color);
    font-weight: 500;
    margin-top: 24px;
  }

  .description {
    color: var(--paragraph-color);
    margin-top: 8px;
    max-width: 448px;
  }
}

.root {
  background-color: var(--background-color);
  padding: 24px 24px 24px 12px;
  display: flex;
  gap: 24px;

  @media (width <= 992px) {
    flex-direction: column;
  }

  @media (width > 992px) {
    align-items: flex-start;
  }

  .view {
    flex-grow: 1;

    .section {
      padding: 24px;
      background-color: var(--foreground-color);
      border-radius: 8px;
      box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
      margin-bottom: 24px;
      border: 1px solid var(--border-color);
  
      .header {
        display: flex;
        margin-bottom: 24px;
        gap: 12px;

        .text {
          flex-grow: 1;

          .title {
            color: var(--heading-color);
            font-size: 14px;
            margin-bottom: 8px;
            line-height: 1;
            font-weight: 500;
          }
        }
      }
    }
  }

  .menu {
    position: sticky;
    top: 20px;
    width: 128px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .item {
      height: 32px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 0 12px;
      font-size: 14px;
      font-weight: 500;
      color: var(--paragraph-color);
      width: fit-content;

      &:hover {
        background-color: var(--slate-100);
      }

      &:first-child {
        color: var(--heading-color);
        position: relative;

        &::after {
          content: '';
          width: 2px;
          height: 100%;
          background-color: var(--blue-500);
          position: absolute;
          left: -12px;
        }
      }
    }
  }
}