.root {
  background-color: var(--background-color);
  min-height: 100%;
  padding: 24px 24px 24px 12px;
  display: flex;
  align-items: flex-start;
  gap: 24px;

  .view {
    flex-grow: 1;
    height: 200vh;

    .section {
      padding: 24px;
      background-color: var(--foreground-color);
      border-radius: 8px;
      box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
      margin-bottom: 24px;
      border: 1px solid var(--border-color);
  
      .header {
        display: flex;
        margin-bottom: 24px;
        gap: 12px;

        .text {
          flex-grow: 1;

          .title {
            color: var(--heading-color);
            font-size: 14px;
            margin-bottom: 8px;
            line-height: 1;
            font-weight: 500;
          }
        }
      }
    }
  }

  .menu {
    position: sticky;
    top: 24px;
    width: 128px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .item {
      height: 32px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 0 12px;
      font-size: 14px;
      font-weight: 500;
      color: var(--paragraph-color);
      width: fit-content;

      &:hover {
        background-color: var(--slate-100);
      }

      &:first-child {
        color: var(--heading-color);
        position: relative;

        &::after {
          content: '';
          width: 2px;
          height: 100%;
          background-color: var(--blue-500);
          position: absolute;
          left: -12px;
        }
      }
    }
  }
}