.bar {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 3px;
}

.segment {
  height: 100%;
  min-width: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 150ms ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}

.emptyBar {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: var(--border-color);
}
