# Essential
Django==3.1.1
psycopg2-binary==2.8.6
django-redis-cache==2.1.1
graphene-django==2.13.0
django-filter==2.4.0
django-graphql-jwt==0.3.1

# Google APIs
google-api-python-client
oauth2client
google-auth
gspread

# Other
arrow
beautifulsoup4
nameparser
python-dateutil
python-json-logger
pyyaml
redlock-py
retry
