.header {
  padding: 5rem 1rem;
  text-align: center;
  margin-left: 25%;
  max-width: 50%;
  position: static;
}

.title {
  font-weight: var(--font-bold);
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--heading-color);
  text-align: center;
}

.prompt {
  margin-bottom: 2rem;
  font-weight: var(--font-normal);
  font-size: var(--text-18);
  color: var(--paragraph-color);
  text-align: center;
}
