.header {
  padding: 5rem 1rem;
  text-align: center;
  margin-left: 25%;
  max-width: 50%;
  position: static;
}

.title {
  font-weight: var(--font-bold);
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--heading-color);
  text-align: center;
}

.prompt {
  margin-bottom: 2rem;
  font-weight: var(--font-normal);
  font-size: var(--text-18);
  color: var(--paragraph-color);
  text-align: center;
}

.semesterSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.semesterTitle {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: var(--text-14);
  font-weight: var(--font-medium);
  color: var(--orange-500);
  line-height: 1;
}

.semesterIcon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--orange-500);
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 8px;
}
