.button {
  justify-content: space-between;
  margin-bottom: 10px;
}
.select-cont {
  margin-bottom: 10px;
  width: 15%;
}
.course-select-cont {
  display: inline-block;
  width: 30%;
}
.course-select-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
