.root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--background-color);

  .trigger {
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 4px;
    z-index: 979;
    overflow: hidden;
    pointer-events: none;

    .button {
      padding: 0 16px;
      gap: 16px;
      height: 48px;
      transform: translateX(calc(100% - 48px));
      pointer-events: auto;

      &:hover, &:focus {
        animation: slideOut 250ms ease-in-out forwards;
      }
    }
  }
}

@keyframes slideOut {
  to {
    transform: translateY(0);
  }
}