.root {
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  align-items: top;
  padding: 0px 24px;
  margin-bottom: 16px;
  min-width: 450px;

  .title {
    display: inline-block;
    margin-top: 40px;
    width: 40%;
    vertical-align: center;
    h3 {
      margin: 0;
      font-size: var(--text-18);
      color: var(--heading-color);
      font-weight: var(--font-semibold);
    }
    h5 {
      color: var(--paragraph-color);
      font-size: var(--text-14);
      font-weight: var(--font-normal);
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .body {
    display: inline-block;
    width: 60%;

    .section {
      box-sizing: border-box;
      padding: 24px 0;
      display: flex;
      align-items: middle;
      border-bottom: 1px solid var(--border-color);
      &:last-child {
        border-bottom: none;
      }

      .metrics {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
      }

      .titleSection {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 140px;

        .metric {
          color: var(--paragraph-color);
          font-size: var(--text-16);
          font-weight: var(--font-normal);
        }
      }

      .metricAverage {
        color: var(--label-color);
        padding-left: 14px;
        font-size: var(--text-14);
      }
    }
  }
}
