.overlay {
  background: linear-gradient(
    to left,
    var(--background-color) 384px,
    transparent
  );
  opacity: 0.5;
}

.drawer {
  width: 384px;
  border-left: 1px solid var(--border-color);
  background-color: var(--background-color);

  .header {
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--foreground-color);
    display: flex;
    gap: 12px;
  }

  .body {
    padding: 12px;
  }
}
