{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Schedule{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/reset.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap-modal.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href="{% static 'css/common/berkeleytime-box.css' %}">

    <link rel='stylesheet' type='text/css' href="{% static 'css/schedule/schedule.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/catalog/course_box.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/elusive-webfont.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'css/popover.css' %}">

    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}

{% block scripts %}

    <!-- vendor scripts -->
    <script type="text/javascript" src="{% static 'js/underscore.min.js' %}"></script>

    <script type='text/javascript' src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>

    <!-- import scripts -->
    <script type="text/javascript" src="{% static 'js/requests.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common/colors.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/course-box.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.popover.js' %}"></script>

    <!-- schedule scripts -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".grade").css("color", bt_utils.gradeToColor({{course.letter_average}}));
        });
        var allCourses = {{all_courses_json | safe}};
    </script>
    <script type='text/javascript' src="{% static 'js/schedule/schedule-utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/schedule/schedule.js' %}"></script>

{% endblock %}

{% block content %}
    <div id="container">
        <div class='berkeleytime-box'>
            <div class="message-bar row">
                <div class="message-text col-md-5">Select your classes</div>
                {% if user.is_authenticated %}
                <div class="message-buttons col-md-7">
                    {% if all_courses %}
                        <div class="select_container col-md-6" >
                            <select id='select_course' data-placeholder='Search for a class...'>
                                <option></option>
                                {% for course in all_courses %}
                                    <option data-title="{{course.name.strip}}" value="{{course.course_id}}">
                                        <div class="title">{{course.name.strip}}</div>
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select_form col-md-6">
                            <form id="btn-select-sec-form" class="button" name="sel_sec_form" method="get" action="/scheduler/select_sections_params/">
                                <input type="hidden" id="sel-sec-form-course_ids" name="course_ids" value="" />
                                <input type="submit" class="button" name="submit" value="Next" />
                            </form>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>

            <div id="schedule_table_container">
                {% if user.is_authenticated %}
                    <form>
                        <table id="schedule_table" class="table course-list">
                            <tr>
                                <th></th>
                                <th>Course Name</th>
                                <th>Units</th>
                                <th>Course Average</th>
                                <th>Enrolled %</th>
                                <th>Waitlisted</th>
                                <th></th>
                            </tr>

                            <!-- {% for course in courses %}
                                <tr>
                                    <td><input type="checkbox" name="checkbox1" id="checkbox-{{course.course_id}}" class="css-checkbox checkbox-class" /><label for="checkbox-{{course.course_id}}" class="css-label"></label></td>
                                    <td>{{course.name}}</td>
                                    <td>{{course.units}}</td>
                                    <td class="grade">{{course.letter_average}}</td>
                                    <td>{{course.enrollment_percentage}}</td>
                                    <td>{{course.waitlisted}}</td>
                                    <td><p><a href="/catalog/'+ parsedName.dept + '/' + parsedName.number +
                         '" class="button" id="btn-more-info-{{course.course_id}}" target="_blank">More Info</a></p></td>
                                    <td><p><a href="#" id="btn-more-info-{{course.course_id}}" class="button">More Info</a></p></td>
                                    <td><button type="button" class="btn btn-default btn-sm deleteBtn">✕</button></td>
                                    
                                </tr>
                            {% endfor %} -->
                        </table>
                    </form>
                {% else %}
                    <i class="material-icons lock">lock_outline</i>
                    <p class="info-text">Please <a href="/login">sign in</a> to use the scheduler!</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var numRows = {{courses|length}};
        var savedClasses = []; // currently selected classes

        $("#select_course").select2();

        $("#select_course").on('select2:select', function(e) {
            // Get course ID then make a request to the server endpoint and perform a callback on the returned json
            $('b[role="presentation"]').hide();
            var actualSelectedID = $('#select_course option:selected')[0].value + "/";
            addClass(actualSelectedID);
        });

        // Enable delete row
        $(document).on('click', 'button.deleteBtn', function () {
            var reAdd = $(this).closest('tr');
            curr_tit = $(reAdd[0]).children()[1]
            curr_tit = $(curr_tit).text()
            reAdd.remove();
            curr_elem_id = parseInt($(reAdd[0]).attr("id").substring("row-id-".length))
        
            var newOption = new Option(curr_tit, curr_elem_id);
            newOption.setAttribute('data-title', curr_tit);
            $("#select_course").append(newOption);
            return content;
        });

        function addClass(course_id) {
            $.getJSON(
                "/scheduler/select_sections_json/" + course_id,
                function (json) {
                    var parsedName = parseCourseName(json.name);
                    var gradeAvg = json.letter_average;
                    if (gradeAvg == "None" || gradeAvg == null) {
                        gradeAvg = "-";
                    }
                    var units = json.units;
                    if (units == 0 || units == null || units == "0") {
                        units = "-";
                    }
                    var enrollment_percentage = json.enrollment_percentage;
                    if (enrollment_percentage == "-100%" || enrollment_percentage == null) {
                        enrollment_percentage = "-";
                    }
                    var waitlisted = json.waitlisted;
                    if (waitlisted == null) {
                        waitlisted = "-";
                    }

                    var newRow = '<tr id="row-id-' + json.course_id + '"><td><input type="checkbox" name="checkbox1" id="checkbox-'+ json.course_id + '" ' +
                        'class="css-checkbox check checkbox-all-class" />' +
                        '<label for="checkbox-' + json.course_id + '" class="css-label"></label></td>' +
                        '<td>' + json.name + '</td>' +
                        '<td>' + units + '</td>' +
                        '<td class="grade">' + gradeAvg + '</td>' +
                        '<td>' + enrollment_percentage + '</td>' +
                        '<td>' + waitlisted + '</td>' +
                         '<td><p><a href="/catalog/'+ parsedName.dept + '/' + parsedName.number +
                         '" class="button" id="btn-more-info-{{courseObj.course_id}}" target="_blank">More Info</a></p></td>' +
                         '<td><button type="button" class="btn btn-default btn-sm deleteBtn">✕</button></td>';

                    $(".tbd").attr("id", "btn-more-info-TODO"); // clear "tbd" button id

                    $('#schedule_table > tbody > tr').eq(-1).after(newRow);
                    numRows++;

                     // Remove added class as option from dropdown
                    var toRemove = $("#select_course option[data-title='" + json.name + "']");
                    toRemove.remove();

                    // add removed class to savedClasses list
                    savedClasses.push(toRemove);
                }
            );
        }

        // Create link to course info page
        function parseCourseName(courseName) {
            var name = {}
            name.dept = "";
            name.number = "";
            for (var i = 0; i < courseName.length - 1; i++) {
                var c = courseName.charAt(i + 1);
                if (c >= '0' && c <= '9') {
                    if (courseName.charAt(i).toUpperCase() == 'C'
                        || courseName.charAt(i).toUpperCase() == 'W') {
                         name.dept = courseName.substring(0, i).trim();
                         name.number = courseName.substring(i).trim();
                     } else {
                         name.dept = courseName.substring(0, i + 1).trim();
                         name.number = courseName.substring(i + 1).trim();
                     } break;
                 }
             }
             return name;
         }

        var selected_courses = {{selected_courses|safe}};
        if (selected_courses.length > 0) {
            for (var i = 0; i < selected_courses.length; i++) {
                addClass(selected_courses[i] + '/');
            } 
        }

        // Populate favorites
        {% for course in courses %}
            addClass({{course.course_id}} + "/")
        {% endfor %}
    </script>
<div>
    
<a href="https://goo.gl/forms/HDQ10XBDHJ0aCjhf1"  target="_blank">
<button id="feedback-button" style="font-family: 'Open Sans'">
Report a Problem
</button>
</a> 

{% endblock %}
