    {% extends "base.html" %}
{% load staticfiles %}

{% block title %}Schedule{% endblock %}

{% block stylesheets %}
<link rel='stylesheet' type='text/css' href="{% static 'css/reset.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap-modal.min.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'css/common/berkeleytime-box.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'css/schedule/select_sections.css' %}">
<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css"/>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block scripts %}

<!-- vendor scripts -->
<script type="text/javascript" src="{% static 'js/underscore.min.js' %}"></script>
<script type='text/javascript' src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- import scripts -->
<script type="text/javascript" src="{% static 'js/requests.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common/colors.js' %}"></script>
<script type='text/javascript' src="{% static 'js/common/time.js' %}"></script>
<script type='text/javascript' src="{% static 'js/course-box.js' %}"></script>
<script type="text/javascript" src="{% static 'js/schedule/select-sections.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock %}

{% block content %}
<div id="container">
    <div class='berkeleytime-box'>
        <div class="message-bar">
            <span class="message-text">
                <p>Select Your Sections</p>
            </span>
            <span class="select-buttons">
                <span class="message-buttons">
                    <p><a href="#" id="btn-select-opts" class="button">Options</a></p>
                </span>
                <span class="message-buttons">
                    <p>
                        <form id="" class="button" name="view_scheds_form" method="get" action="/scheduler/select_classes/">
                            <input type="submit" class="button" value="Back"/>
                        </form>
                    </p>
                </span>
                <span class="message-buttons">
                    <form id="btn-view-scheds-form" class="button" name="view_scheds_form" method="get" action="/scheduler/view_schedules_params/">
                        <input type="hidden" id="view-scheds-form-sections_data" name="sections_data" value="" />
                        <input type="submit" class="button" name="submit" value="Next" />
                    </form>
                </span>
            </span>
                </div>

                <div class='view-sections'>
                    <div id='class-header'>
                        <ul>
                            {% for course_name, sec_obj in sections_filtered.items %}
                            <li><a class='tab-class' href='#' data-showdiv='sec-{{forloop.counter0}}'>{{course_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id='table-wrapper'>
                        {% for course_name, sec_obj in sections_filtered.items %}
                        {% if forloop.counter0 == 0 %}
                        <div class='sections sec-{{forloop.counter0}}'>
                            {% else %}
                            <div class='sections sec-{{forloop.counter0}}' style='display: none;'>
                                {% endif %}
                                <table class="table section-table scroll">
                                    <thead>
                                        {% if sec_obj %}
                                        <tr> <!-- Check all checkbox -->
                                            <th><input type="checkbox" name="checkbox-all-{{forloop.counter0}}" id="checkbox-all-{{forloop.counter0}}" class="css-checkbox checkbox-all" /><label for="checkbox-all-{{forloop.counter0}}" class="css-label"></label></th>
                                            <th>Number</th>
                                            <th>Type</th>
                                            <th>Time</th>
                                            <th>Location</th>
                                            <th>Instructor</th>
                                            <th>Enrolled</th>
                                            <th>Waitlisted</th>
                                            <th>Final Exam</th>
                                        </tr>
                                        {% else %}
                                        <tr class="no-sections">
                                            <p>This course has no sections next semester.</p>
                                        </tr>
                                        {% endif %}
                                    </thead>
                                    <tbody>
                                        {% for indiv_sec in sec_obj %}
                                        <tr class="section-row" data-id="{{sec_obj.id}}" data-enrolled="{{sec_obj.enrolled|escapejs}}" data-enrolled-max="{{sec_obj.enrolled_max|escapejs}}">
                                            <td><input type="checkbox" name="checkbox-{{indiv_sec.abbreviation}}-{{indiv_sec.course_number}}-{{indiv_sec.ccn}}-{{indiv_sec.section_number}}-{{indiv_sec.type}}" id="checkbox-{{indiv_sec.abbreviation}}-{{indiv_sec.course_number}}-{{indiv_sec.ccn}}-{{indiv_sec.section_number}}-{{indiv_sec.type}}" class="checkbox-{{forloop.parentloop.counter}} css-checkbox checkbox-sec" /><label for="checkbox-{{indiv_sec.abbreviation}}-{{indiv_sec.course_number}}-{{indiv_sec.ccn}}-{{indiv_sec.section_number}}-{{indiv_sec.type}}" class="css-label"></label></td>
                                            <td>{{indiv_sec.section_number}}</td>
                                            <td>{{indiv_sec.type}}</td>
                                            {% if indiv_sec.start_time and indiv_sec.end_time %}
                                            <td><span class="bold">{{ indiv_sec.word_days }}</span> {{ indiv_sec.start_time|date:"f A" }} - {{ indiv_sec.end_time|date:"f A" }}</td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                            <td>{{indiv_sec.location}}</td>
                                            <td>{{indiv_sec.instructor}}</td>

                                            {% if indiv_sec.enrolled != None and indiv_sec.enrolled_max != None %}
                                            <td class="center">{{ indiv_sec.enrolled }}/{{ indiv_sec.enrolled_max }}</td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}

                                            {% if indiv_sec.waitlisted != None %}
                                            <td class="center">{{ indiv_sec.waitlisted }}/{{ indiv_sec.enrolled_max }}</td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                            {% if indiv_sec.final_word_day != None and indiv_sec.final_start != None and indiv_sec.final_end != None %}
                                            <td><span class="bold">{{ indiv_sec.final_word_day }}</span> {{ indiv_sec.final_start|date:"f A" }} - {{ indiv_sec.final_end|date:"f A" }}</td>
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class='view-options' style='display: none;'>
                        <div class="mockTable leftColumn">
                            <div class="optRow r1">
                                <div class="cell"><p>Preferred Time of Day</p></div>
                            </div>
                            <div class="optRow r1">
                                <p>Gaps Between Classes</p>
                            </div>
                            <div class="optRow r1">
                                <p>Number of Days</p>
                            </div>
                            <div class="optRow r1">
                                <p>Days to Avoid</p>
                            </div>
                            <div class="optRow r1">
                                <p>Time Conflicts</p>
                            </div>
                            <div class="optRow r1">
                                <p>Create Custom Breaks</p>
                            </div>
                        </div>
                        <div class="mockTable prefTable">
                            <div class="optRow r3">
                                <div class="cell"><input type="checkbox" name="timeOfDay" id="morning1" class="css-checkbox checkbox-rb-tod"/><label for="morning1" class="css-label">Morning (~11 AM)</label></div>
                                <div class="cell"><input type="checkbox" name="timeOfDay" id="midday2" class="css-checkbox checkbox-rb-tod"/><label for="midday2" class="css-label">Midday (11 AM ~ 3 PM)</label></div>
                                <div class="cell"><input type="checkbox" name="timeOfDay" id="afternoon3" class="css-checkbox checkbox-rb-tod" /><label for="afternoon3" class="css-label">Afternoon (3 PM~)</label></div>
                            </div>
                            <div class="optRow r2">
                                <div class="cell"><input type="checkbox" name="gaps" id="minGaps1" class="css-checkbox checkbox-rb-gap" /><label for="minGaps1" class="css-label">Minimize Gaps</label></div>
                                <div class="cell"><input type="checkbox" name="gaps" id="maxGaps2" class="css-checkbox checkbox-rb-gap" /><label for="maxGaps2" class="css-label">Maximize Gaps</label></div>
                            </div>
                            <div class="optRow r2">
                                <div class="cell"><input type="checkbox" name="numDays" id="minDays1" class="css-checkbox checkbox-rb-day" /><label for="minDays1" class="css-label">Minimize Days</label></div>
                                <div class="cell"><input type="checkbox" name="numDays" id="maxDays2" class="css-checkbox checkbox-rb-day" /><label for="maxDays2" class="css-label">Maximize Days</label></div>
                            </div>
                            <div class="optRow r5">
                                <div class="cell"><input type="checkbox" name="avoidDays" id="avoidM1" class="css-checkbox" /><label for="avoidM1" class="css-label">M</label></div>
                                <div class="cell"><input type="checkbox" name="avoidDays" id="avoidTu2" class="css-checkbox"/><label for="avoidTu2" class="css-label">Tu</label></div>
                                <div class="cell"><input type="checkbox" name="avoidDays" id="avoidW3" class="css-checkbox" /><label for="avoidW3" class="css-label">W</label></div>
                                <div class="cell"><input type="checkbox" name="avoidDays" id="avoidTh4" class="css-checkbox" /><label for="avoidTh4" class="css-label">Th</label></div>
                                <div class="cell"><input type="checkbox" name="avoidDays" id="avoidF5" class="css-checkbox" /><label for="avoidF5" class="css-label">F</label></div>
                            </div>
                            <div class="optRow r1">
                                <div class="cell"><input type="checkbox" name="conflicts" id="conflicts1" class="css-checkbox" /><label for="conflicts1" class="css-label">Allow Conflicts</label></div>
                            </div>
                            <div class="optRow r3">
                                <div class="cell"><input type="text" name="breakName" id="breakName" placeholder="Break Name"/></div>
                                <div class="cell">Start
                                    <select name="breakStart">
                                        <option value="-1">Start</option>
                                        <option value="8">8:00 AM</option>
                                        <option value="8.5">8:30 AM</option>
                                        <option value="9">9:00 AM</option>
                                        <option value="9.5">9:30 AM</option>
                                        <option value="10">10:00 AM</option>
                                        <option value="10.5">10:30 AM</option>
                                        <option value="11">11:00 AM</option>
                                        <option value="11.5">11:30 AM</option>
                                        <option value="12">12:00 PM</option>
                                        <option value="12.5">12:30 PM</option>
                                        <option value="13">1:00 PM</option>
                                        <option value="13.5">1:30 PM</option>
                                        <option value="14">2:00 PM</option>
                                        <option value="14.5">2:30 PM</option>
                                        <option value="15">3:00 PM</option>
                                        <option value="15.5">3:30 PM</option>
                                        <option value="16">4:00 PM</option>
                                        <option value="16.5">4:30 PM</option>
                                        <option value="17">5:00 PM</option>
                                        <option value="17.5">5:30 PM</option>
                                        <option value="18">6:00 PM</option>
                                        <option value="18.5">6:30 PM</option>
                                        <option value="19">7:00 PM</option>
                                        <option value="19.5">7:30 PM</option>
                                        <option value="20">8:00 PM</option>
                                        <option value="20.5">8:30 PM</option>
                                        <option value="21">9:00 PM</option>
                                        <option value="21.5">9:30 PM</option>
                                        <option value="22">10:00 PM</option>
                                    </select>
                                </div>
                                <div class="cell">End
                                    <select name="breakEnd">
                                        <option value="-1">End</option>
                                        <option value="8">8:00 AM</option>
                                        <option value="8.5">8:30 AM</option>
                                        <option value="9">9:00 AM</option>
                                        <option value="9.5">9:30 AM</option>
                                        <option value="10">10:00 AM</option>
                                        <option value="10.5">10:30 AM</option>
                                        <option value="11">11:00 AM</option>
                                        <option value="11.5">11:30 AM</option>
                                        <option value="12">12:00 PM</option>
                                        <option value="12.5">12:30 PM</option>
                                        <option value="13">1:00 PM</option>
                                        <option value="13.5">1:30 PM</option>
                                        <option value="14">2:00 PM</option>
                                        <option value="14.5">2:30 PM</option>
                                        <option value="15">3:00 PM</option>
                                        <option value="15.5">3:30 PM</option>
                                        <option value="16">4:00 PM</option>
                                        <option value="16.5">4:30 PM</option>
                                        <option value="17">5:00 PM</option>
                                        <option value="17.5">5:30 PM</option>
                                        <option value="18">6:00 PM</option>
                                        <option value="18.5">6:30 PM</option>
                                        <option value="19">7:00 PM</option>
                                        <option value="19.5">7:30 PM</option>
                                        <option value="20">8:00 PM</option>
                                        <option value="20.5">8:30 PM</option>
                                        <option value="21">9:00 PM</option>
                                        <option value="21.5">9:30 PM</option>
                                        <option value="22">10:00 PM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="optRow r6">
                                <div class="cell"><input type="checkbox" name="breakDays" id="breakM1" class="css-checkbox cBreak" /><label for="breakM1" class="css-label">M</label></div>
                                <div class="cell"><input type="checkbox" name="breakDays" id="breakTu2" class="css-checkbox cBreak" /><label for="breakTu2" class="css-label">Tu</label></div>
                                <div class="cell"><input type="checkbox" name="breakDays" id="breakW3" class="css-checkbox cBreak" /><label for="breakW3" class="css-label">W</label></div>
                                <div class="cell"><input type="checkbox" name="breakDays" id="breakTh4" class="css-checkbox cBreak" /><label for="breakTh4" class="css-label">Th</label></div>
                                <div class="cell"><input type="checkbox" name="breakDays" id="breakF5" class="css-checkbox cBreak" /><label for="breakF5" class="css-label">F</label></div>
                                <div class="cell"><a href="#" id="btn-add-break" class="button">Add Break</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div>
</div>

    <script>
        var sections_filtered = {{sections_filtered_json | safe}};
        var classTypes = {};
        for (var className in sections_filtered) {
            classTypes[className] = [];
            for (var i = 0; i < sections_filtered[className].length; i++) {
                thisType = sections_filtered[className][i]['type'];
                if (classTypes[className].indexOf(thisType) < 0) {
                    classTypes[className].push(thisType);
                }
            }
        }
    </script>
    
<a href="https://goo.gl/forms/HDQ10XBDHJ0aCjhf1"  target="_blank">
<button id="feedback-button">
Report a Problem
</button>
</a> 
{% endblock %}
