{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Schedule{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/reset.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/materialFullCalendar.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap-modal.min.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/common/berkeleytime-box.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'chosen/chosen.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/schedule/schedule.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/schedule/view_schedules.css' %}">
<!--     <link rel='stylesheet' type='text/css' href="{% static 'css/catalog/course_box.css' %}">
 -->
    <!-- <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css"/> -->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
{% endblock %}

{% block scripts %}

    <!-- vendor scripts -->
    <script type="text/javascript" src="{% static 'js/underscore.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- import scripts -->
    <script type="text/javascript" src="{% static 'js/requests.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common/colors.js' %}"></script>
    <!-- <script type='text/javascript' src="{% static 'js/common/time.js' %}"></script> -->
    <!-- <script type='text/javascript' src="{% static 'js/common/schedule-block.js' %}"></script> -->
    <script type='text/javascript' src="{% static 'js/course-box.js' %}"></script>
    <!-- <script type='text/javascript' src="{% static 'js/common/berkeleytime-box.js' %}"></script> -->

    <!-- View Schedules JS imports -->

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script type='text/javascript' src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/schedule/moment.min.js' %}"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js
	'></script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.css' rel='stylesheet' media='print' />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
	<script src="{% static 'js/schedule/view-schedules.js' %}"></script>
<script>
    var goBack = function() {
        window.history.back();
    }
</script>

{% endblock %}

{% block content %}
<div class="container">
    <div id="wrapper">
        <div class="button-group">
            <div class="button-group-left">
              <a onclick="goBack()" id="backButton" class="navButton">Back</a>
            </div>
            <div class="button-group-right">
              <form id="saveButton" name="save_sched_form button_form" method="post" action="/scheduler/save_schedule/" class="">{% csrf_token %}
                  <input type="hidden" id="save_sched_form_data" class="sched_form_data" name="save_sched_data" value="" />
                  <input type="submit" class="button navButton" value="Save"/>
              </form>
              <form id="unsaveButton" name="unsave_sched_form button_form" method="post" action="/scheduler/delete_schedule/" class="">{% csrf_token %}
                  <input type="hidden" id="unsave_sched_form_data" class="sched_form_data" name="unsave_sched_data" value="" />
                  <input type="submit" class="button navButton" value="Unsave"/>
              </form>
              <form id="exportButton" name="export_sched_form button_form" method="post" action="/scheduler/export_schedule/" class="">{% csrf_token %}
                <input type="hidden" id="export_sched_form_data" class="sched_form_data" name="export_sched_data" value="" />
                <input type="submit" class="button navButton" value="Export"></input>
              </form>
            </div>
        </div>
        <div id='calendar'></div>
    </div>
</div>

<a href="https://docs.google.com/a/berkeley.edu/forms/d/1eGJd2Vk52Y-6R9T7fY9JWzGvu9nsck6YhJWadWKfldE/viewform"  target="_blank">
<button id="feedback-button">
Report a Problem
</button>
</a> 




<script>
    // Should probably fix this some time
    var all_sections = "{{all_sections|safe}}";
    //var sched = "{{schedules|safe}}";
    var count = 0;

    //This part takes too long with large objects
    var schedule_str_list = "[";
    {% for sch in schedules %}
        schedule_str_list += (("{{sch.sections}},"));
        count += 1;
    {% endfor %}

    schedule_str_list = schedule_str_list.substring(0, schedule_str_list.length -1) + "]";
    if (schedule_str_list.length == 1) {
      schedule_str_list = "[]";
    }
    //schedule_str_list += ""
    //schedule_str_list = "[" + schedule_list.join() + "]";
</script>



{% endblock %}
