@keyframes skeleton-pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}

.root {
  display: block;
  background-color: var(--border-color);
  border-radius: 4px;
  animation: skeleton-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  // Make it visible with minimum dimensions
  min-height: 1em;
  min-width: 1em;
}
