.content {
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 989;
  display: flex;
  flex-direction: column;

  &[data-state="open"] {
    animation: slideIn 250ms ease-out;
  }

  &[data-state="closed"] {
    animation: slideOut 250ms ease-in;
  }

  @media (width <= 992px) {
    width: 100%;
  }

  .body {
    flex-grow: 1;
    height: 0;
    overflow: clip;
  }

  .header {
    border-width: 0 1px 1px 0;
    border-color: var(--border-color);
    border-style: solid;
    padding: 12px;
    background-color: var(--foreground-color);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;

    .title {
      font-size: 14px;
      line-height: 1;
      color: var(--heading-color);
      font-weight: 500;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
