.cardWrapper {
  position: relative;
  overflow: visible;
  height: auto; 

  &.popupOpen {
    z-index: 100;
  }

  > * {
    height: 100% !important;
    overflow: visible !important;
  }
}

.cardColumnHeader {
  height: 100%;
}

.cardBodyWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardHeading {
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 8px !important; 
  color: var(--heading-color); 
}

.sectionNumber {
  color: var(--paragraph-color) !important; 
  font-weight: 600 !important; 
}

.description {
  white-space: nowrap;  
  overflow: hidden;     
  text-overflow: ellipsis; 
  width: 100%;          
  color: var(--paragraph-color); 
}

.enrollmentText {
  font-size: 14px;
  font-weight: 400; 
  line-height: 1;
}

.gradeWrapper {
  padding-right: 4px; 
}

.bellWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 2px;
  min-width: 28px;
  height: 28px;
  z-index: 100;
  padding: 0 6px;
  margin-top: -3.5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--background-color);
  }

  &.active {
    color: var(--blue-500);
  }
}

.popup {
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 8px; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  z-index: 10000;
  width: 280px;
  display: flex;
  flex-direction: column;
  position: absolute; 
  top: 45px;          
  right: 15px;

  .checkboxOption {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 6px 8px; 
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      label {
        color: var(--heading-color); 
      }
    } 

    label {
      font-size: 14px;
      color: var(--paragraph-color);
      white-space: nowrap;
      cursor: pointer;
      transition: color 100ms ease-in-out; 
    } 

    .checkbox {
      width: 16px;
      height: 16px;
      display: grid;
      place-items: center;
      border-radius: 4px;
      flex-shrink: 0; 

      &[data-state="checked"] {
        background-color: var(--blue-500);
        color: white;
      }

      &[data-state="unchecked"] {
        border: 2px solid var(--paragraph-color);
      }
    }
  } 
}

.arrowRotated {
  transform: rotate(180deg);
}