.root {
  .themeButton,
  .themeButton[data-variant="outline"] {
    border: none !important;
  }

  .themeButton[data-state="open"] {
    box-shadow: inset 0 0 0 1px var(--border-color);
  }

  .brand {
    font-size: 24px;
    font-weight: 580;
    font-feature-settings:
      "cv05" on,
      "cv13" on,
      "ss07" on,
      "cv12" on,
      "cv06" on;
    color: var(--heading-color);
    cursor: pointer;
    transition: all 100ms ease-in-out;
    margin-right: auto;

    &:hover {
      opacity: 0.8;
    }
  }

  .brandFull {
    @media (width <= 992px) {
      display: none;
    }
  }

  .brandShort {
    display: none;

    @media (width <= 992px) {
      display: inline;
    }
  }


  .navSelect {
    display: none;

    @media (width <= 992px) {
      display: block;
      width: 150px;

      > div {
        height: 32px;
        min-height: unset;
        padding: 0 8px;
        font-size: var(--text-14);
      }
    }
  }

  .group {
    display: flex;

    @media (width <= 992px) {
      display: none;
    }
  }

  &:not(.invert) {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--foreground-color);
    padding: 12px;
  }

  &.invert {
    padding: 12px 12px 0;

    .icon-button {
      color: white;

      &:global([data-variant="outline"]) {
        &:hover {
          background-color: unset;
          color: white;
        }
      }
    }

    .brand {
      color: white;

      &:hover {
        color: rgb(255 255 255 / 75%);
      }
    }

    .item {
      color: rgb(255 255 255 / 65%);

      &::after {
        background-color: rgb(255 255 255 / 10%);
      }

      &:hover {
        color: white;
      }

      &:global(.active) {
        color: white;

        &::before {
          top: -12px;
          background-color: white;
        }
      }
    }

    .button {
      background-color: white;
      color: var(--sky-500);

      &:hover {
        background-color: rgb(255 255 255 / 85%);
      }
    }
  }
}
