$bt-white:                 #F5F5F5;
$bt-light-grey:            #808080;
$bt-grey:                  #5C5C5C;
$bt-black:                 #2E2E2E;

$bt-footer:                #303548;

$bt-pink:                  #F85386;
$bt-yellow:                #FFFF00;
$bt-blue:                  #579EFF;
$bt-green:                 #18D869;

$bt-indicator-red:         #FC7676;
$bt-indicator-orange:      #FFA414;

// text base
$bt-base:                  #505050 !default;



// navbar
$bt-navbar-height: 60px;


$font-size-h1:                 52px !default;
$font-size-h2:                 36px !default;
$font-size-h3:                 28px !default;
$font-size-h4:                 22px !default;
$font-size-h5:                 16px !default;
$font-size-h6:                 14px !default;