// This file contains some variables used throughout the stylesheets.

// exact height of the bootstrap navbar
$bt-navbar-height: 57px;

$banner-height: 60px;

// minimum supported viewport height
$viewport-min-height: 800px;

// minimum supported mobile viewport hiehgt
$mobile-viewport-min-height: 600px;

// variables for z indexes
$z-index-banner: 2;
$z-index-serious: 1;



// landing
$landing-section-gap: 150px;