@import "../utils.less";
@import "../standard.less";

@greeting-height: 50px;
@greeting-font-size: 48px;
@greeting-padding: 10px; // for in between paragraphs and on edges
.welcome {
    padding: 0 36px;
    a {
        cursor: pointer;
    }
    .greeting {
        .height(@greeting-height, @greeting-font-size);
        text-align: center;
        padding-right: @greeting-padding;
    }

    .welcome-paragraph, .welcome-subheading {
        padding: @greeting-padding @greeting-padding 0 @greeting-padding;
        .font(@main-font, 300);
    }

    .welcome-paragraph {
        font-size: 12px;
        line-height: 24px;
    }

    .welcome-subheading {
        font-size: 16px;
    }

    .welcome-highlight {
        //copied from blue-link
        color: @berkeleytime-blue;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: darken(@berkeleytime-blue, 20%);
        }
    }

    .welcome-choice, .welcome-or {
        text-align: center;
    }

    .welcome-choice {
        padding: 20px @greeting-padding;
        font-size: 16px;
    }

    .welcome-or {
        .font("Lobster", 400);
        font-size: 16px;
        .text-with-divider();
    }

    .welcome-choices-wrapper {
        margin-top: 50px;
    }
}
