.root {
	width: 100%;
	display: flex;
	flex-direction: column;

	.blurb {
		margin: 25px auto;
		width: 50vw;
		text-align: center;
		color: #383838;

		.sponsors {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;

			img {
				height: 100px;
				padding: 10px;
				object-fit: scale-down;
			}
		}
	}

	.blurb h4 {
		font-weight: bold;
		margin-bottom: 10px;
	}

	.footer {
		display: flex;
		flex-direction: row;
		margin: 10px auto;

		.footerColumn {
			text-align: left;
			margin: 10px 30px;
		}
		.footerColumn h6 {
			font-weight: bold;
			margin-bottom: 8px;
		}

		.footerColumn ul {
			list-style: none;
			padding: 0;
		}

		.footerColumn li {
			margin-bottom: 4px;
		}

		.footerColumn a {
			color: #a0a0a0;
		}

		.footerColumn a:hover {
			color: #2f80ed;
			transition: color 0.2s;
		}
	}
}
