.scheduler,
.scheduler.viewport-app {
  > .row > .col {
    box-sizing: border-box;
    height: 100%;
  }

  // Force auto-sizing
  &.scheduler {
    min-height: 0;
  }

  .welcome {
    width: 50vw;
    min-height: 300px;
    padding: 13rem 1rem;
    text-align: center;

    h1 {
      margin-bottom: 50px;
      font-weight: bold;
      font-size: 32px;
      color: $bt-base-text;
    }

    h3 {
      width: 30vw;
      margin: auto auto 45px auto;
      font-weight: 500;
      font-size: 18px;
      color: $bt-light-text;
    }

    .bt-btn-primary {
      margin-bottom: 24px;
      width: 100px;
      font-weight: 600;
    }

    p {
      font-weight: 600;
      font-size: 14px;
      color: $bt-light-text;

      a {
        color: $bt-blue;
        font-weight: 600;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .scheduler-header {
    display: flex;
    align-items: center;
    margin-left: 72px;
    padding: 1rem;

    > *:not(:last-child) {
      margin-right: 1rem;
    }

    .scheduler-units {
      font-size: 16px;
      font-weight: 600;
      color: $bt-base-text;
      flex: 1;
    }
  }

  .scheduler__status {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    font-size: 18px;
    text-align: center;
    color: $bt-light-text;
  }
}
