/* Actual Standard Stuff */
html {
  width: 100%;
  height: 100%;
  background: url("../img/berkeley.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.terms-box {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 20px 0px 30px 0px;
  display: block;
  height: 500px;
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  background-color: rgba(220, 220, 220, 0.6);
  border: none;
}
.terms-box .terms-header {
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin: 25px auto 15px auto;
}
.terms-box .text {
  display: block;
  line-height: 17px;
  font-size: 13px;
  text-align: justify;
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.terms-box .privacy-divider {
  text-align: center;
  font-size: 20px;
}
.terms-box .privacy-text {
  padding-top: 15px;
  padding-bottom: 15px;
}
.top {
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  cursor: pointer;
  color: #4288aa;
}
.top:hover {
  color: #346b85;
}
#top-header {
  text-align: center;
  width: 100%;
  margin-top: 5px;
  height: 40px;
  line-height: 40px;
  font-size: 28px;
}
.top-subtitle {
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.top-link {
  text-align: center;
  padding-bottom: 15px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.top-link a {
  text-decoration: none;
  cursor: pointer;
  color: #4288aa;
}
.top-link a:hover {
  color: #346b85;
}
.top-link.privacy-link {
  padding-bottom: 0px;
}
