.drawer {
  background-color: var(--foreground-color);
  width: 288px;
  display: flex;
  flex-direction: column;

  @media (width > 512px) {
    border-right: 1px solid var(--border-color);
  }

  @media (width <= 512px) {
    width: 100%;
  }

  .body {
    padding: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .group {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .label {
        font-size: var(--text-14);
        color: var(--label-color);
        line-height: 1;
      }

      .item {
        font-size: var(--text-14);
        color: var(--heading-color);
        line-height: 1;
        font-weight: var(--font-medium);
        transition: color 100ms ease-in-out;

        &:hover {
          color: var(--paragraph-color);
        }
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 12px;

    .brand {
      font-size: 24px;
      font-weight: 580;
      font-feature-settings:
        "cv05" on,
        "cv13" on,
        "ss07" on,
        "cv12" on,
        "cv06" on;
      color: var(--heading-color);
      margin-right: auto;
    }
  }
}
