.root {
  display: flex;
  width: 100%;
  gap: 8px;

  input[type="checkbox"] {
    display: none;
  }

  label {
    flex: 1;
    cursor: pointer;
  }

  label span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--button-color);
    color: var(--paragraph-color);
    font-weight: var(--font-medium);
    transition: all 0.2s ease;
  }

  label span:hover {
    background-color: var(--button-hover-color);
  }

  input[type="checkbox"]:checked + span {
    background-color: var(--button-active-color);
    color: var(--heading-color);
  }

  &[data-size="sm"] {
    gap: 6px;

    label span {
      height: 35px;
      font-size: var(--text-14);
    }
  }
}
