.root {

  input[type="checkbox"] {
    display: none;
  }
  label {
    display: inline-block;
    margin: 0.5rem;
    cursor: pointer;
  }

  label span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;            
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--button-color);
    color: var(--paragraph-color);
    font-weight: 500;
    transition: all 0.2s ease;
  }

  label span:hover {
    background-color: var(--button-hover-color);
  }

  input[type="checkbox"]:checked + span {
    background-color: var(--button-active-color); 
    color: var(--heading-color);
  }

  &[data-size="sm"] {
    label {
      margin: 4px;
    }
    label span {
      width: 35px;
      height: 35px;
      font-size: 14px;
    }
  }
}