.root {
  width: 100%;
  color: var(--paragraph-color);
  padding: 8px 12px;
  font-size: var(--text-14);
  cursor: pointer;
  border-radius: 4px;
  user-select: none;

  &:hover:not([data-disabled]) {
    background-color: var(--button-hover-color);
    color: var(--heading-color);
  }

  &:active,
  &:focus-visible {
    background-color: var(--blue-500);
    color: white;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .meta {
    font-size: var(--text-12);
    color: var(--label-color);
  }
}

.selected {
  color: var(--heading-color);
  font-weight: var(--font-medium);
}
