.root {
  width: 100%;
  color: var(--paragraph-color);
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: var(--button-hover-color);
  }
  &:active, &:focus-visible {
    background-color: var(--blue-500);
    color: white;
  }
  &[data-disabled] {
    color: var(--paragraph-color-50);
    background-color: var(--button-hover-color);
    cursor: default;
  }
}
.selected {
  color: var(--heading-color);
}