:root {
  --background-color: var(--light-foreground-color);
  --foreground-color: var(--light-backdrop-color);
  --text-color: var(--light-heading-color);
  --subtitle-color: var(--light-paragraph-color);
  --button-background: var(--blue-500);
  --button-hover: var(--blue-600);
  --footer-color: var(--neutral-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-foreground-color);
    --foreground-color: var(--dark-background-color);
    --text-color: var(--dark-heading-color);
    --subtitle-color: var(--dark-paragraph-color);
    --footer-color: var(--neutral-700);
    --button-background: var(--blue-500);
    --button-hover: var(--blue-600);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.modal {
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 780px;
  min-width: 450px;
  height: 480px;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  justify-content: space-between;
}

.modalIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  gap: 28px;
  text-align: center;
  margin-bottom: 28px;
}

.modalTitle {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color);
}

.modalSubtitle {
  margin: 0px 20px;
  color: var(--subtitle-color);
  font-size: 15px;
  line-height: 1.5;
}

.modalFooter {
  margin-left: -25px;
  margin-right: -25px;
  padding: 24px 24px 0;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.doneButton {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--button-background);
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.doneButton:hover {
  background: var(--button-hover);
}
