.label {
  color: var(--label-color);
  line-height: 1;
  font-size: var(--text-14);
}

.description {
  color: var(--paragraph-color);
  margin-top: 8px;
  line-height: 1.5;
  font-size: var(--text-14);
}
