.root {
    padding: 24px 0;
    font-size: 14px;
  
    .label {
      margin-top: 24px;
      color: var(--label-color);
      line-height: 1;
    }
  
    .description {
      color: var(--paragraph-color);
      margin-top: 8px;
      line-height: 1.5;
    }
  }
  