.root {
	display: flex;
	position: relative;
	grid-area: view;
	flex-direction: column;
	padding: 30px;
	gap: 15px;
	overflow-y: scroll;
	overflow-x: hidden;

	h3 {
		font-size: 24px;
		font-weight: 700;
	}

	h5 {
		color: $bt-base-text;
		font-weight: 700;
		font-size: 18px;

		span {
			color: $bt-blue;
		}
	}

	h6 {
		font-size: 18px;
		font-weight: 400;
		color: $bt-light-text;
	}

	@include mobile {
		background: white;
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		z-index: 300;
		padding-top: 30px;
		&[data-modal='false'] {
			display: none;
		}

		[data-modal='true'] {
			display: flex;
		}
	}
}

.modalButton {
	display: none;
	@include mobile {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		border: none;
		background: none;
		line-height: 20px;
		color: $bt-grey-text;
		gap: 10px;
		padding: 0;
		margin-bottom: 15px;

		&:hover {
			color: #2f80ed;
		}
	}
}

.description {
	color: $bt-grey-text;
	span {
		color: $bt-blue;
		margin-left: 5px;
		&:hover {
			cursor: pointer;
		}
	}
}

.pills {
  display: block;
	position: relative;
	white-space: nowrap;
  
	div {
		display: flex;
    flex-direction: row;
    white-space: nowrap;
		position: relative;
		margin: 0px -30px;
    padding-left: 30px;
		gap: 5px;
    overflow-x: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.pill {
	display: inline-block;
	position: relative;
	display: flex;
	align-items: center;
  white-space: nowrap;
	height: 34px;
	padding: 6px 12px;
	border: 1px solid $bt-border-grey;
	border-radius: 50vh !important;
	background: white;
	text-align: center;
	color: $bt-blue;
	font-size: 14px;

	&:hover {
		cursor: pointer;
		background-color: $bt-off-white;
	}
}

.stats {
	display: flex;
	flex-direction: column;

	.statLine {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
		gap: 8px;
		color: $bt-light-text;

		> p {
			color: $bt-light-text;
			margin-left: 5px;
		}

		img {
			width: 14px;
			height: 24px;
		}

		> div {
			display: flex;
			align-items: center;
			gap: 3px;
			flex-direction: row;

			img {
				width: 16px !important;
			}
		}
	}
}

.statLink {
	display: flex;
	border-radius: 2px;
	transition: 0.2s;
	line-height: 0;
	padding: 0px 5px;

	&:hover {
		cursor: pointer;
		opacity: 1;
		background: $bt-button-background;
	}
}

.sectionRoot {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sectionItem {
	display: flex;
	flex-direction: row;
	// background: #F8F8F8;
	padding: 10px 20px;
	border-radius: 12px !important;
	border: 1px solid #c7c7c7;
	gap: 20px;
	h5 {
		font-size: 16px;
		margin: 0;
	}

	h6 {
		font-size: 14px;
	}

	span {
		text-transform: capitalize;
	}
}

.sectionInfo {
	display: flex;
	gap: 5px;
	flex-direction: column;
	flex: 1;
}

.enrolled {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	font-weight: 600;
	gap: 10px;
}
