// This file includes custom styling and variants for buttons.
// https://react-bootstrap.github.io/getting-started/theming/

.btn {
  @include font-size-responsive(16px);
}

.btn-sm {
  @include font-size-responsive(14px);
}

@mixin themed-bt-button($color, $background, $border, $hover) {
  @include themed('color', $color);
  @include themed('background-color', $background);
  @include themed('border-color', $border);

  &:hover {
    @include themed('color', $color);
    @include themed('background-color', $hover);
    cursor: pointer;
  }
}

.btn-bt-primary {
  @include themed-bt-button('primary-highlight', 'primary', 'primary', 'primary-faded');
}

.btn-bt-primary-inverted {
  @include themed-bt-button('primary-inverted-highlight', 'primary-inverted', 'primary-inverted-highlight', 'primary-inverted-faded');
}

.btn-bt-danger {
  @include themed-bt-button('danger-highlight', 'danger', 'danger', 'danger-faded');
}

.btn-bt-danger-inverted {
  @include themed-bt-button('danger-inverted-highlight', 'danger-inverted', 'danger-inverted-highlight', 'danger-inverted-faded');
}


//deprecate
.btn-bt-lg {
  font-size: 18px;
  line-height: 1.5;
  border-radius: 0.3rem;

  @include mobile {
    font-size: 1rem;
  }
}

//deprecate
.btn-bt-md {
  font-size: 16px;
  line-height: 1.5;
  border-width: 2px;
  border-radius: 0.3rem;
}

.btn-bt-border {
  height: 35px;
  background-color: $bt-white;
  font-size: 16px;
  border: 0.5px solid $bt-light-border-grey;
  box-sizing: border-box;
  border-radius: 4px;
}
