
// bootstrap button theming
.btn-bt-primary {
  color: $bt-white;
  background-color: $bt-primary;
  border-color: $bt-primary;
  border-width: 1px;
  border-radius: 4px;

  transition: 0.2s;

  &:hover {
    color: $bt-white;
    cursor: pointer;
    background-color: $bt-primary-background;
  }

  a {
    color: inherit;
  }
}

.btn-bt-primary-inverted {
  color: $bt-primary;
  background-color: $bt-white;
  border-color: $bt-border-grey;

  border-width: 1.5px;
  border-radius: 4px;
  transition: 0.2s;

  &:hover {
    background-color: $bt-button-background;
    color: $bt-primary;
    cursor: pointer;
  }

  a {
    color: inherit;
  }
}

.btn-bt-banner {
  color: $bt-primary;
  background-color: $bt-white;
  border-color: $bt-border-grey;
  border-width: 1.5px;

  &:hover {
    color: $bt-primary;
    background-color: $bt-button-background;
  }
}

.btn-bt-red-inverted {
  color: $bt-indicator-red;
  background-color: $bt-white;
  border-color: $bt-border-grey;
  border-width: 2px;
  padding: 10px 20px;

  transition: 0.3s;

  &:hover {
    color: $bt-indicator-red;
    background-color: $bt-button-background;
    border-color: $bt-border-grey;
  }

  a {
    color: inherit;
  }
}

.btn-bt-blue-inverted {
  color: $bt-indicator-blue;
  background-color: $bt-white;
  border-color: $bt-border-grey;
  border-width: 2px;
  padding: 10px 20px;

  transition: 0.3s;

  &:hover {
    color: $bt-indicator-blue;
    background-color: $bt-button-background;
    border-color:$bt-border-grey;
  }

  a {
    color: inherit;
  }
}

.btn-bt-lg {
  font-size: 18px;
  line-height: 1.5;
  border-radius: 0.3rem;

  @include mobile {
    font-size: 1rem;
  }
}

.btn-bt-md {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 0.3rem;
}

.btn-bt-border {
  height: 35px;
  background-color: $bt-white;
  font-size: 16px;
  border: 0.5px solid $bt-light-border-grey;
  box-sizing: border-box;
  border-radius: 4px;
}

.as-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
