$bt-white:                 #FFFFFF;
$bt-off-white:             #F8F8F8;
$bt-light-border-grey:	   #EAEAEA;
$bt-border-grey:           #C7C7C7;
$bt-light-grey:            #A0A0A0;
$bt-grey:                  #B83A4B;
$bt-black:                 #000000;
$bt-button-background:     #8e9fc81c;
$bt-primary-background:    #53565A;

$bt-footer:                #FFFFFF;

$bt-blue:                  #8C1515;
$bt-green:                 #18DE83;
$bt-pink:                  #F85386;
$bt-yellow:                #FFFF00;

$bt-indicator-red:         #FC7676;
$bt-indicator-squash:      #DE5F18;
$bt-indicator-orange:      #FFA414;
$bt-indicator-yellow:      #ECD71C;
$bt-indicator-green:       #18D869;
$bt-indicator-blue:        #2F80ED;

// text colors
$bt-white-text:            #FFFFFF;
$bt-light-text:            #8A8A8A;
$bt-grey-text:             #535353;
$bt-base-text:             #383838;

$bt-primary:               #8C1515;



.bt-indicator-red {
  color: $bt-indicator-red !important;
}

.bt-indicator-orange {
  color: $bt-indicator-orange !important;
}

.bt-indicator-yellow {
  color: $bt-indicator-yellow !important;
}

.bt-indicator-green {
  color: $bt-indicator-green !important;
}
