$bt-white:                 #FFFFFF;
$bt-off-white:             #F8F8F8;
$bt-border-grey:           #C7C7C7;
$bt-light-grey:            #A0A0A0;
$bt-grey:                  #5C5C5C;
$bt-black:                 #000000;

$bt-footer:                #FFFFFF;

$bt-blue:                  #579EFF;
$bt-green:                 #18DE83;
$bt-pink:                  #F85386;
$bt-yellow:                #FFFF00;

$bt-indicator-red:         #FC7676;
$bt-indicator-squash:      #DE5F18;
$bt-indicator-orange:      #FFA414;
$bt-indicator-yellow:      #ECD71C;
$bt-indicator-green:       #18D869;

// text colors
$bt-white-text:            #FFFFFF;
$bt-light-text:            #8A8A8A;
$bt-grey-text:             #535353;
$bt-base-text:             #383838;