.enrollment-first-third {
  color: $bt-indicator-green !important;
}

.enrollment-second-third {
  color: $bt-indicator-orange !important;
}

.enrollment-last-third {
  color: $bt-indicator-red !important;
}