.grade-A {
  color: $bt-indicator-green;
}

.grade-B {
  color: $bt-indicator-yellow;
}

.grade-C {
  color: $bt-indicator-orange;
}

.grade-D {
  color: $bt-indicator-squash;
}

.grade-F {
  color: $bt-indicator-red;
}