.bt-navbar {

  @include mobile {
    top: 22vh;
    .navbar-light .navbar-toggler {
      border: none;
    }

    button.navbar-toggler.collapsed {
      border: none;
    }
    button.navbar-toggler {
      border: none;
    }
  }

  border-bottom: 1.5px solid $bt-light-border-grey;

  .navbar-brand, .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 16px;
    color: $bt-base-text;
    transition: 200ms;
    margin: 0 4px;
    transition: .2s;
    border-radius: 6px;

    &:hover {
      background-color: $bt-button-background;
      color: $bt-primary;
    }

  }

  .navbar-brand {
    font-size: 18px;
    font-weight: 700;
    padding: .5rem 10px;

    @include mobile {
      padding: 0;
    }

  }
}
