.bt-navbar {
  border-bottom: 1.5px solid $bt-light-border-grey;

  .navbar-brand, .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 16px;
    color: $bt-base-text;
    transition: 200ms;
    margin: 0 6px;
    transition: .5s;
    border-radius: 6px;

    &:hover {
      background-color: $bt-button-background;
    }

  }

  .navbar-brand {
    font-size: 18px;
    font-weight: bold;
    padding: .5rem 10px;
  }
}
