.bt-navbar {
  @include touch {
    button.navbar-toggler, button.navbar-toggler.collapsed {
      border: none;
    }
  }

  border-bottom: 1.5px solid $bt-light-border-grey;

  .navbar-brand, .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 16px;
    color: $bt-base-text;
    transition: 200ms;
    border-radius: 6px;

    &:hover {
      background-color: $bt-button-background;
      color: $bt-primary;
    }
  }

  .navbar-brand {
    font-size: 18px;
    font-weight: 700;
    padding: .5rem 10px;

    @include touch {
      padding: 0;
    }
  }
}

/// when the banner is open, the navbar will be positioned
/// at the top of the app-container instead of fixed to the
/// top of the viewport
.bt-navbar-banner {
  position: absolute;
}