.root {
  padding: 24px;
  background-color: var(--slate-50);
  min-height: 100%;
  font-size: 14px;

  .label {
    margin-top: 24px;
    color: var(--slate-400);
    line-height: 1;
  }

  .description {
    color: var(--slate-500);
    margin-top: 8px;
    line-height: 1.5;
  }
}