.button {
  display: flex;
  height: 32px;
  padding: var(--space-1, 4px) var(--space-3, 12px);
  align-items: center;
  gap: var(--space-2, 8px);
  color: white !important;
  background-color: var(--blue-500) !important;

  &:hover {
    background-color: var(--blue-hover) !important;
  }

  &.invalid {
    background: var(--background-color) !important;
    cursor: default;
    color: var(--paragraph-color) !important;
  }
}
