.content {
  width: 128px;
  background-color: red;
  height: 128px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
  z-index: 999;

  .item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    height: 32px;
    color: var(--paragraph-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;

    &:hover {
      background-color: var(--button-hover-color);
    }
  }
}

.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  @media (width <= 992px) {
    position: absolute;
    inset: 0;
    background-color: var(--background-color);
    z-index: 3;
  }

  .header {
    padding: 24px 24px 12px;
    background-color: var(--foreground-color);

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
    }

    .group {
      display: flex;
      align-items: center;
      gap: 12px;

      .bookmark.active {
        color: var(--blue-500);
        border-color: color-mix(in srgb, currentColor 10%, transparent);
        background-color: color-mix(in srgb, currentColor 10%, transparent);
      }

      .like.active {
        color: var(--rose-500);
        border-color: color-mix(in srgb, currentColor 10%, transparent);
        background-color: color-mix(in srgb, currentColor 10%, transparent);
      }
    }

    .heading {
      font-size: 24px;
      line-height: 1.25;
      font-weight: 700;
      color: var(--heading-color);
      margin-bottom: 8px;
    }

    .description {
      font-size: 16px;
      line-height: 1.5;
      color: var(--paragraph-color);
      margin-bottom: 16px;
    }
  }

  .menu {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--foreground-color);
    padding: 12px;
    align-items: center;
  }
}