@use "../../../mixins" as *;

.root {
  flex-shrink: 0;
  height: 32px;
  background-color: var(--backdrop-color);
  padding: 12px;
  display: flex;
  align-items: center;
  color: var(--foreground-color);

  @media (width <= 992px) {
    display: none;
  }

  .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray-700);
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    transition: color 100ms ease-in-out;

    @include dark-mode {
      color: var(--gray-300);
    }

    &:hover {
      color: var(--gray-900);

      @include dark-mode {
        color: var(--gray-100);
      }
    }
  }

  .text {
    color: var(--gray-700);
    font-size: var(--text-12);

    @include dark-mode {
      color: var(--gray-300);
    }
  }
}
