.root {
  flex: 1 1 0;
  display: flex;
  min-height: 0;
  color: var(--heading-color);

  .view {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    max-width: 78%;

    .header {
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      padding: 2rem 2rem 0 2rem;

      .buttons-group {
        display: flex;
        gap: 0.625rem;

        .filter-button-container {
          position: relative;
          display: inline-block;

          .filter-button {
            &[data-open="true"] {
              background-color: var(--button-active-color);
            }
          }

          .filter-button-badge {
            position: absolute;
            top: -6px;
            right: -6px;
            background-color: var(--blue-500);
            color: white;
            border-radius: 12px;
            min-width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--text-12);
            font-weight: bold;
            padding: 0 6px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .panel {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 27%;
  }

  @media (width > 600px) {
    .panel {
      border-right: 1px solid var(--border-color);
    }

    .view {
      flex-grow: 1;
    }
  }

  @media (width <= 600px) {
    .panel {
      flex-grow: 1;
    }
  }
}

.semester-blocks {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
  padding: 2rem;
  gap: 2rem;
}

.semester-layout {
  display: flex;
  gap: 0.75rem;

  &[data-layout="grid"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* exactly 2 columns */
    grid-auto-flow: row; /* fill rows first */
    gap: 10px;
  }
}

.sortMenu {
  cursor: pointer;
  align-items: center;
  background-color: transparent !important;

  .option {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: flex-start;
    padding: 6px 14px;
  }

  .circle {
    width: 1.125rem;
    height: 1.125rem;
    border: 1.5px solid #c7c7c7;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .dot {
      width: 0.5175rem;
      height: 0.5175rem;
      background-color: var(--blue-500);
      border-radius: 50%;
    }
  }

  .input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.menuText {
  padding-left: 10px;
}

.menuItem {
  &:hover {
    background-color: var(--button-hover-color) !important;
    .menuText {
      color: var(--heading-color);
    }
  }

  &.selected {
    background-color: var(--button-active-color);
    .menuText,
    .menuIcon {
      color: var(--heading-color);
    }
  }
}

.filters-dropdown {
  width: max-content;
  padding: 16px;
  padding-top: 0px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

  .label-count {
    color: var(--label-color);
  }
  .filter-option-text {
    &[data-selected="true"] {
      color: var(--heading-color);
    }

    &[data-selected="false"] {
      color: var(--paragraph-color);
    }
  }

  .sectionTitle {
    font-size: var(--text-14);
    font-weight: var(--font-medium);
    margin-top: 12px;
  }
}
