.body {
    display: flex !important;
    justify-content: start !important;
}
.content {
    display: flex;
    flex: 1;
    /* padding: 16px; */
    overflow: auto;
    box-sizing: border-box;
}
  
.semester-layout {
    margin: 32px;
}

.semester-home {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    justify-content: flex-start; /* Align content to the top */
    align-items: flex-start; /* Align content to the left */
    /* width: auto;  */
    /* min-width: 240px;  */
    height: 100vh; /* Make the panel span the full height of the viewport */
    position: fixed; /* Fix the panel to the left side of the page */
    top: 0;
    left: 0;
    /* padding: 16px;  */
    z-index: 1000; /* Ensure it stays above other elements */
}

.semester-blocks {
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 12px;
    width: 100vw;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    position: relative;
    top: 50px;

  
}

.semester-title {
position: fixed; /* Fix the position */
  top: 32px; /* Align it to the top */
  left: 314px; /* Offset to account for the fixed side panel */
  padding-left: 32px;
  z-index: 100; /* Ensure it appears above other elements */
  /* width: calc(100% - 240px); Take up the remaining width after the side panel */
  color: var(--heading-color); /* Ensure consistent text styling */
  background-color: var(--foreground-color);
  width: 100%;
  font-size: 28px;
  font-style: normal;
  font-weight: 580;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.28px;
  text-align: left;
}