.root {
  flex: 1 1 0;
  display: flex;
  min-height: 0;
  color: var(--heading-color);

  .view {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;  
    overflow: hidden;
    max-width: 78%;
    scrollbar-color: var(--paragraph-color) var(--border-color, rgba(0, 0, 0, 0.10));

    .header {
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      padding: 2rem 2rem 0 2rem;

      .buttons-group {
        display: flex;
        gap: 0.625rem;
      }
    }
  }

  .panel {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-color: var(--paragraph-color) var(--border-color, rgba(0, 0, 0, 0.10));
    width: 27%;
    }

  @media (width > 600px) {
    .panel {
      border-right: 1px solid var(--border-color);
    }

    .view {
      flex-grow: 1;
    }
  }

  @media (width <= 600px) {
    .panel {
      flex-grow: 1;
    }
  }
}

.semester-blocks {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;
  padding: 2rem;
  gap: 2rem;
}

.semester-layout {
  display: flex;
  gap: 0.75rem;

  &[data-layout="grid"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* exactly 2 columns */
    grid-auto-flow: row;                   /* fill rows first */
    gap: 10px;   
  }
}