.root {
  flex: 1 1 0;
  display: flex;
  min-height: 0;
  color: var(--heading-color);

  .view {
    overflow: auto;
  }

  .panel {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 27%;

    .header {
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--border-color);
      background-color: var(--foreground-color);

      .title {
        font-size: 14px;
        font-weight: 500;
        color: var(--heading-color);
        line-height: 1;
      }
    }

    .body {
      flex-grow: 1;
      min-height: 0;
    }
  }

  @media (width > 600px) {
    &.collapsed .panel {
      display: none;
    }

    .panel {
      border-right: 1px solid var(--border-color);
    }

    .panel .header {
      display: none;
    }

    .view {
      flex-grow: 1;
    }
  }

  @media (width <= 600px) {
    .panel {
      flex-grow: 1;
    }

    &.open .panel {
      display: none;
    }

    &:not(.open) .view {
      display: none;
    }
  }
}

.semester-blocks {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  width: 100vw;
  height: 100%;
  margin: 2rem;
  gap: 2rem;
}

.semester-layout {
  display: flex;
  gap: 0.75rem;

  .year-element {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
  }
}