.root {
  flex: 1 1 0;
  display: flex;
  min-height: 0;

  .view {
    overflow: auto;
  }

  .panel {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 25%;

    .header {
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--border-color);
      background-color: var(--foreground-color);

      .title {
        font-size: 14px;
        font-weight: 500;
        color: var(--heading-color);
        line-height: 1;
      }
    }

    .body {
      flex-grow: 1;
      min-height: 0;
    }
  }

  @media (width > 992px) {
    &.collapsed .panel {
      display: none;
    }

    .panel {
      border-right: 1px solid var(--border-color);
    }

    .panel .header {
      display: none;
    }

    .view {
      flex-grow: 1;
    }
  }

  @media (width <= 992px) {
    .panel {
      flex-grow: 1;
    }

    &.open .panel {
      display: none;
    }

    &:not(.open) .view {
      display: none;
    }
  }
}

.semesterBlocks {
  overflow-x: auto;
  gap: 12px;
  width: 100vw;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  position: relative;
  top: 50px;
}

.semesterLayout {
  margin: 32px;
  display: flex;
  gap: 12px;
}

.yearElement {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
