$breakpoint: 660px;

.root {
  background-color: var(--foreground-color);
}

.wrapper {
  padding: 0 40px;
}

.getInvolvedBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  font-size: var(--text-18);
  padding: 40px 0;
  box-sizing: border-box;

  @media (max-width: $breakpoint) {
    flex-direction: column;
    gap: 16px;
  }
}

.getInvolvedTitle {
  flex: 1;
  min-width: 180px;

  @media (max-width: $breakpoint) {
    min-width: unset;
  }
}

.heading {
  color: var(--heading-color);
  font-size: 32px;
  font-weight: var(--font-medium);
  line-height: 1.25;
}

.description {
  margin-top: 8px;
  max-width: 400px;
  font-size: var(--text-16);
  color: var(--paragraph-color);
  line-height: 1.5;

  @media (max-width: $breakpoint) {
    display: none;
  }
}

.accordion {
  flex: 1;
  max-width: 680px;

  @media (max-width: $breakpoint) {
    max-width: 100%;
  }
}
