
//
// CatalogList Component
//
.catalogListRoot {
	display: flex;
	grid-area: list;
	flex: 1;
	position: relative;
	flex-direction: column;
	border-right: 1.5px solid #eaeaea;
	height: calc(100% + 37px);
	overflow: auto;
	overflow-x: hidden;

	@include media(mobile, tablet) {
		top: -37px;
	}
}

