.graphView {
	display: grid;
	width: 100%;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	@include media(tablet) {
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr;
	}
}

.simpleGraphView {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
