.login-container {
  min-height: 300px;
  height: 100vh;

  .login {
    padding-top: $bt-navbar-height;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logout {
    padding-top: $bt-navbar-height;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}