.placeholder {
  color: var(--paragraph-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 24px;
  gap: 16px;
  font-size: var(--text-16);

  .heading {
    font-weight: var(--font-medium);
    color: var(--heading-color);
    margin-bottom: 8px;
  }
}
