.root {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;

  .view {
    display: flex;
    flex: 1;
    min-height: 0;
    z-index: 1;
    overflow: auto;
    border: .5px solid var(--border-color);
    overflow: hidden;

    .week {
      flex-grow: 1;
      display: grid;
      z-index: 1;
      grid-template-columns: repeat(7, 1fr);
      position: relative;

      .day {
        position: relative;
        min-height: 225px; // 15 hours * 20px

        &:not(:last-child) {
          border-right: .5px solid var(--border-color);
        }

        .hour {
          height: 15px;
          min-height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:not(:first-child) {
            border-top: .5px solid var(--border-color);
          }
        }
      }
    }
  }
}

