.root {
  margin-top: 5vh;
  min-height: 100vh;
  margin-left: 25%;
  color: var(--heading-color);

  .body {
    position: relative;
  }

  .sidebar {
    position: absolute;
    top: 80px;
    left: -182px;
    width: 150px;
    color: var(--label-color);
  }

  .navItem {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    span {
      margin-left: 8px;
      font-weight: var(--font-semibold);
      font-size: var(--text-14);
      line-height: 18px;
      white-space: nowrap;
    }
  }

  .navItem.active {
    color: var(--heading-color);
    border-left: solid 2px var(--blue-500);
    border-radius: 0;
  }
  .navItem:hover {
    color: var(--heading-color);
  }

  h1 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 24px;
  }
}
