.root {
  padding: var(--content-padding, 40px);
  container-type: inline-size;
  max-width: var(--content-max-width, 1500px);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.heroBox {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  min-height: 550px;

  @container (width < 700px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: auto;
  }
}

.text {
  padding: 60px;
  padding-bottom: 80px;
  max-width: 700px;
  align-self: center;

  @container (width < 700px) {
    padding: 40px;
    padding-bottom: 24px;
    max-width: none;
    order: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.heading {
  font-size: 48px;
  margin-bottom: 16px;
  color: var(--dark-heading-color);
  font-weight: 600;
  line-height: 1.15;
  max-width: 700px;

  @container (width < 700px) {
    font-size: 36px;
    margin-bottom: 0;
    max-width: 430px;
  }
}

.description {
  font-size: 24px;
  color: white;
  opacity: 0.8;
  line-height: 1.5;
  font-weight: var(--font-medium);
  max-width: 800px;

  @container (width < 700px) {
    display: none;
  }
}

.towerWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding-right: 40px;

  @container (width < 700px) {
    padding-right: 0;
    height: 350px;
    order: 2;
  }
}

.campanile {
  height: 500px;
  width: auto;

  @container (width < 700px) {
    height: 100%;
  }
}
