.container {
    color: var(--foreground-color);
    width: 500px;
    flex-direction: column;
    gap: var(--L, 32px);
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
    .container {
        width: 100%; 
        color: var(--foreground-color);
    }
}