.root {  
    h1 {
      color: var(--heading-color);
      font-size: 32px;
    }
    h2 {
      color: var(--heading-color);
      text-align: center;
      font-size: 24px;
    }
    p {
      color: var(--paragraph-color);
    }
    a {
      color: #2F80ED;
    }
  }
  