// wrapper for all of bt
.app-container {
  background-color: $bt-white;
  width: 100vw;

  // we change navbar's position to absolute when the banner is open
  // so the container needs to be positioned relatively
  position: relative;

  // a viewport app sits under the navbar and takes up as much vertical space as the viewport
  // and has a minimum height of 800px (including navbar)
  .viewport-app {
    padding-top: $bt-navbar-height;
    // This looks sort of absurd but WebKit (Chrome + Safari) won't allow child
    // element's height 100% to work if the parent has a min-height but the
    // height is *not* an absolute size.
    height: 1px;
    min-height: $viewport-min-height;

    @include mobile {
      height: auto;
    }

     @include tablet {
      height: auto;
    }

  }

  .banner-visible {
    margin-top: $banner-height;
  }
}
