.class-card-list {
  .card-column {
    margin-right: -1vw;
  }

  .card.class-card {
    margin-bottom: 0px;
    width: 22vw;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 15px 15px 15px 15px;
      background-color: white;
      margin-left: 10px;
      border-radius: 0 4px 4px 0;
      min-height: 100px;

      .class-card-upper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 12px;

        .course-abbreviation {
          font-weight: bold;
        }

        .class-info {
          font-size: 12px;
        }
      }

      .class-card-lower {
        display: flex;
        justify-content: space-between;

        .delete {
          margin-top: auto;
          color: $bt-indicator-red;
          font-size: 12px;
          cursor: pointer;

          &:hover {
            color: $bt-light-grey;
          }
        }
      }
    }
  }

}
