.class-card-list {
  margin-bottom: 10px;
  min-height: 150px;

  @include touch {
    min-height: auto;

     > div {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }

  .class-card-column {
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px 0;

    .class-card-mobile {
      display: flex;

      .class-card-mobile-column {
        padding-right: 15px;
        flex-direction: row;
      }
    }

    .class-card {
      border-width: 1px;
      border-style: solid;
      @include themed('border-color', 'border-white');
      border-radius: 5px;
      padding: 15px;
      height: 130px;

      @include mobile {
        height: 200px;
        width: 300px;
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .class-card-header {
        display: flex;
        flex-direction: row;
        align-items: center;

        .class-card-square {
          width: 16px;
          height: 16px;
          border-radius: 3px;
          margin-right: 8px;
          margin-bottom: 4px;
        }

        .class-card-course {
          margin-right: auto !important;
        }

        .class-card-remove {
          
          cursor: pointer;
          opacity: .5;
          padding: 2px;
          transition: .5s;
          border-radius: 4px;

          &:hover {
            opacity: 1;
            @include themed('background-color', 'off-white');
          }

        }
      }

      .class-card-title, .class-card-options {
        @include themed('color', 'text-light');
      }

      /* magic to truncate at 2 lines lol */
      .class-card-title {
        //font-size: 16px;
        @include font-size-responsive-larger(16px);

        /* hide text if it more than N lines  */
        overflow: hidden;
        /* for set '...' in absolute position */
        position: relative;
        /* use this value to count block height */
        line-height: 1.2em;
        /* max-height = line-height (1.2) * lines max number (3) */
        max-height: 2.4em;
        /* fix problem when last visible word doesn't adjoin right side  */
        text-align: left;
        /* place for '...' */
        margin-right: -1em;
        padding-right: 1em;
      }

      .class-card-options {
        @include font-size-responsive-larger(15px);

        @include mobile {
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}
