.enrollment{
  height: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  @include mobile {
    padding: 10px;
  }

  .enrollment-search-bar {
    margin-bottom: 10px;

    > div > div {
      padding-left: 5px;
      padding-right: 5px;

      @include mobile {
        padding-top: 10px;

        .btn {
          width: 100%;
        }
      }
    }
  }
}

// EnrollmentGraph
.enrollment-graph-card {
  box-shadow: none;
  border: none;

  .enrollment-graph {
    padding: 15px 15px 0px 35px;
    min-height: 500px;

    @include mobile {
      padding: 0px 10px 0px 10px;
      text-align: center;
      overflow-x: scroll;
    }

    .enrollment-content {

      @include mobile {
        width: 500px;
        //ResponsiveContainer already sets height to 500px
        min-height: 510px;
      }

      .graph {
        height: 400px;
        padding: 15px 15px 15px 15px;
      }
      .graph-title {
          font-weight: bold;
          font-size: 20px;
      }
    }
  }
}
