.faq {
    margin: 0 auto 30px auto;
    padding-top: $bt-navbar-height;

    display: flex;
    flex-direction: column;
    align-items: center;


    .faq-heading {

        h2 {
            font-weight: bold;
            font-size: 28px;
            margin-top: 32px;
            text-align: center;
            color: $bt-base-text;
        }

        h3 {
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: $bt-light-text;
            margin-top: 8px;
        }

        .faq-heading-button{
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 64px;
        }
    }
}

.faq-question-card {
  .faq-question {
    cursor: pointer;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 8px;
    margin-bottom: 12px;
    width: 105%;
    font-weight: bold;
    color: $bt-base-text;
    .faq-question-text {
      font-size: 16px;
      line-height: 150%;

       @include mobile {
         padding-right: 50px;
       }

      .faq-question-icon {
        position: absolute;
        right: 0px;
        @include mobile {
          right: 10px;
        }

        font-size: 25px;
        color: $bt-primary;
      }
    }

  }

  .faq-answer {
    .example-collapse-text {
      font-size: 16px;
      line-height: 180%;
      margin-bottom: 30px;
      color: $bt-light-text;
      .link {
        color: $bt-primary;
      }
    }
  }

}
