.faq {
  padding-top: $bt-navbar-height;
  padding-bottom: 100px;
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .faq-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 16px;
      line-height: 150%;
      color: $bt-light-text;
      margin-bottom: 20px;
    }
  }

  .faq-question-card {
    margin-bottom: 5px;

    .faq-question {
      padding-bottom: 5px;
      border-bottom: 1px solid $bt-light-border-grey;
      width: 100%;

      cursor: pointer;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        font-weight: 600;
      }
      
      span {
        width: 24px;
        margin-left: 12px;

        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: $bt-primary;
      }
      
      .faq-question-text {
        line-height: 150%;
  
         @include mobile {
           padding-right: 50px;
         }
  
        .faq-question-icon {
          position: absolute;
          right: 0px;
          @include mobile {
            right: 10px;
          }
  
          font-size: 25px;
          color: $bt-primary;
        }
      }
    }
  
    .faq-answer {
      padding-top: 10px;

      .collapse-text {
        line-height: 180%;
      }
  
      a {
        color: $bt-primary;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
