.bt-form-page {
  padding-top: $bt-navbar-height;
  margin: 0 auto 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitted {
  height: 80vh;
}

.form-loader {
  margin-top: 50px;
}

.bt-form {

  justify-content: center;
  margin-bottom: 64px;
  max-width: 500px;

  h6, .form-label {
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
  }

  .form-group {
    margin-bottom: 40px;
  }

  h6.required, .form-label.required {
    &::after {
      color: $bt-indicator-red;
      content: ' *';
    }
  }

  p {
    color: $bt-grey-text;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

   .markdown {
    color: $bt-grey-text;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  input, textarea, select {
    overflow: visible;
    margin-right: 10px;
    border: solid 1px #cfcfcf;
    text-indent: 4px;
    color: $bt-base-text;
    border-radius: 4px;
    width: 100%;
    padding: 6px;
    display: block;
    //transition: .5s; This somehow messes up the (!) validator - the size changes during the transition
    background-color: white;

    &::placeholder{
      color: $bt-light-grey;
    }

    &:focus::placeholder {
      color: $bt-light-border-grey;
    }
  }

  .bt-question {
    margin: 0px 0 32px 0;
  }

  .was-validated .form-control:valid, .form-control.is-valid {
    border-color: $bt-blue;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%232F80ED' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  }

  .was-validated .custom-select:valid, .custom-select.is-valid {
    border-color: $bt-blue;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%232F80ED' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  .was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
    color: $bt-blue;
  }

  .was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
    border-color: $bt-blue;
  }

  .was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
    border-color: $bt-blue;
  }

  .uploaded-file-remove {
    position: absolute;
    right: 0;
    margin-right: 20px;
    padding-bottom: 3px;
    cursor: pointer;
    opacity: .5;
    transition: .5s;
    border-radius: 4px;

    &:hover {
      opacity: 1;
      background: rgba(224,185,185,.4);
    }
  }

  .uploaded-file-remove:hover {
    cursor: pointer;
  }

  .form-control:focus {
    box-shadow: 0 0 8px $bt-blue;
  }

  .invalid-feedback {
    margin-top: 8px;
  }

  textarea {
    height: 150px;
  }

  .bt-form-header {
    margin-bottom: 32px;
    > h5 {
      margin-top: 50px;
      font-weight: bold;
      color: $bt-base-text;
      font-size: 24px;

      @include mobile {
        font-size: 20px;
      }
    }

    .markdown {
      margin-top: 15px;
      width: 600px;
      @include mobile {
        width: 330px;
      }
      line-height: 1.75;
      font-size: 16px;
      color: #8A8A8A;

      h1 {
        font-size: 22px;
        color: #323232;
        margin-bottom: 7px;
      }

      h2 {
        font-size: 20px;
        color: #454545;
        margin-bottom: 7px;
      }

      h3 {
        font-size: 18px;
        color: #595959;
        margin-bottom: 7px;
      }

      h4 {
        font-size: 16px;
        color: #6c6c6c;
        margin-bottom: 7px;
      }

      p {
        font-size: 16px;
        color: #8A8A8A;
      }

      a {
        color: $bt-primary;
      }

      code {
        background-color: rgb(239, 240, 241);
        display: block;
        margin: 0;
        padding: 5px 10px;
      }
    }
  }

  .releases-heading-button.btn-toolbar {
    > input {
      overflow: visible;
      margin-right: 10px;
      border: solid 1px #cfcfcf;
      text-indent: 10px;
      color: $bt-base-text;
      border-radius: 4px;
      width: 280px;

      &::placeholder{
        color: $bt-light-grey;
      }
    }
  }
}
