.grades {

  .btn-primary:disabled {
      cursor: default;
  }

  .css-yk16xz-control:hover {
    cursor: pointer;
  }

  .disclaimer {
    .info {
      width: 1.4%;
    }
    padding-left: 50px;
    padding-top: 5px;

    p {
      display: inline;
      margin-left: 8px;
      color: $bt-light-grey;
      font-size: 14px;

      a {
        color: $bt-primary;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  height: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  @include mobile {
    padding: 10px;
  }

  .grades-search-bar {
    margin-bottom: 0;

    // row
    > div {
      // columns
      > div {
        padding-left: 5px;
        padding-right: 5px;

        @include mobile {
          padding-top: 10px;

          .btn {
            width: 100%;
          }
        }
      }
    }
  }
}

// GradesGraph
.grades-graph-card {
  box-shadow: none;
  border: none;

    .graph-content {
      .graph {
        padding: 15px 15px 15px 15px;
      }
      .graph-title {
          font-weight: bold;
          font-size: 20px;
      }
    }
}

// GradesInfoCard
.grades-card-info {
  box-shadow: none;

  .content {
      padding: 0px 15px 15px 15px;

      .class-num {
        font-weight: bold;
        font-size: 20px;
        width: fit-content;
      }

      .class-info {
        margin-top: 5px;
        color: #8F8F8F;
      }

      .class-title {
        padding-top: 5px;
        padding-bottom: 10px;
      }

      .class-avgs {
        padding: 0;

        .class-avg-stats {
          padding: 0;
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 3%;
        }

        .class-stats-name {
          color: #8F8F8F;
        }

        .class-grade {
          font-size: 18px;
          font-weight: bold;
        }

        .class-percent {
          color:gray;
          font-size: 18px;
        }
      }
  }
}
