.graph-empty {
  // min-height: inherit;
  height: 400px;
  .col-lg-8 {
    height: 400px;
  }

  .graph-empty-content {
    position: relative;
    bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: inherit;

    .graph-empty-heading {
      color: $bt-light-text;
      display: inline-block;
      font-size: 16px;
      font-weight: bolder;
      margin-top: 15px;
    }

  }

  .grades-info {
    display: flex;
    flex-direction: column;

    .info-icon {
      padding-left: 5px;
      width: 6%;
    }

    .info-text {
      line-height: 1.6;
      color: $bt-grey-text;
      font-weight: lighter;
    }

    .date {
      font-weight: bold;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-bottom: 5px;

      .square {
        background-color: $bt-border-grey;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        margin-right: 8px;
        margin-bottom: 4px;
      }

      .course {
        font-weight: bold;
        color: $bt-base-text;
        font-size: 18px;
      }
    }

    .title, .info {
      font-size: 16px;
      color: $bt-border-grey;
    }

    .title {
      margin-bottom: 5px;
    }

    .info {
      margin-bottom: 30px;
    }

    h6 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    span {
      margin-right: 5px;
    }

    .course-average, .section-average, .percentile {
      margin-bottom: 10px;
      color: $bt-border-grey;
    }
  }


}
