.releases {
  padding-top: $bt-navbar-height;
  margin: 50px auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .releases-heading {
    text-align: center;
  }

  span {
    @include font-size-responsive(16px);
    @include themed('color', 'text-light');
  }
}
