.root {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    border-top: 1px solid var(--border-color);
  }

  &.dead {
    background-color: var(--backdrop-color);
  }

  &.finals {
    background-color: var(--foreground-color);
  }

  .header {
    font-size: var(--text-12);
    line-height: 1;
    height: 32px;
    color: var(--paragraph-color);
    padding: 0 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
  }

  .body {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
}
