.root {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  height: 0;

  .view {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .header {
      padding: 0 12px;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      gap: 12px;
      
      .menu {
        display: flex;
        margin-right: auto;
      }
    }

    .boundary {
      flex-grow: 1;
      overflow: auto;
    }
  }
}