.trigger {
  position: absolute;
  z-index: 2;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--blue-500);
  font-size: 12px;

  .heading {
    font-weight: 500;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .description {
    margin-top: 4px;
    color: rgb(255 255 255 / 75%);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.content {
  border-radius: 4px;
  padding: 12px;
  background-color: var(--neutral-900);
  width: 256px;
  animation: fadeIn 100ms ease-in;
  z-index: 3;

  .arrow {
    fill: var(--neutral-900);
  }

  .divider {
    height: 1px;
    background-color: var(--neutral-700);
    margin: 12px 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1;
    color: var(--neutral-400);

    .key {
      font-weight: 500;
      color: white;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}