.apidocs {
  margin: 0 auto 30px auto;
  padding-top: $bt-navbar-height;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 900px;

  .swagger-ui div, section.models.is-open h4  {
    font-family: Inter;
  }

  .swagger-ui {
    .wrapper {
      padding: 0px;
    }

    font-family: Inter;

    .info {
      .title {
        font-size: 28px;
        font-family: Inter;
        font-weight: bold;

        small{
          display: none;
          padding: 2px;
          font-size: 10px;
          display: inline-block;
          margin: 0 0 0 5px;
          vertical-align: none;
          background: none;
          top: 0;
          vertical-align: 0;

          pre {
            margin: 0 4px;
            padding: 2px;
            font-family: Inter;
            border-radius: 10px;
            background: #c3c3c3;
            color: #fff;
          }
        }

      }

      hgroup.main {
        margin: 0 0 20px;

        a {
          display: none
        }
      }

      pre.base-url{
        display: none;
        padding: 0px;
      }
    }

    .scheme-container {
      margin: 0 0 20px;
      padding: 0 15px;
      background: #fff;
      box-shadow: none;

      .schemes>label {
        font-size: 16px;
        font-weight: 600;
      }
    }

    p {
      line-height: 1.75;
      margin: 16px 0px 0px 0px;
      font-family: Inter;
    }

    section.schemes.wrapper.block.col-12 {
      padding: 0px;
    }

    select {
      border: solid .5px #e8e8e8;
      box-shadow: none;
      padding: 8px 14px;
      margin: 10px 0;
      background: rgba(250, 250, 250, 0.2);
      font-family: 'Roboto Mono', monospace;
    }

    h4 {
        padding: 0;
        display: block;
        line-height: 1;
        text-transform: capitalize;
    }

    .opblock-tag {
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        border-bottom: none;

        p {
          color: #4f566b;
        }

    }

    .expand-operation {
      display: none;
    }

    a.nostyle span {
        font-family: Inter;
        font-weight: 600;
        font-size: 18px;
    }

    .opblock-tag-section {
        margin: 24px 0;
        &:hover {
          cursor: default;
        }
    }

    .opblock.opblock-get {
        border-color: #e7e7e7;
        background: rgba(255, 255, 255, 0);
    }


    .opblock {
        margin: 0 0 15px;
        border: 1px solid #000;
        border-radius: 4px;
        box-shadow: none;
        padding-right: 15px;

        .opblock-section-header {

          box-shadow: none;
          border-bottom: 1px solid #eaeaea;
          font-family: Inter;

          .opblock-section-header>label {
              font-size: 14px;
              text-transform: capitalize;
              font-weight: 700;
              display: flex;
              align-items: center;
              margin: 0 0 0 auto;
              font-family: Inter;
              color: #3b4151;
          }

        }

        .opblock-get {
          .opblock-summary {
            border-color: #eaeaea;
          }
        }

        .opblock-summary-path {
            a.nostyle span {
              font-size: 14px;
              color: #3b4151;
              padding: 0 8px;
              font-family: 'Roboto Mono', monospace;
            }
        }

        .opblock-summary-method {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 500;
            min-width: 64px;
            padding: 2px 1px;
            text-align: center;
            border: solid 1px #8e8eab70;
            border-radius: 20px;
            background: #fff !important;
            font-family: Inter;
            color: #3b4151;
            text-shadow: none;
            transition: .2s;

            &:hover {
              background-color: #9eb3ff2b;
            }
        }

        .opblock-summary-description {
            margin-left: 8px;
            font-size: 14px;
            font-family: Inter;
            text-align: right;
        }
    }

    .btn {
       font-size: 14px;
       font-weight: 500;
       padding: 4px 12px;
       transition: all .3s;
       border: 1px solid #c4c4c4;
       border-radius: 20px;
       background: transparent;
       box-shadow: none;
       font-family: Inter;
       color: #3b4151;
       transition: .2s ease-in-out;

       &:hover {
         box-shadow: none;
         background-color: #9eb3ff2b;
       }
   }

    .opblock.opblock-get .opblock-summary {
        border-color: #eaeaea;
    }

    button.btn.execute.opblock-control__btn {
        padding: 10px 2px;
        margin: 0 auto;
        text-align: center;
        border-radius: 4px;
    }

    button.btn.try-out__btn.cancel {
        color: #ff7474;
        border-color: #fc9c8f;

        &:hover {
          background-color: #ffafaf66;
        }
    }

    .btn-group {
        padding: 15px 20px;
    }

    textarea.curl, .opblock-body pre.microlight {
        font-size: 14px;
        line-height: 2;
        letter-spacing: .2px;
        min-height: 0px;
        margin: 0;
        padding: 10px 10px 10px 16px;
        resize: none;
        border-radius: 4px;
        background: #3c4257;
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        color: #fff;
    }

    textarea:focus {
        border: none;
    }

    .highlight-code {
      margin-bottom: 28px;
    }

    .responses-inner {
      h4 {
        font-size: 14px;
        margin: 24px 0px 12px 0px;
        font-family: Inter;
        color: #3b4151;
        font-weight: 600;
      }

      h5 {
        font-size: 14px;
        margin: 10px 0px 10px;
        font-family: Inter;
        color: #3b4151;
        font-weight: 600;
      }
    }

    h4.opblock-title {
        font-family: Inter;
        font-weight: 600;
        font-size: 16px;
    }

    button.btn.execute.opblock-control__btn {
      border-radius: 4px 0 0 4px;
    }

    table tbody tr td:first-of-type {
      font-weight: 500;
      max-width: 25%;
      font-size: 14px;
      min-width: 260px;
      font-family: 'Roboto Mono', monospace;
      padding: 10px 0;
    }

    a.tablinks  {
      font-size: 14px;
    }

    table thead tr td {
      font-size: 16px;
      border-bottom: 1px solid #eaeaea;
      font-family: Inter;
    }

    @include mobile {
      table,
      tr,
      td {
        display: block;
      }

      thead {
        display: none;
      }
    }

    td.parameters-col_description p {
      font-size: 14px;
      line-height: 1.5;
    }

    .opblock-section-header p {
        font-size: 14px;
    }

    .model-title {
        font-size: 14px;
        font-family: 'Roboto Mono', monospace;
        // text-transform: lowercase;
        color: #3b4151;
    }

    section.models {
      .model-container {
          margin: 0 20px 15px !important;
          position: relative;
          transition: all .5s;
          border: solid 1px lightgrey;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.05);
      }
    }

    .model-box {
      padding: 4px;
      background-color: rgba(255, 255, 255, 0);
    }

     table thead tr th {
      font-size: 14px;
    }

    .parameters-col_description {
      font-size: 14px;
    }

    .model {
      font-family: 'Roboto Mono', monospace;
      line-height: 1.5;
    }

    table.model tbody tr td {
      padding: 10px 0 0;
    }

    .opblock .opblock-section-header>label {
      font-size: 14px;
      text-transform: capitalize;
      font-family: Inter;
    }

    .parameter__name.required {
        font-weight: 600;
        font-size: 14px;
        font-family: 'Roboto Mono', monospace;
    }

    .parameter__in {
        font-family: Inter;
        font-style: normal;
    }

    table thead tr th {
      font-size: 16px;
    }

    .parameters-col_description input[type=text] {
      font-size: 14px;
    }

    .parameter__name.required:after {
      top: -1px;
    }

    .response-col_description__inner p {
      text-transform: capitalize;
    }

    .opblock-tag p {
      text-transform: none;
    }

    .opblock .opblock-section-header h4 {
      font-weight:600;
    }

    span.brace-open.object {
        color: #ffffff00;
    }

    .info__contact {
        display: none;
    }

    a.tablinks {
      padding: 6px 12px;
      font-size: 16px;
      border: solid 1px #eaeaea;
      border-radius: 20px;
      font-weight: 600;
      transition: .2s;

        &:hover {
          background-color: #3b41510f;
        }
    }

    .tab li:first-of-type:after {
      width: 0;
    }

    .parameters-col_description {
        font-size: 16px;
        font-family: Inter;
    }

    tr {
      font-family: Inter;
    }

    opblock-tag:hover {
        background: none;
    }

    .response-col_status .response-undocumented {
        font-size: 14px;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        color: #bebebe;

        i {
          font-style: normal;
        }
    }

    section.models h4 span {
      font-family: Inter;
      font-weight: 600;
      color: #3b4151;
      padding: 0px;
    }


    section.models {
      border: none;
      .model-container {
        margin: 10px 0;
      }
    }

    .model-container {
        margin: 10px 0;
    }


    svg {
        opacity: .4;
    }

    .model-toggle:after {
      opacity: .3;
    }

    h4.opblock-tag:hover {
      background: rgba(0,0,0,0);
      cursor: default;
    }

    section.models {
      border-bottom: none;
      border: solid 1px lightgrey;
      padding: 8px;
      border-radius: 4px;

      h4 {
        border-bottom:none;

        &:hover {
          background: none;
        }

      }
    }

    .link:link, .swagger-ui .link:visited {
      transition: none;
    }

    .info a {
      font-size: 14px;
      color: $bt-primary;
      &:hover {
        text-decoration: underline;
      }
    }

    .download-contents {
      padding: 4px 2px;
      width: 90px;
      background: #656b80;
      transition: .2s;
      
      &:hover {
        background: #868eaa;

      }
    }

  }

}
