.trigger {
  height: 32px;
  border-radius: 16px;
  background-color: var(--button-hover-color);
  color: var(--paragraph-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  user-select: none;

  .text {
    font-size: 14px;
    line-height: 1;

    .value {
      color: var(--paragraph-color);
    }
  }
}

.content {
  border-radius: 4px;
  padding: 12px;
  background-color: var(--tooltip-color);
  width: 256px;
  animation: fadeIn 100ms ease-in;
  z-index: 998;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  .arrow {
    fill: var(--tooltip-color);
  }

  .divider {
    height: 1px;
    background-color: var(--border-color);
    margin: 12px 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1;
    color: var(--neutral-400);

    .key {
      font-weight: 600;
      color: var(--tooltip-heading-color);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
