.root {
  background-color: var(--background-color);
  padding: 24px 0;
  height: 100%;
}

.header {
  margin-bottom: 16px;
}

.termSelectWrapper {
  margin-left: auto;
  max-width: 300px;
  min-width: 200px;
}

.ratingsBody {
  background-color: var(--foreground-color);
  border-radius: 8px;
  padding: 0 24px;
  border: 1px solid var(--border-color);
  min-width: 450px;
}

.ratingSection {
  padding: 24px 0;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }
}
