.root {
  background-color: var(--background-color);
  padding: 20px;
  height: 100%;
}

.header {
  margin-bottom: 16px;
}

.termSelectWrapper {
  margin-left: auto;
  width: 250px;
}

.ratingsSelectContent {
  box-shadow: none;
}

.ratingsSelectTabs {
  padding: 0;
  background-color: var(--foreground-color);
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  border-bottom: none;

  :global([role="tablist"]) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;
    background-color: var(--button-hover-color);
    padding: 2px 2px 0 2px;
    column-gap: 2px;
    row-gap: 0;
    border-radius: 0;
    box-sizing: border-box;
    align-items: stretch;
  }

  :global([role="tab"]) {
    border-radius: 4px 4px 0 0;
    padding: 6px 8px;
    min-height: 28px;
    background: transparent;
    box-shadow: none;
    color: var(--label-color);
    transition: all 100ms ease-in-out;
  }

  :global([role="tab"]:hover) {
    background-color: var(--button-hover-color);
    color: var(--heading-color);
  }

  :global([role="tab"][data-state="active"]) {
    background-color: var(--foreground-color);
    color: var(--heading-color);
    box-shadow: none;
  }
}

.ratingsBody {
  background-color: var(--foreground-color);
  border-radius: 8px;
  padding: 0 24px;
  border: 1px solid var(--border-color);
  min-width: 450px;
}

.ratingSection {
  padding: 24px 0;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }
}

.userOnlyMessage {
  margin-top: 12px;
  margin-bottom: 0;
  color: var(--label-color);
}
