.grades-graph {
  margin-top: 20px;
  max-width: 90vw;

  g.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis,
  g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis {
    opacity: 0.5;
  }

  .recharts-surface {
    @include desktop {
      height: 410px;
    }
    // don't cut off number label on widest bar in mobile view
    overflow: visible;
  }

  .recharts-default-tooltip, .grades-graph-tooltip {
    border-radius: 4px;
    border: 1px solid rgb(225, 225, 225);
  }

  .grades-graph-tooltip {
    opacity: 1 !important;
    background: white;
    text-align: left;
    padding: 12px 12px 12px 12px;

    h6 {
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
}
