.trigger {
  font-size: 14px;
  line-height: 1.5;
  color: var(--paragraph-color);
  width: fit-content;
}

.calendar, .content {
  border-radius: 4px;
  padding: 12px;
  background-color: var(--tooltip-color);
  animation: fadeIn 100ms ease-in;
  color: var(--neutral-400);
  font-size: 14px;
  z-index: 998;

  .arrow {
    fill: var(--tooltip-color);
  }
}

.calendar {
  display: flex;
  gap: 4px;

  .day {
    width: 24px;
    height: 188px;
    position: relative;

    .label {
      text-align: center;
      line-height: 1;
      margin-bottom: 4px;
    }

    .event {
      width: 100%;
      border-radius: 1px;
      background-color: white;
      position: absolute;
      left: 0;
    }
  }

  .divider {
    width: 1px;
    background-color: var(--neutral-700);
  }
}

.content {
  max-width: 256px;

  .title {
    font-weight: 500;
    color: white;
    margin-bottom: 8px;
    line-height: 1;
  }

  .description {
    line-height: 1.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}