.drawer {
  background-color: var(--background-color);
  width: 640px;
  border-left: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;

  @media (width <= 992px) {
    width: 100%;
  }
}
