.root {
  padding: 24px;
  border: 1px solid var(--border-color);
  background-color: var(--foreground-color);
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.025);
  flex-grow: 1;
  background-color: var(--foreground-color);

  .label {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 12px;
    color: var(--label-color);
  }

  .groups {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .divider {
      height: 1px;
      background-color: var(--border-color);
    }

    .group {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 14px;
      line-height: 1.5;
      gap: 24px;
      color: var(--paragraph-color);

      @media (width <= 992px) {
        flex-direction: column;
        gap: 8px;
      }

      .description {
        white-space: nowrap;
        transition: all 100ms ease-in-out;
      }

      .title {
        font-weight: 500;
        transition: all 100ms ease-in-out;

        &.active {
          color: var(--heading-color);
        }
      }
    }
  }

  .chart {
    display: flex;
    gap: 4px;
    margin-bottom: 20px;

    .bar {
      height: 16px;
      border-radius: 2px;
      overflow: hidden;
      // background-color: var(--button-color);
      transition: all 100ms ease-in-out;
      min-width: 16px;

      .progress {
        height: 100%;
      }

      &:first-child:last-child {
        border-radius: 8px;
      }

      &:first-child {
        border-radius: 8px 2px 2px 8px;
      }

      &:last-child {
        border-radius: 2px 8px 8px 2px;
      }
    }
  }
}
