.root {
  width: 384px;
  flex-shrink: 0;
  overflow: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: var(--foreground-color);
  gap: 12px;

  &:not(.block) {
    border-right: 1px solid var(--border-color);
  }

  &.block {
    width: 100%;
  }

  &.responsive {
    padding-top: 72px;
    position: absolute;
    height: 100%;
    z-index: 1;
  }
}