@use "../../mixins" as *;

.viewport {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
  max-width: 100vw;
  padding: 0 16px;
  z-index: 9999;
  outline: none;
}

.root {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 10px 12px;
  border-radius: 10px;
  background-color: var(--blue-500);
  backdrop-filter: blur(20px);
  box-shadow:
    0px 0px 9px 0px rgba(87, 87, 87, 0.2),
    0px 0px 4px 0px rgba(0, 0, 0, 0.1);

  // Animation
  &[data-state="open"] {
    animation: slideIn 1s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state="closed"] {
    animation: slideOut 1s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-swipe="move"] {
    transform: translateY(var(--radix-toast-swipe-move-y));
  }

  &[data-swipe="cancel"] {
    transform: translateY(0);
    transition: transform 200ms ease-out;
  }

  &[data-swipe="end"] {
    animation: swipeOut 100ms ease-out;
  }
}

.title {
  font-size: var(--text-14);
  font-weight: var(--font-medium);
  color: white;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 4px 12px;
  gap: 8px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: var(--text-14);
  font-weight: var(--font-medium);
  color: var(--blue-500);
  letter-spacing: -0.1px;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: var(--zinc-100);
  }

  &:active {
    background-color: var(--zinc-200);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(200px);
  }
}

@keyframes swipeOut {
  from {
    transform: translateY(var(--radix-toast-swipe-end-y));
  }
  to {
    transform: translateY(200px);
  }
}
