.root {
  --header-height: 88px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: relative;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 0;
  transition: background 1s ease-out;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1002;
}

.features {
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  margin-top: -2px;
}
