.root {
  --header-height: 88px;
  --content-max-width: 1500px;
  --content-padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: relative;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1002;
}
