.root {
  --header-height: 88px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: relative;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1002;
}

.features {
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
}
