.view {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 24px;
  position: relative;
}

.empty {
  position: absolute;
  color: var(--label-color);
  text-align: center;
  font-size: 14px;
  left: 0;
  right: 0;
  top: 25vh;
  margin-inline: auto;
  width: fit-content;
}
