{% extends "base.html" %}
{% load staticfiles %}

{% block title %}About Berkeleytime{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap-modal.min.css' %}">
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href="{% static 'css/about.css' %}">
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'js/resources/jquery-mousewheel.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".video").click(function () {
        $(this).text("");
        $(".video-embed").slideDown(300);
    });
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=114444782058053";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
});
</script>
{% endblock %}


{% block content %}
{% spaceless %}
<div id="fb-root"></div>
<div id="container">
    <div class="header-container">
        <div class="header-content">
            <h1 class="header-title">Course discovery. Simplified.</h1>
            <div class="header-subtitle">the definitive course guide at Berkeley</div>
            <div class="video">Watch the Video<i class="icon-play-circle"></i></div>
            <div class="video-embed">
                <iframe src="//player.vimeo.com/video/74359944?title=0&amp;byline=0&amp;portrait=0&amp;color=5ab2de" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a class="registration-button" href="/catalog">View Courses</a>
            <div class="fb-like" data-href="http://www.facebook.com/berkeleytime" data-width="450" data-show-faces="true" data-send="true"></div>
        </div>
    </div>

    <div class="about-content-container">
        <!-- Catalog Feature -->
        <div class="feature">
            <div class="block feature-description-container">
                <div class="feature-description">
                    <h2 class="description-title catalog"><a href="/catalog">Course Catalog</a></h2>
                    <div class="description-text">Search through 12000+ courses from the Berkeley catalog. Look up a topic you're interested in. Apply different filters for all your requirements and majors.</div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="block feature-description-container">
                <div class="feature-description">
                    <h2 class="description-title data"><a href="/grades">Grade Distributions</a> + <a href="/enrollment">Enrollment History</a></h2>
                    <div class="description-text">See graphs comparing grade distributions and enrollment history for each course and semester. Compare with other sections and courses to make the best decision.</div>
                </div>
            </div>
        </div>

        <div class="people-container">
            <div class="people-content">Berkeleytime was designed and built by a team of Cal undergraduates. Click <a href="/contact">here</a> to get in touch.</div>
        </div>
    </div>
</div>
{% endspaceless %}
{% endblock %}
