{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Friends{% endblock %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href="{% static 'css/data.css' %}">
    <link rel="stylesheet" href="{% static 'css/popover.css' %}">
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/csrf-ajax.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/underscore.min.js' %}"></script>
    <script src="{% static 'js/d3.v3.min.js" type="text/javascript' %}"></script>
    <script src="{% static 'js/jquery.popover.js" type="text/javascript' %}"></script>
    <script src="{% static 'js/bt-enroll-utils.js" type="text/javascript' %}"></script>
    <script src="{% static 'js/bt-enroll.js" type="text/javascript' %}"></script>

{% endblock %}

{% block content %}
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>

        <img src='{{profile}}' alt="some_text">
    {% for user in users %}
        <img src='http://graph.facebook.com/{{user}}/picture' alt="some_text">
    {% endfor %}
    {% for friend in friends %}
        <h1>{{friend.name}}</h1>
    {% endfor %}
{% endblock %}
