{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/register.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/font-awesome.min.css' %}">
    <style type='text/css'>
        #facebook_loading, #facebook_lightbox, #facebook_wrapper {
            font-family: "Ubuntu", "Helvetica Neue", Helvetica, sans-serif;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/csrf-ajax.js' %}"></script>
{% endblock %}

{% block content %}
    <div id='container'>
        <div class='register-box'>
            <div class="message">
                {% if error %}
                    <div class="error-short"><p>{{ error|striptags }}</p></div>
                {% else %}
                    <div class="welcome"><p><a href="/about/">What is Berkeleytime?</a></p></div>
                {% endif %}
            </div>
            <div id='register_form'>
                <span id='header'><p>Welcome</p></span>
                <form id="register" action="/register/" method="post">{% csrf_token %}
                    {{form.username}}
                    {{form.password1}}
                    {{form.password2}}
                    {{form.email}}
                    <!-- <div class='berkeleytime-link'><a href='/login'>I already have an account.</a></div> -->
                    <div class="terms">
                        <p>Submitting this form means you have read and agreed to the <a href='/legal/terms'>Terms of Service</a>.</p>
                    </div>
                <button type='submit'>Sign Up</button>
              </form>
            </div>

            <!--<fieldset>-->
                <!--<legend>Or</legend>-->
            <!--</fieldset>-->

            <!--<div id='facebook_form'>-->
                <!--<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">{% csrf_token %}-->
                    <!--<div id='fb' onclick='F.connect(this.parentNode);'>Sign up with <span id='facebook'>facebook</span></div>-->
                    <!--{% if path %}-->
                        <!--<input type="hidden" value="{{path}}" name="next" />-->
                    <!--{% else %}-->
                        <!--<input type="hidden" value="/courses/" name="next" />-->
                    <!--{% endif %}-->
                <!--</form>-->
            <!--</div>-->
        </div>
    </div>

    {% include 'django_facebook/_facebook_js.html' %}
{% endblock %}
