.root {
  max-width: 600px;
  margin: auto;
  overflow-y: scroll;
  margin-top: 0;
  height: 100%;

  .row {
    margin-top: 30px;
    display: flex;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .term {
    // flex: 40%;
    color: var(--label-color);
    text-align: center;
    margin-top: 60px;
    min-width: 200px;
  }
}
