.root {
	display: flex;
	flex-direction: column;
	background: transparent;
	overflow: hidden;

	@include media(mobile, tablet) {
		display: grid;
		position: relative;
		border-right: 1.5px solid #eaeaea;
		border-bottom: 1.5px solid #eaeaea;
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr;
		grid-template-areas:
			'toggle'
			'modal';
		padding-top: 0;
		align-items: center;

		&[data-modal='true'] {
			overflow: visible !important;
		}
	}
}

.toggle {
	display: none;

	@include media(mobile, tablet) {
		display: flex;
		width: 100%;
		grid-area: toggle;
		z-index: 200;
		justify-content: space-between;
		align-items: center;
		justify-self: center;
		padding: 5px 8px;
		background: white;
		font-size: 14px;
		gap: 10px;

		div {
			flex: 1;
		}

		button {
			font-size: 18px;
			outline: none;
			color: #8a8a8a;
			border: none;
			padding: 5px;
			background: white;
			border-radius: 50%;
			&:active,
			&:hover {
				color: $bt-blue;
			}
		}
	}
}

.search {
	@include media(mobile, tablet) {
		display: none;
	}
}

.container {
	height: 100%;
	overflow-y: overlay;

	@include media(mobile, tablet) {
		position: absolute;
		grid-area: modal;
		width: 100%;
		top: 0;
		// minus size of search bar, minus size of header
		height: calc(100vh - 47px - 57.11px);
		z-index: 50;
		background: hsla(0, 0%, 0%, 0.3);
		justify-content: center;
		align-items: center;

		&[data-modal='false'] {
			display: none;
		}

		&[data-modal='true'] {
			display: flex;
		}
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background: white;
	padding: 30px 20px 30px 30px;
	border-right: 1.5px solid #eaeaea;
	height: 100%;
	font-size: 14px;
	overflow-y: overlay;
	top: 10vh;

	@include media(mobile, tablet) {
		position: absolute;
		border-radius: 12px;
		background: white;
		width: 80%;
		height: min-content;

		&[data-modal='false'] {
			display: none;
		}

		&[data-modal='true'] {
			display: flex;
		}
	}
}

.item {
	display: flex;
	flex-direction: column;
	gap: 10px;

	p {
		font-weight: 600;
	}
}

.error {
	background: $bt-indicator-red;
	color: $bt-white;
	font-size: 14px;
	padding: 10px;
	border-radius: 6px;
	text-align: center;
}

.header {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: baseline;
	gap: 30px;
	h3 {
		font-size: 20px;
		line-height: 30px;
		font-weight: 600;
	}

	button {
		color: #2f80ed;
		transition: 0.5s;
		border: none;
		background: none;
		padding: 4px 8px;
		border-radius: 4px;
		font-size: 16px;
		&:hover {
			background: hsla(0, 0%, 92.2%, 0.6196078431);
		}
	}
}

.select {
	[class$='-multiValue'] {
		background: white;
		border: 1px solid $bt-border-grey;
		border-radius: 12px;

		:nth-child(2) {
			border-radius: 12px;
			color: hsl(0, 0%, 80%);
		}

		:nth-child(2):hover {
			background: $bt-button-background;
			color: $bt-base-text;
		}
	}

	[class$='MultiValueGeneric2'] {
		color: $bt-blue;
	}
}
