.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 24px;
  height: 100%;
  box-sizing: border-box;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--label-color);
  height: 100%;
  font-size: var(--text-16);
  font-weight: var(--font-normal);
  line-height: 1.5;
  padding: 24px 0;
  padding-top: 150px;
  text-align: center;

  .heading {
    color: var(--heading-color);
    font-weight: var(--font-medium);
    font-size: var(--text-16);
    margin-top: 24px;
    margin-bottom: 0;
  }

  .paragraph {
    color: var(--paragraph-color);
    margin: 8px 0 0;
    max-width: 448px;
    font-size: var(--text-14);
    font-weight: var(--font-normal);
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: clamp(8px, 2vw, 32px);
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
  font-weight: var(--font-semibold);
  font-size: var(--text-14);
  line-height: 20px;
  letter-spacing: -0.1px;
  color: var(--heading-color);
}

.headerCell {
  flex-shrink: 0;
  margin: 0;
  text-align: left;
  white-space: normal;
  word-break: break-word;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: clamp(8px, 2vw, 32px);
  min-height: 120px;
  padding: 12px 8px;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}

.cell {
  flex-shrink: 0;
  margin: 0;
  font-weight: var(--font-normal);
  font-size: var(--text-14);
  line-height: 20px;
  letter-spacing: -0.1px;
  color: var(--paragraph-color);
  text-align: left;
  white-space: normal;
  word-break: break-word;
}

.ccn {
  width: 50px;
}

.time {
  width: 180px;
}

.location {
  width: 120px;
}

.waitlist {
  width: 60px;
}

.enrolled {
  width: 90px;
}

.timeText {
  width: 100%;
  white-space: normal;
  word-break: break-word;
}
