.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.headerCell {
  padding: 8px;
  font-weight: var(--font-semibold);
  font-size: var(--text-14);
  line-height: 20px;
  letter-spacing: -0.1px;
  color: var(--heading-color);
  text-align: left;
  vertical-align: top;
  white-space: normal;
  word-break: break-word;
}

.row {
  height: 120px;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }
}

.cell {
  padding: 12px 8px;
  font-weight: var(--font-normal);
  font-size: var(--text-14);
  line-height: 20px;
  letter-spacing: -0.1px;
  color: var(--paragraph-color);
  vertical-align: top;
  text-align: left;
  white-space: normal;
  word-break: break-word;
}

.ccn {
  width: 50px;
}

.time {
  width: 180px;
}

.location {
  width: 120px;
}

.waitlist {
  width: 60px;
}

.enrolled {
  width: 90px;
}

.timeText {
  width: 100%;
  white-space: normal;
  word-break: break-word;
}

.locationLink {
  color: var(--blue-500);
  text-decoration: none;
  transition: color 100ms ease-in-out;
  font-weight: var(--font-medium);

  &:hover {
    color: var(--blue-hover);
  }
}
