.colorDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.colorDotOutline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  border: 1.5px solid var(--paragraph-color);
}

