.root {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &[data-size="lg"] {
    max-width: 1280px;
  }

  &[data-size="md"] {
    max-width: 1152px;
  }

  &[data-size="sm"] {
    max-width: 1024px;
  }
}
