.root {
  width: 384px;
  border-right: 1px solid var(--border-color);
  flex-shrink: 0;
  background-color: var(--background-color);
  padding: 12px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}