.content {
  width: 128px;
  background-color: red;
  height: 128px;
}

.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @media (width <= 992px) {
    position: absolute;
    inset: 0;
    background-color: var(--foreground-color);
    z-index: 3;
  }

  .view {
    flex-grow: 1;
    overflow: auto;
  }

  .header {
    padding: 24px 24px 12px;
    background-color: var(--foreground-color);

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
    }

    .group {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .heading {
      font-size: 24px;
      line-height: 1.25;
      font-weight: 700;
      color: var(--heading-color);
      margin-bottom: 8px;
    }

    .description {
      font-size: 16px;
      line-height: 1.5;
      color: var(--paragraph-color);
      margin-bottom: 16px;
    }
  }

  .menu {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--foreground-color);
    padding: 0 12px 12px;
    align-items: center;
  }
}