@use "@/mixins" as *;

.root {
  flex-shrink: 0;
  height: 32px;
  background-color: var(--backdrop-color);
  padding: var(--space-3);
  display: flex;
  align-items: center;
  color: var(--foreground-color);

  .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  .link {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    color: var(--gray-700);
    text-decoration: none;
    padding: var(--space-1) var(--space-2);
    border-radius: 4px;
    transition: color 100ms ease-in-out;

    @include dark-mode {
      color: var(--gray-300);
    }

    &:hover {
      color: var(--gray-900);

      @include dark-mode {
        color: var(--gray-100);
      }
    }
  }

  .text {
    color: var(--gray-700);
    font-size: var(--text-12);

    @include dark-mode {
      color: var(--gray-300);
    }
  }

  .closeButton {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--gray-700);
    display: flex;
    align-items: center;
    padding: var(--space-1);
    border-radius: 4px;
    transition: color 100ms ease-in-out;
    margin-left: 8px;

    @include dark-mode {
      color: var(--gray-300);
    }

    &:hover {
      color: var(--gray-900);
      background-color: var(--button-hover-color);

      @include dark-mode {
        color: var(--gray-100);
      }
    }
  }
}
