.info {
  width: 100%;
  color: var(--paragraph-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 12px;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }

  .classInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 1000px) {
      display: none;
    }

    .heading {
      font-weight: var(--font-medium);

      .course {
        color: var(--heading-color);
        font-size: var(--text-18);
        display: inline-flex;
        align-items: center;
        gap: 8px;
      }
    }

    .classTitle {
      font-size: var(--text-16);
      color: var(--paragraph-color);
    }

    .metadata {
      font-size: var(--text-16);
      color: var(--paragraph-color);
    }
  }

  .compactTitle {
    display: none;

    @media (max-width: 1000px) {
      display: inline-flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 12px;
      flex-wrap: wrap;

      .compactTitleLeft {
        display: inline-flex;
        align-items: center;
        gap: 8px;
      }

      .compactCourseTitle {
        color: var(--heading-color);
        font-size: var(--text-18);
        font-weight: var(--font-medium);
      }

      .compactMetadata {
        font-size: var(--text-16);
        color: var(--paragraph-color);
      }
    }
  }

  .label {
    font-weight: var(--font-normal);
    color: var(--heading-color);
    font-size: var(--text-14);
  }

  .value {
    font-size: var(--text-14);
    color: var(--paragraph-color);
  }

  .metricGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 1000px) {
      flex-direction: row;
      gap: 24px;
      align-items: center;
    }
  }

  .metric {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
