.trigger {
  font-size: 14px;
  line-height: 1;
  user-select: none;
}

.content {
  border-radius: 4px;
  padding: 12px;
  background-color: var(--neutral-900);
  box-shadow: 0 4px 64px var(--gray-200);
  color: var(--neutral-400);
  max-width: 256px;
  font-size: 14px;
  animation: fadeIn 100ms ease-in;

  .arrow {
    fill: var(--neutral-900);
  }

  .title {
    font-weight: 500;
    color: white;
    margin-bottom: 8px;
    line-height: 1;
  }

  .description {
    line-height: 1.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}