.title {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: var(--text-14);
  font-weight: var(--font-medium);
  color: var(--orange-500);
  line-height: 1;
  flex-grow: 1;

  .icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: var(--orange-500);
    color: white;
  }
}

.icon {
  color: var(--red-500);
}

.description {
  font-size: var(--text-16);
  line-height: 1.5;
  color: var(--paragraph-color);
}

.heading {
  font-size: 24px;
  font-weight: 660;
  font-feature-settings:
    "cv05" on,
    "cv13" on,
    "ss07" on,
    "cv12" on,
    "cv06" on;
  line-height: 1.25;
  color: var(--heading-color);
}

.cover {
  border-radius: 8px 8px 0 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.class {
  border-radius: 0 0 8px 8px;
  border-top: unset;
  height: unset;
}
