@import "../utils.less";
@import "../standard.less";

@main-font: 'Open Sans', sans-serif;

@graph-height: 475px;
@graph-padding: 20px;
@graph-margin: 10px;

html {
    width: 100%;
    .background("../img/berkeley.jpg");
}

body {
    height: 100%;
    .font(@main-font, 300);
}

@container-width: 960px;
#container {
    display: block;
    width: @container-width;
    height: 100%;
    margin: 0 auto;
    padding-top: 25px; //TODO (Yuxin) Fix padding such that its correct for 0 or 3 selections
}

@select-block-color: white;
@select-input-height: 28px; //of the entire select block
@select-block-height: @select-input-height + 15px;
@select-block-padding-left: 20px;
@select-block-padding-right: 10px;
@select-block-left-border: 15px;
@select-input-between: 20px;
@section-block-height: @select-block-height;
@section-text-height: @section-block-height - 17px;
@select-margin-bottom: 10px;

@add-button-width: @select-input-height + 2px;
@section-button-width: @add-button-width;
#section_select, .section-container {
    display: block;
    width: @container-width - (@select-block-padding-left + @select-block-padding-right);
    padding: 0 @select-block-padding-right 0 @select-block-padding-left;
    background-color: white;
    // font-family: @main-font;
}

.section-container {
    margin: 5px 0;
    line-height: @section-block-height;
    font-size: @section-text-height;
    width: @container-width - (@select-block-padding-left + @select-block-padding-right) - @select-block-left-border;
    border-left: @select-block-left-border solid white;

    cursor: pointer;

    @section-detail-padding: 10px;
    @section-divider-margin: 5px;
    @section-detail-min-width: 120px;
    span {
        display: inline-block;
        min-width: @section-detail-min-width;
        padding: 0 @section-detail-padding;

        position: relative; //set up for absolutely positioned :after;

        &:after {
            content: '';
            display: block;
            width: 0;
            height: @section-block-height - @section-divider-margin * 2;

            position: absolute;
            right: 0;
            top: @section-divider-margin;

            border-right: 1px solid #999;
        }

        &:last-of-type {
            &:after {
                border-right: none;
            }
        }
    }

    .section-info {
        background-color: white;
    }

    .section-controls {
        display: block;
        float: right;
        margin-top: 3px;
        vertical-align: middle;

        .section-remove-button, {
            display: inline-block;
            height: @section-button-width;
            line-height: @section-button-width;
            width: @section-button-width;

            cursor: pointer;

            font-size: @section-button-width;

            &:hover {
                color: #AAA;
            }
        }
    }
}

#section_select {
    margin: @select-margin-bottom 0;

    background-color: @select-block-color;

    .select_container {
        display: inline-block;
        width: ((@container-width - (@select-block-padding-left + @select-block-padding-right)) - @select-input-between * 4 - @add-button-width) / 4;
        padding: (@select-block-height - @select-input-height) / 2 0;

        margin-right: @select-input-between;

        // Apply styles via containerCssClass option
        .select_wrapper {
            height: @select-input-height;
        }
    }

    .select-button {
        display: block;
        float: right;
        height: @add-button-width;
        width: @add-button-width;
        vertical-align: middle;

        margin: 4px 0;

        cursor: pointer;

        font-size: @add-button-width;

        &:hover {
            color: #AAA;
        }
    }
}

.loading {
    img {
        display: inline-block;
        height: 24px;
        width: 24px;
    }
    text-align: center;
    margin: 200px auto 0 auto;
}

.add-message {
    font-size: 16px;
    text-align: right;
    width: 100%;
}

#graph_container {
    display: inline-block;

    width: @container-width;
    margin-right: @graph-margin;

    background-color: @select-block-color;
}

.popover.popover-bottom {
    .wrap {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border-width: 2px;
    }
    .content {
        font-size: 12px;
    }
}
