@import "data.less";
@import "../standard.less";

@background-gray: #f3f3f3;

@course-title-height: 25px;
@course-title-font-size: 16px;
@course-subtitle-height: 12px;
@course-average-height: 27px;

@course-average-top-margin: 5px;
@average-box-bottom-margin: 10px;

@secret-height: 70px;
//first average-box contains course-subtitle
@top-average-box-height: @course-title-height + @course-subtitle-height + @course-average-top-margin + @course-average-height + @average-box-bottom-margin;
@bottom-average-box-height: @top-average-box-height - @course-subtitle-height;
@grade-info-height: (@info-height - @secret-height - @info-padding - @top-average-box-height - @bottom-average-box-height - @grade-info-top-border-width) / 3;

@grade-info-top-border-width: 5px;
@grade-info-width: @info-width;
@grade-info-letter-height: 50px;
@grade-info-letter-width: 80px;
@grade-info-padding-left: @grade-info-width * 20px / 100px; // 10%
@grade-info-detail-line-height: @grade-info-letter-height / 2;

@percentile-offset: 5px;
@percentile-height: (@grade-info-height - @grade-info-letter-height) / 2 - @percentile-offset - 10px;
@percentile-margin: 0px;
@grade-info-padding-top: (@grade-info-height - @grade-info-letter-height - @percentile-height - @percentile-offset) * 4px/8px;
@grade-info-padding-bottom: (@grade-info-height - @grade-info-letter-height - @percentile-height - @percentile-offset) * 4px/8px;
@graph-width: @container-width * 70/100;

@info-width: @container-width - @graph-width - @graph-margin;
@info-height: @graph-height;
@info-padding: 10px;

.ad-container--grades {
    margin-top: 10px;
}

#container {
    padding-top: 10px; /* Override Bootstrap.js */
}

#info {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

    // no padding on top
    padding: @info-padding;
    padding-top: 0;

    width: @info-width - @info-padding * 2;
    height: @info-height - @info-padding;

    background-color: @select-block-color;

    // secrets
    @border-width: 1px;
    #secret_info_container {
        height: auto;
        width: @info-width;
        overflow: show;
        margin-left: -@info-padding;

        @banner-height: 15px;
        .secret-banner {
            .text-with-divider(@color: rgba(0, 0, 0, 0.1));
            color: rgba(0, 0, 0, 0.4);
            .line-height(12px, 11px);
            text-transform: uppercase;
            text-align: center;


            // overrides
            margin-bottom: .95em;
            margin-top: 0.25em;
        }

        border-bottom: @grade-info-top-border-width solid @background-gray;        
    }

    .average-box {
        display: block;
        width: 100%;
        margin-bottom: @average-box-bottom-margin;
        .title {
            .height(15px, 12px);
        }
        .title-container, .subtitle, .average {
            display: block;
            width: 100%;
        }

        .title-container {
            .height(@course-title-height, @course-title-font-size);
            .ellipsis-overflow();

            .title, .card-link {
                display: inline-block;
            }

            .card-link {
                font-size: 12px;
                .dark-link(@berkeleytime-blue);
                cursor: pointer;
                margin-left: 10px;
            }
        }

        .subtitle {
            .height(@course-subtitle-height, @course-subtitle-height);
            .ellipsis-overflow();
        }

        .average {
            margin-top: @course-average-top-margin;

            //Take up entire info box
            width: @info-width - @info-padding;
            margin-left: -@info-padding;
            padding-left: @info-padding;
            overflow: show;
            .height(@course-average-height, @course-average-height - 13px)

        }
    }

    #in_depth_grades {

        // font-family: @main-font;
        position: relative;

        .grade-info {
            display: block;
            height: @grade-info-height - @grade-info-padding-top - @grade-info-padding-bottom;

            width: @info-width - @info-padding - @grade-info-padding-left;
            margin-left: -@info-padding;
            padding: @grade-info-padding-top 0 @grade-info-padding-bottom 0;
            padding-left: @info-padding + @grade-info-padding-left;

            &:first-child {
                border-top: @grade-info-top-border-width solid @background-gray;
            }

            &:first-child, &:last-child {
                color: #999;
            }

            position: relative; // to set up for absolute positioning of percentiles

            .percentile-container {
                position: absolute;
                left: @percentile-offset;
                bottom: @percentile-offset;
                padding-left: 10px;
            }

            .percentile {
                display: inline-block;
                .height(15px, 12px);

            }

            .grade {
                display: inline-block;

                .height(@grade-info-letter-height, @grade-info-letter-height);

                width: @grade-info-letter-width;
            }

            .grade-detail {
                display: inline-block;
                height: 50px;
                line-height: 25px;
                font-size: 20px;
                margin-left: 20px;
            }
        }
    }
}

#graph_container {
    width: @graph-width - @graph-padding * 2;
    height: @graph-height - @graph-padding * 2;
    padding: @graph-padding;

    margin-bottom: 20px;

    .axis path, .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .axis text {
        // font-family: @main-font;
        font-size: 14px;
        color: black;
    }

    line.y {
        stroke: #ccc;
    }

}

.welcome {
    margin-top: 100px;
}
