.dialog-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: fixed;
    inset: 0;
    z-index: 1000;
    
  }
  
  .dialog-content {
    z-index: 1010;
    //background-color: white;
    border-radius: 8px;
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 8px;
    min-height: 200px;
    /* max-height: 90%; */
    max-height: 100%;
    overflow-y: auto;
  }
  
  .dialog-title {
    color: var(--Primary-Text, #000);
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 580;
    line-height: 24px; 
    letter-spacing: -0.2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-self: stretch; */
    border-bottom: 1px var(--border-color);
    background: var(--Hover-Primary, #F8F8F8);
    padding: var(--M, 24px);
    box-sizing: border-box;

  }
  
  .dialog-description {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .dialog-close {
    width: 100%;
    padding: var(--M, 24px);
  }

  .divider-line {
    height: 1px;
    background-color: lightgray;
    margin: 10px 0;
  }

  .primary.custom-class {
    margin: var(--M, 24px);
    width: calc(100% - 2 * var(--M, 24px));
    box-sizing: border-box;
  }

  .RadioGroupRoot {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.RadioGroupItem {
	background-color: white;
	width: 20px;
	height: 20px;
    padding: 0;
	border-radius: 100%;
    border-color: #C7C7C7;
}
.RadioGroupItem:hover {
	background-color: lightgray;
}
.RadioGroupItem:focus {
	box-shadow: 0 0 0 2px black;
}

.RadioGroupIndicator {
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 0 !important;
	width: 100%;
	height: 100%;
	position: relative;
}
.RadioGroupIndicator::after {
	content: ""; /* Ensures the pseudo-element is created */
	display: block;
	width: 12px; /* Adjust size of inner circle */
	height: 12px;
	border-radius: 50%;
	background-color: black; /* Color for inner circle */
	position: absolute; /* Ensures it’s positioned correctly */
	top: 50%; /* Center vertically */
	left: 50%; /* Center horizontally */
	transform: translate(-50%, -50%); /* Adjust to align with center */
}

.info {
  color: var(--Secondary-Text, #8A8A8A);
  /* Web UI/Heading/Heading Caps */
  font-size: 12px;
  font-style: normal;
  font-weight: 580;
  line-height: 14px; /* 116.667% */
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 8px;
  /* padding-left: var(--S, 16px); */
}

.requirement-select {
  width: calc(100% - 2 * var(--M, 24px));
  text-align: start;
}

.Label {
	color: black;
	font-size: 15px;
	line-height: 1;
	padding-left: 15px;
}

.reqBox {
  /* background-color: white; */
  border-radius: var(--XXS, 4px);
  border: 1px solid var(--Gray-2, #C7C7C7);
  background: var(--White, #FFF);
  width: 100%;
  color: black;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.reqOptions {
  color: black;
  width: 100%;
}

.reqOptionsBox {
  background-color: white;
  width: 100%;
}

input {
  background-color: white;
  color: black;
  border: none;
  border-radius: var(--XXS, 4px);
  display: flex;
  padding: var(--XS, 8px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.separate {
  /* margin-top: 16px;
  margin-bottom: 16px; */
  width: 100%;
  height: 1px;
  background-color: lightgray;
  /* margin: 10px 0; */
}

.sections {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: var(--S, 16px);
}

.dialog-icon {
  width: 16px !important;
  height: 16px !important;
  font-size: 16px !important;
  color: var(--Secondary-Text, #8A8A8A);
}

.s1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
