.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    background-color: var(--foreground-color);

    .group {
      display: flex;
      align-items: center;
      padding: 12px;
      flex: 1;
      gap: 12px;

      &:not(:last-child) {
        border-right: 1px solid var(--border-color);
      }

      .paragraph {
        font-size: 12px;
        line-height: 1;
        color: var(--paragraph-color);
      }

      .heading {
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: var(--heading-color);
        flex-grow: 1;
      }
    }
  }

  .body {
    display: flex;
    flex-grow: 1;
    height: 0;

    .panel {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 0;

      &:not(:last-child) {
        border-right: 1px solid var(--border-color);
      }

      .context {
        display: flex;
        justify-content: space-between;
        height: 32px;
        flex-shrink: 0;
        padding: 0 12px;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--backdrop-color);

        .data {
          font-size: 12px;
          color: var(--paragraph-color);
          line-height: 1;
        }
      }

      .view {
        overflow: auto;
        flex-grow: 1;
      }
    }
  }
}
