.trigger {
  border: solid 1px var(--border-color);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  color: var(--paragraph-color);
  cursor: pointer;
  outline: none;

  &.foreground {
    background-color: var(--foreground-color);
  }

  &:focus {
    border-color: var(--blue-500);
    width: 100%;
  }

  &.selected {
    color: var(--heading-color);
  }

  &.disabled {
    color: var(--paragraph-color-50);
    border-color: var(--border-color);
    cursor: default;
  }
}

.content {
  background-color: var(--foreground-color);
  border: solid 1px var(--border-color);
  border-radius: 4px;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-color: var(--label-color) var(--foreground-color);
}

.sectionLabel {
  padding: 8px 12px 4px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--label-color);
  user-select: none;
  pointer-events: none;
  cursor: default;
  line-height: 1;
  text-align: left;
}

.addOption {
  color: var(--paragraph-color);
  cursor: pointer;
  border-top: solid 1px var(--button-active-color);
  padding: 12px 24px;
  margin: 2px;
}
