.root {
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  gap: 8px;

  .group {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: 48px;
    background-color: var(--foreground-color);
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px;

    &:has(.input:focus) {
      outline: 4px solid color-mix(in srgb, var(--blue-500) 25%, transparent);
      border-color: var(--blue-500);
    }

    .icon {
      color: var(--label-color);
      display: grid;
      place-items: center;
    }

    .label {
      font-size: var(--text-12);
      color: var(--label-color);
      line-height: 1;
    }

    .input {
      color: var(--heading-color);
      font-size: var(--text-14);
      height: 100%;

      &::placeholder {
        color: var(--paragraph-color);
      }
    }

    .sparksButton {
      margin: 0 -8px 0 0;
      padding: 0;

      &.active {
        color: var(--blue-500);
        background-color: color-mix(in srgb, var(--blue-500) 10%, transparent);
        border-radius: 4px;
      }
    }
  }

  .aiSearchButton {
    width: 100%;
    background-color: var(--blue-500);
    color: white;
    border: 1px solid var(--blue-500);

    &:hover {
      background-color: var(--blue-600);
      border-color: var(--blue-600);
    }
  }

  .filterButton {
    width: 100%;
    background-color: var(--foreground-color);
    color: var(--paragraph-color);
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--background-color);
    }

    &.active {
      color: var(--blue-500);
      border-color: color-mix(in srgb, var(--blue-500) 10%, transparent);
      background-color: color-mix(in srgb, var(--blue-500) 10%, transparent);
    }
  }

  @media (width > 992px) {
    &:not(.responsive) .filterButton {
      display: none;
    }
  }

  @media (width > 1400px) {
    .filterButton {
      display: none;
    }
  }
}

.responsive {
}
