{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Catalog{% endblock %}

{% block meta %}
    <meta name="description" content="Search through 8000+ courses from the Berkeley course catalog. Look up a topic you're interested in. Apply filters for all your requirements at Cal.">
    <meta name="keywords" content="berkeley, courses, classes, schedule, requirements, breadths, letters and science, engineering, chemistry, uc, majors, cal, uc berkeley">
{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap-modal.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href="{% static 'css/catalog/catalog.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/catalog/course_box.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/common/welcome.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/tour/grumble.min.css' %}">
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script type='text/javascript' src="{% static 'js/underscore.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script type='text/javascript' src="{% static 'js/course-box.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/common/frame.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/tour/Bubble.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/tour/jquery.grumble.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/tour/tour.js' %}"></script>

    <script type='text/javascript' src="{% static 'js/catalog/catalog-utils.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/catalog/catalog.js' %}"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var courseID;
        var defaultFilterString = "{{ default_playlists|escapejs }}";
        var promotions = JSON.parse("{{ promotions|escapejs }}");
        {% if default_course %}
            courseID = "{{ default_course }}";
        {% endif %}
    </script>
    <div id="container">
        <div class="container-inner content-outer-container">
            <div class="breadcrumbs">
                <div class="info"><span class="breadcrumb-text">Showing classes in categories:</span></div>
            </div>

            <div class="tabs">
                <ul class='nav nav-tabs'>
                    <li class='tab tab1 active' data-color='0e5e9d'><a href='#tabs1' data-toggle='tab'><img src="{% static 'css/img/tabs/req_tab.png' %}"></a></li>
                    <li class='tab tab2' data-color='0a71af'><a href='#tabs2' data-toggle='tab'><img src="{% static 'css/img/tabs/dept_tab.png' %}"></a></li>
                    <li class='tab tab3' data-color='1E85C1'><a href='#tabs3' data-toggle='tab'><img src="{% static 'css/img/tabs/logistics_tab.png' %}"></a></li>
    <!--                <li class='tab tab4' data-color='61AADA'><a href='#tabs4' data-toggle='tab'><img src="{% static 'css/img/tabs/time.png' %}"></a></li> -->
                    <li class='tab tab5' data-color='89BBE2'><a href='#tabs5' data-toggle='tab'><img src="{% static 'css/img/tabs/favorites_tab.png' %}"></a></li>
                </ul>
            </div><div class="column left">
                <div class="tab-content">
                    <div class='tab-pane active' id="tabs1">
                        <input class='narrow' id='narrow_req' type='text' name='narrow' placeholder="Narrow filters...">
                        <div class="filter-list" data-tabs='data' id='req'>
                            <ul>
                                {% if university %}
                                <li class="header">University</li>
                                    {% for filter in university %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}

                                {% if ls %}
                                <li class="header">L &amp; S Breadths</li>
                                    {% for filter in ls %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}

                                {% if engineering %}
                                <li class="header">College of Engineering H/SS</li>
                                    {% for filter in engineering %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}

                                {% if haas %}
                                <li class="header">Haas Breadths</li>
                                    {% for filter in haas %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}

                                {% if chemistry %}
                                <li class="header">College of Chem. Breadths</li>
                                    {% for filter in chemistry %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class='tab-pane' id="tabs2">
                        <input class='narrow' id='narrow_dept' type='text' name='narrow' placeholder="Narrow filters...">
                        <div class="filter-list" data-tabs='data' id='dept'>
                            {% comment %}
                                return render_to_response(
                                    "catalog.html", {
                                        'haas': haas, 'ls': ls, 'university': university, 'engineering': engineering,
                                        'chemistry': chemistry, 'custom': custom, 'level': level, 'units': units,
                                        'department': department
                                    }, context_instance = RequestContext(request)
                                )
                            {% endcomment %}
                            <ul>
                                {% if department %}
                                <li class="header">Departments</li>
                                    {% for filter in department %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class='tab-pane' id="tabs3">
                        <input class='narrow' id='narrow_logistics' type='text' name='narrow' placeholder="Narrow filters...">
                        <div class="filter-list" data-tabs='data' id='logistics'>
                            <ul>
                                {% if semester %}
                                <li class="header">Offered these semesters</li>
                                    {% for filter in semester %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}

                                {% if enrollment %}
                                <li class="header">Enrollment Information</li>
                                    {% for filter in enrollment %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}

                                {% if level %}
                                <li class="header">Class Level</li>
                                    {% for filter in level %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}

                                {% if units %}
                                <li class="header">Units</li>
                                    {% for filter in units %}
                                        <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class='tab-pane' id="tabs4">
                        <input class='narrow' id='narrow_time' type='text' name='narrow' placeholder="Narrow filters...">
                        <div class="filter-list" data-tabs='data' id='time'>
                            {% if days %}
                            <li class="header">Days of the Week</li>
                                {% for filter in days %}
                                    <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                {% endfor %}
                            {% endif %}

                            {% if length %}
                            <li class="header">Lecture Length</li>
                                {% for filter in length %}
                                    <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                {% endfor %}
                            {% endif %}

                            {% if time_of_day %}
                            <li class="header">Time of Day</li>
                                {% for filter in time_of_day %}
                                    <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                {% endfor %}
                            {% endif %}

                            {% if time %}
                            <li class="header">Start Time</li>
                                {% for filter in time %}
                                    <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class='tab-pane' id="tabs5">
                        {% if user.is_authenticated %}
                        <input class='narrow' id='narrow_logistics' type='text' name='narrow' placeholder="Narrow filters...">
                        <div class="filter-list" data-tabs='data' id='custom'>
                            <ul>
                                <li class="header">Favorites</li>
                                {% for filter in custom %}
                                    <li class='searchable selectable filter' data-category='{{filter.category}}' id='{{filter.id}}'>{{filter.name}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <div class='favorite-ad-container'>
                            <i class='icon-rocket'></i>
                            <div class="favorite-ad"><a class="favorite-link" href="/login">Sign In</a> or <a class="favorite-link" href="/register">Register</a> to save a course to your favorites.</div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div><div class="column center">
                <input class='narrow-course' id='narrow_req' type='text' name='narrow' placeholder="Search courses...">
                <select class='sort' id='sort_criteria'>
                    <option value='grade_average'>Sort by: Average Grade</option>
                    <option value='favorite_count'>Sort by: Most Favorited</option>
                    <option value='abbreviation'>Sort by: Department Name</option>
                    <option value='open_seats'>Sort by: Open Seats</option>
                    <option value='enrolled_percentage'>Sort by: Enrolled Percentage</option>
                </select>
                <div class="course-loading"><img src="{% static 'css/img/loading.gif' %}"></div>
                {% comment %}
                    We're calling this section "course-secret" because anything with "ad" would get adblock-blocked.
                {% endcomment%}
                {% if ad %}
                    <div class="secret-divider">from the student community</div>
                    <div class="course-secret berkeleytime-secret" data-color="{{ad.color}}" data-url="{{ad.url}}">
                        <div class="secret-body">
                            <div class="secret-title">{{ad.title|safe}}</div>
                            <div class="secret-subtitle">{{ad.text|safe}}</div>
                            <div class="secret-footer"><a target="_blank" href="/advertise">(?)</a></div>
                        </div>
                    </div>
                    <div class="secret-divider">classes matching your filters</div>
                {% endif %}
                <div class="course-list" data-tabs='data' id='req'>

                </div>

            </div><div class="column right">
                <div class="welcome">
                    <div class="greeting"><i class="icon-book"></i></div>
                    <h1 class="welcome-subheading">Welcome to your new and improved class catalog. <a class="welcome-highlight">Take a tour</a>.</h1>
                    <h2 class="welcome-paragraph">
                        Right now, we're showing you <span class="box-breadcrumb">Upper Division</span>, <span class="box-breadcrumb">Lower Division</span>, and <span class="box-breadcrumb">Graduate</span> classes from <span class="box-breadcrumb">{{CURRENT_SEMESTER|capfirst}} {{CURRENT_YEAR}}</span>.
                    </h2>
                </div>
            </div>

            <a href="https://docs.google.com/a/berkeley.edu/forms/d/1eGJd2Vk52Y-6R9T7fY9JWzGvu9nsck6YhJWadWKfldE/viewform"  target="_blank">
                <button id="feedback-button">
                    Report a Problem
                </button>
            </a>
        </div>
    </div>
{% endblock %}
