.root {
  padding: 4px 8px;
  border-radius: 4px;
  border: solid 1px;
  font-size: var(--text-14);
  display: inline-block;
  max-width: 100%;
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
}
