.landing-blurbs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: $landing-section-gap;

  p {
    @include themed('color', 'text-light');
  }

  .desc {
    text-align: center;
    width: 450px;

    @include touch {
      width: 300px;
    }
  }

  .sponsors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    img {
      height: 150px;
      padding: 10px;
      object-fit: scale-down;

      @include touch {
        height: 100px;
      }
    }
  }
}
