.landing-blurbs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 130px;
  @include touch {
    margin-bottom: 100px;
  }

  .desc {
    text-align: center;

    h3 {
      font-size: 28px;
      font-weight: bold;
      width: 300px;
      margin: 0 auto 20px auto;
      line-height: 1.5;
    }

    p {
      margin: 0 auto 30px auto;
      width: 450px;
    }

    .sponsor-desc {
      width: 400px;
    }
  }

  .sponsors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    img {
      padding: 10px;
      max-height: 140px;
      object-fit: scale-down;
    }
  }
}
