.landing-explore {
  max-width: 900px;

  @include mobile {
    width: 300px;
  }

  margin: 25px auto $landing-section-gap;
  @extend .px-3;

  text-align: center;

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    @extend .mb-5;
  
    img {
      width: 60px;
      height: 60px;
      object-fit: scale-down;
    }
  
    p {
      width: 95%;
      color: #8a8a8a;
    }
  }
}
