.landing-explore { 
  text-align: center;

  width: 100%;
  margin-bottom: 150px;
  @include touch {
    margin: 50px 0 50px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .sections {
    width: 900px;

    @include widescreen {
      width: 1150px;
    }
  
    @include touch {
      width: 300px;
    }

    .section-col {
      display: flex;
      justify-content: center;
      align-items: center;

      .section {
        width: 275px;
        margin-bottom: 40px;
    
        > img {
          height: 70px;
          margin-bottom: 20px;
        }
  
        h3 {
          font-size: 18px;
          margin-bottom: 10px;
          font-weight: bold;
        }
    
        p {
          margin-bottom: 10px;
        }
      
        a {
          font-weight: bold;
          color: $bt-indicator-blue;
          padding-bottom: 30px;
        }
      }
    }
  }
}
