// jumbotron reserved for bootstrap
.jumbo {
  background-color: $bt-white;
  width: 100vw;

  .jumbo-heading {
    min-height: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;

    h1 {
      margin: 15px 0;
      font-size: 64px;
      font-weight: 500;

      @include touch{
        font-size: 32px;
      }
    }

    p {
      margin: 15px 3px; //3px better aligns with title
      font-size: 24px;

      @include touch{
        font-size: 20px;
      }
    }

    .jumbo-heading-buttons {
      margin: 15px 0;

      @include touch{
        flex-direction: column;
      }

      @include desktop{
        a:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }

  .jumbo-img-container {
    float: right;
    min-height: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      margin-left: 20px;
    }

    .jumbo-img {

      @include desktop {
        width: 500px;
      }

      @include touch {
        width: 300px;
      }

      @include mobile {
        width: 200px;
      }

      object-fit: scale-down;
    }
  }
}