.landing-jumbo {
  background-color: $bt-white;
  width: 100vw;
  height: 100vh;
  min-height: $viewport-min-height;

  @include mobile {
    min-height: 600px;
  }

  .container, .container > .row {
    height: 100%;
  }

  @include mobile {
    /// when collapsed the animation will have 60% height
    /// and the heading will have 40% height
    .container > .row {
      >:first-child {
        height: 40%;
      }

      >:last-child {
        height: 60%;
      }
    }
  }

  .heading {
    height: 100%;

    @include mobile {
      padding: 20px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;

    h1 {
      margin-bottom: 15px;
      font-size: 28px;
      font-weight: bold;
      color: $bt-base-text;

      @include sm-md {
        font-size: 24px;
      }

      @include xs {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    p {
      margin-bottom: 20px;
      font-size: 18px;
      color: $bt-grey-text;

      @include sm-md {
        font-size: 16px;
      }

      @include xs {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }

    .heading-buttons {
      a {
        @include sm-md {
          font-size: 16px;
        }

        @include xs {
          font-size: 14px;
        }
      }

      a:first-child {
        margin-right: 15px;

        @include touch {
          margin-right: 7px;
        }
      }
    }
  }

  .animation-container {
    width: 100%;
    height: 100%;

    @include mobile {
      padding-top: 100px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      max-width: 100%;
      width: 500px;
      object-fit: scale-down;

      @include mobile {
        width: auto;
        height: 100%;
        max-width: 80%;
      }
    }

    @keyframes upDown {
      from {
        transform: translateY(-8px);
      } to {
        transform: translateY(8px);
      }
    }

    @keyframes upDownShort {
      from {
        transform: translateY(-2px);
      } to {
        transform: translateY(2px);
      }
    }

    @keyframes upDownAll {
      from {
        transform: translateY(-4px);
      } to {
        transform: translateY(4x);
      }
    }

    #left-float {
      animation: upDown 2s ease alternate infinite;
    }

    #middle-float {
      animation: upDown 3s ease alternate infinite;
    }

    #right-float {
      animation: upDown 2s ease alternate infinite;
    }

    #everything {
      animation: upDownAll 2.5s ease alternate infinite;
    }

    #campanile, #hearst-building, #evans, #doe-library, #hearst-pond  {
      animation: upDownAll 2.5s ease alternate infinite;
    }

    #treee, #treee-2, #other-bush, #ball-bush, #tre {
      animation: upDownAll 2.5s ease alternate infinite;
    }
  }
}
