.landing {
  overflow-x: hidden;
  width: 100%;

  .modal {
    min-height: 600px;
    height: 100vh;

    .modal-icon {
      font-size: 40px;
    }

    .modal-content {
      padding: 30px;
      text-align: center;
      font-size: 25px;
      border: 0px;
      box-shadow: 0 0px 40px rgba(199, 199, 199, 0.5);

      .button.inverted {
        transition: 200ms;
        background-color: #579EFF;
        border-color: #579EFF;
        border-width: 2px;
        color: white;

        &:hover {
          background-color: white;
          color: #579EFF;
        }
      }

      .modal-cta {
        font-weight: bold;
      }

      .modal-body {
        padding: 20px 0;
      }
    }

    .modal-background {
      background-color: rgba(255, 255, 255, 0.82);
    }
  }
}
