
.accordion {
	display: flex;
    padding: var(--S, 16px); 
    gap: var(--XS, 8px);
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
}

.accordion-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--XXS, 4px);
    transition: max-height 0.3s ease, opacity 0.3s ease;
}  

.accordion-item {
    display: flex;
    align-items: flex-start;
    gap: var(--XS, 8px);
    align-self: stretch;
}
  
.icon {
    width: 20px;
    height: 20px;
    color: var(--Secondary-Text, #8A8A8A);
    transition: transform 0.3s ease;
}
.icon.expanded {
    transform: rotate(0deg);
}
.icon.collapsed {
    transform: rotate(90deg);
}