.root {
  padding: 64px 0;
  display: flex;
  border-top: 1px solid var(--border-color);
  gap: 64px;
  line-height: 1;

  .columns {
    display: flex;
    gap: 64px;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .label {
      font-size: var(--text-14);
      font-weight: var(--font-medium);
      color: var(--heading-color);
    }

    .link {
      font-size: var(--text-14);
      font-weight: var(--font-normal);
      color: var(--paragraph-color);
      transition: all 100ms ease-in-out;

      &:hover {
        color: var(--heading-color);
      }
    }
  }

  .group {
    flex-grow: 1;

    .brandGroup {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .description {
      font-size: var(--text-14);
      font-weight: var(--font-normal);
      color: var(--paragraph-color);
    }

    .brand {
      font-size: 24px;
      font-weight: 580;
      font-feature-settings:
        "cv05" on,
        "cv13" on,
        "ss07" on,
        "cv12" on,
        "cv06" on;
      color: var(--heading-color);
      cursor: pointer;
      transition: all 100ms ease-in-out;
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  font-size: var(--text-14);
  color: var(--paragraph-color);
}
