{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Reset Password{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href="{% static 'css/account/change_password_done.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".change-done-icon").slideDown("slow");
        });
    </script>
{% endblock %}


{% block content %}
<div id='container'>
    <div class='change-done-container'>
        <div class="change-done-icon" style="display: none;"><i class="icon-ok"></i></div>
        <div class="change-done-text">Password Changed.</div>
        <div class="change-done-text"><a href="/account/profile">Back to Profile</a></div>
    </div>
</div>
{% endblock %}
