#container-fluid {
   padding: 0;
}

#navbar {
  margin: 0;
}

#card {
  width: 500px;
  margin: 0 auto;
}

.input-boxes {
  width: 100%;
  padding: 0 15%;
}

#select {
  width: 120px;
  display: inline-block;
}

#account-button {
  margin: 0 auto;
}
