<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="register.css">
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid" id="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-right" id="navbar">
      <a class="navbar-brand" href="#">Berkeleytime</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Catalog <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Grades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Enrollment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Scheduler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row"><h1 style="margin: 40px auto;">BerkeleyTime</h1></div>
    <div class="card" id="card">
      <div class="card-body">
        <h4 class="card-title" style="text-align: center">Register</h4>
          <form class="input-boxes">
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Major (Optinal)">
            </div>
            <div class="form-group">
              Graduation Semester:
              <select id="select" class="form-control">
                <option>Fall 2017</option>
                <option>Spring 2018</option>
                <option>Fall 2018</option>
                <option>Spring 2019</option>
                <option>Fall 2019</option>
                <option>Spring 2020</option>
                <option>Fall 2020</option>
                <option>Spring 2021</option>
              </select>
            </div>
          </form>
          <a href="#!" class="btn btn-primary" id="account-button">Create Account</a>
      </div>
    </div>


  </div>



  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <!-- Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>


</html>
