.root {
  position: absolute;
  z-index: 2;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--blue-500);
  font-size: 12px;
  opacity: 0.5;

  &.active {
    opacity: 1;
  }

  .heading {
    font-weight: 500;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .description {
    margin-top: 4px;
    color: rgb(255 255 255 / 75%);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
