.card {
  border-radius: 4px;
  padding: 0;
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  max-width: 256px;
  animation: fadeIn 100ms ease-in;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);
}

.cardCompact {
  padding: 8px 12px;
}

.title {
  padding: 8px 12px;
  font-size: var(--text-14);
  font-weight: var(--font-medium);
  color: var(--heading-color);
  border-bottom: 1px solid var(--border-color);
  line-height: 1.2;
}

.simpleTitle {
  padding: 8px 12px;
  font-size: var(--text-14);
  font-weight: var(--font-medium);
  color: var(--heading-color);
  line-height: 1.2;
}

.description {
  padding: 12px;
  font-size: var(--text-14);
  font-weight: var(--font-normal);
  color: var(--heading-color);
  line-height: 1.5;
}

.arrow {
  fill: var(--tooltip-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
