.content {
  border-radius: 4px;
  height: 32px;
  padding: 0 12px;
  background-color: var(--tooltip-color);
  animation: fadeIn 100ms ease-in;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: white;
  display: flex;
  align-items: center;
  z-index: 998;

  .arrow {
    fill: var(--tooltip-color);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
