.card {
  border-radius: 4px;
  min-height: 32px;
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  animation: fadeIn 50ms ease-in;
  display: flex;
  align-items: center;
  z-index: 998;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 250px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);

  .arrow {
    fill: var(--tooltip-color);
  }
  .content {
    padding: 8px 12px;
    font-size: var(--text-14);
    font-weight: var(--font-normal);
    line-height: 1.8;
    color: var(--heading-color);
  }
  .description {
    width: calc(100% - 24px);
    border-top: 1px solid var(--border-color);
    color: var(--paragraph-color);
    padding: 8px 12px;
    font-size: var(--text-12);
    font-weight: var(--font-normal);
    line-height: 1.4;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
