.root {
  height: 32px;
  border-radius: 4px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  gap: 8px;
  background-color: var(--blue-500);
  color: white;
  user-select: none;

  &:hover {
    background-color: var(--blue-600);
  }

  &:active {
    background-color: var(--blue-700);
  }

  &.secondary {
    background-color: var(--button-color);
    color: var(--paragraph-color);

    &:hover {
      background-color: var(--button-hover-color);
      color: var(--heading-color);
    }

    &:active {
      background-color: var(--button-active-color);
    }
  }
}