.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--label-color);
  height: 100%;
  font-size: var(--text-16);
  font-weight: var(--font-normal);
  line-height: 1.5;
  padding: 24px 0;
  padding-top: 150px;
  text-align: center;

  .heading {
    color: var(--heading-color);
    font-weight: var(--font-medium);
    font-size: var(--text-16);
    margin-top: 24px;
  }

  .paragraph {
    color: var(--paragraph-color);
    margin-top: 8px;
    max-width: 448px;
    font-size: var(--text-14);
    font-weight: var(--font-normal);
  }

  button {
    margin-top: 24px;
    background-color: var(--foreground-color);
    font-weight: var(--font-normal);
  }
}
