.root {
  display: flex;
  align-items: center;

  padding: 0 24px;

  height: 64px;

  &:not(.standalone) {

  }

  &.standalone {

  }

  .menu {
    display: flex;
    align-items: center;
    gap: 16px;

    height: 100%;

    .item, .button {
      font-size: 16px;
      font-weight: 500;
      color: white;

      display: flex;
      align-items: center;
    }

    .item {
      height: 100%;
    }

    .button {
      height: 40px;

      border-radius: 4px;

      padding: 0 16px;
    }

    .button {
      background-color: rgba(black, 0.1);

      &:hover {
        background-color: rgba(black, 0.2);
      }
    }

    .item:hover {
      background-color: rgba(black, 0.1);
    }
  }

  .brand {
    margin-right: auto;

    font-size: 24px;
    font-weight: 700;
    color: white;
  }

  .menu {
    display: flex;
  }
}