.root {
  border-bottom: 1px solid #e2e8f0;

  height: 64px;

  padding: 0 24px;

  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .wrapper {
      padding-top: 14px;
    }

    &:not(.open) .menu {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: space-between;

    .icon {
      display: none;
    }
  }

  .wrapper {
    color: #0f172a;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand {
      color: #0f172a;
    }
  }

  &.open {
    position: fixed;

    gap: 24px;

    height: 100vh;
    width: 100%;

    z-index: 999;

    background-color: white;

    .menu {
      flex-grow: 1;

      flex-direction: column;
      align-items: stretch;
      gap: 8px;

      padding-bottom: 24px;

      .button {
        margin-top: auto;

        justify-content: space-between;
      }

      .item {
        height: 40px;

        &:hover::before {
          display: none;
        }

        &:global(.active)::before {
          height: 100%;
          width: 4px;

          left: -24px;
        }
      }
    }
  }

  &.standalone {
    border-bottom: none;

    .wrapper, .wrapper .brand {
      color: white;
    }

    .menu .item {
      color: white;

      &:hover::before {
        top: 0;

        background-color: white;
      }
    }

    .menu .button {
      background-color: rgba(black, 0.1);
    }
  }

  .brand {
    font-size: 24px;
    font-weight: 700;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 16px;

    height: 100%;

    .item, .button {
      font-size: 16px;
      font-weight: 500;

      display: flex;
      align-items: center;
    }

    .item {
      color: #0f172a;

      height: 100%;

      position: relative;

      &:hover::before, &:global(.active)::before {
        content: "";

        position: absolute;

        height: 4px;
        width: 100%;

        left: 0;
        bottom: 0;
      }

      &:hover::before {
        background-color: #0f172a;
      }

      &:global(.active) {
        color: #2f80ed;

        &::before {
          background-color: #2f80ed;
        }
      }
    }

    .button {
      color: white;

      background-color: #2f80ed;

      height: 40px;

      padding: 0 16px;

      border-radius: 4px;
    }
  }
}