@import "../utils.less";
@import "../standard.less";


.input-font(@main-font, 300);
textarea, input { outline: none; }
@border-color: #ccc;
@and-orange: #ff9b40;

#map {
    position: absolute;
    top: 25px;
    bottom: 0;
    width: 100%;
}

.block {
    display: inline-block;
    vertical-align: top;
}

.bold {
    font-weight: 600;
}

.hover-blue {
    .dark-link(@header-blue);
}

.hover-grey {
    .dark-link(#999);
}

.hover-black {
    .light-link(#000);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-color: rgba(255, 255, 255, 0.8) !important;
  .font(@main-font, 300);
  font-size: 15px;
  text-align: center;
    button {
        .font(@main-font, 300);
        margin-top: 10px;
        background-color: @berkeleytime-red;
        color: white;
        text-align: center;
        width: 100%;
        .height(30px, 12px);
        overflow: hidden;
        border: none;
        &:hover {
            background-color: darken(@berkeleytime-red, 10%);
        }
        cursor: pointer;
    }

    .leaflet-bottom.leaflet-right {
        display: none;
    }
}

@datetime-controls-height: 60px; // height of the day and time controls (not the submit control)
@datetime-controls-padding: 5px; // padding around ALL of the controls
@date-controls-margin: 5px; // responsible for separating the date from both the time and the "see berkeley at this time" button.
@datetime-controls-top-offset: 55px; // controls are absolutely positioned: this far down;
.date-controls, .time-controls, .datetime-controls-submit {
    display: inline-block;
    height: @datetime-controls-height;
    .font(@main-font, 300);
    background-color: rgba(255, 255, 255, 0.7);
    padding: @datetime-controls-padding;
}

.date-controls {
    margin-right: @date-controls-margin;
    margin-bottom: @date-controls-margin;
}

@date-controls-offset: 55px;
.datetime-controls {
    position: absolute;
    top: @date-controls-offset;
    left: @date-controls-offset;
}

@datetime-submit-offset: @datetime-controls-top-offset + @datetime-controls-height + 2 * @datetime-controls-padding + 5px;
// the submit offset has to be positioned further down than the other ones
.datetime-controls-submit {
    display: block;
    top: @datetime-submit-offset;
}

@control-color: white;
.control-field {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: black;
    .unselectable(); // since they'll be clicking on this a lot, make the text unselectable

    .control {
        background-color: white;
        color: @berkeleytime-blue;
        &:hover.prev { background-color: darken(white, 5%); }
        &:hover.next { background-color: darken(white, 5%); }
        cursor: pointer;
    }

    .field-content {
        background-color: white;

        input {
            // reset basically everything so that the input has no instrusive styles
            display: block;
            margin: 0;
            padding: 0;
            height: 100%;
            line-height: 100%;
            width: 100%;
            border: none;

            background-color: inherit;
            color: inherit;
            font: inherit;
            text-align: inherit;

            // get rid of chrome's stupid blue blur
            outline: none;
        }
    }
}

@controls-thickness: 0.22 * @datetime-controls-height; // this matters for the day control - for the time controls we want the same width
@horizontal-field-content-width: 150px; // width of theday control
@field-content-font: 18px;
.control-field.horizontal {
    .control, .field-content {
        display: inline-block;
        vertical-align: top;
    }
    .control {
        width: @controls-thickness;
        .height(@datetime-controls-height, @field-content-font);
    }

    @field-content-padding: 0.15 * @datetime-controls-height; // this is (1). (1) + (2) + (3) = 100% of datetime-controls-height
    .field-content {
        width: @horizontal-field-content-width;
        height: @datetime-controls-height - 2 * @field-content-padding;
        padding: @field-content-padding 0;
        .day, .date {
            display: block;
        }
        .day {
            .height(0.50 * @datetime-controls-height, 20px); // (2)
        }
        .date {
            .height(0.20 * @datetime-controls-height, 12px); // (3)
        }
    }
}

@time-width: 100px; // width of time selector
@ampm-width: 50px; // width of am/pm selector
.control-field.vertical {
    width: @ampm-width;
    &.time {
        width: @time-width; // override because the time needs to be wider than the am/pm control
    }
    .control {
        display: block;
        .height(@controls-thickness, 13px);
    }
    .field-content {
        display: block;
        .height(@datetime-controls-height - 2 * @controls-thickness, 22px);
    }
}

// full width of the floating day selector box (including padding):
@date-full-width: 2 * @datetime-controls-padding + 2 * @controls-thickness + @horizontal-field-content-width;

// full with of floating time/am/pm selector box (including padding):
@time-full-width: 2 * @datetime-controls-padding + @ampm-width + @time-width + @control-field-right-margin;

@time-controls-left-margin: 5px;
@control-field-right-margin: 7px;
.time-controls {
    min-width: @time-full-width - 2 * @datetime-controls-padding;
    .control-field.time {
        margin-right: @control-field-right-margin;
    }
}

// full width of date submit box (inc. padding):;
@datetime-submit-width: @date-full-width + @time-controls-left-margin + @time-full-width;
@datetime-submit-height: 30px;
.datetime-controls-submit {
    width: @datetime-submit-width - 2* @datetime-controls-padding;
    // padding is already inserted
    height: auto;

    .control-field.submit {
        display: block;
        width: @datetime-submit-width - 2 * @datetime-controls-padding;
        .height(@datetime-submit-height, 14px);

        background-color: @control-color;
        color: white;
        text-align: center;
        .dark-link(@berkeleytime-blue);
        cursor: pointer;
    }
}


@transparent-bg-color: rgba(255, 255, 255, 0.8);
@campus-info-width: 280px;
@campus-info-height: 425px;
.campus-info-container {
    position: absolute;
    right: 55px;
    top: 55px;
    width: @campus-info-width;

    z-index: 3; // the frame that hides the popup sits on z-index 1: we need this to be above that.
}

@search-vertical-margin: 10px;
.search-bar-container {
    width: 100%;
    background-color: @transparent-bg-color;
    position: relative;
}

//instantiated below for margin calculation
@search-bar-width: 0.80 * @campus-info-width;
@search-bar-left-padding: 5px;
@search-bar-right-padding: 30px;
@search-bar-border: 1px;
@search-bar-outer-width: @search-bar-width + @search-bar-left-padding +
    @search-bar-right-padding + 2 * @search-bar-border;
@search-horizontal-margin: (@campus-info-width - @search-bar-outer-width)/2;
@search-bar-vertical-padding: 5px;
@search-bar-height: 20px; //primary control for search bar
.search-bar {
    width: @search-bar-width;
    .height(@search-bar-height, 16px);
    padding: @search-bar-vertical-padding @search-bar-left-padding;
    margin: @search-vertical-margin @search-horizontal-margin;
    padding-right: @search-bar-right-padding;
    border: @border-color @search-bar-border solid;
    font-size: 14px;
}

.clear-search {
    @clear-search-line-height: @search-bar-height + 2 * @search-bar-vertical-padding + 2* @search-bar-border;
    position: absolute;
    width: 20px;
    font-weight: 400;
    line-height: @clear-search-line-height;
    font-size: 19px;
    color: grey;
    cursor: pointer;
    text-align: center;
    right: @search-horizontal-margin + 5px;
    top: @search-vertical-margin;
    display: none;
    &:hover {
        color: darken(grey, 10%);
    }
}

@result-message-height: 35px;
@building-border: 1px;
.result-message {
    .font(@main-font, 300);
    .height(@result-message-height, 14px);
    background-color: white;
    border-bottom: @border-color @building-border solid;
    padding-left: 10px;
    font-size: 12px;
    .result-message-text {
        width: 85%;
        .ellipsis-overflow();
    }
    .message-clear-search {
        width: 15%;
    }

    .default-message-text {
        .display-all-buildings {
            color: @berkeleytime-blue;
            &:hover {
                color: darken(@berkeleytime-blue, 10%);
                cursor: pointer;
            }
        }
    }
    .all-buildings-message-text {

    }

    @loading-height: 20px;
    .loading {
        position: relative;
        width: 10%;
        margin: 0 auto;
        text-align: left;
        .height(@loading-height, 20px);
        padding-top: 5px;
    }
}

@result-list-height: @campus-info-height - (@search-vertical-margin - @result-message-height) - @ad-height - @ad-topbottom-padding * 2;
.result-list {
    .font(@main-font, 300);
    overflow-y: scroll;
    overflow-x: hidden; //for non-Mountain Lion users
    max-height: @result-list-height;
    width: 100%;
    background-color: white;
}

@building-height: 45px;
@building-width: @campus-info-width;
@building-border: 1px;
.building {
    height: @building-height;
    display: block;
    @building-block-height: @building-height;
    border-bottom: @border-color @building-border solid;
    cursor: pointer;
    &:hover {
        background-color: #eee;
    }

    .building-more-info {
        width: 3px;
        height: @building-height;
        background-color: @berkeleytime-blue;
    }

    .building-text-container {
        margin-left: 10px;
        .height(@building-height, 14px);
        width: 245px; //random number

        .building-name {
            width: 100%;
        }
    }
}

@room-height: 60px;
@room-text-height: 40px;
@room-text-top-padding: (@room-height - @room-text-height)/2;
@room-width: @campus-info-width;
@room-status-width: 40px;
.room {
    &:hover, &.active {
        background-color: #eee;
    }
    height: @room-height;
    display: block;
    border-bottom: @border-color @building-border solid;
    cursor: pointer;
    .room-status {
        width: @room-status-width;
        .height(@room-height, 17px);
        text-align: center;
        i.active {
            color: @berkeleytime-red;
        }
        i.available {
            color: @berkeleytime-green;
        }
    }

    @title-height: 20px;
    @subtitle-height: 15px;
    @text-top-padding: (@room-height - @title-height - @subtitle-height)/2;
    .room-text-container {
        padding-top: @room-text-top-padding;
        height: @room-text-height;
        width: @room-width - @room-status-width - 20px; //20 px to fix the scrollbar issue on non-Mountain Lion

        .room-title {
            display: block;
            padding-top: 5px;
            .height(@title-height, 14px);
            .ellipsis-overflow()
        }
        .room-subtitle {
            display: block;
            .height(@subtitle-height, 11px);
            .ellipsis-overflow();
        }
    }
}

@grid-width: 250px;
@grid-height: 605px;

@grid-padding-sides: 20px;
@grid-padding-top: 10px;
@grid-padding-bottom: 20px;

//hour-labels
@hour-label-width: 65px;
@hour-label-padding-right: 10px;

//day
@day-height: 30px;
@day-text-size: 14px;

@grid-content-width: 163px; // have to subtract 6 for the 6 1px borders
@section-offset: 2px;

@gridline-z-index: 900;
@section-block-z-index: 910;

.grid {
    display: block;
    height: @grid-height - @grid-padding-bottom - @grid-padding-top - @day-height;
    width: @hour-label-width + @grid-content-width + 2;

    padding: @grid-padding-top @grid-padding-sides @grid-padding-bottom @grid-padding-sides;
    z-index: @gridline-z-index;

    .hour-labels {
        vertical-align: top;
        display: inline-block;
        width: @hour-label-width - @hour-label-padding-right;

        padding-right: @hour-label-padding-right;
        margin-top: @day-height + 1;
        .hour-label {
            display: block;
            width: @hour-label-width - @hour-label-padding-right;
            font-size: 11px;
            text-align: right;
            //height will be determined based on the number of hours needed
        }
    }

    .grid-content {
        vertical-align: top;
        display: inline-block;
        width: @grid-content-width;

        .day-labels {
            display: block;
            width: @grid-content-width;
            height: @day-height;

            .day-label {
                display: inline-block;
                height: @day-height;
                width: @grid-content-width;

                font-size: @day-text-size;
                line-height: @day-height;
                text-align: center;
                border-right: none;
                border-top: none;
            }
        }

        .half-hour {
            display: block;
            width: @grid-content-width;

            &:nth-child(2n) .half-hour-block {
                border-top: 1px solid #eee;
            }

            &:last-of-type .half-hour-block:last-of-type {
                border-bottom: 1px solid #bbb;
            }
            .half-hour-block {
                display: inline-block;
                width: @grid-content-width;

                border-top: 1px solid #bbb;
                border-right: 1px solid #bbb;

                overflow: visible;
                border-left: 1px solid #bbb;

                position: relative; //for schedule classes

                .section {
                    position: absolute;
                    top: @section-offset;
                    right: @section-offset;

                    cursor: pointer;

                    display: block;
                    width: @grid-content-width - 2 * @section-offset - 2;

                    background-color: pink; //default
                    z-index: @section-block-z-index;

                    .section-info {
                        text-align: center;
                        .ellipsis-overflow();
                        padding: 0 5px;
                    }

                    // heights, font-sizes, etc are calculated dynamically in the Grid
                    // object in schedule-utils.js
                }
            }
        }
    }
}

@info-height: 50px;
@info-vertical-padding: 2px;
@info-horizontal-padding: 2px;
@info-content-height: @info-height - 2 * @info-vertical-padding;
@info-width: @campus-info-width;
@info-border: 1px;
.state-info-container {
    display: block;
    height: @info-height;
    width: @info-width - 2*@info-horizontal-padding;
    padding: @info-vertical-padding @info-horizontal-padding;
    background-color: white;
    position: relative;
    border-bottom: @border-color @info-border solid;

    .data-container {
        height: 0.75 * @info-content-height;
        .state-data {
            vertical-align: top;
            display: inline-block;
            width: 50%;
            text-align: center;
            .height(0.80 * @info-content-height, 20px)
        }
    }
    .annotation-container {
        width: 100%;
        height: 0.25 * @info-content-height;
        .state-annotation {
            vertical-align: top;
            display: inline-block;
            width: 50%;
            text-align: center;
            .height(0.20 * @info-content-height, 13px);
        }
    }
}
.campus-popup {
    display: block;
    position: absolute;
    top: 55px;

    background-color: white;
    border: 1px solid #bbb;

    .triangle {
        position: absolute;
        right: -11px;
        .rotate(45deg);

        display: block;
        width: 20px;
        height: 20px;
        background-color: white;

        border-right: 1px solid #bbb;
        border-top: 1px solid #bbb;
    }
}

.welcome {
    padding: 30px 12px 30px 12px;
    background-color: white;

    .greeting{
        .height(60px, 60px);
        margin-bottom: 10px;
    }
}

// ADS ADS ADS
// ad classes are called "secret" in order to get around adblock
.secret-divider-container {
    background-color: @transparent-bg-color;
    overflow: auto;
}
.secret-divider {
    .text-with-divider(@color: rgba(0, 0, 0, 0.1), @bg-color: @transparent-bg-color);
    color: rgba(0, 0, 0, 0.4);
    .line-height(12px, 11px);
    text-transform: uppercase;
    width: 100%;
    text-align: center;

    // overrides
    margin-bottom: 0.75em;
}


.campus-secret-container {
    display: block;
    padding: 0 @search-horizontal-margin;
    background-color: @transparent-bg-color;
    overflow: auto; // to prevent margin collapse of campus-secret's bottom margin
}

.campus-secret {
    width: auto;
    margin-bottom: 10px;
}
