apiVersion: v1
kind: Service
metadata:
  labels:
    component: bt-backend-$CI_ENVIRONMENT_NAME
  name: bt-backend-$CI_ENVIRONMENT_NAME
  namespace: default
spec:
  ports:
    - name: http-bt-port
      port: 80
      protocol: TCP
      targetPort: 5000
  selector:
    component: bt-backend-$CI_ENVIRONMENT_NAME
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    component: bt-backend-$CI_ENVIRONMENT_NAME
  name: bt-backend-$CI_ENVIRONMENT_NAME
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      component: bt-backend-$CI_ENVIRONMENT_NAME
  template:
    metadata:
      labels:
        component: bt-backend-$CI_ENVIRONMENT_NAME
    spec:
      containers:
        - command:
            - /bin/sh
            - -c
            - |
              node /backend/build
          env:
            - name: NODE_ENV
              value: $CI_ENVIRONMENT_NAME
          envFrom:
            - secretRef:
                name: bt-backend-$CI_ENVIRONMENT_NAME
          image: $CI_REGISTRY_IMAGE/bt-backend:$CI_COMMIT_BRANCH
          imagePullPolicy: Always
          name: bt-backend-$CI_ENVIRONMENT_NAME
          ports:
            - containerPort: 5000
              protocol: TCP
---
apiVersion: v1
kind: Secret
metadata:
  name: bt-backend-$CI_ENVIRONMENT_NAME
  namespace: default
type: Opaque
stringData:
  EXPIRE_TIME_ACTIVATION_EMAIL: "$EXPIRE_TIME_ACTIVATION_EMAIL"
  EXPIRE_TIME_REDIS_KEY: "$EXPIRE_TIME_REDIS_KEY"
  GCLOUD_SERVICE_ACCOUNT_EMAIL: "$GCLOUD_SERVICE_ACCOUNT_EMAIL"
  GCLOUD_SERVICE_ACCOUNT_PRIVATE_KEY: "$GCLOUD_SERVICE_ACCOUNT_PRIVATE_KEY"
  KEY_APOLLO: "$KEY_APOLLO"
  KEY_BERKELEYTIME: "$KEY_BERKELEYTIME"
  KEY_SENDGRID: "$KEY_SENDGRID"
  PORT_EXPRESS: "$PORT_EXPRESS"
  SIS_CLASS_APP_ID: "$SIS_CLASS_APP_ID"
  SIS_CLASS_APP_KEY: "$SIS_CLASS_APP_KEY"
  SIS_COURSE_APP_ID: "$SIS_COURSE_APP_ID"
  SIS_COURSE_APP_KEY: "$SIS_COURSE_APP_KEY"
  URL_DISCORD_WEBHOOK: "$URL_DISCORD_WEBHOOK"
  URL_DOMAIN: "$URL_DOMAIN"
  URL_MDB: "$URL_MDB"
  URL_REDIS: "$URL_REDIS"
