.root {
  width: 384px;
  flex-shrink: 0;
  overflow: auto;
  background-color: var(--foreground-color);
  scrollbar-color: var(--label-color) var(--foreground-color);

  &:focus {
    outline: none;
  }

  @media (width <= 992px) {
    width: 100%;
  }

  .recentlyViewedSection {
    padding: 0 12px 0;
  }

  .recentlyViewed {
    .recentlyViewedList {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 12px;
    }
  }

  .sectionTitle {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--label-color);
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 0;
  }

  .catalogTitle {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--label-color);
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 0;

    .recentlyViewed + & {
      margin-top: 12px;
      padding-top: 0;
    }
  }

  .placeholder {
    color: var(--paragraph-color);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 24px 12px;
    margin-top: 72px; // Account for sticky header
    gap: 16px;
    font-size: 16px;

    .heading {
      font-weight: 500;
      color: var(--heading-color);
      margin-bottom: 8px;
    }

    .description {
      line-height: 1.5;
    }
  }

  .view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .body {
      padding: 0 12px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .skeletonContainer {
    padding: 0 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
