.root {
  display: flex;
  padding: 0 12px;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  height: 57px;

  .brand {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 580;
    font-feature-settings: 'cv05' on, 'cv13' on, 'ss07' on, 'cv12' on, 'cv06' on;
    color: var(--blue-500);
    cursor: pointer;
    transition: all 100ms ease-in-out;
    margin-right: auto;

    &:hover {
      color: var(--blue-600);
    }
  }

  .menu {
    display: flex;
    margin-right: 12px;
    z-index: 1;
  }

  &:not(.invert) {
    border-bottom: 1px solid var(--slate-200);
  }

  &.invert {
    .brand {
      color: white;

      &:hover {
        color: rgb(255 255 255 / 75%);
      }
    }

    .item {
      color: rgb(255 255 255 / 65%);

      &::after {
        background-color: rgb(255 255 255 / 10%);
      }

      &:hover {
        color: white;
      }
    }

    .button {
      background-color: white;
      color: var(--sky-500);

      &:hover {
        background-color: rgb(255 255 255 / 85%);
      }
    }
  }
}