.root {
  display: flex;
  padding: 0 12px;
  flex-shrink: 0;
  align-items: center;
  position: relative;

  .brand {
    font-size: 24px;
    line-height: 1;
    font-weight: 660;
    letter-spacing: -1%;
    color: var(--blue-500);
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
      color: var(--blue-600);
    }
  }

  .menu {
    display: flex;
    margin-right: 12px;
    margin-left: auto;
    z-index: 1;
  }

  &:not(.transparent) {
    border-bottom: 1px solid var(--slate-200);
  }

  &.transparent {
    .brand {
      color: white;

      &:hover {
        color: rgb(255 255 255 / 75%);
      }
    }

    .item {
      color: rgb(255 255 255 / 65%);

      &::after {
        background-color: rgb(255 255 255 / 10%);
      }

      &:hover {
        color: white;
      }
    }

    .button {
      background-color: white;
      color: var(--sky-500);

      &:hover {
        background-color: rgb(255 255 255 / 75%);
      }
    }
  }
}