.card {
  border-radius: 4px;
  padding: 12px;
  background-color: var(--tooltip-color);
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: var(--description-color);
  max-width: 256px;
  font-size: var(--text-14);
  animation: fadeIn 100ms ease-in;
  z-index: 998;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);
  line-height: 1.5;
}

.title {
  font-weight: var(--font-semibold);
  color: var(--tooltip-heading-color);
  margin-bottom: 8px;
  line-height: 1.2;
}

.description {
  line-height: 1.5;
}

.arrow {
  fill: var(--tooltip-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
