.group {
  border-top: 1px solid var(--border-color);
  padding-top: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .label {
    font-size: 14px;
    line-height: 1;
    display: flex;
    color: var(--label-color);

    .component {
      margin-left: 28px;
    }

    .time {
      margin-left: auto;
    }
  }
}
