.root {
  position: fixed;
  bottom: 128px;
  right: 0;
  border-radius: 4px 0 0 4px;
  z-index: 979;
  overflow: hidden;
  pointer-events: none;

  .button {
    padding: 0 16px;
    border-radius: 4px 0 0 4px;
    gap: 16px;
    height: 48px;
    transform: translateX(calc(100% - 48px));
    pointer-events: auto;
    transition: transform 150ms ease-out;

    &:hover,
    &:focus {
      transform: translateX(0);
    }
  }
}
