.content {
  position: fixed;
  left: -75px;
  z-index: 989;
  min-width: 150px;
  overflow-y: auto;
  background-color: var(--foreground-color);
  padding: 4px;
  border-radius: 8px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.content[data-side="top"] {
  animation-name: slideDownAndFade;
}
.content[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.content[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.content[data-side="left"] {
  animation-name: slideRightAndFade;
}

.item {
  font-size: var(--text-14);
  line-height: 1;
  color: var(--paragraph-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 12px;
  position: relative;
  user-select: none;
  outline: none;
}
.item:hover {
  background-color: var(--button-active-color);
}
.item[data-highlighted] {
  color: var(--heading-color);
}

/* create a little inset spacing for hover like the screenshot */
.content .item {
  margin: 2px;
  border-radius: 6px;
}

.delete {
  color: var(--red-500);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
