.root {
  flex: 1 1 0;
  display: flex;
  min-height: 0;
  position: relative;

  .view {
    overflow: hidden;
    flex-grow: 1;
    background-color: var(--foreground-color);
    position: relative;
  }

  .classContainer {
    position: absolute;
    inset: 0;
    overflow: auto;
  }

  .panel {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
  }
}

.catalogDrawer {
  width: 384px;
  background-color: var(--foreground-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  z-index: 999;
}

.drawerTrigger {
  width: 30px;
  flex-shrink: 0;
  border-right: 1px solid var(--border-color);
  cursor: pointer;
  background-color: var(--foreground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--paragraph-color);

  @media (hover: hover) {
    &:hover {
      background-color: var(--button-hover-color);
      transition: background-color 150ms ease-in-out;
    }
  }

  svg {
    width: 16px;
    height: 16px;
  }
}
