.root {
  flex: 1 1 0;
  display: flex;
  min-height: 0;

  .view {
    overflow: auto;
    background-color: var(--foreground-color);
  }

  .panel {
    display: flex;
    flex-direction: column;

    .header {
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--border-color);
      background-color: var(--foreground-color);

      .title {
        font-size: 14px;
        font-weight: 500;
        color: var(--heading-color);
        line-height: 1;
      }
    }

    .body {
      flex-grow: 1;
      min-height: 0;
    }
  }

  @media (width > 992px) {
    .panel {
      border-right: 1px solid var(--border-color);
    }

    .panel .header {
      display: none;
    }

    .view {
      flex-grow: 1;
    }
  }

  @media (width <= 992px) {
    .panel {
      flex-grow: 1;
    }

    &.open .panel {
      display: none;
    }

    &:not(.open) .view {
      display: none;
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .loadingHeader {
    height: 238.5px; // edit to match class header height
    background-color: var(--foreground-color);
    border-bottom: 1px solid var(--border-color);
  }

  .loadingBody {
    flex-grow: 1;
    background-color: var(--background-color);
  }
}
