.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-banner;
  height: $banner-height;
  padding: 2px 0;
  background-color: $bt-off-white;
  border-bottom: 1px solid $bt-light-border-grey;

  @include mobile {
    height: 22vh;
    padding: 12px 2px;
    button {
      float: right;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    height: 100%;

    > * {
      margin: 0 10px;
    }

    @include mobile {
      display: block;
      padding: 10px;
    }
  }

  > img {
    position: fixed;
    transition: .5s;
    width: 24px;
    height: 24px;
    top: 18px;
    right: 32px;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;

    &:hover {
      background: #ececec;
    }

    @include mobile {
      top: 2vh;
      right: 2vw;
    }
  }
}

.banner-closed {
  display: none !important;
}

.bt-navbar-dropped {
  top: $banner-height;
  @include mobile {
      top: 22vh;

      .bt-navbar-dropped {
        top: 22vh;
      }
  }
}
