.banner {
  width: 100vw;
  min-height: $banner-height;
  z-index: $z-index-banner;
  
  background-color: $bt-off-white;
  border-bottom: 1px solid $bt-light-border-grey;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .content {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    min-height: $banner-height;
    padding: 10px 5px;

    > * {
      margin: 0 5px;
    }

    p {
      text-align: center;
    }

    button {
      min-width: 95px;
    }
  }

  img {
    margin: 0 20px 0 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
}

.bt-navbar-dropped {
  top: $banner-height;
}
