.bt-footer {
  background-color: $bt-footer;
  border-top: 1.5px solid $bt-light-border-grey;

  .container {
    padding: 40px;

    @include sm-md {
      padding: 20px;
    }

    @include xs {
      padding: 10px;
    }

    .footer-col {
      display: flex;
      flex-direction: column;

      > *:not(:first-child):not(:last-child) {
        margin-bottom: 10px;
      }

      font-size: 16px;
      @include mobile {
        font-size: 14px;
      }

      p {
        font-size: 16px;
        color: $bt-base-text;
        margin-bottom: 20px;
      }

      a {
        color: $bt-light-grey;
        transition: 200ms;
        width: max-content;

        > :first-child:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .new-box {
        width: 48px;
        height: 24px;
        font-size: 12px;
        background-color: $bt-blue;
        border-radius: 3px;
        margin-left: 8px;
        padding: 2px 4px;
        color: #FFFFFF;

        @include mobile {
          width: 20px;
          height: 10px;
          font-size: 10px;
        }
      }
    }
  }
}
