.bt-footer {
  background-color: $bt-footer;
  border-top: 1.5px solid $bt-light-border-grey;

  .bt-footer-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 40px 80px 48px 40px;

    @include mobile {
      max-width: 330px;
      padding: 20px 0px 40px 0px;
      margin-left: 5%;

      .col-4 {
        flex: 0 0 33%;
        max-width: 33%;
      }
    }

    @include desktop {
      .col-lg-2 {
          flex: 0 0 20%;
          max-width: 20%;
      }

      .offset-lg-3 {
        margin-left: 25%;
      }

    }



    .bt-footer-column {
      display: flex;
      flex-direction: column;

      :first-child {
        margin-bottom: 10px;
      }

      > *:not(:first-child):not(:last-child) {
        margin-bottom: 8px;
      }

      font-size: 16px;
      @include mobile {
        font-size: 14px;
      }

      p {
        font-size: 14px;
        color: $bt-grey;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 600;
      }

      a {
        color: $bt-light-grey;
        transition: 200ms;
        width: max-content;

        > :first-child:hover {
          text-decoration: underline;
          cursor: pointer;
        }

      }

      .footer-link:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      .new-box {
        width: 48px;
        height: 24px;
        font-size: 12px;
        background-color: $bt-blue;
        border-radius: 3px;
        margin-left: 8px;
        padding: 2px 4px;
        color: #FFFFFF;
        font-size: 10px;
        line-height: 150%;


        @include mobile {
          width: 20px;
          height: 10px;
          font-size: 10px;
        }
      }
    }


  }
}
