footer {
  background-color: $bt-footer;
  border-top: 1.5px solid $bt-light-border-grey;

  .footer-col-container {
    display: flex;
    justify-content: center;

    .footer-col {
      display: flex;
      flex-direction: column;

      h6 {
        color: $bt-grey;
        text-transform: uppercase;
      }

      a {
        color: $bt-light-grey;

        &:hover {
          color: $bt-blue;
        }

        .footer-new {
          @include font-size-responsive(14px);

          color: $bt-white !important;
          background-color: $bt-blue;
          padding: 2px 4px;
          border-radius: 6px;
        }
      }
    }
  }
}
