.bt-footer {
  background-color: $bt-footer;
  border-top: 1.5px solid $bt-light-border-grey;

  .bt-footer-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 40px 80px 40px 40px;

    @include mobile {
      max-width: 300px;
      padding: 20px 0px 40px 0px;
      margin: 12px 10px 10px 10px;
    }

    .bt-footer-column {
      display: flex;
      flex-direction: column;

      :first-child {
        margin-bottom: 20px;
      }

      > *:not(:first-child):not(:last-child) {
        margin-bottom: 10px;
      }

      > *:not(:first-child) {
        font-size: 16px;
        line-height: 150%;

        @include mobile {
          font-size: 14px;
        }
      }

      p {
        font-size: 16px;
        color: $bt-base-text;

        @include mobile {
          font-size: 14px;
        }
      }

      a {
        font-size: 16px;
        color: $bt-light-grey;
        transition: 200ms;
        width: max-content;

        &:hover {
          cursor: default;
        }

      }

      .footer-link:hover {
        // color: $bt-grey;
        text-decoration: underline;
        cursor: pointer;
      }

      .new-box {
        width: 48px;
        height: 24px;
        background: #2F80ED;
        border-radius: 3px;
        margin-left: 8px;
        padding: 2px 4px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 150%;


        @include mobile {
          width: 20px;
          height: 10px;
          font-size: 10px;
        }
      }
    }
  }
}
