.root {
  min-height: 58px;
  background-color: rgb(248, 250, 252);
  color: #383838;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (width <= 992px) {
    display: none;
  }

  .group {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .text {
    font-size: 14px;
  }

  .close {
    color: rgb(194, 194, 194);
    border-radius: 4px; // or whatever level of roundness you want
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgb(234, 234, 234);
      cursor: pointer;
    }
  }
}
