{
  "swagger": "2.0",
  "info": {
      "title": "Class API",
      "description": "### Retrieves information about classes and associated class sections.\n\nThe interactive docs below allow you to test parameter usage and see how both requests and return payloads are formatted using the **\"Try it out\"** feature.\n\n*This feature runs against the UAT version of the API and the QAT version of the source SIS database. Remember to remove \"/uat\" from the URL to run your client against the production version.*\n\n(Please note, XML responses do *NOT* include the outermost \"payload\" node shown in this documentation; \"apiResponse\" is the outermost node. The \"payload\" node exists, unnamed, *only* in JSON responses.)",
      "version": "1.1"
  },
  "host": "gateway.api.berkeley.edu",
  "basePath": "/uat/sis",
  "schemes": [
      "https"
  ],
  "produces": [
      "application/json",
      "application/xml"
  ],
  "tags": [
      {
          "name": "class",
          "description": "resources dealing with groups of associated sections"
      },
      {
          "name": "class section",
          "description": "resources dealing with class sections"
      }
  ],
  "parameters": {
      "page-number": {
          "name": "page-number",
          "in": "query",
          "description": "The set of records to return; can be used to traverse paginated data sets.",
          "required": false,
          "type": "integer",
          "default": 1
      },
      "page-size": {
          "name": "page-size",
          "in": "query",
          "description": "The number of records returned in one paginated data set. Maximum is 100",
          "required": false,
          "type": "integer",
          "default": 50,
          "maximum": 100
      },
      "app_id": {
          "name": "app_id",
          "in": "header",
          "description": "The public ID portion of API Central credentials",
          "required": true,
          "type": "string"
      },
      "app_key": {
          "name": "app_key",
          "in": "header",
          "description": "The private key portion of API Central credentials",
          "required": true,
          "type": "string",
          "format": "password"
      }
  },
  "paths": {
      "/v1/classes": {
          "get": {
              "tags": [
                  "class"
              ],
              "summary": "Get class data",
              "description": "Returns class data, consisting of the Student/Class EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)\n***Note:** At least one of cs-course-id or term-id query parameters is required.*",
              "operationId": "getClassesUsingGET",
              "parameters": [
                  {
                      "name": "cs-course-id",
                      "in": "query",
                      "description": "The unique id for a canonical course in Campus Solutions",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "term-id",
                      "in": "query",
                      "description": "The ID uniquely identifying the term",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "session-id",
                      "in": "query",
                      "description": "The ID uniquely identifying a session within the term",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "subject-area-code",
                      "in": "query",
                      "description": "The area of academic inquiry, such as MATH or ENGLISH",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "catalog-number",
                      "in": "query",
                      "description": "The human-readable number identifying a class within a subject area, such as R1A",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "class-number",
                      "in": "query",
                      "description": "The index uniquely identifying the class among those with the specified subject area and catalog number",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "status-code",
                      "in": "query",
                      "description": "The code indicating whether the class is active or otherwise",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "enrollment-status-code",
                      "in": "query",
                      "description": "The code indicating whether the class is open for enrollment",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "waitlist-availability",
                      "in": "query",
                      "description": "Return only classes with at least one section having a waitlist, whether open or full",
                      "type": "string",
                      "enum": [
                          "open",
                          "full"
                      ],
                      "required": false
                  },
                  {
                      "name": "final-exam-code",
                      "in": "query",
                      "description": "The code indicating whether and what kind of final exam is required",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "instruction-mode-code",
                      "in": "query",
                      "description": "The code indicating whether the class is offered in-person or over the web",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "fees-exist",
                      "in": "query",
                      "description": "Whether the class requires any additional fees",
                      "type": "boolean",
                      "required": false
                  },
                  {
                      "name": "print-in-schedule",
                      "in": "query",
                      "description": "Whether the class includes any sections that are to be printed in the Schedule of Classes",
                      "type": "boolean",
                      "required": false
                  },
                  {
                      "$ref": "#/parameters/page-number"
                  },
                  {
                      "$ref": "#/parameters/page-size"
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/classPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>2dd6c690-eff8-11eb-badc-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:responseType>namespaceURI=\"http://bmeta.berkeley.edu/student/classV1.xsd\" element=\"classes\"</ar:responseType>\n  <ar:response>\n    <cls:classes>\n      <cls:class>\n        <cls:course>\n          <crs:identifiers>\n            <r:identifier>\n              <r:type>cs-course-id</r:type>\n              <r:id>103605</r:id>\n            </r:identifier>\n          </crs:identifiers>\n          <crs:subjectArea>\n            <r:code>CIVENG</r:code>\n            <r:description>Civil &amp; Environmental Eng</r:description>\n          </crs:subjectArea>\n          <crs:catalogNumber>\n            <crs:prefix/>\n            <crs:number>244</crs:number>\n            <crs:suffix/>\n            <crs:formatted>244</crs:formatted>\n          </crs:catalogNumber>\n          <crs:displayName>CIVENG 244</crs:displayName>\n          <crs:title>Reinforced Concrete Structures</crs:title>\n          <crs:transcriptTitle>REIN CON STRUC</crs:transcriptTitle>\n        </cls:course>\n        <cls:offeringNumber>1</cls:offeringNumber>\n        <cls:session>\n          <t:term>\n            <t:id>2218</t:id>\n            <t:name>2021 Fall</t:name>\n          </t:term>\n          <t:id>1</t:id>\n          <t:name>Regular Academic Session</t:name>\n        </cls:session>\n        <cls:number>001</cls:number>\n        <cls:displayName>2021 Fall CIVENG 244 001</cls:displayName>\n        <cls:classTitle/>\n        <cls:classTranscriptTitle/>\n        <cls:classDescription/>\n        <cls:primaryComponent>\n          <r:code>LEC</r:code>\n          <r:description>Lecture</r:description>\n        </cls:primaryComponent>\n        <cls:allowedUnits>\n          <cls:minimum>3</cls:minimum>\n          <cls:maximum>3</cls:maximum>\n          <cls:forAcademicProgress>3</cls:forAcademicProgress>\n          <cls:forFinancialAid>3</cls:forFinancialAid>\n        </cls:allowedUnits>\n        <cls:gradingBasis>\n          <r:code>OPT</r:code>\n          <r:description>Student Option</r:description>\n        </cls:gradingBasis>\n        <cls:contactHours>3</cls:contactHours>\n        <cls:blindGrading>false</cls:blindGrading>\n        <cls:assignedClassMaterials>\n          <cls:status>\n            <r:code/>\n            <r:description/>\n          </cls:status>\n          <cls:noneAssigned>true</cls:noneAssigned>\n          <cls:classMaterials/>\n        </cls:assignedClassMaterials>\n        <cls:instructionMode>\n          <r:code>P</r:code>\n          <r:description>In-Person Instruction</r:description>\n        </cls:instructionMode>\n        <cls:status>\n          <r:code>A</r:code>\n          <r:description>Active</r:description>\n        </cls:status>\n        <cls:anyPrintInScheduleOfClasses>true</cls:anyPrintInScheduleOfClasses>\n        <cls:anyPrintInstructors>true</cls:anyPrintInstructors>\n        <cls:anyFeesExist>false</cls:anyFeesExist>\n        <cls:finalExam>\n          <r:code>Y</r:code>\n          <r:description>Yes</r:description>\n        </cls:finalExam>\n        <cls:aggregateEnrollmentStatus>\n          <sr:status>\n            <r:code>O</r:code>\n            <r:description>Open</r:description>\n          </sr:status>\n          <sr:enrolledCount>51</sr:enrolledCount>\n          <sr:waitlistedCount>0</sr:waitlistedCount>\n          <sr:minEnroll>0</sr:minEnroll>\n          <sr:maxEnroll>85</sr:maxEnroll>\n          <sr:maxWaitlist>15</sr:maxWaitlist>\n          <sr:instructorAddConsentRequired>false</sr:instructorAddConsentRequired>\n          <sr:instructorDropConsentRequired>false</sr:instructorDropConsentRequired>\n        </cls:aggregateEnrollmentStatus>\n      </cls:class>\n    </cls:classes>\n  </ar:response>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "e6cb4f54-effd-11eb-9d67-0050568d6017", "httpStatus": { "code": "200", "description": "OK" }, "responseType": "namespaceURI=\"http://bmeta.berkeley.edu/student/classV1.xsd\" element=\"classes\"", "response": { "classes": [ { "course": { "identifiers": [ { "type": "cs-course-id", "id": "103605" } ], "subjectArea": { "code": "CIVENG", "description": "Civil & Environmental Eng" }, "catalogNumber": { "number": "244", "formatted": "244" }, "displayName": "CIVENG 244", "title": "Reinforced Concrete Structures", "transcriptTitle": "REIN CON STRUC" }, "offeringNumber": 1, "session": { "term": { "id": "2218", "name": "2021 Fall" }, "id": "1", "name": "Regular Academic Session" }, "number": "001", "displayName": "2021 Fall CIVENG 244 001", "primaryComponent": { "code": "LEC", "description": "Lecture" }, "allowedUnits": { "minimum": 3, "maximum": 3, "forAcademicProgress": 3, "forFinancialAid": 3 }, "gradingBasis": { "code": "OPT", "description": "Student Option" }, "contactHours": 3, "blindGrading": false, "assignedClassMaterials": { "status": { }, "noneAssigned": true }, "instructionMode": { "code": "P", "description": "In-Person Instruction" }, "status": { "code": "A", "description": "Active" }, "anyPrintInScheduleOfClasses": true, "anyPrintInstructors": true, "anyFeesExist": false, "finalExam": { "code": "Y", "description": "Yes" }, "aggregateEnrollmentStatus": { "status": { "code": "O", "description": "Open" }, "enrolledCount": 51, "waitlistedCount": 0, "minEnroll": 0, "maxEnroll": 85, "maxWaitlist": 15, "instructorAddConsentRequired": false, "instructorDropConsentRequired": false } } ] } } }
                      }
                  },
                  "400": {
                      "description": "Bad request",
                      "schema": {
                          "$ref": "#/definitions/errorPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>9253c317-eff9-11eb-badc-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>400</r:code>\n    <r:description>Bad Request</r:description>\n    <r:formalDescription>First operand of . is NULL, so cannot access member Fetch. (180,236)\n            UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411\n            Statement:39</r:formalDescription>\n  </ar:httpStatus>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "1be8720c-effb-11eb-9d67-0050568d6017", "httpStatus": { "code": "400", "description": "Bad Request", "formalDescription": "First operand of . is NULL, so cannot access member Fetch. (180,236) UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411 Statement:39" } } }
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not found"
                  },
                  "500": {
                      "description": "Internal server error"
                  }
              }
          }
      },
      "/v1/classes/descriptors": {
          "get": {
              "tags": [
                  "class"
              ],
              "summary": "Get allowable code/descriptor pairs for class related fields",
              "description": "Returns field names and the canonical coded values and descriptions allowed for them, in the format of the Common/FieldValueList EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)",
              "operationId": "getClassDescriptorsUsingGET",
              "parameters": [
                  {
                      "name": "field-name",
                      "in": "query",
                      "description": "The name of a particular coded field, expressed in dot notation (e.g., \"class.status\"). If this parameter is omitted, all class related fields and value lists are returned.",
                      "type": "string",
                      "required": false
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/descriptorPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>a395cdf3-effd-11eb-9d67-0050568d6017</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:response>\n    <f:fieldValueLists>\n      <f:fieldValueList>\n        <f:fieldName>class.gradingBasis</f:fieldName>\n        <f:fieldValues>\n          <f:fieldValue>\n            <r:code>CPN</r:code>\n            <r:description>CollegePNP</r:description>\n            <r:formalDescription>Pass/No Pass College Adjust</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>NGP</r:code>\n            <r:description>Rpt NR/M</r:description>\n            <r:formalDescription>Repeat of NR or M Grade</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>DPN</r:code>\n            <r:description>DefaultPNP</r:description>\n            <r:formalDescription>Default P/NP Option</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>0</r:code>\n            <r:description>0</r:description>\n            <r:formalDescription>0, Quarter/Semester</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>1</r:code>\n            <r:description>1</r:description>\n            <r:formalDescription>1, Quarter/Semester</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>2</r:code>\n            <r:description>2</r:description>\n            <r:formalDescription>2, Quarter/Semester</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>3</r:code>\n            <r:description>3</r:description>\n            <r:formalDescription>3, Quarter/Semester</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>4</r:code>\n            <r:description>4</r:description>\n            <r:formalDescription>4, Quarter/Semester</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>ADM</r:code>\n            <r:description>ADM</r:description>\n            <r:formalDescription>Administrative Grades</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>ANC</r:code>\n            <r:description>ABC/NC</r:description>\n            <r:formalDescription>ABC/NC Grading</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>AUD</r:code>\n            <r:description>Audit</r:description>\n            <r:formalDescription>Audit</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>BMT</r:code>\n            <r:description>Multi-Term</r:description>\n            <r:formalDescription>Multi-Term Course: Not Graded</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>CBE</r:code>\n            <r:description>CBE</r:description>\n            <r:formalDescription>Credit By Exam</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>CNC</r:code>\n            <r:description>Crd/No Crd</r:description>\n            <r:formalDescription>Credit / No Credit</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>CNL</r:code>\n            <r:description>ConvLaw</r:description>\n            <r:formalDescription>Conversion - Law</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>CNV</r:code>\n            <r:description>Conversion</r:description>\n            <r:formalDescription>Conversion</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>CVI</r:code>\n            <r:description>ConvIFail</r:description>\n            <r:formalDescription>Conversion-I-Failing</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>EPN</r:code>\n            <r:description>Elec PNP</r:description>\n            <r:formalDescription>Elective Pass/No Pass</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>EQV</r:code>\n            <r:description>Equivalent</r:description>\n            <r:formalDescription>Equivalent</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>ESU</r:code>\n            <r:description>Elec SUS</r:description>\n            <r:formalDescription>Elective Satisfactory/Unsat</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>FRZ</r:code>\n            <r:description>Frozen Grd</r:description>\n            <r:formalDescription>Frozen Grades</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>GPT</r:code>\n            <r:description>Grd Points</r:description>\n            <r:formalDescription>Grade Points</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>GRD</r:code>\n            <r:description>Graded</r:description>\n            <r:formalDescription>Graded</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>LAW</r:code>\n            <r:description>Law</r:description>\n            <r:formalDescription>Law</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>LW1</r:code>\n            <r:description>Law No Crv</r:description>\n            <r:formalDescription>Law - Non-Curve</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>MID</r:code>\n            <r:description>Mid Term</r:description>\n            <r:formalDescription>Mid Term Grading</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>MLS</r:code>\n            <r:description>Milestone</r:description>\n            <r:formalDescription>Milestone</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>NOG</r:code>\n            <r:description>No Grade</r:description>\n            <r:formalDescription>No Grade Associated</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>NON</r:code>\n            <r:description>Non-Graded</r:description>\n            <r:formalDescription>Non-Graded Component</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>OPT</r:code>\n            <r:description>Stdnt Opt</r:description>\n            <r:formalDescription>Student Option</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>PNP</r:code>\n            <r:description>P/NP</r:description>\n            <r:formalDescription>Pass/Not Pass</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>SUS</r:code>\n            <r:description>Sat/Unsat</r:description>\n            <r:formalDescription>Satisfactory/Unsatisfactory</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>TRN</r:code>\n            <r:description>Transfer</r:description>\n            <r:formalDescription>Transfer Grading Basis</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>TUC</r:code>\n            <r:description>Trnsfr UC</r:description>\n            <r:formalDescription>Transfer Grading Basis UC</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>VST</r:code>\n            <r:description>Visitor Cr</r:description>\n            <r:formalDescription>Visitor Credit Adjustment</r:formalDescription>\n          </f:fieldValue>\n          <f:fieldValue>\n            <r:code>IOP</r:code>\n            <r:description>Instr Opt</r:description>\n            <r:formalDescription>Instructor Option</r:formalDescription>\n          </f:fieldValue>\n        </f:fieldValues>\n      </f:fieldValueList>\n    </f:fieldValueLists>\n  </ar:response>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "5d642055-eff9-11eb-badc-0050568dbdb9", "httpStatus": { "code": "200", "description": "OK" }, "response": { "fieldValueLists": [ { "fieldName": "class.gradingBasis", "fieldValues": [ { "code": "CPN", "description": "CollegePNP", "formalDescription": "Pass/No Pass College Adjust" }, { "code": "NGP", "description": "Rpt NR/M", "formalDescription": "Repeat of NR or M Grade" }, { "code": "DPN", "description": "DefaultPNP", "formalDescription": "Default P/NP Option" }, { "code": "0", "description": "0", "formalDescription": "0, Quarter/Semester" }, { "code": "1", "description": "1", "formalDescription": "1, Quarter/Semester" }, { "code": "2", "description": "2", "formalDescription": "2, Quarter/Semester" }, { "code": "3", "description": "3", "formalDescription": "3, Quarter/Semester" }, { "code": "4", "description": "4", "formalDescription": "4, Quarter/Semester" }, { "code": "ADM", "description": "ADM", "formalDescription": "Administrative Grades" }, { "code": "ANC", "description": "ABC/NC", "formalDescription": "ABC/NC Grading" }, { "code": "AUD", "description": "Audit", "formalDescription": "Audit" }, { "code": "BMT", "description": "Multi-Term", "formalDescription": "Multi-Term Course: Not Graded" }, { "code": "CBE", "description": "CBE", "formalDescription": "Credit By Exam" }, { "code": "CNC", "description": "Crd/No Crd", "formalDescription": "Credit / No Credit" }, { "code": "CNL", "description": "ConvLaw", "formalDescription": "Conversion - Law" }, { "code": "CNV", "description": "Conversion", "formalDescription": "Conversion" }, { "code": "CVI", "description": "ConvIFail", "formalDescription": "Conversion-I-Failing" }, { "code": "EPN", "description": "Elec PNP", "formalDescription": "Elective Pass/No Pass" }, { "code": "EQV", "description": "Equivalent", "formalDescription": "Equivalent" }, { "code": "ESU", "description": "Elec SUS", "formalDescription": "Elective Satisfactory/Unsat" }, { "code": "FRZ", "description": "Frozen Grd", "formalDescription": "Frozen Grades" }, { "code": "GPT", "description": "Grd Points", "formalDescription": "Grade Points" }, { "code": "GRD", "description": "Graded", "formalDescription": "Graded" }, { "code": "LAW", "description": "Law", "formalDescription": "Law" }, { "code": "LW1", "description": "Law No Crv", "formalDescription": "Law - Non-Curve" }, { "code": "MID", "description": "Mid Term", "formalDescription": "Mid Term Grading" }, { "code": "MLS", "description": "Milestone", "formalDescription": "Milestone" }, { "code": "NOG", "description": "No Grade", "formalDescription": "No Grade Associated" }, { "code": "NON", "description": "Non-Graded", "formalDescription": "Non-Graded Component" }, { "code": "OPT", "description": "Stdnt Opt", "formalDescription": "Student Option" }, { "code": "PNP", "description": "P/NP", "formalDescription": "Pass/Not Pass" }, { "code": "SUS", "description": "Sat/Unsat", "formalDescription": "Satisfactory/Unsatisfactory" }, { "code": "TRN", "description": "Transfer", "formalDescription": "Transfer Grading Basis" }, { "code": "TUC", "description": "Trnsfr UC", "formalDescription": "Transfer Grading Basis UC" }, { "code": "VST", "description": "Visitor Cr", "formalDescription": "Visitor Credit Adjustment" }, { "code": "IOP", "description": "Instr Opt", "formalDescription": "Instructor Option" } ] } ] } } }
                      }
                  },
                  "400": {
                      "description": "Bad request",
                      "schema": {
                          "$ref": "#/definitions/errorPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>9253c317-eff9-11eb-badc-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>400</r:code>\n    <r:description>Bad Request</r:description>\n    <r:formalDescription>First operand of . is NULL, so cannot access member Fetch. (180,236)\n            UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411\n            Statement:39</r:formalDescription>\n  </ar:httpStatus>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "1be8720c-effb-11eb-9d67-0050568d6017", "httpStatus": { "code": "400", "description": "Bad Request", "formalDescription": "First operand of . is NULL, so cannot access member Fetch. (180,236) UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411 Statement:39" } } }
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not found"
                  },
                  "500": {
                      "description": "Internal server error"
                  }
              }
          }
      },
      "/v1/classes/sections": {
          "get": {
              "tags": [
                  "class section"
              ],
              "summary": "Get class section data",
              "description": "Returns class section data, consisting of the Student/Class Section EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)\n***Note:** At least one of cs-course-id or term-id query parameters is required.*",
              "operationId": "getClassSectionsUsingGET",
              "parameters": [
                  {
                      "name": "cs-course-id",
                      "in": "query",
                      "description": "The unique id for a canonical course in Campus Solutions",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "term-id",
                      "in": "query",
                      "description": "The ID uniquely identifying the term",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "subject-area-code",
                      "in": "query",
                      "description": "The area of academic inquiry, such as MATH or ENGLISH",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "catalog-number",
                      "in": "query",
                      "description": "The human-readable number identifying a class within a subject area, such as R1A",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "session-id",
                      "in": "query",
                      "description": "The ID uniquely identifying a session within the term",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "class-number",
                      "in": "query",
                      "description": "The index uniquely identifying the class among those with the specified subject area and catalog number",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "section-number",
                      "in": "query",
                      "description": "The index uniquely identifying the section among those associated with the same class",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "component-code",
                      "in": "query",
                      "description": "The code representing the type of section, e.g., LEC",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "include-secondary",
                      "in": "query",
                      "description": "Whether to return class sections where primary = false",
                      "type": "boolean",
                      "required": false
                  },
                  {
                      "name": "meets-days",
                      "in": "query",
                      "description": "A concatination of the first two characters of the day names to include, e.g., MoWeFr",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "start-time",
                      "in": "query",
                      "description": "The time at or after which the class meeting begins (in HH:MM:SS format where HH is 00-24, and :SS is optional)",
                      "type": "string",
                      "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])(:?[0-5][0-9])?$",
                      "required": false
                  },
                  {
                      "name": "end-time",
                      "in": "query",
                      "description": "The time at or before which the class meeting ends (in HH:MM:SS format where HH is 00-24, and :SS is optional)",
                      "type": "string",
                      "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])(:?[0-5][0-9])?$",
                      "required": false
                  },
                  {
                      "name": "instructor-id",
                      "in": "query",
                      "description": "The instructor's ID number in Campus Solutions",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "instructor-campus-uid",
                      "in": "query",
                      "description": "The instructor's CalNet UID number",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "instructor-family-name",
                      "in": "query",
                      "description": "The instructor's last name",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "status-code",
                      "in": "query",
                      "description": "The code indicating whether the class section is active or otherwise",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "enrollment-status-code",
                      "in": "query",
                      "description": "The code indicating whether the class section is open for enrollment",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "waitlist-availability",
                      "in": "query",
                      "description": "Return only class sections having a waitlist, whether open or full",
                      "type": "string",
                      "enum": [
                          "open",
                          "full"
                      ],
                      "required": false
                  },
                  {
                      "name": "final-exam-code",
                      "in": "query",
                      "description": "The code indicating whether and what kind of final exam is required",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "instruction-mode-code",
                      "in": "query",
                      "description": "The code indicating whether the class section is offered in-person or over the web",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "fees-exist",
                      "in": "query",
                      "description": "Whether the class section requires any additional fees",
                      "type": "boolean",
                      "required": false
                  },
                  {
                      "name": "print-in-schedule",
                      "in": "query",
                      "description": "Whether the class section is to be printed in the Schedule of Classes",
                      "type": "boolean",
                      "required": false
                  },
                  {
                      "name": "release-status",
                      "in": "query",
                      "description": "[TBD]",
                      "type": "string",
                      "required": false
                  },
                  {
                      "$ref": "#/parameters/page-number"
                  },
                  {
                      "$ref": "#/parameters/page-size"
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/classSectionPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>8cffee76-eff9-11eb-badc-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:responseType>namespaceURI=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n        element=\"classSections\"</ar:responseType>\n  <ar:response>\n    <clssec:classSections>\n      <clssec:classSection>\n        <clssec:id>27654</clssec:id>\n        <clssec:class>\n          <cls:course>\n            <crs:identifiers>\n              <r:identifier>\n                <r:type>cs-course-id</r:type>\n                <r:id>103605</r:id>\n              </r:identifier>\n            </crs:identifiers>\n            <crs:subjectArea>\n              <r:code>CIVENG</r:code>\n              <r:description>Civil &amp; Environmental Eng</r:description>\n            </crs:subjectArea>\n            <crs:catalogNumber>\n              <crs:prefix/>\n              <crs:number>244</crs:number>\n              <crs:suffix/>\n              <crs:formatted>244</crs:formatted>\n            </crs:catalogNumber>\n            <crs:displayName>CIVENG 244</crs:displayName>\n            <crs:title>Reinforced Concrete Structures</crs:title>\n            <crs:transcriptTitle>REIN CON STRUC</crs:transcriptTitle>\n          </cls:course>\n          <cls:offeringNumber>1</cls:offeringNumber>\n          <cls:session>\n            <t:term>\n              <t:id>2218</t:id>\n              <t:name>2021 Fall</t:name>\n            </t:term>\n            <t:id>1</t:id>\n            <t:name>Regular Academic Session</t:name>\n          </cls:session>\n          <cls:number>001</cls:number>\n          <cls:displayName>2021 Fall CIVENG 244 001</cls:displayName>\n          <cls:allowedUnits>\n            <cls:minimum>3</cls:minimum>\n            <cls:maximum>3</cls:maximum>\n            <cls:forAcademicProgress>3</cls:forAcademicProgress>\n            <cls:forFinancialAid>3</cls:forFinancialAid>\n          </cls:allowedUnits>\n          <cls:gradingBasis>\n            <r:code>OPT</r:code>\n            <r:description>Student Option</r:description>\n          </cls:gradingBasis>\n        </clssec:class>\n        <clssec:number>001</clssec:number>\n        <clssec:component>\n          <r:code>LEC</r:code>\n          <r:description>Lecture</r:description>\n        </clssec:component>\n        <clssec:displayName>2021 Fall CIVENG 244 001 LEC 001</clssec:displayName>\n        <clssec:instructionMode>\n          <r:code>P</r:code>\n          <r:description>In-Person Instruction</r:description>\n        </clssec:instructionMode>\n        <clssec:type>\n          <r:code>E</r:code>\n          <r:description>Enrollment</r:description>\n          <r:formalDescription>Enrollment Section</r:formalDescription>\n        </clssec:type>\n        <clssec:academicOrganization>\n          <r:code>CIVENG</r:code>\n          <r:description>Civil &amp; Environmental Eng</r:description>\n          <r:formalDescription>Civil and Environmental Engineering</r:formalDescription>\n        </clssec:academicOrganization>\n        <clssec:academicGroup>\n          <r:code>COE</r:code>\n          <r:description>COE</r:description>\n          <r:formalDescription>College of Engineering</r:formalDescription>\n        </clssec:academicGroup>\n        <clssec:startDate>2021-08-25</clssec:startDate>\n        <clssec:endDate>2021-12-10</clssec:endDate>\n        <clssec:status>\n          <r:code>A</r:code>\n          <r:description>Active</r:description>\n        </clssec:status>\n        <clssec:association>\n          <clssec:primary>true</clssec:primary>\n          <clssec:primaryAssociatedComponent>\n            <r:code>LEC</r:code>\n            <r:description>Lecture</r:description>\n          </clssec:primaryAssociatedComponent>\n          <clssec:primaryAssociatedSectionId>27654</clssec:primaryAssociatedSectionId>\n          <clssec:primaryAssociatedSectionIds>\n            <clssec:primaryAssociatedSectionId>27654</clssec:primaryAssociatedSectionId>\n          </clssec:primaryAssociatedSectionIds>\n          <clssec:associatedClass>1</clssec:associatedClass>\n        </clssec:association>\n        <clssec:enrollmentStatus>\n          <sr:status>\n            <r:code>O</r:code>\n            <r:description>Open</r:description>\n          </sr:status>\n          <sr:enrolledCount>51</sr:enrolledCount>\n          <sr:reservedCount>0</sr:reservedCount>\n          <sr:waitlistedCount>0</sr:waitlistedCount>\n          <sr:minEnroll>0</sr:minEnroll>\n          <sr:maxEnroll>85</sr:maxEnroll>\n          <sr:maxWaitlist>15</sr:maxWaitlist>\n          <sr:openReserved>0</sr:openReserved>\n        </clssec:enrollmentStatus>\n        <clssec:printInScheduleOfClasses>true</clssec:printInScheduleOfClasses>\n        <clssec:addConsentRequired>\n          <r:code>N</r:code>\n          <r:description>No Special Consent Required</r:description>\n        </clssec:addConsentRequired>\n        <clssec:dropConsentRequired>\n          <r:code>N</r:code>\n          <r:description>No Special Consent Required</r:description>\n        </clssec:dropConsentRequired>\n        <clssec:graded>true</clssec:graded>\n        <clssec:feesExist>false</clssec:feesExist>\n        <clssec:roomShare>false</clssec:roomShare>\n        <clssec:sectionAttributes>\n          <clssec:sectionAttribute>\n            <clssec:attribute>\n              <r:code>CCLV</r:code>\n              <r:description>CRSE LEVEL</r:description>\n              <r:formalDescription>Academic Course Level</r:formalDescription>\n            </clssec:attribute>\n            <clssec:value>\n              <r:code>GRAD</r:code>\n              <r:description>Graduate Level</r:description>\n              <r:formalDescription>Graduate Level Course</r:formalDescription>\n            </clssec:value>\n          </clssec:sectionAttribute>\n          <clssec:sectionAttribute>\n            <clssec:attribute>\n              <r:code>TIE</r:code>\n              <r:description>Instr Type</r:description>\n              <r:formalDescription>Instructional Activity Types</r:formalDescription>\n            </clssec:attribute>\n            <clssec:value>\n              <r:code>LECS</r:code>\n              <r:description>Lecture/Supplementary Activity</r:description>\n              <r:formalDescription>Transmitting the Knowledge Base</r:formalDescription>\n            </clssec:value>\n          </clssec:sectionAttribute>\n          <clssec:sectionAttribute>\n            <clssec:attribute>\n              <r:code>VUOC</r:code>\n              <r:description>VCREDIT</r:description>\n              <r:formalDescription>Variable Units of Credit</r:formalDescription>\n            </clssec:attribute>\n            <clssec:value>\n              <r:code>F</r:code>\n              <r:description>Fixed</r:description>\n              <r:formalDescription>Fixed Unit 1 Value</r:formalDescription>\n            </clssec:value>\n          </clssec:sectionAttribute>\n        </clssec:sectionAttributes>\n        <clssec:roomCharacteristics>\n          <clssec:roomCharacteristic>\n            <r:code>04</r:code>\n            <r:description>AV-Computer Data Display</r:description>\n            <r:quantity>1</r:quantity>\n          </clssec:roomCharacteristic>\n          <clssec:roomCharacteristic>\n            <r:code>27</r:code>\n            <r:description>Board-Front 150plus sq ft</r:description>\n            <r:quantity>1</r:quantity>\n          </clssec:roomCharacteristic>\n        </clssec:roomCharacteristics>\n        <clssec:meetings>\n          <clssec:meeting>\n            <clssec:number>1</clssec:number>\n            <clssec:meetsDays>MoWeFr</clssec:meetsDays>\n            <clssec:meetsMonday>true</clssec:meetsMonday>\n            <clssec:meetsTuesday>false</clssec:meetsTuesday>\n            <clssec:meetsWednesday>true</clssec:meetsWednesday>\n            <clssec:meetsThursday>false</clssec:meetsThursday>\n            <clssec:meetsFriday>true</clssec:meetsFriday>\n            <clssec:meetsSaturday>false</clssec:meetsSaturday>\n            <clssec:meetsSunday>false</clssec:meetsSunday>\n            <clssec:startTime>10:00:00</clssec:startTime>\n            <clssec:endTime>10:59:00</clssec:endTime>\n            <clssec:location>\n              <r:code>DAVS502</r:code>\n              <r:description>Davis 502</r:description>\n            </clssec:location>\n            <clssec:building>\n              <r:code>1323</r:code>\n              <r:description>Davis</r:description>\n            </clssec:building>\n            <clssec:assignedInstructors>\n              <clssec:assignedInstructor>\n                <clssec:assignmentNumber>1</clssec:assignmentNumber>\n                <clssec:instructor>\n                  <p:identifiers>\n                    <r:identifier>\n                      <r:type>campus-uid</r:type>\n                      <r:id>2138</r:id>\n                      <r:disclose>true</r:disclose>\n                    </r:identifier>\n                  </p:identifiers>\n                  <p:names>\n                    <p:name>\n                      <p:type>\n                        <r:code>PRF</r:code>\n                        <r:description>Preferred</r:description>\n                      </p:type>\n                      <p:familyName>Heomel</p:familyName>\n                      <p:givenName>Jack</p:givenName>\n                      <p:formattedName>Jack Heomel</p:formattedName>\n                      <p:disclose>true</p:disclose>\n                      <p:uiControl>\n                        <r:code>U</r:code>\n                        <r:description>Edit - No Delete</r:description>\n                      </p:uiControl>\n                      <p:fromDate>1902-02-01</p:fromDate>\n                    </p:name>\n                    <p:name>\n                      <p:type>\n                        <r:code>PRI</r:code>\n                        <r:description>Primary</r:description>\n                      </p:type>\n                      <p:familyName>Eomhel</p:familyName>\n                      <p:givenName>Jack</p:givenName>\n                      <p:formattedName>Jack Eomhel</p:formattedName>\n                      <p:disclose>true</p:disclose>\n                      <p:uiControl>\n                        <r:code>D</r:code>\n                        <r:description>Display Only</r:description>\n                      </p:uiControl>\n                      <p:fromDate>2021-08-01</p:fromDate>\n                    </p:name>\n                  </p:names>\n                </clssec:instructor>\n                <clssec:role>\n                  <r:code>PI</r:code>\n                  <r:description>1-TIC</r:description>\n                  <r:formalDescription>Teaching and In Charge</r:formalDescription>\n                </clssec:role>\n                <clssec:contactMinutes>0</clssec:contactMinutes>\n                <clssec:printInScheduleOfClasses>true</clssec:printInScheduleOfClasses>\n                <clssec:gradeRosterAccess>\n                  <r:code>A</r:code>\n                  <r:description>Approve</r:description>\n                  <r:formalDescription>Approve</r:formalDescription>\n                </clssec:gradeRosterAccess>\n              </clssec:assignedInstructor>\n            </clssec:assignedInstructors>\n            <clssec:startDate>2021-08-25</clssec:startDate>\n            <clssec:endDate>2021-12-10</clssec:endDate>\n            <clssec:meetingTopic>\n              <r:code/>\n              <r:description/>\n            </clssec:meetingTopic>\n            <clssec:meetingDescription/>\n          </clssec:meeting>\n        </clssec:meetings>\n        <clssec:exams/>\n      </clssec:classSection>\n    </clssec:classSections>\n  </ar:response>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "f0c68161-effc-11eb-9d67-0050568d6017", "httpStatus": { "code": "200", "description": "OK" }, "responseType": "namespaceURI=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\" element=\"classSections\"", "response": { "classSections": [ { "id": 27654, "number": "001", "component": { "code": "LEC", "description": "Lecture" }, "displayName": "2021 Fall CIVENG 244 001 LEC 001", "instructionMode": { "code": "P", "description": "In-Person Instruction" }, "type": { "code": "E", "description": "Enrollment", "formalDescription": "Enrollment Section" }, "academicOrganization": { "code": "CIVENG", "description": "Civil & Environmental Eng", "formalDescription": "Civil and Environmental Engineering" }, "academicGroup": { "code": "COE", "description": "COE", "formalDescription": "College of Engineering" }, "startDate": "2021-08-25", "endDate": "2021-12-10", "status": { "code": "A", "description": "Active" }, "association": { "primary": true, "primaryAssociatedComponent": { "code": "LEC", "description": "Lecture" }, "primaryAssociatedSectionId": 27654, "primaryAssociatedSectionIds": [ 27654 ], "associatedClass": 1 }, "enrollmentStatus": { "status": { "code": "O", "description": "Open" }, "enrolledCount": 51, "reservedCount": 0, "waitlistedCount": 0, "minEnroll": 0, "maxEnroll": 85, "maxWaitlist": 15, "openReserved": 0 }, "printInScheduleOfClasses": true, "addConsentRequired": { "code": "N", "description": "No Special Consent Required" }, "dropConsentRequired": { "code": "N", "description": "No Special Consent Required" }, "graded": true, "feesExist": false, "roomShare": false, "sectionAttributes": [ { "attribute": { "code": "CCLV", "description": "CRSE LEVEL", "formalDescription": "Academic Course Level" }, "value": { "code": "GRAD", "description": "Graduate Level", "formalDescription": "Graduate Level Course" } }, { "attribute": { "code": "TIE", "description": "Instr Type", "formalDescription": "Instructional Activity Types" }, "value": { "code": "LECS", "description": "Lecture/Supplementary Activity", "formalDescription": "Transmitting the Knowledge Base" } }, { "attribute": { "code": "VUOC", "description": "VCREDIT", "formalDescription": "Variable Units of Credit" }, "value": { "code": "F", "description": "Fixed", "formalDescription": "Fixed Unit 1 Value" } } ], "roomCharacteristics": [ { "code": "04", "description": "AV-Computer Data Display", "quantity": 1 }, { "code": "27", "description": "Board-Front 150plus sq ft", "quantity": 1 } ], "meetings": [ { "number": 1, "meetsDays": "MoWeFr", "meetsMonday": true, "meetsTuesday": false, "meetsWednesday": true, "meetsThursday": false, "meetsFriday": true, "meetsSaturday": false, "meetsSunday": false, "startTime": "10:00:00", "endTime": "10:59:00", "location": { "code": "DAVS502", "description": "Davis 502" }, "building": { "code": "1323", "description": "Davis" }, "assignedInstructors": [ { "assignmentNumber": 1, "instructor": { "identifiers": [ { "type": "campus-uid", "id": "1238", "disclose": true } ], "names": [ { "type": { "code": "PRF", "description": "Preferred" }, "familyName": "Eemlho", "givenName": "Jack", "formattedName": "Jack Eemlho", "disclose": true, "uiControl": { "code": "U", "description": "Edit - No Delete" }, "fromDate": "1902-02-01" }, { "type": { "code": "PRI", "description": "Primary" }, "familyName": "Mohlee", "givenName": "Jack", "formattedName": "Jack Mohlee", "disclose": true, "uiControl": { "code": "D", "description": "Display Only" }, "fromDate": "2021-08-01" } ] }, "role": { "code": "PI", "description": "1-TIC", "formalDescription": "Teaching and In Charge" }, "contactMinutes": 0, "printInScheduleOfClasses": true, "gradeRosterAccess": { "code": "A", "description": "Approve", "formalDescription": "Approve" } } ], "startDate": "2021-08-25", "endDate": "2021-12-10", "meetingTopic": { } } ], "class": { "course": { "identifiers": [ { "type": "cs-course-id", "id": "103605" } ], "subjectArea": { "code": "CIVENG", "description": "Civil & Environmental Eng" }, "catalogNumber": { "number": "244", "formatted": "244" }, "displayName": "CIVENG 244", "title": "Reinforced Concrete Structures", "transcriptTitle": "REIN CON STRUC" }, "offeringNumber": 1, "session": { "term": { "id": "2218", "name": "2021 Fall" }, "id": "1", "name": "Regular Academic Session" }, "number": "001", "displayName": "2021 Fall CIVENG 244 001", "allowedUnits": { "minimum": 3, "maximum": 3, "forAcademicProgress": 3, "forFinancialAid": 3 }, "gradingBasis": { "code": "OPT", "description": "Student Option" } } } ] } } }
                      }
                  },
                  "400": {
                      "description": "Bad request",
                      "schema": {
                          "$ref": "#/definitions/errorPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>9253c317-eff9-11eb-badc-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>400</r:code>\n    <r:description>Bad Request</r:description>\n    <r:formalDescription>First operand of . is NULL, so cannot access member Fetch. (180,236)\n            UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411\n            Statement:39</r:formalDescription>\n  </ar:httpStatus>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "1be8720c-effb-11eb-9d67-0050568d6017", "httpStatus": { "code": "400", "description": "Bad Request", "formalDescription": "First operand of . is NULL, so cannot access member Fetch. (180,236) UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411 Statement:39" } } }
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not found"
                  },
                  "500": {
                      "description": "Internal server error"
                  }
              }
          }
      },
      "/v1/classes/sections/{class-section-id}": {
          "get": {
              "tags": [
                  "class section"
              ],
              "summary": "Get class section data by ID",
              "description": "Returns class section data, consisting of the Student/Class Section EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)>",
              "operationId": "getClassSectionByTermAndSectionIdUsingGET",
              "parameters": [
                  {
                      "name": "class-section-id",
                      "in": "path",
                      "description": "The ID number uniquely identifying a class section within a term",
                      "type": "string",
                      "required": true
                  },
                  {
                      "name": "term-id",
                      "in": "query",
                      "description": "The ID uniquely identifying the term",
                      "type": "string",
                      "required": true
                  },
                  {
                      "name": "include-secondary",
                      "in": "query",
                      "description": "Whether to also return secondary class sections if class-section-id identifies a primary section",
                      "type": "boolean",
                      "required": false
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/classSectionPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>8cffee76-eff9-11eb-badc-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:responseType>namespaceURI=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n        element=\"classSections\"</ar:responseType>\n  <ar:response>\n    <clssec:classSections>\n      <clssec:classSection>\n        <clssec:id>27654</clssec:id>\n        <clssec:class>\n          <cls:course>\n            <crs:identifiers>\n              <r:identifier>\n                <r:type>cs-course-id</r:type>\n                <r:id>103605</r:id>\n              </r:identifier>\n            </crs:identifiers>\n            <crs:subjectArea>\n              <r:code>CIVENG</r:code>\n              <r:description>Civil &amp; Environmental Eng</r:description>\n            </crs:subjectArea>\n            <crs:catalogNumber>\n              <crs:prefix/>\n              <crs:number>244</crs:number>\n              <crs:suffix/>\n              <crs:formatted>244</crs:formatted>\n            </crs:catalogNumber>\n            <crs:displayName>CIVENG 244</crs:displayName>\n            <crs:title>Reinforced Concrete Structures</crs:title>\n            <crs:transcriptTitle>REIN CON STRUC</crs:transcriptTitle>\n          </cls:course>\n          <cls:offeringNumber>1</cls:offeringNumber>\n          <cls:session>\n            <t:term>\n              <t:id>2218</t:id>\n              <t:name>2021 Fall</t:name>\n            </t:term>\n            <t:id>1</t:id>\n            <t:name>Regular Academic Session</t:name>\n          </cls:session>\n          <cls:number>001</cls:number>\n          <cls:displayName>2021 Fall CIVENG 244 001</cls:displayName>\n          <cls:allowedUnits>\n            <cls:minimum>3</cls:minimum>\n            <cls:maximum>3</cls:maximum>\n            <cls:forAcademicProgress>3</cls:forAcademicProgress>\n            <cls:forFinancialAid>3</cls:forFinancialAid>\n          </cls:allowedUnits>\n          <cls:gradingBasis>\n            <r:code>OPT</r:code>\n            <r:description>Student Option</r:description>\n          </cls:gradingBasis>\n        </clssec:class>\n        <clssec:number>001</clssec:number>\n        <clssec:component>\n          <r:code>LEC</r:code>\n          <r:description>Lecture</r:description>\n        </clssec:component>\n        <clssec:displayName>2021 Fall CIVENG 244 001 LEC 001</clssec:displayName>\n        <clssec:instructionMode>\n          <r:code>P</r:code>\n          <r:description>In-Person Instruction</r:description>\n        </clssec:instructionMode>\n        <clssec:type>\n          <r:code>E</r:code>\n          <r:description>Enrollment</r:description>\n          <r:formalDescription>Enrollment Section</r:formalDescription>\n        </clssec:type>\n        <clssec:academicOrganization>\n          <r:code>CIVENG</r:code>\n          <r:description>Civil &amp; Environmental Eng</r:description>\n          <r:formalDescription>Civil and Environmental Engineering</r:formalDescription>\n        </clssec:academicOrganization>\n        <clssec:academicGroup>\n          <r:code>COE</r:code>\n          <r:description>COE</r:description>\n          <r:formalDescription>College of Engineering</r:formalDescription>\n        </clssec:academicGroup>\n        <clssec:startDate>2021-08-25</clssec:startDate>\n        <clssec:endDate>2021-12-10</clssec:endDate>\n        <clssec:status>\n          <r:code>A</r:code>\n          <r:description>Active</r:description>\n        </clssec:status>\n        <clssec:association>\n          <clssec:primary>true</clssec:primary>\n          <clssec:primaryAssociatedComponent>\n            <r:code>LEC</r:code>\n            <r:description>Lecture</r:description>\n          </clssec:primaryAssociatedComponent>\n          <clssec:primaryAssociatedSectionId>27654</clssec:primaryAssociatedSectionId>\n          <clssec:primaryAssociatedSectionIds>\n            <clssec:primaryAssociatedSectionId>27654</clssec:primaryAssociatedSectionId>\n          </clssec:primaryAssociatedSectionIds>\n          <clssec:associatedClass>1</clssec:associatedClass>\n        </clssec:association>\n        <clssec:enrollmentStatus>\n          <sr:status>\n            <r:code>O</r:code>\n            <r:description>Open</r:description>\n          </sr:status>\n          <sr:enrolledCount>51</sr:enrolledCount>\n          <sr:reservedCount>0</sr:reservedCount>\n          <sr:waitlistedCount>0</sr:waitlistedCount>\n          <sr:minEnroll>0</sr:minEnroll>\n          <sr:maxEnroll>85</sr:maxEnroll>\n          <sr:maxWaitlist>15</sr:maxWaitlist>\n          <sr:openReserved>0</sr:openReserved>\n        </clssec:enrollmentStatus>\n        <clssec:printInScheduleOfClasses>true</clssec:printInScheduleOfClasses>\n        <clssec:addConsentRequired>\n          <r:code>N</r:code>\n          <r:description>No Special Consent Required</r:description>\n        </clssec:addConsentRequired>\n        <clssec:dropConsentRequired>\n          <r:code>N</r:code>\n          <r:description>No Special Consent Required</r:description>\n        </clssec:dropConsentRequired>\n        <clssec:graded>true</clssec:graded>\n        <clssec:feesExist>false</clssec:feesExist>\n        <clssec:roomShare>false</clssec:roomShare>\n        <clssec:sectionAttributes>\n          <clssec:sectionAttribute>\n            <clssec:attribute>\n              <r:code>CCLV</r:code>\n              <r:description>CRSE LEVEL</r:description>\n              <r:formalDescription>Academic Course Level</r:formalDescription>\n            </clssec:attribute>\n            <clssec:value>\n              <r:code>GRAD</r:code>\n              <r:description>Graduate Level</r:description>\n              <r:formalDescription>Graduate Level Course</r:formalDescription>\n            </clssec:value>\n          </clssec:sectionAttribute>\n          <clssec:sectionAttribute>\n            <clssec:attribute>\n              <r:code>TIE</r:code>\n              <r:description>Instr Type</r:description>\n              <r:formalDescription>Instructional Activity Types</r:formalDescription>\n            </clssec:attribute>\n            <clssec:value>\n              <r:code>LECS</r:code>\n              <r:description>Lecture/Supplementary Activity</r:description>\n              <r:formalDescription>Transmitting the Knowledge Base</r:formalDescription>\n            </clssec:value>\n          </clssec:sectionAttribute>\n          <clssec:sectionAttribute>\n            <clssec:attribute>\n              <r:code>VUOC</r:code>\n              <r:description>VCREDIT</r:description>\n              <r:formalDescription>Variable Units of Credit</r:formalDescription>\n            </clssec:attribute>\n            <clssec:value>\n              <r:code>F</r:code>\n              <r:description>Fixed</r:description>\n              <r:formalDescription>Fixed Unit 1 Value</r:formalDescription>\n            </clssec:value>\n          </clssec:sectionAttribute>\n        </clssec:sectionAttributes>\n        <clssec:roomCharacteristics>\n          <clssec:roomCharacteristic>\n            <r:code>04</r:code>\n            <r:description>AV-Computer Data Display</r:description>\n            <r:quantity>1</r:quantity>\n          </clssec:roomCharacteristic>\n          <clssec:roomCharacteristic>\n            <r:code>27</r:code>\n            <r:description>Board-Front 150plus sq ft</r:description>\n            <r:quantity>1</r:quantity>\n          </clssec:roomCharacteristic>\n        </clssec:roomCharacteristics>\n        <clssec:meetings>\n          <clssec:meeting>\n            <clssec:number>1</clssec:number>\n            <clssec:meetsDays>MoWeFr</clssec:meetsDays>\n            <clssec:meetsMonday>true</clssec:meetsMonday>\n            <clssec:meetsTuesday>false</clssec:meetsTuesday>\n            <clssec:meetsWednesday>true</clssec:meetsWednesday>\n            <clssec:meetsThursday>false</clssec:meetsThursday>\n            <clssec:meetsFriday>true</clssec:meetsFriday>\n            <clssec:meetsSaturday>false</clssec:meetsSaturday>\n            <clssec:meetsSunday>false</clssec:meetsSunday>\n            <clssec:startTime>10:00:00</clssec:startTime>\n            <clssec:endTime>10:59:00</clssec:endTime>\n            <clssec:location>\n              <r:code>DAVS502</r:code>\n              <r:description>Davis 502</r:description>\n            </clssec:location>\n            <clssec:building>\n              <r:code>1323</r:code>\n              <r:description>Davis</r:description>\n            </clssec:building>\n            <clssec:assignedInstructors>\n              <clssec:assignedInstructor>\n                <clssec:assignmentNumber>1</clssec:assignmentNumber>\n                <clssec:instructor>\n                  <p:identifiers>\n                    <r:identifier>\n                      <r:type>campus-uid</r:type>\n                      <r:id>2138</r:id>\n                      <r:disclose>true</r:disclose>\n                    </r:identifier>\n                  </p:identifiers>\n                  <p:names>\n                    <p:name>\n                      <p:type>\n                        <r:code>PRF</r:code>\n                        <r:description>Preferred</r:description>\n                      </p:type>\n                      <p:familyName>Heomel</p:familyName>\n                      <p:givenName>Jack</p:givenName>\n                      <p:formattedName>Jack Heomel</p:formattedName>\n                      <p:disclose>true</p:disclose>\n                      <p:uiControl>\n                        <r:code>U</r:code>\n                        <r:description>Edit - No Delete</r:description>\n                      </p:uiControl>\n                      <p:fromDate>1902-02-01</p:fromDate>\n                    </p:name>\n                    <p:name>\n                      <p:type>\n                        <r:code>PRI</r:code>\n                        <r:description>Primary</r:description>\n                      </p:type>\n                      <p:familyName>Eomhel</p:familyName>\n                      <p:givenName>Jack</p:givenName>\n                      <p:formattedName>Jack Eomhel</p:formattedName>\n                      <p:disclose>true</p:disclose>\n                      <p:uiControl>\n                        <r:code>D</r:code>\n                        <r:description>Display Only</r:description>\n                      </p:uiControl>\n                      <p:fromDate>2021-08-01</p:fromDate>\n                    </p:name>\n                  </p:names>\n                </clssec:instructor>\n                <clssec:role>\n                  <r:code>PI</r:code>\n                  <r:description>1-TIC</r:description>\n                  <r:formalDescription>Teaching and In Charge</r:formalDescription>\n                </clssec:role>\n                <clssec:contactMinutes>0</clssec:contactMinutes>\n                <clssec:printInScheduleOfClasses>true</clssec:printInScheduleOfClasses>\n                <clssec:gradeRosterAccess>\n                  <r:code>A</r:code>\n                  <r:description>Approve</r:description>\n                  <r:formalDescription>Approve</r:formalDescription>\n                </clssec:gradeRosterAccess>\n              </clssec:assignedInstructor>\n            </clssec:assignedInstructors>\n            <clssec:startDate>2021-08-25</clssec:startDate>\n            <clssec:endDate>2021-12-10</clssec:endDate>\n            <clssec:meetingTopic>\n              <r:code/>\n              <r:description/>\n            </clssec:meetingTopic>\n            <clssec:meetingDescription/>\n          </clssec:meeting>\n        </clssec:meetings>\n        <clssec:exams/>\n      </clssec:classSection>\n    </clssec:classSections>\n  </ar:response>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "f0c68161-effc-11eb-9d67-0050568d6017", "httpStatus": { "code": "200", "description": "OK" }, "responseType": "namespaceURI=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\" element=\"classSections\"", "response": { "classSections": [ { "id": 27654, "number": "001", "component": { "code": "LEC", "description": "Lecture" }, "displayName": "2021 Fall CIVENG 244 001 LEC 001", "instructionMode": { "code": "P", "description": "In-Person Instruction" }, "type": { "code": "E", "description": "Enrollment", "formalDescription": "Enrollment Section" }, "academicOrganization": { "code": "CIVENG", "description": "Civil & Environmental Eng", "formalDescription": "Civil and Environmental Engineering" }, "academicGroup": { "code": "COE", "description": "COE", "formalDescription": "College of Engineering" }, "startDate": "2021-08-25", "endDate": "2021-12-10", "status": { "code": "A", "description": "Active" }, "association": { "primary": true, "primaryAssociatedComponent": { "code": "LEC", "description": "Lecture" }, "primaryAssociatedSectionId": 27654, "primaryAssociatedSectionIds": [ 27654 ], "associatedClass": 1 }, "enrollmentStatus": { "status": { "code": "O", "description": "Open" }, "enrolledCount": 51, "reservedCount": 0, "waitlistedCount": 0, "minEnroll": 0, "maxEnroll": 85, "maxWaitlist": 15, "openReserved": 0 }, "printInScheduleOfClasses": true, "addConsentRequired": { "code": "N", "description": "No Special Consent Required" }, "dropConsentRequired": { "code": "N", "description": "No Special Consent Required" }, "graded": true, "feesExist": false, "roomShare": false, "sectionAttributes": [ { "attribute": { "code": "CCLV", "description": "CRSE LEVEL", "formalDescription": "Academic Course Level" }, "value": { "code": "GRAD", "description": "Graduate Level", "formalDescription": "Graduate Level Course" } }, { "attribute": { "code": "TIE", "description": "Instr Type", "formalDescription": "Instructional Activity Types" }, "value": { "code": "LECS", "description": "Lecture/Supplementary Activity", "formalDescription": "Transmitting the Knowledge Base" } }, { "attribute": { "code": "VUOC", "description": "VCREDIT", "formalDescription": "Variable Units of Credit" }, "value": { "code": "F", "description": "Fixed", "formalDescription": "Fixed Unit 1 Value" } } ], "roomCharacteristics": [ { "code": "04", "description": "AV-Computer Data Display", "quantity": 1 }, { "code": "27", "description": "Board-Front 150plus sq ft", "quantity": 1 } ], "meetings": [ { "number": 1, "meetsDays": "MoWeFr", "meetsMonday": true, "meetsTuesday": false, "meetsWednesday": true, "meetsThursday": false, "meetsFriday": true, "meetsSaturday": false, "meetsSunday": false, "startTime": "10:00:00", "endTime": "10:59:00", "location": { "code": "DAVS502", "description": "Davis 502" }, "building": { "code": "1323", "description": "Davis" }, "assignedInstructors": [ { "assignmentNumber": 1, "instructor": { "identifiers": [ { "type": "campus-uid", "id": "1238", "disclose": true } ], "names": [ { "type": { "code": "PRF", "description": "Preferred" }, "familyName": "Eemlho", "givenName": "Jack", "formattedName": "Jack Eemlho", "disclose": true, "uiControl": { "code": "U", "description": "Edit - No Delete" }, "fromDate": "1902-02-01" }, { "type": { "code": "PRI", "description": "Primary" }, "familyName": "Mohlee", "givenName": "Jack", "formattedName": "Jack Mohlee", "disclose": true, "uiControl": { "code": "D", "description": "Display Only" }, "fromDate": "2021-08-01" } ] }, "role": { "code": "PI", "description": "1-TIC", "formalDescription": "Teaching and In Charge" }, "contactMinutes": 0, "printInScheduleOfClasses": true, "gradeRosterAccess": { "code": "A", "description": "Approve", "formalDescription": "Approve" } } ], "startDate": "2021-08-25", "endDate": "2021-12-10", "meetingTopic": { } } ], "class": { "course": { "identifiers": [ { "type": "cs-course-id", "id": "103605" } ], "subjectArea": { "code": "CIVENG", "description": "Civil & Environmental Eng" }, "catalogNumber": { "number": "244", "formatted": "244" }, "displayName": "CIVENG 244", "title": "Reinforced Concrete Structures", "transcriptTitle": "REIN CON STRUC" }, "offeringNumber": 1, "session": { "term": { "id": "2218", "name": "2021 Fall" }, "id": "1", "name": "Regular Academic Session" }, "number": "001", "displayName": "2021 Fall CIVENG 244 001", "allowedUnits": { "minimum": 3, "maximum": 3, "forAcademicProgress": 3, "forFinancialAid": 3 }, "gradingBasis": { "code": "OPT", "description": "Student Option" } } } ] } } }
                      }
                  },
                  "400": {
                      "description": "Bad request",
                      "schema": {
                          "$ref": "#/definitions/errorPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>9253c317-eff9-11eb-badc-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>400</r:code>\n    <r:description>Bad Request</r:description>\n    <r:formalDescription>First operand of . is NULL, so cannot access member Fetch. (180,236)\n            UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411\n            Statement:39</r:formalDescription>\n  </ar:httpStatus>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "1be8720c-effb-11eb-9d67-0050568d6017", "httpStatus": { "code": "400", "description": "Bad Request", "formalDescription": "First operand of . is NULL, so cannot access member Fetch. (180,236) UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411 Statement:39" } } }
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not found"
                  },
                  "500": {
                      "description": "Internal server error"
                  }
              }
          }
      },
      "/v1/classes/sections/{class-section-id}/term/{term-id}/enrollment": {
          "get": {
              "tags": [
                  "class section"
              ],
              "summary": "Get enrollment counts for a given class section",
              "description": "Returns enrollment counts for class section data, consisting of the Student/Class Section EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)",
              "operationId": "getClassSectionEnrollmentInformationUsingGET",
              "parameters": [
                  {
                      "name": "class-section-id",
                      "in": "path",
                      "description": "The ID number uniquely identifying a class section within a term",
                      "type": "string",
                      "required": true
                  },
                  {
                      "name": "term-id",
                      "in": "path",
                      "description": "The ID uniquely identifying the term",
                      "type": "string",
                      "required": true
                  },
                  {
                      "name": "seat-reservations",
                      "in": "query",
                      "description": "[TBD]",
                      "type": "string",
                      "required": false
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/classSectionEnrollmentPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>8b28847d-effb-11eb-9d67-0050568d6017</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:responseType>namespaceURI=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n        element=\"classSections\"</ar:responseType>\n  <ar:response>\n    <clssec:classSections>\n      <clssec:classSection>\n        <clssec:id>27654</clssec:id>\n        <clssec:enrollmentStatus>\n          <sr:status>\n            <r:code>O</r:code>\n            <r:description>Open</r:description>\n          </sr:status>\n          <sr:enrolledCount>51</sr:enrolledCount>\n          <sr:reservedCount>0</sr:reservedCount>\n          <sr:waitlistedCount>0</sr:waitlistedCount>\n          <sr:minEnroll>0</sr:minEnroll>\n          <sr:maxEnroll>85</sr:maxEnroll>\n          <sr:maxWaitlist>15</sr:maxWaitlist>\n          <sr:openReserved>0</sr:openReserved>\n        </clssec:enrollmentStatus>\n      </clssec:classSection>\n    </clssec:classSections>\n  </ar:response>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "9253c317-eff9-11eb-badc-0050568dbdb9", "httpStatus": { "code": "200", "description": "OK" }, "responseType": "namespaceURI=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\" element=\"classSections\"", "response": { "classSections": [ { "id": 27654, "enrollmentStatus": { "status": { "code": "O", "description": "Open" }, "enrolledCount": 51, "reservedCount": 0, "waitlistedCount": 0, "minEnroll": 0, "maxEnroll": 85, "maxWaitlist": 15, "openReserved": 0 } } ] } } }
                      }
                  },
                  "400": {
                      "description": "Bad request",
                      "schema": {
                          "$ref": "#/definitions/errorPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>9253c317-eff9-11eb-badc-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>400</r:code>\n    <r:description>Bad Request</r:description>\n    <r:formalDescription>First operand of . is NULL, so cannot access member Fetch. (180,236)\n            UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411\n            Statement:39</r:formalDescription>\n  </ar:httpStatus>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "1be8720c-effb-11eb-9d67-0050568d6017", "httpStatus": { "code": "400", "description": "Bad Request", "formalDescription": "First operand of . is NULL, so cannot access member Fetch. (180,236) UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411 Statement:39" } } }
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not found"
                  },
                  "500": {
                      "description": "Internal server error"
                  }
              }
          }
      },
      "/v1/classes/sections/terms/{term-id}/updated/enrollments": {
          "get": {
              "tags": [
                  "class section"
              ],
              "summary": "Get enrollment counts for all class sections updated within the specified time period",
              "description": "Returns enrollment counts for class section data, consisting of the Student/Class Section EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)",
              "operationId": "getClassEnrollmentInformationUsingGET",
              "parameters": [
                  {
                      "name": "term-id",
                      "in": "path",
                      "description": "The ID uniquely identifying the term",
                      "type": "string",
                      "required": true
                  },
                  {
                      "name": "updated-after",
                      "in": "query",
                      "description": "Defines the lower boundary of the time period (in yyyy-MM-ddTHH:mm:ss where HH is 00-23)",
                      "type": "string",
                      "pattern": "^20[12][0-9]-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])$",
                      "required": true
                  },
                  {
                      "name": "updated-before",
                      "in": "query",
                      "description": "Defines the upper boundary of the time period (in yyyy-MM-ddTHH:mm:ss where HH is 00-23)",
                      "type": "string",
                      "pattern": "^20[12][0-9]-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])$",
                      "required": true
                  },
                  {
                      "name": "seat-reservations",
                      "in": "query",
                      "description": "[TBD]",
                      "type": "string",
                      "required": false
                  },
                  {
                      "$ref": "#/parameters/page-number"
                  },
                  {
                      "$ref": "#/parameters/page-size"
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/classSectionEnrollmentPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>8b28847d-effb-11eb-9d67-0050568d6017</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:responseType>namespaceURI=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n        element=\"classSections\"</ar:responseType>\n  <ar:response>\n    <clssec:classSections>\n      <clssec:classSection>\n        <clssec:id>27654</clssec:id>\n        <clssec:enrollmentStatus>\n          <sr:status>\n            <r:code>O</r:code>\n            <r:description>Open</r:description>\n          </sr:status>\n          <sr:enrolledCount>51</sr:enrolledCount>\n          <sr:reservedCount>0</sr:reservedCount>\n          <sr:waitlistedCount>0</sr:waitlistedCount>\n          <sr:minEnroll>0</sr:minEnroll>\n          <sr:maxEnroll>85</sr:maxEnroll>\n          <sr:maxWaitlist>15</sr:maxWaitlist>\n          <sr:openReserved>0</sr:openReserved>\n        </clssec:enrollmentStatus>\n      </clssec:classSection>\n    </clssec:classSections>\n  </ar:response>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "9253c317-eff9-11eb-badc-0050568dbdb9", "httpStatus": { "code": "200", "description": "OK" }, "responseType": "namespaceURI=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\" element=\"classSections\"", "response": { "classSections": [ { "id": 27654, "enrollmentStatus": { "status": { "code": "O", "description": "Open" }, "enrolledCount": 51, "reservedCount": 0, "waitlistedCount": 0, "minEnroll": 0, "maxEnroll": 85, "maxWaitlist": 15, "openReserved": 0 } } ] } } }
                      }
                  },
                  "400": {
                      "description": "Bad request",
                      "schema": {
                          "$ref": "#/definitions/errorPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:p=\"http://bmeta.berkeley.edu/common/personV3.xsd\"\n  xmlns:clssec=\"http://bmeta.berkeley.edu/student/classSectionV1.xsd\"\n  xmlns:c=\"http://bmeta.berkeley.edu/common/contactV0.xsd\"\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:cls=\"http://bmeta.berkeley.edu/student/classV1.xsd\"\n  xmlns:e=\"http://bmeta.berkeley.edu/common/eventV1.xsd\"\n  xmlns:d=\"http://bmeta.berkeley.edu/common/documentV1.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV0.xsd\"\n  xmlns:f=\"http://bmeta.berkeley.edu/common/fieldValueListV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\"\n  xmlns:sr=\"http://bmeta.berkeley.edu/student/studentRecordV0.xsd\">\n  <ar:correlationId>9253c317-eff9-11eb-badc-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>400</r:code>\n    <r:description>Bad Request</r:description>\n    <r:formalDescription>First operand of . is NULL, so cannot access member Fetch. (180,236)\n            UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411\n            Statement:39</r:formalDescription>\n  </ar:httpStatus>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "1be8720c-effb-11eb-9d67-0050568d6017", "httpStatus": { "code": "400", "description": "Bad Request", "formalDescription": "First operand of . is NULL, so cannot access member Fetch. (180,236) UC_SR_CLSSEC_ENROLL.ServiceOperation.Rest.Get.OnExecute Name:onRequest PCPC:2411 Statement:39" } } }
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not found"
                  },
                  "500": {
                      "description": "Internal server error"
                  }
              }
          }
      },
      "/v1/classes/sections/descriptors": {
          "get": {
              "tags": [
                  "class section"
              ],
              "summary": "Get allowable code/descriptor pairs for class section related fields",
              "description": "Returns field names and the canonical coded values and descriptions allowed for them, in the format of the Common/FieldValueList EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)",
              "operationId": "getClassSectionDescriptorsUsingGET",
              "parameters": [
                  {
                      "name": "field-name",
                      "in": "query",
                      "description": "The name of a particular coded field, expressed in dot notation (e.g., \"classSection.status\"). If this parameter is omitted, all class section related fields and value lists are returned.",
                      "type": "string",
                      "required": false
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/descriptorPayload"
                      },
                      "examples": {
[...]
