{
  "swagger": "2.0",
  "info": {
      "description": "### Retrieves information about \"canonical\" courses as approved by the Academic Senate.\n\nThe interactive docs below allow you to test parameter usage and see how both requests and return payloads are formatted using the **\"Try it out\"** feature.\n\n*This feature runs against the UAT version of the API and the QAT version of the source SIS database. Remember to remove \"/uat\" from the URL to run your client against the production version.*\n\n(Please note, XML responses do *NOT* include the outermost \"payload\" node shown in this documentation; \"apiResponse\" is the outermost node. The \"payload\" node exists, unnamed, *only* in JSON responses.)",
      "version": "4.0",
      "title": "Course API"
  },
  "host": "gateway.api.berkeley.edu",
  "basePath": "/uat/sis",
  "schemes": [
      "https"
  ],
  "produces": [
      "application/json",
      "application/xml"
  ],
  "tags": [
      {
          "name": "v4",
          "description": "new as of 11/09/2022"
      }
  ],
  "parameters": {
      "page-number": {
          "name": "page-number",
          "in": "query",
          "description": "The set of records to return; can be used to traverse paginated data sets.",
          "required": false,
          "type": "integer",
          "default": 1
      },
      "page-size": {
          "name": "page-size",
          "in": "query",
          "description": "The number of records returned in one paginated data set. Maximum is 100",
          "required": false,
          "type": "integer",
          "default": 50,
          "maximum": 100
      },
      "app_id": {
          "name": "app_id",
          "in": "header",
          "description": "The public ID portion of API Central credentials",
          "required": true,
          "type": "string"
      },
      "app_key": {
          "name": "app_key",
          "in": "header",
          "description": "The private key portion of API Central credentials",
          "required": true,
          "type": "string",
          "format": "password"
      }
  },
  "paths": {
      "/v4/courses": {
          "get": {
              "tags": [
                  "v4"
              ],
              "summary": "Get course data",
              "description": "Returns course data conforming to the Course EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)",
              "operationId": "findCourseCollectionUsingGET",
              "parameters": [
                  {
                      "name": "status-code",
                      "in": "query",
                      "description": "A code indicating a course's current state as regards its availability to be offered",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "subject-area-code",
                      "in": "query",
                      "description": "Either a specific code representing an area of academic inquiry covered in the course, e.g., \"MATH\" -- or a string pattern preceded and/or followed by \"%\" wildcards, which will match against both the \"subjectArea.code\" and the \"departmentNicknames\" (e.g. \"%ENGIN%\" will return all courses with a subjectArea.code or a departmentNickname that includes the string \"ENGIN\")",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "catalog-number",
                      "in": "query",
                      "description": "The entire human-readable number for a course, e.g. \"C123AC\" -- must be an exact match",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "course-prefix",
                      "in": "query",
                      "description": "The alpha character/s preceding the numeric portion of the catalog number, e.g. the first \"C\" in \"C123AC\"",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "course-number",
                      "in": "query",
                      "description": "The numeric portion of the catalog number, e.g. \"123\" in \"C123AC\"",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "academic-career-code",
                      "in": "query",
                      "description": "The high level grouping of academic policy within UC Berkeley, e.g., \"UGRD\"",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "units",
                      "in": "query",
                      "description": "An approved unit value for the course (if discrete or a range of values are allowed, this value must be within them)",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "summer-only",
                      "in": "query",
                      "description": "Return only courses offered exclusively during the summer term (defaults to false)",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "grading-basis-code",
                      "in": "query",
                      "description": "A code indicating the method of recording performance in the course",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "requirement-fulfilled-code",
                      "in": "query",
                      "description": "A code indicating a University, Campus, or General Education academic requirement fulfilled when the course is successfully completed",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "name": "last-updated-since",
                      "in": "query",
                      "description": "Return only courses updated since this date (inclusive) \u2013 must be in the format \"YYYY-MM-DD\", e.g., \"2021-04-17\"",
                      "required": false,
                      "type": "string",
                      "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}"
                  },
                  {
                      "name": "sort-by",
                      "in": "query",
                      "description": "Sort the list of courses returned by this element. Valid values are \"subject-area-code,\" \"last-updated,\" and \"catalog-number\"",
                      "required": false,
                      "type": "string",
                      "default": "last-updated",
                      "enum": [
                          "subject-area-code",
                          "last-updated",
                          "catalog-number"
                      ]
                  },
                  {
                      "$ref": "#/parameters/page-number"
                  },
                  {
                      "$ref": "#/parameters/page-size"
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Success",
                      "schema": {
                          "$ref": "#/definitions/coursesPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\">\n  <ar:correlationId>f3b43578-effd-11eb-8e5c-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:responseType>namespaceURI=\"http://bmeta.berkeley.edu/student/courseV1.xsd\" element=\"courses\"</ar:responseType>\n  <ar:response>\n    <crs:courses>\n      <crs:course>\n        <crs:identifiers>\n          <r:identifier>\n            <r:type>cms-id</r:type>\n            <r:id>cd4f9151-726d-46ca-b617-01d56298fbd7</r:id>\n          </r:identifier>\n          <r:identifier>\n            <r:type>cs-course-id</r:type>\n            <r:id>101384</r:id>\n          </r:identifier>\n          <r:identifier>\n            <r:type>cms-version-independent-id</r:type>\n            <r:id>3b44e6c0-bc69-4cf2-96bf-0ad1dad72751</r:id>\n          </r:identifier>\n        </crs:identifiers>\n        <crs:subjectArea>\n          <r:code>ART</r:code>\n          <r:description>Practice of Art</r:description>\n        </crs:subjectArea>\n        <crs:catalogNumber>\n          <crs:prefix/>\n          <crs:number>14</crs:number>\n          <crs:suffix/>\n          <crs:formatted>14</crs:formatted>\n        </crs:catalogNumber>\n        <crs:classSubjectArea>\n          <r:code>ART</r:code>\n          <r:description>Art Practice</r:description>\n        </crs:classSubjectArea>\n        <crs:displayName>ART 14</crs:displayName>\n        <crs:classDisplayName>ART 14</crs:classDisplayName>\n        <crs:formerDisplayName/>\n        <crs:title>The Language of Sculpture</crs:title>\n        <crs:transcriptTitle>LANG OF SCULPTURE</crs:transcriptTitle>\n        <crs:description>A study of how interactions between physical form and the space it generates can serve\n                    as a metaphor. Field trips and illustrated talks will help acquaint you with the ideas that\n                    sculptors have explored in the 20th century. </crs:description>\n        <crs:academicCareer>\n          <r:code>UGRD</r:code>\n          <r:description>Undergraduate</r:description>\n        </crs:academicCareer>\n        <crs:academicGroup>\n          <r:code>CLS</r:code>\n          <r:description>Clg of Letters &amp; Science</r:description>\n        </crs:academicGroup>\n        <crs:academicOrganization>\n          <r:code>ART</r:code>\n          <r:description>Art Practice</r:description>\n        </crs:academicOrganization>\n        <crs:departmentNicknames>AP!ART PRACTICE!</crs:departmentNicknames>\n        <crs:primaryInstructionMethod>\n          <r:code>STD</r:code>\n          <r:description>Student practice of studio skills and/or tasks</r:description>\n        </crs:primaryInstructionMethod>\n        <crs:credit>\n          <crs:type>fixed</crs:type>\n          <crs:value>\n            <crs:fixed>\n              <crs:units>3.0</crs:units>\n            </crs:fixed>\n          </crs:value>\n        </crs:credit>\n        <crs:gradingBasis>\n          <r:code>letter</r:code>\n          <r:description>letter</r:description>\n        </crs:gradingBasis>\n        <crs:blindGrading>false</crs:blindGrading>\n        <crs:status>\n          <r:code>DEPRECATED</r:code>\n          <r:description>Deprecated</r:description>\n        </crs:status>\n        <crs:fromDate>1993-08-17</crs:fromDate>\n        <crs:toDate>2004-05-24</crs:toDate>\n        <crs:createdDate>2013-03-16</crs:createdDate>\n        <crs:updatedDate>2013-03-16</crs:updatedDate>\n        <crs:printInCatalog>true</crs:printInCatalog>\n        <crs:printInstructors>true</crs:printInstructors>\n        <crs:anyFeesExist>false</crs:anyFeesExist>\n        <crs:finalExam>\n          <r:code>N</r:code>\n          <r:description>No final exam</r:description>\n        </crs:finalExam>\n        <crs:instructorDropConsentRequired>false</crs:instructorDropConsentRequired>\n        <crs:allowMultipleEnrollments>false</crs:allowMultipleEnrollments>\n        <crs:spansMultipleTerms>false</crs:spansMultipleTerms>\n        <crs:multipleTermNumber>0</crs:multipleTermNumber>\n        <crs:contactHours>9</crs:contactHours>\n        <crs:workloadHours>9</crs:workloadHours>\n        <crs:tIE/>\n        <crs:cIP>\n          <r:code>MISSINGcipCode</r:code>\n          <r:description>MISSINGcipCode</r:description>\n        </crs:cIP>\n        <crs:hEGIS>\n          <r:code>MISSINGhegisCode</r:code>\n          <r:description>MISSINGhegisCode</r:description>\n        </crs:hEGIS>\n        <crs:repeatability>\n          <crs:repeatable>false</crs:repeatable>\n        </crs:repeatability>\n        <crs:preparation>\n          <crs:requiredText>8A or 8B. </crs:requiredText>\n          <crs:requiredCourses/>\n        </crs:preparation>\n        <crs:creditRestriction>\n          <crs:restrictionText/>\n          <crs:restrictionCourses>\n            <crs:creditRestrictionCourse>\n              <crs:course>\n                <crs:identifiers>\n                  <r:identifier>\n                    <r:type>cs-course-id</r:type>\n                    <r:id>101384</r:id>\n                  </r:identifier>\n                  <r:identifier>\n                    <r:type>cms-version-independent-id</r:type>\n                    <r:id>3b44e6c0-bc69-4cf2-96bf-0ad1dad72751</r:id>\n                  </r:identifier>\n                </crs:identifiers>\n                <crs:displayName>ART 14</crs:displayName>\n              </crs:course>\n              <crs:maxCreditPercentage>100</crs:maxCreditPercentage>\n            </crs:creditRestrictionCourse>\n          </crs:restrictionCourses>\n        </crs:creditRestriction>\n        <crs:proposedInstructors>\n          <crs:proposedInstructor/>\n        </crs:proposedInstructors>\n        <crs:formatsOffered>\n          <crs:description> Six hours of instructional studio and three hours of open studio per week. </crs:description>\n          <crs:formats>\n            <crs:format>\n              <crs:termsAllowed>\n                <crs:termName>Fall</crs:termName>\n              </crs:termsAllowed>\n              <crs:sessionType>15</crs:sessionType>\n              <crs:description>9 hours of studio per week</crs:description>\n              <crs:aggregateMinContactHours>9</crs:aggregateMinContactHours>\n              <crs:aggregateMaxContactHours>9</crs:aggregateMaxContactHours>\n              <crs:minWorkloadHours>9</crs:minWorkloadHours>\n              <crs:maxWorkloadHours>9</crs:maxWorkloadHours>\n              <crs:anyFeesExist>false</crs:anyFeesExist>\n              <crs:components>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>STD</r:code>\n                    <r:description>Student practice of studio skills and/or tasks</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>true</crs:primary>\n                  <crs:minContactHours>9</crs:minContactHours>\n                  <crs:maxContactHours>9</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>WRK</r:code>\n                    <r:description>Outside Work Hours</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>false</crs:primary>\n                  <crs:minContactHours>0</crs:minContactHours>\n                  <crs:maxContactHours>0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n              </crs:components>\n            </crs:format>\n            <crs:format>\n              <crs:termsAllowed>\n                <crs:termName>Spring</crs:termName>\n              </crs:termsAllowed>\n              <crs:sessionType>15</crs:sessionType>\n              <crs:description>9 hours of studio per week</crs:description>\n              <crs:aggregateMinContactHours>9</crs:aggregateMinContactHours>\n              <crs:aggregateMaxContactHours>9</crs:aggregateMaxContactHours>\n              <crs:minWorkloadHours>9</crs:minWorkloadHours>\n              <crs:maxWorkloadHours>9</crs:maxWorkloadHours>\n              <crs:anyFeesExist>false</crs:anyFeesExist>\n              <crs:components>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>STD</r:code>\n                    <r:description>Student practice of studio skills and/or tasks</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>true</crs:primary>\n                  <crs:minContactHours>9</crs:minContactHours>\n                  <crs:maxContactHours>9</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>WRK</r:code>\n                    <r:description>Outside Work Hours</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>false</crs:primary>\n                  <crs:minContactHours>0</crs:minContactHours>\n                  <crs:maxContactHours>0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n              </crs:components>\n            </crs:format>\n          </crs:formats>\n          <crs:typicallyOffered>\n            <crs:terms>\n              <crs:termName>Fall</crs:termName>\n              <crs:termName>Spring</crs:termName>\n            </crs:terms>\n            <crs:comments/>\n          </crs:typicallyOffered>\n          <crs:summerOnly>false</crs:summerOnly>\n        </crs:formatsOffered>\n      </crs:course>\n      <crs:course>\n        <crs:identifiers>\n          <r:identifier>\n            <r:type>cms-id</r:type>\n            <r:id>150b81cd-2b1c-43e9-ab83-8be94870529b</r:id>\n          </r:identifier>\n          <r:identifier>\n            <r:type>cs-course-id</r:type>\n            <r:id>101382</r:id>\n          </r:identifier>\n          <r:identifier>\n            <r:type>cms-version-independent-id</r:type>\n            <r:id>67c632cb-3f08-42a0-8d20-d3d6be163af9</r:id>\n          </r:identifier>\n        </crs:identifiers>\n        <crs:subjectArea>\n          <r:code>ART</r:code>\n          <r:description>Practice of Art</r:description>\n        </crs:subjectArea>\n        <crs:catalogNumber>\n          <crs:prefix/>\n          <crs:number>137</crs:number>\n          <crs:suffix/>\n          <crs:formatted>137</crs:formatted>\n        </crs:catalogNumber>\n        <crs:classSubjectArea>\n          <r:code>ART</r:code>\n          <r:description>Art Practice</r:description>\n        </crs:classSubjectArea>\n        <crs:displayName>ART 137</crs:displayName>\n        <crs:classDisplayName>ART 137</crs:classDisplayName>\n        <crs:formerDisplayName/>\n        <crs:title>Advanced Projects in Ceramic Sculpture</crs:title>\n        <crs:transcriptTitle>ADV PROJ CERAM SCUL</crs:transcriptTitle>\n        <crs:description>This advanced course encourages students to stretch the technical limits of ceramic\n                    materials and processes. Project assignments will challenge students to develop strong conceptual\n                    and material practices, linking their work to larger issues in contemporary art. Topics may include:\n                    the intimately handmade, multiples and mass production, conceptual craft, public art, community\n                    engagement, interdisciplinary practices, performance, ceramic 3-D printing/modeling, and more.\n                    Hands-on demonstrations, field trips, artist lectures, and readings/discussion will accompany\n                    dedicated studio time and instruction. Prior experience in clay is expected.</crs:description>\n        <crs:academicCareer>\n          <r:code>UGRD</r:code>\n          <r:description>Undergraduate</r:description>\n        </crs:academicCareer>\n        <crs:academicGroup>\n          <r:code>CLS</r:code>\n          <r:description>Clg of Letters &amp; Science</r:description>\n        </crs:academicGroup>\n        <crs:academicOrganization>\n          <r:code>ART</r:code>\n          <r:description>Art Practice</r:description>\n        </crs:academicOrganization>\n        <crs:departmentNicknames>AP!ART PRACTICE!</crs:departmentNicknames>\n        <crs:primaryInstructionMethod>\n          <r:code>STD</r:code>\n          <r:description>Student practice of studio skills and/or tasks</r:description>\n        </crs:primaryInstructionMethod>\n        <crs:credit>\n          <crs:type>fixed</crs:type>\n          <crs:value>\n            <crs:fixed>\n              <crs:units>4.0</crs:units>\n            </crs:fixed>\n          </crs:value>\n        </crs:credit>\n        <crs:gradingBasis>\n          <r:code>letter</r:code>\n          <r:description>letter</r:description>\n        </crs:gradingBasis>\n        <crs:blindGrading>false</crs:blindGrading>\n        <crs:status>\n          <r:code>ACTIVE</r:code>\n          <r:description>ACTIVE</r:description>\n        </crs:status>\n        <crs:fromDate>2020-01-14</crs:fromDate>\n        <crs:toDate>2099-12-19</crs:toDate>\n        <crs:createdDate>2019-05-03</crs:createdDate>\n        <crs:updatedDate>2019-05-10</crs:updatedDate>\n        <crs:printInCatalog>true</crs:printInCatalog>\n        <crs:printInstructors>true</crs:printInstructors>\n        <crs:anyFeesExist>false</crs:anyFeesExist>\n        <crs:finalExam/>\n        <crs:instructorDropConsentRequired>false</crs:instructorDropConsentRequired>\n        <crs:allowMultipleEnrollments>false</crs:allowMultipleEnrollments>\n        <crs:spansMultipleTerms>false</crs:spansMultipleTerms>\n        <crs:multipleTermNumber>0</crs:multipleTermNumber>\n        <crs:contactHours>6</crs:contactHours>\n        <crs:workloadHours>12</crs:workloadHours>\n        <crs:tIE>\n          <r:code>STDT</r:code>\n          <r:description>STDT</r:description>\n        </crs:tIE>\n        <crs:cIP>\n          <r:code>MISSINGcipCode</r:code>\n          <r:description>MISSINGcipCode</r:description>\n        </crs:cIP>\n        <crs:hEGIS>\n          <r:code>MISSINGhegisCode</r:code>\n          <r:description>MISSINGhegisCode</r:description>\n        </crs:hEGIS>\n        <crs:repeatability>\n          <crs:repeatable>true</crs:repeatable>\n          <crs:description>Course may be repeated for credit without restriction.</crs:description>\n        </crs:repeatability>\n        <crs:preparation>\n          <crs:requiredText>ART 8 and ART 15, or equivalents.</crs:requiredText>\n          <crs:requiredCourses>\n            <crs:course>\n              <crs:identifiers>\n                <r:identifier>\n                  <r:type>cs-course-id</r:type>\n                  <r:id>101435</r:id>\n                </r:identifier>\n                <r:identifier>\n                  <r:type>cms-version-independent-id</r:type>\n                  <r:id>9aa5b529-d689-4325-a240-73a9fe4860af</r:id>\n                </r:identifier>\n              </crs:identifiers>\n              <crs:displayName>ART 8</crs:displayName>\n            </crs:course>\n            <crs:course>\n              <crs:identifiers>\n                <r:identifier>\n                  <r:type>cs-course-id</r:type>\n                  <r:id>101388</r:id>\n                </r:identifier>\n                <r:identifier>\n                  <r:type>cms-version-independent-id</r:type>\n                  <r:id>1cafc8b3-fb83-458a-8f31-547ffcd4dd6b</r:id>\n                </r:identifier>\n              </crs:identifiers>\n              <crs:displayName>ART 15</crs:displayName>\n            </crs:course>\n          </crs:requiredCourses>\n        </crs:preparation>\n        <crs:creditRestriction>\n          <crs:restrictionText/>\n          <crs:restrictionCourses>\n            <crs:creditRestrictionCourse>\n              <crs:course>\n                <crs:identifiers>\n                  <r:identifier>\n                    <r:type>cs-course-id</r:type>\n                    <r:id>101382</r:id>\n                  </r:identifier>\n                  <r:identifier>\n                    <r:type>cms-version-independent-id</r:type>\n                    <r:id>67c632cb-3f08-42a0-8d20-d3d6be163af9</r:id>\n                  </r:identifier>\n                </crs:identifiers>\n                <crs:displayName>ART 137</crs:displayName>\n              </crs:course>\n              <crs:maxCreditPercentage>100</crs:maxCreditPercentage>\n            </crs:creditRestrictionCourse>\n          </crs:restrictionCourses>\n        </crs:creditRestriction>\n        <crs:proposedInstructors>\n          <crs:proposedInstructor>Staff</crs:proposedInstructor>\n        </crs:proposedInstructors>\n        <crs:formatsOffered>\n          <crs:description>Six hours of studio per week. </crs:description>\n          <crs:formats>\n            <crs:format>\n              <crs:termsAllowed>\n                <crs:termName>Fall</crs:termName>\n              </crs:termsAllowed>\n              <crs:sessionType>15</crs:sessionType>\n              <crs:description>6.0 hours of studio per week</crs:description>\n              <crs:aggregateMinContactHours>6</crs:aggregateMinContactHours>\n              <crs:aggregateMaxContactHours>6</crs:aggregateMaxContactHours>\n              <crs:minWorkloadHours>12</crs:minWorkloadHours>\n              <crs:maxWorkloadHours>12</crs:maxWorkloadHours>\n              <crs:anyFeesExist>false</crs:anyFeesExist>\n              <crs:components>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>STD</r:code>\n                    <r:description>Student practice of studio skills and/or tasks</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>true</crs:primary>\n                  <crs:minContactHours>6.0</crs:minContactHours>\n                  <crs:maxContactHours>6.0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>WRK</r:code>\n                    <r:description>Outside Work Hours</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>false</crs:primary>\n                  <crs:minContactHours>6.0</crs:minContactHours>\n                  <crs:maxContactHours>6.0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n              </crs:components>\n            </crs:format>\n            <crs:format>\n              <crs:termsAllowed>\n                <crs:termName>Spring</crs:termName>\n              </crs:termsAllowed>\n              <crs:sessionType>15</crs:sessionType>\n              <crs:description>6.0 hours of studio per week</crs:description>\n              <crs:aggregateMinContactHours>6</crs:aggregateMinContactHours>\n              <crs:aggregateMaxContactHours>6</crs:aggregateMaxContactHours>\n              <crs:minWorkloadHours>12</crs:minWorkloadHours>\n              <crs:maxWorkloadHours>12</crs:maxWorkloadHours>\n              <crs:anyFeesExist>false</crs:anyFeesExist>\n              <crs:components>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>STD</r:code>\n                    <r:description>Student practice of studio skills and/or tasks</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>true</crs:primary>\n                  <crs:minContactHours>6.0</crs:minContactHours>\n                  <crs:maxContactHours>6.0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>WRK</r:code>\n                    <r:description>Outside Work Hours</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>false</crs:primary>\n                  <crs:minContactHours>6.0</crs:minContactHours>\n                  <crs:maxContactHours>6.0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n              </crs:components>\n            </crs:format>\n          </crs:formats>\n          <crs:typicallyOffered>\n            <crs:terms>\n              <crs:termName>Fall</crs:termName>\n              <crs:termName>Spring</crs:termName>\n            </crs:terms>\n            <crs:comments/>\n          </crs:typicallyOffered>\n          <crs:summerOnly>false</crs:summerOnly>\n        </crs:formatsOffered>\n      </crs:course>\n    </crs:courses>\n  </ar:response>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "64a373f6-effd-11eb-8e5c-0050568dbdb9", "httpStatus": { "code": "200", "description": "OK" }, "responseType": "namespaceURI=\"http://bmeta.berkeley.edu/student/courseV1.xsd\" element=\"courses\"", "response": { "courses": [ { "identifiers": [ { "type": "cms-id", "id": "cd4f9151-726d-46ca-b617-01d56298fbd7" }, { "type": "cs-course-id", "id": "101384" }, { "type": "cms-version-independent-id", "id": "3b44e6c0-bc69-4cf2-96bf-0ad1dad72751" } ], "subjectArea": { "code": "ART", "description": "Practice of Art" }, "catalogNumber": { "prefix": "", "number": "14", "suffix": "", "formatted": "14" }, "classSubjectArea": { "code": "ART", "description": "Art Practice" }, "displayName": "ART 14", "classDisplayName": "ART 14", "formerDisplayName": "", "title": "The Language of Sculpture", "transcriptTitle": "LANG OF SCULPTURE", "description": "A study of how interactions between physical form and the space it generates can serve as a metaphor. Field trips and illustrated talks will help acquaint you with the ideas that sculptors have explored in the 20th century. ", "academicCareer": { "code": "UGRD", "description": "Undergraduate" }, "academicGroup": { "code": "CLS", "description": "Clg of Letters & Science" }, "academicOrganization": { "code": "ART", "description": "Art Practice" }, "departmentNicknames": "AP!ART PRACTICE!", "primaryInstructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "credit": { "type": "fixed", "value": { "fixed": { "units": 3.0 } } }, "gradingBasis": { "code": "letter", "description": "letter" }, "blindGrading": false, "status": { "code": "DEPRECATED", "description": "Deprecated" }, "fromDate": "1993-08-17", "toDate": "2004-05-24", "createdDate": "2013-03-16", "updatedDate": "2013-03-16", "printInCatalog": true, "printInstructors": true, "anyFeesExist": false, "finalExam": { "code": "N", "description": "No final exam" }, "instructorDropConsentRequired": false, "allowMultipleEnrollments": false, "spansMultipleTerms": false, "multipleTermNumber": 0, "contactHours": 9, "workloadHours": 9, "tie": { }, "cip": { "code": "MISSINGcipCode", "description": "MISSINGcipCode" }, "hegis": { "code": "MISSINGhegisCode", "description": "MISSINGhegisCode" }, "repeatability": { "repeatable": false }, "preparation": { "requiredText": "8A or 8B. ", "requiredCourses": [ ] }, "creditRestriction": { "restrictionText": "", "restrictionCourses": [ { "course": { "identifiers": [ { "type": "cs-course-id", "id": "101384" }, { "type": "cms-version-independent-id", "id": "3b44e6c0-bc69-4cf2-96bf-0ad1dad72751" } ], "displayName": "ART 14" }, "maxCreditPercentage": 100 } ] }, "proposedInstructors": [ "" ], "formatsOffered": { "description": " Six hours of instructional studio and three hours of open studio per week. ", "formats": [ { "termsAllowed": [ "Fall" ], "sessionType": "15", "description": "9 hours of studio per week", "aggregateMinContactHours": 9, "aggregateMaxContactHours": 9, "minWorkloadHours": 9, "maxWorkloadHours": 9, "anyFeesExist": false, "components": [ { "instructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "primary": true, "minContactHours": 9, "maxContactHours": 9, "finalExam": { }, "feesExist": false }, { "instructionMethod": { "code": "WRK", "description": "Outside Work Hours" }, "primary": false, "minContactHours": 0, "maxContactHours": 0, "finalExam": { }, "feesExist": false } ] }, { "termsAllowed": [ "Spring" ], "sessionType": "15", "description": "9 hours of studio per week", "aggregateMinContactHours": 9, "aggregateMaxContactHours": 9, "minWorkloadHours": 9, "maxWorkloadHours": 9, "anyFeesExist": false, "components": [ { "instructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "primary": true, "minContactHours": 9, "maxContactHours": 9, "finalExam": { }, "feesExist": false }, { "instructionMethod": { "code": "WRK", "description": "Outside Work Hours" }, "primary": false, "minContactHours": 0, "maxContactHours": 0, "finalExam": { }, "feesExist": false } ] } ], "typicallyOffered": { "terms": [ "Fall", "Spring" ], "comments": "" }, "summerOnly": false } }, { "identifiers": [ { "type": "cms-id", "id": "150b81cd-2b1c-43e9-ab83-8be94870529b" }, { "type": "cs-course-id", "id": "101382" }, { "type": "cms-version-independent-id", "id": "67c632cb-3f08-42a0-8d20-d3d6be163af9" } ], "subjectArea": { "code": "ART", "description": "Practice of Art" }, "catalogNumber": { "prefix": "", "number": "137", "suffix": "", "formatted": "137" }, "classSubjectArea": { "code": "ART", "description": "Art Practice" }, "displayName": "ART 137", "classDisplayName": "ART 137", "formerDisplayName": "", "title": "Advanced Projects in Ceramic Sculpture", "transcriptTitle": "ADV PROJ CERAM SCUL", "description": "This advanced course encourages students to stretch the technical limits of ceramic materials and processes. Project assignments will challenge students to develop strong conceptual and material practices, linking their work to larger issues in contemporary art. Topics may include: the intimately handmade, multiples and mass production, conceptual craft, public art, community engagement, interdisciplinary practices, performance, ceramic 3-D printing/modeling, and more. Hands-on demonstrations, field trips, artist lectures, and readings/discussion will accompany dedicated studio time and instruction. Prior experience in clay is expected.", "academicCareer": { "code": "UGRD", "description": "Undergraduate" }, "academicGroup": { "code": "CLS", "description": "Clg of Letters & Science" }, "academicOrganization": { "code": "ART", "description": "Art Practice" }, "departmentNicknames": "AP!ART PRACTICE!", "primaryInstructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "credit": { "type": "fixed", "value": { "fixed": { "units": 4.0 } } }, "gradingBasis": { "code": "letter", "description": "letter" }, "blindGrading": false, "status": { "code": "ACTIVE", "description": "ACTIVE" }, "fromDate": "2020-01-14", "toDate": "2099-12-19", "createdDate": "2019-05-03", "updatedDate": "2019-05-10", "printInCatalog": true, "printInstructors": true, "anyFeesExist": false, "finalExam": { }, "instructorDropConsentRequired": false, "allowMultipleEnrollments": false, "spansMultipleTerms": false, "multipleTermNumber": 0, "contactHours": 6, "workloadHours": 12, "tie": { "code": "STDT", "description": "STDT" }, "cip": { "code": "MISSINGcipCode", "description": "MISSINGcipCode" }, "hegis": { "code": "MISSINGhegisCode", "description": "MISSINGhegisCode" }, "repeatability": { "repeatable": true, "description": "Course may be repeated for credit without restriction." }, "preparation": { "requiredText": "ART 8 and ART 15, or equivalents.", "requiredCourses": [ { "identifiers": [ { "type": "cs-course-id", "id": "101435" }, { "type": "cms-version-independent-id", "id": "9aa5b529-d689-4325-a240-73a9fe4860af" } ], "displayName": "ART 8" }, { "identifiers": [ { "type": "cs-course-id", "id": "101388" }, { "type": "cms-version-independent-id", "id": "1cafc8b3-fb83-458a-8f31-547ffcd4dd6b" } ], "displayName": "ART 15" } ] }, "creditRestriction": { "restrictionText": "", "restrictionCourses": [ { "course": { "identifiers": [ { "type": "cs-course-id", "id": "101382" }, { "type": "cms-version-independent-id", "id": "67c632cb-3f08-42a0-8d20-d3d6be163af9" } ], "displayName": "ART 137" }, "maxCreditPercentage": 100 } ] }, "proposedInstructors": [ "Staff" ], "formatsOffered": { "description": "Six hours of studio per week. ", "formats": [ { "termsAllowed": [ "Fall" ], "sessionType": "15", "description": "6.0 hours of studio per week", "aggregateMinContactHours": 6, "aggregateMaxContactHours": 6, "minWorkloadHours": 12, "maxWorkloadHours": 12, "anyFeesExist": false, "components": [ { "instructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "primary": true, "minContactHours": 6.0, "maxContactHours": 6.0, "finalExam": { }, "feesExist": false }, { "instructionMethod": { "code": "WRK", "description": "Outside Work Hours" }, "primary": false, "minContactHours": 6.0, "maxContactHours": 6.0, "finalExam": { }, "feesExist": false } ] }, { "termsAllowed": [ "Spring" ], "sessionType": "15", "description": "6.0 hours of studio per week", "aggregateMinContactHours": 6, "aggregateMaxContactHours": 6, "minWorkloadHours": 12, "maxWorkloadHours": 12, "anyFeesExist": false, "components": [ { "instructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "primary": true, "minContactHours": 6.0, "maxContactHours": 6.0, "finalExam": { }, "feesExist": false }, { "instructionMethod": { "code": "WRK", "description": "Outside Work Hours" }, "primary": false, "minContactHours": 6.0, "maxContactHours": 6.0, "finalExam": { }, "feesExist": false } ] } ], "typicallyOffered": { "terms": [ "Fall", "Spring" ], "comments": "" }, "summerOnly": false } } ] } } }
                      }
                  },
                  "400": {
                      "description": "Bad Request"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  },
                  "500": {
                      "description": "Internal Server Error"
                  }
              }
          }
      },
      "/v4/courses/{id}": {
          "get": {
              "tags": [
                  "v4"
              ],
              "summary": "Get course data by unique ID",
              "description": "Given an ID, returns course data conforming to the Course EDO described on http://bMeta.berkeley.edu",
              "operationId": "findCourseByIdUsingGET",
              "parameters": [
                  {
                      "name": "id",
                      "in": "path",
                      "description": "Some code or number uniquely identifying the course (no wildcards allowed)",
                      "required": true,
                      "type": "string"
                  },
                  {
                      "name": "id-type",
                      "in": "query",
                      "description": "The type of ID being submitted (if left blank, \"displayName\" is assumed)",
                      "required": false,
                      "type": "string",
                      "enum": [
                          "",
                          "cms-id",
                          "cs-course-id",
                          "cms-version-independent-id"
                      ]
                  },
                  {
                      "name": "status-code",
                      "in": "query",
                      "description": "A code indicating a course's current state as regards its availability to be offered",
                      "required": false,
                      "type": "string"
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Success",
                      "schema": {
                          "$ref": "#/definitions/coursesPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\">\n  <ar:correlationId>f3b43578-effd-11eb-8e5c-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:responseType>namespaceURI=\"http://bmeta.berkeley.edu/student/courseV1.xsd\" element=\"courses\"</ar:responseType>\n  <ar:response>\n    <crs:courses>\n      <crs:course>\n        <crs:identifiers>\n          <r:identifier>\n            <r:type>cms-id</r:type>\n            <r:id>cd4f9151-726d-46ca-b617-01d56298fbd7</r:id>\n          </r:identifier>\n          <r:identifier>\n            <r:type>cs-course-id</r:type>\n            <r:id>101384</r:id>\n          </r:identifier>\n          <r:identifier>\n            <r:type>cms-version-independent-id</r:type>\n            <r:id>3b44e6c0-bc69-4cf2-96bf-0ad1dad72751</r:id>\n          </r:identifier>\n        </crs:identifiers>\n        <crs:subjectArea>\n          <r:code>ART</r:code>\n          <r:description>Practice of Art</r:description>\n        </crs:subjectArea>\n        <crs:catalogNumber>\n          <crs:prefix/>\n          <crs:number>14</crs:number>\n          <crs:suffix/>\n          <crs:formatted>14</crs:formatted>\n        </crs:catalogNumber>\n        <crs:classSubjectArea>\n          <r:code>ART</r:code>\n          <r:description>Art Practice</r:description>\n        </crs:classSubjectArea>\n        <crs:displayName>ART 14</crs:displayName>\n        <crs:classDisplayName>ART 14</crs:classDisplayName>\n        <crs:formerDisplayName/>\n        <crs:title>The Language of Sculpture</crs:title>\n        <crs:transcriptTitle>LANG OF SCULPTURE</crs:transcriptTitle>\n        <crs:description>A study of how interactions between physical form and the space it generates can serve\n                    as a metaphor. Field trips and illustrated talks will help acquaint you with the ideas that\n                    sculptors have explored in the 20th century. </crs:description>\n        <crs:academicCareer>\n          <r:code>UGRD</r:code>\n          <r:description>Undergraduate</r:description>\n        </crs:academicCareer>\n        <crs:academicGroup>\n          <r:code>CLS</r:code>\n          <r:description>Clg of Letters &amp; Science</r:description>\n        </crs:academicGroup>\n        <crs:academicOrganization>\n          <r:code>ART</r:code>\n          <r:description>Art Practice</r:description>\n        </crs:academicOrganization>\n        <crs:departmentNicknames>AP!ART PRACTICE!</crs:departmentNicknames>\n        <crs:primaryInstructionMethod>\n          <r:code>STD</r:code>\n          <r:description>Student practice of studio skills and/or tasks</r:description>\n        </crs:primaryInstructionMethod>\n        <crs:credit>\n          <crs:type>fixed</crs:type>\n          <crs:value>\n            <crs:fixed>\n              <crs:units>3.0</crs:units>\n            </crs:fixed>\n          </crs:value>\n        </crs:credit>\n        <crs:gradingBasis>\n          <r:code>letter</r:code>\n          <r:description>letter</r:description>\n        </crs:gradingBasis>\n        <crs:blindGrading>false</crs:blindGrading>\n        <crs:status>\n          <r:code>DEPRECATED</r:code>\n          <r:description>Deprecated</r:description>\n        </crs:status>\n        <crs:fromDate>1993-08-17</crs:fromDate>\n        <crs:toDate>2004-05-24</crs:toDate>\n        <crs:createdDate>2013-03-16</crs:createdDate>\n        <crs:updatedDate>2013-03-16</crs:updatedDate>\n        <crs:printInCatalog>true</crs:printInCatalog>\n        <crs:printInstructors>true</crs:printInstructors>\n        <crs:anyFeesExist>false</crs:anyFeesExist>\n        <crs:finalExam>\n          <r:code>N</r:code>\n          <r:description>No final exam</r:description>\n        </crs:finalExam>\n        <crs:instructorDropConsentRequired>false</crs:instructorDropConsentRequired>\n        <crs:allowMultipleEnrollments>false</crs:allowMultipleEnrollments>\n        <crs:spansMultipleTerms>false</crs:spansMultipleTerms>\n        <crs:multipleTermNumber>0</crs:multipleTermNumber>\n        <crs:contactHours>9</crs:contactHours>\n        <crs:workloadHours>9</crs:workloadHours>\n        <crs:tIE/>\n        <crs:cIP>\n          <r:code>MISSINGcipCode</r:code>\n          <r:description>MISSINGcipCode</r:description>\n        </crs:cIP>\n        <crs:hEGIS>\n          <r:code>MISSINGhegisCode</r:code>\n          <r:description>MISSINGhegisCode</r:description>\n        </crs:hEGIS>\n        <crs:repeatability>\n          <crs:repeatable>false</crs:repeatable>\n        </crs:repeatability>\n        <crs:preparation>\n          <crs:requiredText>8A or 8B. </crs:requiredText>\n          <crs:requiredCourses/>\n        </crs:preparation>\n        <crs:creditRestriction>\n          <crs:restrictionText/>\n          <crs:restrictionCourses>\n            <crs:creditRestrictionCourse>\n              <crs:course>\n                <crs:identifiers>\n                  <r:identifier>\n                    <r:type>cs-course-id</r:type>\n                    <r:id>101384</r:id>\n                  </r:identifier>\n                  <r:identifier>\n                    <r:type>cms-version-independent-id</r:type>\n                    <r:id>3b44e6c0-bc69-4cf2-96bf-0ad1dad72751</r:id>\n                  </r:identifier>\n                </crs:identifiers>\n                <crs:displayName>ART 14</crs:displayName>\n              </crs:course>\n              <crs:maxCreditPercentage>100</crs:maxCreditPercentage>\n            </crs:creditRestrictionCourse>\n          </crs:restrictionCourses>\n        </crs:creditRestriction>\n        <crs:proposedInstructors>\n          <crs:proposedInstructor/>\n        </crs:proposedInstructors>\n        <crs:formatsOffered>\n          <crs:description> Six hours of instructional studio and three hours of open studio per week. </crs:description>\n          <crs:formats>\n            <crs:format>\n              <crs:termsAllowed>\n                <crs:termName>Fall</crs:termName>\n              </crs:termsAllowed>\n              <crs:sessionType>15</crs:sessionType>\n              <crs:description>9 hours of studio per week</crs:description>\n              <crs:aggregateMinContactHours>9</crs:aggregateMinContactHours>\n              <crs:aggregateMaxContactHours>9</crs:aggregateMaxContactHours>\n              <crs:minWorkloadHours>9</crs:minWorkloadHours>\n              <crs:maxWorkloadHours>9</crs:maxWorkloadHours>\n              <crs:anyFeesExist>false</crs:anyFeesExist>\n              <crs:components>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>STD</r:code>\n                    <r:description>Student practice of studio skills and/or tasks</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>true</crs:primary>\n                  <crs:minContactHours>9</crs:minContactHours>\n                  <crs:maxContactHours>9</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>WRK</r:code>\n                    <r:description>Outside Work Hours</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>false</crs:primary>\n                  <crs:minContactHours>0</crs:minContactHours>\n                  <crs:maxContactHours>0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n              </crs:components>\n            </crs:format>\n            <crs:format>\n              <crs:termsAllowed>\n                <crs:termName>Spring</crs:termName>\n              </crs:termsAllowed>\n              <crs:sessionType>15</crs:sessionType>\n              <crs:description>9 hours of studio per week</crs:description>\n              <crs:aggregateMinContactHours>9</crs:aggregateMinContactHours>\n              <crs:aggregateMaxContactHours>9</crs:aggregateMaxContactHours>\n              <crs:minWorkloadHours>9</crs:minWorkloadHours>\n              <crs:maxWorkloadHours>9</crs:maxWorkloadHours>\n              <crs:anyFeesExist>false</crs:anyFeesExist>\n              <crs:components>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>STD</r:code>\n                    <r:description>Student practice of studio skills and/or tasks</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>true</crs:primary>\n                  <crs:minContactHours>9</crs:minContactHours>\n                  <crs:maxContactHours>9</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>WRK</r:code>\n                    <r:description>Outside Work Hours</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>false</crs:primary>\n                  <crs:minContactHours>0</crs:minContactHours>\n                  <crs:maxContactHours>0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n              </crs:components>\n            </crs:format>\n          </crs:formats>\n          <crs:typicallyOffered>\n            <crs:terms>\n              <crs:termName>Fall</crs:termName>\n              <crs:termName>Spring</crs:termName>\n            </crs:terms>\n            <crs:comments/>\n          </crs:typicallyOffered>\n          <crs:summerOnly>false</crs:summerOnly>\n        </crs:formatsOffered>\n      </crs:course>\n      <crs:course>\n        <crs:identifiers>\n          <r:identifier>\n            <r:type>cms-id</r:type>\n            <r:id>150b81cd-2b1c-43e9-ab83-8be94870529b</r:id>\n          </r:identifier>\n          <r:identifier>\n            <r:type>cs-course-id</r:type>\n            <r:id>101382</r:id>\n          </r:identifier>\n          <r:identifier>\n            <r:type>cms-version-independent-id</r:type>\n            <r:id>67c632cb-3f08-42a0-8d20-d3d6be163af9</r:id>\n          </r:identifier>\n        </crs:identifiers>\n        <crs:subjectArea>\n          <r:code>ART</r:code>\n          <r:description>Practice of Art</r:description>\n        </crs:subjectArea>\n        <crs:catalogNumber>\n          <crs:prefix/>\n          <crs:number>137</crs:number>\n          <crs:suffix/>\n          <crs:formatted>137</crs:formatted>\n        </crs:catalogNumber>\n        <crs:classSubjectArea>\n          <r:code>ART</r:code>\n          <r:description>Art Practice</r:description>\n        </crs:classSubjectArea>\n        <crs:displayName>ART 137</crs:displayName>\n        <crs:classDisplayName>ART 137</crs:classDisplayName>\n        <crs:formerDisplayName/>\n        <crs:title>Advanced Projects in Ceramic Sculpture</crs:title>\n        <crs:transcriptTitle>ADV PROJ CERAM SCUL</crs:transcriptTitle>\n        <crs:description>This advanced course encourages students to stretch the technical limits of ceramic\n                    materials and processes. Project assignments will challenge students to develop strong conceptual\n                    and material practices, linking their work to larger issues in contemporary art. Topics may include:\n                    the intimately handmade, multiples and mass production, conceptual craft, public art, community\n                    engagement, interdisciplinary practices, performance, ceramic 3-D printing/modeling, and more.\n                    Hands-on demonstrations, field trips, artist lectures, and readings/discussion will accompany\n                    dedicated studio time and instruction. Prior experience in clay is expected.</crs:description>\n        <crs:academicCareer>\n          <r:code>UGRD</r:code>\n          <r:description>Undergraduate</r:description>\n        </crs:academicCareer>\n        <crs:academicGroup>\n          <r:code>CLS</r:code>\n          <r:description>Clg of Letters &amp; Science</r:description>\n        </crs:academicGroup>\n        <crs:academicOrganization>\n          <r:code>ART</r:code>\n          <r:description>Art Practice</r:description>\n        </crs:academicOrganization>\n        <crs:departmentNicknames>AP!ART PRACTICE!</crs:departmentNicknames>\n        <crs:primaryInstructionMethod>\n          <r:code>STD</r:code>\n          <r:description>Student practice of studio skills and/or tasks</r:description>\n        </crs:primaryInstructionMethod>\n        <crs:credit>\n          <crs:type>fixed</crs:type>\n          <crs:value>\n            <crs:fixed>\n              <crs:units>4.0</crs:units>\n            </crs:fixed>\n          </crs:value>\n        </crs:credit>\n        <crs:gradingBasis>\n          <r:code>letter</r:code>\n          <r:description>letter</r:description>\n        </crs:gradingBasis>\n        <crs:blindGrading>false</crs:blindGrading>\n        <crs:status>\n          <r:code>ACTIVE</r:code>\n          <r:description>ACTIVE</r:description>\n        </crs:status>\n        <crs:fromDate>2020-01-14</crs:fromDate>\n        <crs:toDate>2099-12-19</crs:toDate>\n        <crs:createdDate>2019-05-03</crs:createdDate>\n        <crs:updatedDate>2019-05-10</crs:updatedDate>\n        <crs:printInCatalog>true</crs:printInCatalog>\n        <crs:printInstructors>true</crs:printInstructors>\n        <crs:anyFeesExist>false</crs:anyFeesExist>\n        <crs:finalExam/>\n        <crs:instructorDropConsentRequired>false</crs:instructorDropConsentRequired>\n        <crs:allowMultipleEnrollments>false</crs:allowMultipleEnrollments>\n        <crs:spansMultipleTerms>false</crs:spansMultipleTerms>\n        <crs:multipleTermNumber>0</crs:multipleTermNumber>\n        <crs:contactHours>6</crs:contactHours>\n        <crs:workloadHours>12</crs:workloadHours>\n        <crs:tIE>\n          <r:code>STDT</r:code>\n          <r:description>STDT</r:description>\n        </crs:tIE>\n        <crs:cIP>\n          <r:code>MISSINGcipCode</r:code>\n          <r:description>MISSINGcipCode</r:description>\n        </crs:cIP>\n        <crs:hEGIS>\n          <r:code>MISSINGhegisCode</r:code>\n          <r:description>MISSINGhegisCode</r:description>\n        </crs:hEGIS>\n        <crs:repeatability>\n          <crs:repeatable>true</crs:repeatable>\n          <crs:description>Course may be repeated for credit without restriction.</crs:description>\n        </crs:repeatability>\n        <crs:preparation>\n          <crs:requiredText>ART 8 and ART 15, or equivalents.</crs:requiredText>\n          <crs:requiredCourses>\n            <crs:course>\n              <crs:identifiers>\n                <r:identifier>\n                  <r:type>cs-course-id</r:type>\n                  <r:id>101435</r:id>\n                </r:identifier>\n                <r:identifier>\n                  <r:type>cms-version-independent-id</r:type>\n                  <r:id>9aa5b529-d689-4325-a240-73a9fe4860af</r:id>\n                </r:identifier>\n              </crs:identifiers>\n              <crs:displayName>ART 8</crs:displayName>\n            </crs:course>\n            <crs:course>\n              <crs:identifiers>\n                <r:identifier>\n                  <r:type>cs-course-id</r:type>\n                  <r:id>101388</r:id>\n                </r:identifier>\n                <r:identifier>\n                  <r:type>cms-version-independent-id</r:type>\n                  <r:id>1cafc8b3-fb83-458a-8f31-547ffcd4dd6b</r:id>\n                </r:identifier>\n              </crs:identifiers>\n              <crs:displayName>ART 15</crs:displayName>\n            </crs:course>\n          </crs:requiredCourses>\n        </crs:preparation>\n        <crs:creditRestriction>\n          <crs:restrictionText/>\n          <crs:restrictionCourses>\n            <crs:creditRestrictionCourse>\n              <crs:course>\n                <crs:identifiers>\n                  <r:identifier>\n                    <r:type>cs-course-id</r:type>\n                    <r:id>101382</r:id>\n                  </r:identifier>\n                  <r:identifier>\n                    <r:type>cms-version-independent-id</r:type>\n                    <r:id>67c632cb-3f08-42a0-8d20-d3d6be163af9</r:id>\n                  </r:identifier>\n                </crs:identifiers>\n                <crs:displayName>ART 137</crs:displayName>\n              </crs:course>\n              <crs:maxCreditPercentage>100</crs:maxCreditPercentage>\n            </crs:creditRestrictionCourse>\n          </crs:restrictionCourses>\n        </crs:creditRestriction>\n        <crs:proposedInstructors>\n          <crs:proposedInstructor>Staff</crs:proposedInstructor>\n        </crs:proposedInstructors>\n        <crs:formatsOffered>\n          <crs:description>Six hours of studio per week. </crs:description>\n          <crs:formats>\n            <crs:format>\n              <crs:termsAllowed>\n                <crs:termName>Fall</crs:termName>\n              </crs:termsAllowed>\n              <crs:sessionType>15</crs:sessionType>\n              <crs:description>6.0 hours of studio per week</crs:description>\n              <crs:aggregateMinContactHours>6</crs:aggregateMinContactHours>\n              <crs:aggregateMaxContactHours>6</crs:aggregateMaxContactHours>\n              <crs:minWorkloadHours>12</crs:minWorkloadHours>\n              <crs:maxWorkloadHours>12</crs:maxWorkloadHours>\n              <crs:anyFeesExist>false</crs:anyFeesExist>\n              <crs:components>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>STD</r:code>\n                    <r:description>Student practice of studio skills and/or tasks</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>true</crs:primary>\n                  <crs:minContactHours>6.0</crs:minContactHours>\n                  <crs:maxContactHours>6.0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>WRK</r:code>\n                    <r:description>Outside Work Hours</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>false</crs:primary>\n                  <crs:minContactHours>6.0</crs:minContactHours>\n                  <crs:maxContactHours>6.0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n              </crs:components>\n            </crs:format>\n            <crs:format>\n              <crs:termsAllowed>\n                <crs:termName>Spring</crs:termName>\n              </crs:termsAllowed>\n              <crs:sessionType>15</crs:sessionType>\n              <crs:description>6.0 hours of studio per week</crs:description>\n              <crs:aggregateMinContactHours>6</crs:aggregateMinContactHours>\n              <crs:aggregateMaxContactHours>6</crs:aggregateMaxContactHours>\n              <crs:minWorkloadHours>12</crs:minWorkloadHours>\n              <crs:maxWorkloadHours>12</crs:maxWorkloadHours>\n              <crs:anyFeesExist>false</crs:anyFeesExist>\n              <crs:components>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>STD</r:code>\n                    <r:description>Student practice of studio skills and/or tasks</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>true</crs:primary>\n                  <crs:minContactHours>6.0</crs:minContactHours>\n                  <crs:maxContactHours>6.0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n                <crs:component>\n                  <crs:instructionMethod>\n                    <r:code>WRK</r:code>\n                    <r:description>Outside Work Hours</r:description>\n                  </crs:instructionMethod>\n                  <crs:primary>false</crs:primary>\n                  <crs:minContactHours>6.0</crs:minContactHours>\n                  <crs:maxContactHours>6.0</crs:maxContactHours>\n                  <crs:finalExam/>\n                  <crs:feesExist>false</crs:feesExist>\n                </crs:component>\n              </crs:components>\n            </crs:format>\n          </crs:formats>\n          <crs:typicallyOffered>\n            <crs:terms>\n              <crs:termName>Fall</crs:termName>\n              <crs:termName>Spring</crs:termName>\n            </crs:terms>\n            <crs:comments/>\n          </crs:typicallyOffered>\n          <crs:summerOnly>false</crs:summerOnly>\n        </crs:formatsOffered>\n      </crs:course>\n    </crs:courses>\n  </ar:response>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "64a373f6-effd-11eb-8e5c-0050568dbdb9", "httpStatus": { "code": "200", "description": "OK" }, "responseType": "namespaceURI=\"http://bmeta.berkeley.edu/student/courseV1.xsd\" element=\"courses\"", "response": { "courses": [ { "identifiers": [ { "type": "cms-id", "id": "cd4f9151-726d-46ca-b617-01d56298fbd7" }, { "type": "cs-course-id", "id": "101384" }, { "type": "cms-version-independent-id", "id": "3b44e6c0-bc69-4cf2-96bf-0ad1dad72751" } ], "subjectArea": { "code": "ART", "description": "Practice of Art" }, "catalogNumber": { "prefix": "", "number": "14", "suffix": "", "formatted": "14" }, "classSubjectArea": { "code": "ART", "description": "Art Practice" }, "displayName": "ART 14", "classDisplayName": "ART 14", "formerDisplayName": "", "title": "The Language of Sculpture", "transcriptTitle": "LANG OF SCULPTURE", "description": "A study of how interactions between physical form and the space it generates can serve as a metaphor. Field trips and illustrated talks will help acquaint you with the ideas that sculptors have explored in the 20th century. ", "academicCareer": { "code": "UGRD", "description": "Undergraduate" }, "academicGroup": { "code": "CLS", "description": "Clg of Letters & Science" }, "academicOrganization": { "code": "ART", "description": "Art Practice" }, "departmentNicknames": "AP!ART PRACTICE!", "primaryInstructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "credit": { "type": "fixed", "value": { "fixed": { "units": 3.0 } } }, "gradingBasis": { "code": "letter", "description": "letter" }, "blindGrading": false, "status": { "code": "DEPRECATED", "description": "Deprecated" }, "fromDate": "1993-08-17", "toDate": "2004-05-24", "createdDate": "2013-03-16", "updatedDate": "2013-03-16", "printInCatalog": true, "printInstructors": true, "anyFeesExist": false, "finalExam": { "code": "N", "description": "No final exam" }, "instructorDropConsentRequired": false, "allowMultipleEnrollments": false, "spansMultipleTerms": false, "multipleTermNumber": 0, "contactHours": 9, "workloadHours": 9, "tie": { }, "cip": { "code": "MISSINGcipCode", "description": "MISSINGcipCode" }, "hegis": { "code": "MISSINGhegisCode", "description": "MISSINGhegisCode" }, "repeatability": { "repeatable": false }, "preparation": { "requiredText": "8A or 8B. ", "requiredCourses": [ ] }, "creditRestriction": { "restrictionText": "", "restrictionCourses": [ { "course": { "identifiers": [ { "type": "cs-course-id", "id": "101384" }, { "type": "cms-version-independent-id", "id": "3b44e6c0-bc69-4cf2-96bf-0ad1dad72751" } ], "displayName": "ART 14" }, "maxCreditPercentage": 100 } ] }, "proposedInstructors": [ "" ], "formatsOffered": { "description": " Six hours of instructional studio and three hours of open studio per week. ", "formats": [ { "termsAllowed": [ "Fall" ], "sessionType": "15", "description": "9 hours of studio per week", "aggregateMinContactHours": 9, "aggregateMaxContactHours": 9, "minWorkloadHours": 9, "maxWorkloadHours": 9, "anyFeesExist": false, "components": [ { "instructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "primary": true, "minContactHours": 9, "maxContactHours": 9, "finalExam": { }, "feesExist": false }, { "instructionMethod": { "code": "WRK", "description": "Outside Work Hours" }, "primary": false, "minContactHours": 0, "maxContactHours": 0, "finalExam": { }, "feesExist": false } ] }, { "termsAllowed": [ "Spring" ], "sessionType": "15", "description": "9 hours of studio per week", "aggregateMinContactHours": 9, "aggregateMaxContactHours": 9, "minWorkloadHours": 9, "maxWorkloadHours": 9, "anyFeesExist": false, "components": [ { "instructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "primary": true, "minContactHours": 9, "maxContactHours": 9, "finalExam": { }, "feesExist": false }, { "instructionMethod": { "code": "WRK", "description": "Outside Work Hours" }, "primary": false, "minContactHours": 0, "maxContactHours": 0, "finalExam": { }, "feesExist": false } ] } ], "typicallyOffered": { "terms": [ "Fall", "Spring" ], "comments": "" }, "summerOnly": false } }, { "identifiers": [ { "type": "cms-id", "id": "150b81cd-2b1c-43e9-ab83-8be94870529b" }, { "type": "cs-course-id", "id": "101382" }, { "type": "cms-version-independent-id", "id": "67c632cb-3f08-42a0-8d20-d3d6be163af9" } ], "subjectArea": { "code": "ART", "description": "Practice of Art" }, "catalogNumber": { "prefix": "", "number": "137", "suffix": "", "formatted": "137" }, "classSubjectArea": { "code": "ART", "description": "Art Practice" }, "displayName": "ART 137", "classDisplayName": "ART 137", "formerDisplayName": "", "title": "Advanced Projects in Ceramic Sculpture", "transcriptTitle": "ADV PROJ CERAM SCUL", "description": "This advanced course encourages students to stretch the technical limits of ceramic materials and processes. Project assignments will challenge students to develop strong conceptual and material practices, linking their work to larger issues in contemporary art. Topics may include: the intimately handmade, multiples and mass production, conceptual craft, public art, community engagement, interdisciplinary practices, performance, ceramic 3-D printing/modeling, and more. Hands-on demonstrations, field trips, artist lectures, and readings/discussion will accompany dedicated studio time and instruction. Prior experience in clay is expected.", "academicCareer": { "code": "UGRD", "description": "Undergraduate" }, "academicGroup": { "code": "CLS", "description": "Clg of Letters & Science" }, "academicOrganization": { "code": "ART", "description": "Art Practice" }, "departmentNicknames": "AP!ART PRACTICE!", "primaryInstructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "credit": { "type": "fixed", "value": { "fixed": { "units": 4.0 } } }, "gradingBasis": { "code": "letter", "description": "letter" }, "blindGrading": false, "status": { "code": "ACTIVE", "description": "ACTIVE" }, "fromDate": "2020-01-14", "toDate": "2099-12-19", "createdDate": "2019-05-03", "updatedDate": "2019-05-10", "printInCatalog": true, "printInstructors": true, "anyFeesExist": false, "finalExam": { }, "instructorDropConsentRequired": false, "allowMultipleEnrollments": false, "spansMultipleTerms": false, "multipleTermNumber": 0, "contactHours": 6, "workloadHours": 12, "tie": { "code": "STDT", "description": "STDT" }, "cip": { "code": "MISSINGcipCode", "description": "MISSINGcipCode" }, "hegis": { "code": "MISSINGhegisCode", "description": "MISSINGhegisCode" }, "repeatability": { "repeatable": true, "description": "Course may be repeated for credit without restriction." }, "preparation": { "requiredText": "ART 8 and ART 15, or equivalents.", "requiredCourses": [ { "identifiers": [ { "type": "cs-course-id", "id": "101435" }, { "type": "cms-version-independent-id", "id": "9aa5b529-d689-4325-a240-73a9fe4860af" } ], "displayName": "ART 8" }, { "identifiers": [ { "type": "cs-course-id", "id": "101388" }, { "type": "cms-version-independent-id", "id": "1cafc8b3-fb83-458a-8f31-547ffcd4dd6b" } ], "displayName": "ART 15" } ] }, "creditRestriction": { "restrictionText": "", "restrictionCourses": [ { "course": { "identifiers": [ { "type": "cs-course-id", "id": "101382" }, { "type": "cms-version-independent-id", "id": "67c632cb-3f08-42a0-8d20-d3d6be163af9" } ], "displayName": "ART 137" }, "maxCreditPercentage": 100 } ] }, "proposedInstructors": [ "Staff" ], "formatsOffered": { "description": "Six hours of studio per week. ", "formats": [ { "termsAllowed": [ "Fall" ], "sessionType": "15", "description": "6.0 hours of studio per week", "aggregateMinContactHours": 6, "aggregateMaxContactHours": 6, "minWorkloadHours": 12, "maxWorkloadHours": 12, "anyFeesExist": false, "components": [ { "instructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "primary": true, "minContactHours": 6.0, "maxContactHours": 6.0, "finalExam": { }, "feesExist": false }, { "instructionMethod": { "code": "WRK", "description": "Outside Work Hours" }, "primary": false, "minContactHours": 6.0, "maxContactHours": 6.0, "finalExam": { }, "feesExist": false } ] }, { "termsAllowed": [ "Spring" ], "sessionType": "15", "description": "6.0 hours of studio per week", "aggregateMinContactHours": 6, "aggregateMaxContactHours": 6, "minWorkloadHours": 12, "maxWorkloadHours": 12, "anyFeesExist": false, "components": [ { "instructionMethod": { "code": "STD", "description": "Student practice of studio skills and/or tasks" }, "primary": true, "minContactHours": 6.0, "maxContactHours": 6.0, "finalExam": { }, "feesExist": false }, { "instructionMethod": { "code": "WRK", "description": "Outside Work Hours" }, "primary": false, "minContactHours": 6.0, "maxContactHours": 6.0, "finalExam": { }, "feesExist": false } ] } ], "typicallyOffered": { "terms": { "termNames": [ "Fall", "Spring" ] }, "comments": "" }, "summerOnly": false } } ] } } }
                      }
                  },
                  "400": {
                      "description": "Bad Request"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found",
                      "schema": {
                          "$ref": "#/definitions/errorPayload"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ar:apiResponse\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:crs=\"http://bmeta.berkeley.edu/student/courseV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV0.xsd\">\n  <ar:correlationId>086e49a0-effa-11eb-8e5c-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>404</r:code>\n    <r:description>Not Found</r:description>\n    <r:formalDescription>No Data found</r:formalDescription>\n  </ar:httpStatus>\n</ar:apiResponse>\n",
                          "application/json": { "apiResponse": { "correlationId": "0e90b3b3-f4a4-11eb-bb58-0050568d6017", "httpStatus": { "code": "404", "description": "Not Found", "formalDescription": "No Data found" } } }
                      }
                  },
                  "500": {
                      "description": "Internal Server Error"
                  }
              }
          }
      }
  },
  "definitions": {
      "coursesPayload": {
          "description": "Only included as a wrapper to \"apiResponse\" in JSON responses",
          "type": "object",
          "properties": {
              "apiResponse": {
                  "$ref": "#/definitions/coursesResponse"
              }
          }
      },
      "coursesResponse": {
          "type": "object",
          "allOf": [
              {
                  "$ref": "#/definitions/apiResponse"
              },
              {
                  "properties": {
                      "responseType": {
                          "type": "string"
                      },
                      "response": {
                          "type": "object",
                          "properties": {
                              "courses": {
                                  "type": "array",
                                  "items": {
                                      "$ref": "#/definitions/course"
                                  }
                              }
                          },
                          "required": [
                              "courses"
                          ]
                      }
                  }
              }
          ],
          "required": [
              "response"
          ],
          "xml": {
              "name": "apiResponse"
          }
      },
      "errorPayload": {
          "description": "Only included as a wrapper to \"apiResponse\" in JSON responses",
          "type": "object",
          "properties": {
              "apiResponse": {
                  "$ref": "#/definitions/apiResponse"
              }
          }
      },
      "apiResponse": {
          "type": "object",
          "properties": {
              "source": {
                  "type": "string"
              },
              "correlationId": {
                  "type": "string",
                  "pattern": "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
              },
              "timeStamp": {
                  "type": "string",
                  "format": "date"
              },
              "cursor": {
                  "$ref": "#/definitions/cursor"
              },
              "httpStatus": {
                  "$ref": "#/definitions/descriptor"
              },
              "message": {
                  "$ref": "#/definitions/descriptor"
              },
              "helpResource": {
                  "type": "string",
                  "format": "uri"
              }
          },
          "required": [
              "httpStatus"
          ],
          "xml": {
              "name": "apiResponse"
          }
      },
      "catalogNumber": {
          "type": "object",
          "properties": {
              "prefix": {
                  "type": "string"
              },
              "number": {
                  "type": "string"
              },
              "suffix": {
                  "type": "string"
              },
              "formatted": {
                  "type": "string"
              }
          },
          "required": [
              "number",
              "formatted"
          ]
      },
      "cip": {
          "type": "object",
          "properties": {
              "code": {
                  "type": "string"
              },
              "description": {
                  "type": "string"
              }
          },
          "xml": {
              "name": "cIP"
          }
      },
      "component": {
          "type": "object",
          "properties": {
              "instructionMethod": {
                  "$ref": "#/definitions/descriptor"
              },
              "primary": {
                  "type": "boolean"
              },
              "contactHours": {
                  "type": "number",
                  "format": "float"
              },
              "minContactHours": {
                  "type": "number",
                  "format": "float"
              },
              "maxContactHours": {
                  "type": "number",
                  "format": "float"
              },
              "workloadHours": {
                  "type": "number",
                  "format": "float"
              },
              "finalExam": {
                  "$ref": "#/definitions/descriptor"
              },
              "feesExist": {
                  "type": "boolean"
              }
          },
          "required": [
              "instructionMethod",
              "primary",
              "minContactHours",
              "maxContactHours"
          ]
      },
      "course": {
          "type": "object",
          "properties": {
              "identifiers": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/identifier"
                  }
              },
              "subjectArea": {
                  "$ref": "#/definitions/descriptor"
              },
              "catalogNumber": {
                  "$ref": "#/definitions/catalogNumber"
              },
              "classSubjectArea": {
                  "$ref": "#/definitions/descriptor"
              },
              "displayName": {
                  "type": "string"
              },
              "classDisplayName": {
                  "type": "string"
              },
              "formerDisplayName": {
                  "type": "string"
              },
              "title": {
                  "type": "string"
              },
              "transcriptTitle": {
                  "type": "string"
              },
              "description": {
                  "type": "string"
              },
              "academicCareer": {
                  "$ref": "#/definitions/descriptor"
              },
              "academicGroup": {
                  "$ref": "#/definitions/descriptor"
              },
              "academicOrganization": {
                  "$ref": "#/definitions/descriptor"
              },
              "departmentNicknames": {
                  "type": "string"
              },
              "primaryInstructionMethod": {
                  "$ref": "#/definitions/descriptor"
              },
              "credit": {
                  "$ref": "#/definitions/credit"
              },
              "gradingBasis": {
                  "$ref": "#/definitions/descriptor"
              },
              "blindGrading": {
                  "type": "boolean"
              },
              "status": {
                  "$ref": "#/definitions/descriptor"
              },
              "fromDate": {
                  "type": "string",
                  "format": "date"
              },
              "toDate": {
                  "type": "string",
                  "format": "date"
              },
              "createdDate": {
                  "type": "string",
                  "format": "date"
              },
              "updatedDate": {
                  "type": "string",
                  "format": "date"
              },
              "printInCatalog": {
                  "type": "boolean"
              },
              "printInstructors": {
                  "type": "boolean"
              },
              "anyFeesExist": {
                  "type": "boolean"
              },
              "finalExam": {
                  "$ref": "#/definitions/descriptor"
              },
              "instructorAddConsentRequired": {
                  "type": "boolean"
              },
              "instructorDropConsentRequired": {
                  "type": "boolean"
              },
              "allowMultipleEnrollments": {
                  "type": "boolean"
              },
              "spansMultipleTerms": {
                  "type": "boolean"
              },
              "multipleTermNumber": {
                  "type": "integer"
              },
              "contactHours": {
                  "type": "number",
                  "format": "float"
              },
              "workloadHours": {
                  "type": "number",
                  "format": "float"
              },
              "enrollmentUnitLoadCalculator": {
                  "$ref": "#/definitions/descriptor"
              },
              "tie": {
                  "$ref": "#/definitions/tie"
              },
              "cip": {
                  "$ref": "#/definitions/cip"
              },
              "hegis": {
                  "$ref": "#/definitions/hegis"
              },
              "repeatability": {
                  "$ref": "#/definitions/repeatability"
              },
              "preparation": {
                  "$ref": "#/definitions/preparation"
              },
              "requisites": {
                  "$ref": "#/definitions/descriptor"
              },
              "creditRestriction": {
                  "$ref": "#/definitions/creditRestriction"
              },
              "courseObjectives": {
                  "type": "array",
                  "items": {
                      "type": "string"
                  }
              },
              "studentLearningOutcomes": {
                  "type": "array",
                  "items": {
                      "type": "string"
                  }
              },
              "proposedInstructors": {
                  "type": "array",
                  "items": {
                      "type": "string"
                  }
              },
              "formatsOffered": {
                  "$ref": "#/definitions/formatsOffered"
              },
              "crossListing": {
                  "$ref": "#/definitions/crossListing"
              },
              "classCrossListing": {
                  "$ref": "#/definitions/crossListing"
              },
              "requirementsFulfilled": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/requirementFulfilled"
                  }
              }
          },
          "required": [
              "identifiers",
              "subjectArea",
              "catalogNumber"
          ]
      },
      "credit": {
          "type": "object",
          "properties": {
              "type": {
                  "type": "string"
              },
              "value": {
                  "$ref": "#/definitions/creditValue"
              }
          },
          "required": [
              "type",
              "value"
          ]
      },
      "creditDiscrete": {
          "type": "object",
          "properties": {
              "units": {
                  "type": "array",
                  "items": {
                      "type": "number",
                      "format": "float"
                  }
              }
          },
          "required": [
              "units"
          ]
      },
      "creditFixed": {
          "type": "object",
          "properties": {
              "units": {
                  "type": "number",
                  "format": "float"
              }
          },
          "required": [
              "units"
          ]
      },
      "creditRange": {
          "type": "object",
          "properties": {
              "minUnits": {
                  "type": "number",
                  "format": "float"
              },
              "maxUnits": {
                  "type": "number",
                  "format": "float"
              }
          },
          "required": [
              "minUnits",
              "maxUnits"
          ]
      },
      "creditRestriction": {
          "type": "object",
          "properties": {
              "restrictionText": {
                  "type": "string"
              },
              "restrictionCourses": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/creditRestrictionCourse"
                  }
              }
          }
      },
      "creditRestrictionCourse": {
          "type": "object",
          "properties": {
              "course": {
                  "$ref": "#/definitions/minimalCourse"
              },
              "maxCreditPercentage": {
                  "type": "number",
                  "format": "float"
              }
          },
          "required": [
              "course",
              "maxCreditPercentage"
          ]
      },
      "creditValue": {
          "type": "object",
          "properties": {
              "fixed": {
                  "$ref": "#/definitions/creditFixed"
              },
              "range": {
                  "$ref": "#/definitions/creditRange"
              },
              "discrete": {
                  "$ref": "#/definitions/creditDiscrete"
              }
          }
      },
      "crossListing": {
          "type": "object",
          "properties": {
              "count": {
                  "type": "integer"
              },
              "courses": {
                  "type": "array",
                  "items": {
                      "type": "string"
                  }
              }
          },
          "required": [
              "count",
              "courses"
          ]
      },
      "cursor": {
          "type": "object",
          "properties": {
              "previous": {
                  "type": "string"
              },
              "next": {
                  "type": "string"
              }
          }
      },
      "descriptor": {
          "type": "object",
          "properties": {
              "code": {
                  "type": "string"
              },
              "description": {
                  "type": "string"
              },
              "formalDescription": {
                  "type": "string"
              },
              "active": {
                  "type": "boolean"
              },
              "fromDate": {
                  "type": "string",
                  "format": "date"
              },
              "toDate": {
                  "type": "string",
                  "format": "date"
              }
          }
      },
      "format": {
          "type": "object",
          "properties": {
              "termsAllowed": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/termName"
                  }
              },
              "sessionType": {
                  "type": "string"
              },
              "description": {
                  "type": "string"
              },
              "aggregateContactHours": {
                  "type": "number",
                  "format": "float"
              },
              "aggregateMinContactHours": {
                  "type": "number",
                  "format": "float"
              },
              "aggregateMaxContactHours": {
                  "type": "number",
                  "format": "float"
              },
              "minWorkloadHours": {
                  "type": "number",
                  "format": "float"
              },
              "maxWorkloadHours": {
                  "type": "number",
                  "format": "float"
              },
              "anyFeesExist": {
                  "type": "boolean"
              },
              "finalExam": {
                  "$ref": "#/definitions/descriptor"
              },
              "components": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/component"
                  }
              }
          },
          "required": [
              "termsAllowed",
              "sessionType",
              "aggregateMinContactHours",
              "aggregateMaxContactHours",
              "minWorkloadHours",
              "maxWorkloadHours"
          ]
      },
      "formatsOffered": {
          "type": "object",
          "properties": {
              "description": {
                  "type": "string"
              },
              "formats": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/format"
                  }
              },
              "typicallyOffered": {
                  "$ref": "#/definitions/typicallyOffered"
              },
              "summerOnly": {
                  "type": "boolean"
              }
          },
          "required": [
              "formats"
          ]
      },
      "hegis": {
          "type": "object",
          "properties": {
              "code": {
                  "type": "string"
              },
              "description": {
                  "type": "string"
              }
          },
          "xml": {
              "name": "hEGIS"
          }
      },
      "identifier": {
          "type": "object",
          "properties": {
              "type": {
                  "type": "string"
              },
              "id": {
                  "type": "string"
              },
              "primary": {
                  "type": "boolean"
              },
              "disclose": {
                  "type": "boolean"
              },
              "fromDate": {
                  "type": "string",
                  "format": "date"
              },
              "toDate": {
                  "type": "string",
                  "format": "date"
              }
          },
          "required": [
              "type",
              "id"
          ]
      },
      "minimalCourse": {
          "type": "object",
          "properties": {
              "identifiers": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/identifier"
                  }
              },
              "subjectArea": {
                  "$ref": "#/definitions/descriptor"
              },
              "catalogNumber": {
                  "$ref": "#/definitions/catalogNumber"
              },
              "displayName": {
                  "type": "string"
              }
          },
          "required": [
              "identifiers",
              "displayName"
          ],
          "xml": {
              "name": "course"
          }
      },
      "preparation": {
          "type": "object",
          "properties": {
              "recommendedText": {
                  "type": "string"
              },
              "recommendedCourses": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/minimalCourse"
                  }
              },
              "requiredText": {
                  "type": "string"
              },
              "requiredCourses": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/minimalCourse"
                  }
              }
          }
      },
      "repeatability": {
          "type": "object",
          "properties": {
              "repeatable": {
                  "type": "boolean"
              },
              "description": {
                  "type": "string"
              },
              "maxCredit": {
                  "type": "number",
                  "format": "float"
              },
              "maxCount": {
                  "type": "integer"
              }
          },
          "required": [
              "repeatable"
          ]
      },
      "requirementFulfilled": {
          "type": "object",
          "properties": {
              "code": {
                  "type": "string"
              },
              "description": {
                  "type": "string"
              }
          },
          "xml": {
              "name": "requirementFulfilled"
          }
      },
      "termName": {
          "type": "string",
          "xml": {
              "name": "termName"
          }
      },
      "tie": {
          "type": "object",
          "properties": {
              "code": {
                  "type": "string"
              },
              "description": {
                  "type": "string"
              }
          },
          "xml": {
              "name": "tIE"
          }
      },
      "typicallyOffered": {
          "type": "object",
          "properties": {
              "terms": {
                  "type": "array",
                  "items": {
                      "$ref": "#/definitions/termName"
                  }
              },
              "comments": {
                  "type": "string"
              }
          }
      },
      "units": {
          "type": "number",
          "format": "float",
          "xml": {
              "name": "units"
          }
      }
  }
}