{
  "swagger": "2.0",
  "info": {
      "title": "Term API",
      "description": "### Get information about academic terms and sessions.\n\nThe interactive docs below allow you to test parameter usage and see how both requests and return payloads are formatted using the **\"Try it out\"** feature.\n\n*This feature runs against the UAT version of the API and the QAT version of the source SIS database. Remember to remove \"/uat\" from the URL to run your client against the production version.*",
      "version": "2.0"
  },
  "host": "gateway.api.berkeley.edu",
  "basePath": "/uat/sis",
  "schemes": [
      "https"
  ],
  "produces": [
      "application/json",
      "application/xml"
  ],
  "tags": [
      {
          "name": "term",
          "description": ""
      }
  ],
  "parameters": {
      "page-number": {
          "name": "page-number",
          "in": "query",
          "description": "The set of records to return; can be used to traverse paginated data sets.",
          "required": false,
          "type": "integer",
          "default": 1
      },
      "page-size": {
          "name": "page-size",
          "in": "query",
          "description": "The number of records returned in one paginated data set. Maximum is 100",
          "required": false,
          "type": "integer",
          "default": 10,
          "maximum": 100
      },
      "app_id": {
          "name": "app_id",
          "in": "header",
          "description": "The public ID portion of API Central credentials",
          "required": true,
          "type": "string"
      },
      "app_key": {
          "name": "app_key",
          "in": "header",
          "description": "The private key portion of API Central credentials",
          "required": true,
          "type": "string",
          "format": "password"
      }
  },
  "paths": {
      "/v2/terms/{term-id}": {
          "get": {
              "tags": [
                  "term"
              ],
              "summary": "Get term data by ID",
              "description": "Given a term ID, returns all information about that academic term and all associated academic sessions, in the format of the Term EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)",
              "operationId": "getByTermIdUsingGET",
              "parameters": [
                  {
                      "name": "term-id",
                      "in": "path",
                      "description": "The unique ID number identifying the academic term",
                      "type": "string",
                      "pattern": "[12][0-9]{2}[258]",
                      "required": true
                  },
                  {
                      "name": "career-code",
                      "in": "query",
                      "description": "The unique code identifying the academic career (terms for all academic careers returned if not specified)",
                      "type": "string",
                      "required": false
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/termResponse"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><t:termsApiResponse\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV2.xsd\">\n  <ar:correlationId>c3684f5e-c1f7-11ee-bbbf-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:responseType>namespaceURI=\"http://bmeta.berkeley.edu/student/termV1.xsd\" element=\"terms\"</ar:responseType>\n  <t:response>\n    <t:terms>\n      <t:term>\n        <t:academicCareer>\n          <r:code>UGRD</r:code>\n          <r:description>Undergraduate</r:description>\n        </t:academicCareer>\n        <t:temporalPosition>Future</t:temporalPosition>\n        <t:id>2245</t:id>\n        <t:name>2024 Summer</t:name>\n        <t:category>\n          <r:code>S</r:code>\n          <r:description>Summer Term</r:description>\n        </t:category>\n        <t:academicYear>2025</t:academicYear>\n        <t:beginDate>2024-05-20</t:beginDate>\n        <t:endDate>2024-08-09</t:endDate>\n        <t:weeksOfInstruction>12</t:weeksOfInstruction>\n        <t:holidaySchedule>\n          <r:code>UCB01</r:code>\n          <r:description>UCB Non-Instructional Days</r:description>\n        </t:holidaySchedule>\n        <t:censusDate>2024-06-21</t:censusDate>\n        <t:fullyEnrolledDeadline>2024-05-20</t:fullyEnrolledDeadline>\n        <t:fullyGradedDeadline>2024-08-09</t:fullyGradedDeadline>\n        <t:cancelDeadline>2024-05-19</t:cancelDeadline>\n        <t:withdrawNoPenaltyDeadline>2024-05-24</t:withdrawNoPenaltyDeadline>\n        <t:degreeConferDate>2024-08-09</t:degreeConferDate>\n        <t:selfServicePlanBeginDate>2020-01-01</t:selfServicePlanBeginDate>\n        <t:selfServicePlanEndDate>2024-08-09</t:selfServicePlanEndDate>\n        <t:selfServiceEnrollBeginDate>2024-01-24</t:selfServiceEnrollBeginDate>\n        <t:selfServiceEnrollEndDate>2024-08-09</t:selfServiceEnrollEndDate>\n        <t:sessions>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>10W</t:id>\n            <t:name>10 Week</t:name>\n            <t:beginDate>2024-06-03</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>10</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-06-15</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-26</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-06-14</t:enrollEndDate>\n            <t:waitListEndDate>2024-06-14</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-06-03</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-06-14</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-06-02</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-06-14</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-06-03</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-06-07</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-06-14</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>12W</t:id>\n            <t:name>Twelve Week</t:name>\n            <t:beginDate>2024-05-20</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>12</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-06-01</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-12</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-05-31</t:enrollEndDate>\n            <t:waitListEndDate>2024-05-31</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-05-20</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-05-31</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-05-19</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-05-31</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-05-20</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-05-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-05-31</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>3W</t:id>\n            <t:name>Session E</t:name>\n            <t:beginDate>2024-07-22</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>3</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-08-03</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-26</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-08-02</t:enrollEndDate>\n            <t:waitListEndDate>2024-08-02</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-07-22</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-07-28</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-07-21</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-07-28</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-07-22</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-07-28</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-08-02</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>3W2</t:id>\n            <t:name>Three Week - Second</t:name>\n            <t:beginDate>2024-07-01</t:beginDate>\n            <t:endDate>2024-07-19</t:endDate>\n            <t:weeksOfInstruction>3</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-07-13</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-05</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-07-12</t:enrollEndDate>\n            <t:waitListEndDate>2024-07-12</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-07-01</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-07-07</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-06-30</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-07-07</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-07-01</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-05</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-07-07</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-12</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>6W1</t:id>\n            <t:name>Six Week - First</t:name>\n            <t:beginDate>2024-05-20</t:beginDate>\n            <t:endDate>2024-06-28</t:endDate>\n            <t:weeksOfInstruction>6</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-06-01</t:censusDate>\n            <t:sixtyPercentPoint>2024-06-07</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-05-31</t:enrollEndDate>\n            <t:waitListEndDate>2024-05-31</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-05-20</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-05-31</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-06-28</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-05-19</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-05-31</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-06-28</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-05-20</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-05-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-05-31</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-06-14</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-06-28</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>6W2</t:id>\n            <t:name>Six Week - Second</t:name>\n            <t:beginDate>2024-07-01</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>6</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-07-13</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-19</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-07-12</t:enrollEndDate>\n            <t:waitListEndDate>2024-07-12</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-07-01</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-07-12</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-06-30</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-07-12</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-07-01</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-05</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-07-12</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>8W</t:id>\n            <t:name>Session C</t:name>\n            <t:beginDate>2024-06-17</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>8</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-06-29</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-26</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-06-28</t:enrollEndDate>\n            <t:waitListEndDate>2024-06-28</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-06-17</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-06-28</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-06-16</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-06-28</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-06-17</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-06-21</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-06-28</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n        </t:sessions>\n      </t:term>\n    </t:terms>\n  </t:response>\n</t:termsApiResponse>\n",
                          "application/json": { "correlationId": "a4d7734d-c1f7-11ee-bbbf-0050568dbdb9", "httpStatus": { "code": "200", "description": "OK" }, "responseType": "namespaceURI=\"http://bmeta.berkeley.edu/student/termV1.xsd\" element=\"terms\"", "response": { "terms": [ { "academicCareer": { "code": "UGRD", "description": "Undergraduate" }, "temporalPosition": "Future", "id": "2245", "name": "2024 Summer", "category": { "code": "S", "description": "Summer Term" }, "academicYear": "2025", "beginDate": "2024-05-20", "endDate": "2024-08-09", "weeksOfInstruction": 12, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-06-21", "fullyEnrolledDeadline": "2024-05-20", "fullyGradedDeadline": "2024-08-09", "cancelDeadline": "2024-05-19", "withdrawNoPenaltyDeadline": "2024-05-24", "degreeConferDate": "2024-08-09", "selfServicePlanBeginDate": "2020-01-01", "selfServicePlanEndDate": "2024-08-09", "selfServiceEnrollBeginDate": "2024-01-24", "selfServiceEnrollEndDate": "2024-08-09", "sessions": [ { "temporalPosition": "Future", "id": "10W", "name": "10 Week", "beginDate": "2024-06-03", "endDate": "2024-08-09", "weeksOfInstruction": 10, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-06-15", "sixtyPercentPoint": "2024-07-26", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-06-14", "waitListEndDate": "2024-06-14", "fullyEnrolledDeadline": "2024-06-03", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-06-14", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-06-02", "withdrawNoPenaltyDeadline": "2024-06-14", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-06-03" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-06-07" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-06-14" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-07-26" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "12W", "name": "Twelve Week", "beginDate": "2024-05-20", "endDate": "2024-08-09", "weeksOfInstruction": 12, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-06-01", "sixtyPercentPoint": "2024-07-12", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-05-31", "waitListEndDate": "2024-05-31", "fullyEnrolledDeadline": "2024-05-20", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-05-31", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-05-19", "withdrawNoPenaltyDeadline": "2024-05-31", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-05-20" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-05-24" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-05-31" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-07-26" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "3W", "name": "Session E", "beginDate": "2024-07-22", "endDate": "2024-08-09", "weeksOfInstruction": 3, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-08-03", "sixtyPercentPoint": "2024-07-26", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-08-02", "waitListEndDate": "2024-08-02", "fullyEnrolledDeadline": "2024-07-22", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-07-28", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-07-21", "withdrawNoPenaltyDeadline": "2024-07-28", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-07-22" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-07-26" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-07-28" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-08-02" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "3W2", "name": "Three Week - Second", "beginDate": "2024-07-01", "endDate": "2024-07-19", "weeksOfInstruction": 3, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-07-13", "sixtyPercentPoint": "2024-07-05", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-07-12", "waitListEndDate": "2024-07-12", "fullyEnrolledDeadline": "2024-07-01", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-07-07", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-06-30", "withdrawNoPenaltyDeadline": "2024-07-07", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-07-01" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-07-05" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-07-07" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-07-12" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "6W1", "name": "Six Week - First", "beginDate": "2024-05-20", "endDate": "2024-06-28", "weeksOfInstruction": 6, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-06-01", "sixtyPercentPoint": "2024-06-07", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-05-31", "waitListEndDate": "2024-05-31", "fullyEnrolledDeadline": "2024-05-20", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-05-31", "dropWithPenaltyDeadline": "2024-06-28", "cancelDeadline": "2024-05-19", "withdrawNoPenaltyDeadline": "2024-05-31", "withdrawWithPenaltyDeadline": "2024-06-28", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-05-20" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-05-24" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-05-31" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-06-14" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-06-28" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "6W2", "name": "Six Week - Second", "beginDate": "2024-07-01", "endDate": "2024-08-09", "weeksOfInstruction": 6, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-07-13", "sixtyPercentPoint": "2024-07-19", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-07-12", "waitListEndDate": "2024-07-12", "fullyEnrolledDeadline": "2024-07-01", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-07-12", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-06-30", "withdrawNoPenaltyDeadline": "2024-07-12", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-07-01" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-07-05" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-07-12" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-07-26" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "8W", "name": "Session C", "beginDate": "2024-06-17", "endDate": "2024-08-09", "weeksOfInstruction": 8, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-06-29", "sixtyPercentPoint": "2024-07-26", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-06-28", "waitListEndDate": "2024-06-28", "fullyEnrolledDeadline": "2024-06-17", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-06-28", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-06-16", "withdrawNoPenaltyDeadline": "2024-06-28", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-06-17" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-06-21" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-06-28" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-07-26" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] } ] } ] } }
                      }
                  },
                  "400": {
                      "description": "Bad Request",
                      "schema": {
                          "$ref": "#/definitions/apiResponse"
                      },
                      "examples": {
                          "application/xml": "apiResponse.actual.xml",
                          "application/json": "apiResponse.actual.json"
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not found"
                  },
                  "500": {
                      "description": "Internal server error"
                  }
              }
          }
      },
      "/v2/terms": {
          "get": {
              "tags": [
                  "term"
              ],
              "summary": "Get term data by query parameters",
              "description": "Given any of the following parameters, returns all information about matching academic terms and their associated academic sessions, in the format of the Term EDO described on [bMeta.berkeley.edu](http://bMeta.berkeley.edu)",
              "operationId": "getByTermsUsingGET",
              "parameters": [
                  {
                      "name": "career-code",
                      "in": "query",
                      "description": "The unique code identifying the academic career (returns terms for all academic careers if not specified)",
                      "type": "string",
                      "required": false
                  },
                  {
                      "name": "temporal-position",
                      "in": "query",
                      "description": "The term's specific position in time as of the specified date (returns \"Current\" term on that date if no position is specified)",
                      "type": "string",
                      "enum": [
                          "",
                          "Previous",
                          "Current",
                          "Next"
                      ],
                      "required": false
                  },
                  {
                      "name": "as-of-date",
                      "in": "query",
                      "description": "A date (in yyyy-mm-dd format) on which the term would be considered to be in the specified temporal position (uses the system date if not specified)",
                      "type": "string",
                      "format": "date",
                      "required": false
                  },
                  {
                      "$ref": "#/parameters/app_id"
                  },
                  {
                      "$ref": "#/parameters/app_key"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Success",
                      "schema": {
                          "$ref": "#/definitions/termResponse"
                      },
                      "examples": {
                          "application/xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><t:termsApiResponse\n  xmlns:r=\"http://bmeta.berkeley.edu/common/referenceV0.xsd\"\n  xmlns:t=\"http://bmeta.berkeley.edu/student/termV1.xsd\"\n  xmlns:ar=\"http://bmeta.berkeley.edu/common/apiResponseV2.xsd\">\n  <ar:correlationId>c3684f5e-c1f7-11ee-bbbf-0050568dbdb9</ar:correlationId>\n  <ar:httpStatus>\n    <r:code>200</r:code>\n    <r:description>OK</r:description>\n  </ar:httpStatus>\n  <ar:responseType>namespaceURI=\"http://bmeta.berkeley.edu/student/termV1.xsd\" element=\"terms\"</ar:responseType>\n  <t:response>\n    <t:terms>\n      <t:term>\n        <t:academicCareer>\n          <r:code>UGRD</r:code>\n          <r:description>Undergraduate</r:description>\n        </t:academicCareer>\n        <t:temporalPosition>Future</t:temporalPosition>\n        <t:id>2245</t:id>\n        <t:name>2024 Summer</t:name>\n        <t:category>\n          <r:code>S</r:code>\n          <r:description>Summer Term</r:description>\n        </t:category>\n        <t:academicYear>2025</t:academicYear>\n        <t:beginDate>2024-05-20</t:beginDate>\n        <t:endDate>2024-08-09</t:endDate>\n        <t:weeksOfInstruction>12</t:weeksOfInstruction>\n        <t:holidaySchedule>\n          <r:code>UCB01</r:code>\n          <r:description>UCB Non-Instructional Days</r:description>\n        </t:holidaySchedule>\n        <t:censusDate>2024-06-21</t:censusDate>\n        <t:fullyEnrolledDeadline>2024-05-20</t:fullyEnrolledDeadline>\n        <t:fullyGradedDeadline>2024-08-09</t:fullyGradedDeadline>\n        <t:cancelDeadline>2024-05-19</t:cancelDeadline>\n        <t:withdrawNoPenaltyDeadline>2024-05-24</t:withdrawNoPenaltyDeadline>\n        <t:degreeConferDate>2024-08-09</t:degreeConferDate>\n        <t:selfServicePlanBeginDate>2020-01-01</t:selfServicePlanBeginDate>\n        <t:selfServicePlanEndDate>2024-08-09</t:selfServicePlanEndDate>\n        <t:selfServiceEnrollBeginDate>2024-01-24</t:selfServiceEnrollBeginDate>\n        <t:selfServiceEnrollEndDate>2024-08-09</t:selfServiceEnrollEndDate>\n        <t:sessions>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>10W</t:id>\n            <t:name>10 Week</t:name>\n            <t:beginDate>2024-06-03</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>10</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-06-15</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-26</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-06-14</t:enrollEndDate>\n            <t:waitListEndDate>2024-06-14</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-06-03</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-06-14</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-06-02</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-06-14</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-06-03</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-06-07</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-06-14</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>12W</t:id>\n            <t:name>Twelve Week</t:name>\n            <t:beginDate>2024-05-20</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>12</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-06-01</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-12</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-05-31</t:enrollEndDate>\n            <t:waitListEndDate>2024-05-31</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-05-20</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-05-31</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-05-19</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-05-31</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-05-20</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-05-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-05-31</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>3W</t:id>\n            <t:name>Session E</t:name>\n            <t:beginDate>2024-07-22</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>3</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-08-03</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-26</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-08-02</t:enrollEndDate>\n            <t:waitListEndDate>2024-08-02</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-07-22</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-07-28</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-07-21</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-07-28</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-07-22</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-07-28</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-08-02</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>3W2</t:id>\n            <t:name>Three Week - Second</t:name>\n            <t:beginDate>2024-07-01</t:beginDate>\n            <t:endDate>2024-07-19</t:endDate>\n            <t:weeksOfInstruction>3</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-07-13</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-05</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-07-12</t:enrollEndDate>\n            <t:waitListEndDate>2024-07-12</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-07-01</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-07-07</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-06-30</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-07-07</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-07-01</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-05</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-07-07</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-12</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>6W1</t:id>\n            <t:name>Six Week - First</t:name>\n            <t:beginDate>2024-05-20</t:beginDate>\n            <t:endDate>2024-06-28</t:endDate>\n            <t:weeksOfInstruction>6</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-06-01</t:censusDate>\n            <t:sixtyPercentPoint>2024-06-07</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-05-31</t:enrollEndDate>\n            <t:waitListEndDate>2024-05-31</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-05-20</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-05-31</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-06-28</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-05-19</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-05-31</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-06-28</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-05-20</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-05-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-05-31</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-06-14</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-06-28</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>6W2</t:id>\n            <t:name>Six Week - Second</t:name>\n            <t:beginDate>2024-07-01</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>6</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-07-13</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-19</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-07-12</t:enrollEndDate>\n            <t:waitListEndDate>2024-07-12</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-07-01</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-07-12</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-06-30</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-07-12</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-07-01</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-05</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-07-12</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n          <t:session>\n            <t:temporalPosition>Future</t:temporalPosition>\n            <t:id>8W</t:id>\n            <t:name>Session C</t:name>\n            <t:beginDate>2024-06-17</t:beginDate>\n            <t:endDate>2024-08-09</t:endDate>\n            <t:weeksOfInstruction>8</t:weeksOfInstruction>\n            <t:holidaySchedule>\n              <r:code>UCB01</r:code>\n              <r:description>UCB Non-Instructional Days</r:description>\n            </t:holidaySchedule>\n            <t:censusDate>2024-06-29</t:censusDate>\n            <t:sixtyPercentPoint>2024-07-26</t:sixtyPercentPoint>\n            <t:openEnrollmentDate>2024-01-24</t:openEnrollmentDate>\n            <t:enrollBeginDate>2024-01-24</t:enrollBeginDate>\n            <t:enrollEndDate>2024-06-28</t:enrollEndDate>\n            <t:waitListEndDate>2024-06-28</t:waitListEndDate>\n            <t:fullyEnrolledDeadline>2024-06-17</t:fullyEnrolledDeadline>\n            <t:dropDeletedFromRecordDeadline>2024-05-08</t:dropDeletedFromRecordDeadline>\n            <t:dropRetainedOnRecordDeadline>2024-06-28</t:dropRetainedOnRecordDeadline>\n            <t:dropWithPenaltyDeadline>2024-08-09</t:dropWithPenaltyDeadline>\n            <t:cancelDeadline>2024-06-16</t:cancelDeadline>\n            <t:withdrawNoPenaltyDeadline>2024-06-28</t:withdrawNoPenaltyDeadline>\n            <t:withdrawWithPenaltyDeadline>2024-08-09</t:withdrawWithPenaltyDeadline>\n            <t:timePeriods>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>000</r:code>\n                  <r:description>No Access Granted</r:description>\n                </t:period>\n                <t:endDate>2024-01-23</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>020</r:code>\n                  <r:description>First Date to Enroll</r:description>\n                </t:period>\n                <t:endDate>2024-01-24</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>090</r:code>\n                  <r:description>End of Drop Delete</r:description>\n                </t:period>\n                <t:endDate>2024-05-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>100</r:code>\n                  <r:description>Begin Term</r:description>\n                </t:period>\n                <t:endDate>2024-05-13</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>105</r:code>\n                  <r:description>Instruction Begins</r:description>\n                </t:period>\n                <t:endDate>2024-06-17</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>110</r:code>\n                  <r:description>End of First Week</r:description>\n                </t:period>\n                <t:endDate>2024-06-21</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>140</r:code>\n                  <r:description>End of Drop/Add</r:description>\n                </t:period>\n                <t:endDate>2024-06-28</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>150</r:code>\n                  <r:description>End of Tenth Week</r:description>\n                </t:period>\n                <t:endDate>2024-07-26</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>200</r:code>\n                  <r:description>End of Formal Instruction</r:description>\n                </t:period>\n                <t:endDate>2024-08-09</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>300</r:code>\n                  <r:description>End of Term</r:description>\n                </t:period>\n                <t:endDate>2024-08-10</t:endDate>\n              </t:timePeriod>\n              <t:timePeriod>\n                <t:period>\n                  <r:code>400</r:code>\n                  <r:description>End of Grading Period</r:description>\n                </t:period>\n                <t:endDate>2024-08-23</t:endDate>\n              </t:timePeriod>\n            </t:timePeriods>\n          </t:session>\n        </t:sessions>\n      </t:term>\n    </t:terms>\n  </t:response>\n</t:termsApiResponse>\n",
                          "application/json": { "correlationId": "a4d7734d-c1f7-11ee-bbbf-0050568dbdb9", "httpStatus": { "code": "200", "description": "OK" }, "responseType": "namespaceURI=\"http://bmeta.berkeley.edu/student/termV1.xsd\" element=\"terms\"", "response": { "terms": [ { "academicCareer": { "code": "UGRD", "description": "Undergraduate" }, "temporalPosition": "Future", "id": "2245", "name": "2024 Summer", "category": { "code": "S", "description": "Summer Term" }, "academicYear": "2025", "beginDate": "2024-05-20", "endDate": "2024-08-09", "weeksOfInstruction": 12, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-06-21", "fullyEnrolledDeadline": "2024-05-20", "fullyGradedDeadline": "2024-08-09", "cancelDeadline": "2024-05-19", "withdrawNoPenaltyDeadline": "2024-05-24", "degreeConferDate": "2024-08-09", "selfServicePlanBeginDate": "2020-01-01", "selfServicePlanEndDate": "2024-08-09", "selfServiceEnrollBeginDate": "2024-01-24", "selfServiceEnrollEndDate": "2024-08-09", "sessions": [ { "temporalPosition": "Future", "id": "10W", "name": "10 Week", "beginDate": "2024-06-03", "endDate": "2024-08-09", "weeksOfInstruction": 10, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-06-15", "sixtyPercentPoint": "2024-07-26", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-06-14", "waitListEndDate": "2024-06-14", "fullyEnrolledDeadline": "2024-06-03", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-06-14", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-06-02", "withdrawNoPenaltyDeadline": "2024-06-14", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-06-03" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-06-07" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-06-14" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-07-26" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "12W", "name": "Twelve Week", "beginDate": "2024-05-20", "endDate": "2024-08-09", "weeksOfInstruction": 12, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-06-01", "sixtyPercentPoint": "2024-07-12", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-05-31", "waitListEndDate": "2024-05-31", "fullyEnrolledDeadline": "2024-05-20", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-05-31", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-05-19", "withdrawNoPenaltyDeadline": "2024-05-31", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-05-20" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-05-24" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-05-31" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-07-26" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "3W", "name": "Session E", "beginDate": "2024-07-22", "endDate": "2024-08-09", "weeksOfInstruction": 3, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-08-03", "sixtyPercentPoint": "2024-07-26", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-08-02", "waitListEndDate": "2024-08-02", "fullyEnrolledDeadline": "2024-07-22", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-07-28", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-07-21", "withdrawNoPenaltyDeadline": "2024-07-28", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-07-22" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-07-26" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-07-28" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-08-02" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "3W2", "name": "Three Week - Second", "beginDate": "2024-07-01", "endDate": "2024-07-19", "weeksOfInstruction": 3, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-07-13", "sixtyPercentPoint": "2024-07-05", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-07-12", "waitListEndDate": "2024-07-12", "fullyEnrolledDeadline": "2024-07-01", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-07-07", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-06-30", "withdrawNoPenaltyDeadline": "2024-07-07", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-07-01" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-07-05" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-07-07" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-07-12" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-08-09" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "6W1", "name": "Six Week - First", "beginDate": "2024-05-20", "endDate": "2024-06-28", "weeksOfInstruction": 6, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-06-01", "sixtyPercentPoint": "2024-06-07", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-05-31", "waitListEndDate": "2024-05-31", "fullyEnrolledDeadline": "2024-05-20", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-05-31", "dropWithPenaltyDeadline": "2024-06-28", "cancelDeadline": "2024-05-19", "withdrawNoPenaltyDeadline": "2024-05-31", "withdrawWithPenaltyDeadline": "2024-06-28", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-05-20" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-05-24" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-05-31" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-06-14" }, { "period": { "code": "200", "description": "End of Formal Instruction" }, "endDate": "2024-06-28" }, { "period": { "code": "300", "description": "End of Term" }, "endDate": "2024-08-10" }, { "period": { "code": "400", "description": "End of Grading Period" }, "endDate": "2024-08-23" } ] }, { "temporalPosition": "Future", "id": "6W2", "name": "Six Week - Second", "beginDate": "2024-07-01", "endDate": "2024-08-09", "weeksOfInstruction": 6, "holidaySchedule": { "code": "UCB01", "description": "UCB Non-Instructional Days" }, "censusDate": "2024-07-13", "sixtyPercentPoint": "2024-07-19", "openEnrollmentDate": "2024-01-24", "enrollBeginDate": "2024-01-24", "enrollEndDate": "2024-07-12", "waitListEndDate": "2024-07-12", "fullyEnrolledDeadline": "2024-07-01", "dropDeletedFromRecordDeadline": "2024-05-08", "dropRetainedOnRecordDeadline": "2024-07-12", "dropWithPenaltyDeadline": "2024-08-09", "cancelDeadline": "2024-06-30", "withdrawNoPenaltyDeadline": "2024-07-12", "withdrawWithPenaltyDeadline": "2024-08-09", "timePeriods": [ { "period": { "code": "000", "description": "No Access Granted" }, "endDate": "2024-01-23" }, { "period": { "code": "020", "description": "First Date to Enroll" }, "endDate": "2024-01-24" }, { "period": { "code": "090", "description": "End of Drop Delete" }, "endDate": "2024-05-10" }, { "period": { "code": "100", "description": "Begin Term" }, "endDate": "2024-05-13" }, { "period": { "code": "105", "description": "Instruction Begins" }, "endDate": "2024-07-01" }, { "period": { "code": "110", "description": "End of First Week" }, "endDate": "2024-07-05" }, { "period": { "code": "140", "description": "End of Drop/Add" }, "endDate": "2024-07-12" }, { "period": { "code": "150", "description": "End of Tenth Week" }, "endDate": "2024-07-26" }, { "peri
[...]
