.root {
  flex: 1;
  width: 100%;
  overflow: auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 100%;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.cell {
  height: 500px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--foreground-color);
}
