.dots-container {
    position: relative; /* Position the dots at the bottom of the page */
    /* Adjust spacing from the bottom */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* transform: translateX(-50%); Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; /* Space between dots */
}

.dot {
    width: 8px;
    height: 8px;
    background-color: lightgray;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: black; /* Highlight the active dot */
}