.card.card-class {
    background-color: #579EFF;

    .content {
        padding: 15px 15px 15px 15px;
        background-color: white;
        margin-left: 10px;
        border-radius: 0 4px 4px 0;
    }
    .classTitle {
        padding-top: 15px;
        padding-bottom: 15px;
                    }
    .classNum {
        font-weight: bold;
        font-size: 20px;
    }
}
