.filter-description {
  display: flex;
  flex-direction: column;

  padding: 30px;

  .filter-description-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: bold;
      font-size: 24px;
      border-bottom: 6px solid $bt-blue;
    }

    margin-bottom: 10px;
  }

  .filter-description-title {
    margin-bottom: 20px;
  }

  .filter-description-stats {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 50px;
      margin-right: 5px;
    }

    .filter-description-stats-avg {
      display: flex;
      flex-direction: column;

      p {
        font-size: 15px;
      }

      a {
        font-size: 13px;
      }

      margin-right: 20px;
    }

    .filter-description-stats-enroll {
      display: flex;
      flex-direction: column;

      p {
        font-size: 15px;
      }

      a {
        font-size: 13px;
      }
    }

    margin-bottom: 20px;
  }

  .filter-description-instructors {
    margin-bottom: 20px;
  }

  .filter-description-tabs {
    .filter-description-tabs-details {
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 500;
        margin-bottom: 5px;
      }

      >:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    .filter-description-tabs-sections {
      max-height: 500px;
      overflow-x: scroll;
      overflow-y: scroll;

      > table {
        min-width: 480px;
        margin: 0;

        table-layout: fixed;

        abbr[title] {
          border-bottom: none !important;
          cursor: inherit !important;
          text-decoration: none !important;
        }

        .type {
          width: 18%;
        }

        .ccn {
          width: 10%;
        }
      }

      > table > thead > tr > th {
        font-size: 14px;
      }

      > table > tbody > tr > td {
        font-weight: normal;
        font-size: 12px;
      }
    }
  }
}
