.filter-selection-button {
  border: 0px;
  padding: 0px;
  margin-bottom: 20px;
  width: 100%;

  .filter-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 6px 4px 6px 10px;
    min-height: 130px;
    outline: none;

    &:hover,
    &:focus {
      color: white;
      background-color: #579EFF;

      h6 { color: white !important; }
      p { color: white; }
    }

    .filter-selection-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-width: 70%;
        border-right: 1px solid #EEEEEE;
        padding-right: 3px;

        .filter-selection-heading {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .filter-selection-description {
            font-size: 13px;
            text-align: left;
            margin-bottom: 10px;
        }

        .filter-selection-enrollment-data {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            .dataBlock {
                display: flex;
                flex-direction: row;
                justify-content: left;
                padding-right: 10px;

                p {
                    padding-left: 3px;
                    font-size: 12px;
                }
            }
        }
    }

    .filter-selection-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 30%;
        margin-top: 5px;
        margin-left: 2px;

        .filter-selection-units {
            display: block;
            text-align: center;

            h6 {
                font-family: "Roboto", "Arial", sans-serif !important;
                font-size: 14px;
                color: grey;
                margin: 0px;
            }
        }

        > div {
            margin-top: 8px;

            p {
                font-family: "Roboto", "Arial", sans-serif !important;
                font-size: 20px;
                font-weight: bold;
                margin-top: 5px;
            }

            h5 {
                font-family: "Roboto", "Arial", sans-serif !important;
                font-size: 15px;
            }
        }
    }
  }
}

.bt-blue-border {
    border-left: 5px solid $bt-blue;
}

.bt-green-border {
    border-left: 5px solid $bt-green;
}

.bt-pink-border {
    border-left: 5px solid $bt-pink;
}

.bt-yellow-border {
    border-left: 5px solid $bt-yellow;
}

.bt-orange-text {
    color: $bt-indicator-orange;
}

.bt-green-text {
    color: $bt-green;
}

.bt-red-text {
    color: $bt-indicator-red;
}
