.bt-footer {
    background-color: $bt-footer;

    .bt-footer-container {
        max-width: 1150px;
        margin: 0 auto;
        padding: 40px;

        .columns {
            .column {
                display: flex;
                flex-direction: column;

                color: white;

                :first-child {
                    margin-bottom: 15px;
                }

                > *:not(:first-child):not(:last-child) {
                    margin-bottom: 10px;
                }

                > *:not(:first-child) {
                    font-size: 16px;
                }

                p {
                    font-size: 18px;
                }

                a {
                    color: white;
                    transition: 200ms;
                    width: max-content;
                }

                a:hover {
                    color: hsl(204, 86%, 53%);
                }
            }
        }
    }
}
