/* Actual Standard Stuff */
button {
  outline: none;
}
/*body {
    font-family: @main-font;
    font-weight: 300;
}

.overview-container {
    margin-top: 50px;
    margin-bottom: 125px;
}
.artifact-container {
    .img-container {
        img { height: 300px; }
        text-align: center;
    }
}
.mission-container {
    text-align: center;
    margin-top: 30px;
    .mission-header {
        .height(40px, 30px);
        margin: 10px;
    }
    .mission-description {
        width: 60%;
        margin-left: 20%;
        .height(24px, 16px);
    }
}


.news-container {
    border-left: 1px solid #f1f1f1;
    margin-top: 10px;
    .news-header {
        padding: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        .height(40px, 20px);
    }
    .story-container {
        padding: 10px;
        padding-left: 40px;
        .title {
            text-transform: uppercase;
            .height(18px, 11px);
            color: #aaaaaa;
            .date {
                float: right;
            }
            margin-bottom: 10px;
            .alert {
                border-radius: 8px;
                color: white;
                .height(25px, 11px);
                padding: 2px 10px;
            }
            .yay {
                background-color: @berkeleytime-green;
            }
        }
        .description {
            .line-height(18px, 13px);
        }
    }
}

.team-container {
    a {
        .light-link(@berkeleytime-blue);
    }
}
@person-height: 180px;
.person-container {
    margin-bottom: 10px;
    padding: 10px;
    .picture-container {
        .picture {
            cursor: pointer;
        }
    }
    .text-container {
        padding: 0px 20px;
        .name {
            text-align: center;
            .height(25px, 14px);
        }
        .email, .position {
            text-align: center;
            .height(16px, 12px);
            font-weight: 400;
        }
        .description {
            .height(14px, 12px);
        }
    }
}


.information-container {
    margin-top: 70px;
    .xl-person-container {
        border-left: 1px solid #f1f1f1;
    }

    .xl-picture-container {
        @xl-diameter: 180px;
        .picture {
            width: @xl-diameter;
            height: @xl-diameter;
        }
    }
    .xl-text-container {
        padding: 20px;
        .name {
            text-align: center;
            .height(40px, 25px);
        }
        .position, .year {
            text-align: center;
            .height(20px, 14px);
        }
        .position {
            font-weight: 400;
        }
        .description-container {
            padding: 20px 20px 10px 20px;
            .line-height(15px, 13px);
            p {
                padding-bottom: 10px;
            }
        }
        .fact-container {
            padding: 10px 20px;
            .line-height(15px, 13px);
            font-family: @bookish-font;
            font-weight: 400;
            .source {
                padding-top: 5px;
                float: right;
                font-style: italic;
            }
        }
        .contact-container {
            padding: 10px 20px;
            .header {
                text-transform: uppercase;
                .height(15px, 10px);
                color: #aaaaaa;
            }
            .description {
                .height(20px, 14px);
            }
        }
    }
}

.past-team-container {
    margin-bottom: 100px;
    margin-top: 20px;
    .past-team-header {
        text-transform: uppercase;
        .height(20px, 13px);
        color: #aaaaaa;
        margin-bottom: 20px;
    }
    .past-people-container {
         .picture {
            @diameter: 85px;
            -webkit-filter: grayscale(100%);
            width: @diameter;
            height: @diameter;
            margin-bottom: 5px;
        }
        .name {
            text-align: center;
            .height(18px, 12px);
        }
    }
}*/
button {
  outline: none;
}
body {
  font-family: "Open Sans", san-serif;
  font-weight: 300;
}
.overview-container {
  margin-top: 50px;
  margin-bottom: 100px;
}
.artifact-container .img-container {
  text-align: center;
  margin-bottom: 20px;
}
.artifact-container .img-container img {
  height: 250px;
}
.mission-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mission-header {
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  margin: 10px;
}
.mission-description {
  width: 60%;
  margin-left: 20%;
  line-height: 24px;
  font-size: 16px;
}
.news-container {
  border-left: 1px solid #f1f1f1;
}
.news-container .news-header {
  padding-left: 40px;
  font-size: 20px;
}
.news-container .story-container {
  padding: 10px;
  padding-left: 40px;
}
.news-container .story-container .title {
  text-transform: uppercase;
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  color: #aaaaaa;
  margin-bottom: 10px;
}
.news-container .story-container .title .date {
  float: right;
}
.news-container .story-container .title .alert {
  border-radius: 8px;
  color: white;
  height: 25px;
  line-height: 25px;
  font-size: 11px;
  padding: 2px 10px;
}
.news-container .story-container .title .yay {
  background-color: #57af3e;
}
.news-container .story-container .description {
  line-height: 18px;
  font-size: 13px;
}
.team-container a {
  color: #5ab2de;
}
.team-container a:hover {
  color: #afdaef;
}
.person-container {
  margin: 20px 10px;
  display: inline-block;
}
.person-container .text-container .name {
  text-align: center;
  height: 10px;
  line-height: 18px;
  font-size: 18px;
  margin: 10px 0 14px 0;
}
.person-container .text-container .email,
.person-container .text-container .position {
  text-align: center;
  height: 16px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
}
.person-container .text-container .description {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
}
.information-container {
  margin-top: 70px;
}
.information-container .xl-person-container {
  border-left: 1px solid #f1f1f1;
}
.picture-container {
  width: 110px;
  height: 110px;
  overflow: hidden;
}
.information-container .xl-picture-container .picture {
  width: 180px;
  height: 180px;
}
.information-container .xl-text-container {
  padding: 20px;
}
.information-container .xl-text-container .name {
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
}
.information-container .xl-text-container .position,
.information-container .xl-text-container .year {
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
.information-container .xl-text-container .position {
  font-weight: 400;
}
.information-container .xl-text-container .description-container {
  padding: 20px 20px 10px 20px;
  line-height: 15px;
  font-size: 13px;
}
.information-container .xl-text-container .description-container p {
  padding-bottom: 10px;
}
.information-container .xl-text-container .fact-container {
  padding: 10px 20px;
  line-height: 15px;
  font-size: 13px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.information-container .xl-text-container .fact-container .source {
  padding-top: 5px;
  float: right;
  font-style: italic;
}
.information-container .xl-text-container .contact-container {
  padding: 10px 20px;
}
.information-container .xl-text-container .contact-container .header {
  text-transform: uppercase;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
  color: #aaaaaa;
}
.information-container .xl-text-container .contact-container .description {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
.past-team-container {
  margin-bottom: 100px;
  margin-top: 20px;
}
.past-team-container .past-team-header {
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  color: #aaaaaa;
  margin-bottom: 20px;
}
.past-team-container .past-people-container .picture {
  -webkit-filter: grayscale(100%);
  width: 85px;
  height: 85px;
  margin-bottom: 5px;
}
.past-team-container .past-people-container .name {
  text-align: center;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
}
.sub-header {
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}
.past-member {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
}
