@media (max-width: 600px) {
    /* .container {
        width: 100%; 
    } */
}

body {
    background-color: white;
}

  .dropDownBtn {
    color: black !important;
    background-color: white !important;
  }


.searchBar {
    background-color: white;
    color: black;
    position: relative;
    margin-top: 0.5rem;
    padding: 0.5rem;
    /* width: 100%; */
    width: 210px;
    padding: 16px;
    /* maxheight: 92px; */
    min-height: 92px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    vertical-align: top;

}

.suggestion-list {
    max-height: 5rem;
    overflow-y: scroll;
    list-style-type: none;
    padding: 0;
    scrollbar-color: #cbd5e0 #f3f4f6;
    scrollbar-width: thin;
    background-color: white;
}

.suggestions-list::-webkit-scrollbar-thumb {
    background-color: #8A8A8A; /* Light gray scrollbar handle */
    border-radius: 4px;
  }


  .suggestions-list::-webkit-scrollbar-track {
    background-color: #8A8A8A; /* Lighter gray track */
  }

.suggestion-item {
    cursor: pointer;
    padding: 0.5rem;
    text-align: left;
    overflow: hidden;
    color: var(--Black-1, rgba(0, 0, 0, 0.80));
    text-overflow: ellipsis;
    font-family: "Inter Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.1px;
}

.suggestion-item:hover {
    background-color: #bfdbfe; /* Light blue for hover */
  }

.add-custom-btn {
  color: var(--Black-1, rgba(0, 0, 0, 0.80));
  font-family: "Inter Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.1px;
  /* width: 100%; */
  padding: 0;
  text-align: left;
  background-color: transparent;
}

/* .add-custom-btn:hover {
  background-color: #bfdbfe;
} */

