{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id='container'>
        <div class='berkeleytime-box'>
            <div class="message">
                {% if form.email.errors %}
                    <div class="error-short"><p><i class="icon-warning-sign"></i>{{ form.email.errors|striptags}}</p></div>
                {% else %}
                    <div class="welcome"><p>To reset your password, please enter your email address below.</p></div>
                {% endif %}
            </div>
            <div>
                <form id='reset' method='post' action='/passreset/'>{% csrf_token %}
                    {{form.email}}
                    <button class='berkeleytime-button' type='submit'>Send Email</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
