.placeholder {
  color: var(--paragraph-color);
}

.root {
  color: var(--blue-500);
  transition: all 100ms ease-in-out;
  font-weight: var(--font-medium);

  &:hover {
    color: var(--blue-600);

    @media (prefers-color-scheme: dark) {
      color: var(--blue-400);
    }
  }
}

.root,
.placeholder {
  font-weight: var(--font-normal);
  font-size: var(--text-14);
  line-height: 1.5;
  width: fit-content;
}
