body,
p,
h1,
h2,
h3 {
  margin: 0;
}

input,
button {
  font-family: unset;
  border: unset;
  background-color: unset;
  padding: unset;
}

input {
  width: 100%;

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  scrollbar-color: var(--label-color) transparent;
}
