.placeholder {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--foreground-color);
  height: 128px;
}

@media (width <= 992px) {
  .toggle > :last-child {
    display: none;
  }
}

@media (width > 992px) {
  .toggle > :first-child {
    display: none;
  }
}
