.body {
  align-items: center;
  color: var(--heading-color);
}
.icon {
  margin-top: 40px;
  width: 70px;
  height: 70px;
  color: var(--blue-500);
}
.red {
  color: var(--red-500);
}

.title {
  margin-top: 28px;
  margin-bottom: 14px;
  font-size: var(--text-28);
  font-weight: var(--font-semibold);
}

.subtitle {
  margin: 0px 20px;
  color: var(--paragraph-color);
  font-size: var(--text-14);
  line-height: 1.5;
  margin-bottom: 28px;
}
