.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--paragraph-color);

  .row {
    display: flex;
    flex-direction: column;

    .input {
      flex-grow: 1;
      height: 32px;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      padding: 0 12px;
      color: var(--paragraph-color);
    }
  }

  .column {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  .description {
    font-size: 14px;
    color: var(--paragraph-color);
    line-height: 1;
  }

  .header {
    display: flex;
    gap: 16px;

    .text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .title {
        font-size: 16px;
        font-weight: 500;
        color: var(--heading-color);
        line-height: 1;
      }
    }
  }

  label {
    line-height: 32px;
    font-size: 14px;
  }

  .buttonCont {
    width: 100px;
  }
}
