{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block meta %}
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
{% endblock %}

{% block stylesheets %}
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet'>
  <!--[if lte IE 8]>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
  <link rel='stylesheet' type='text/css' href="{% static 'css/events/events.css' %}">
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{% static 'js/underscore.min.js' %}"></script>
    <script type='text/javascript' src='https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script type="text/javascript" src="{% static 'js/bt-utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/events/events-utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/events/events.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="map">
        </div>
        {% spaceless %}
          <div class="category-container">
            <div class="selected-category-container"></div>
            <div class="category-choices-container">
            </div>
          </div>

        <div class="event-info-container">
          <div class="search-bar-container">
            <input class="search-bar" type="text" placeholder="Search... (ie. Hackers @ Berkeley)"></input>
          </div>
          <div class="result-message">
          </div>

          <div class="result-list">
          </div>
        </div>
        {% endspaceless %}
    </div>

{% endblock %}
