.label {
  color: var(--label-color);
  line-height: 1;
  font-size: 14px;
}

.description {
  color: var(--paragraph-color);
  line-height: 1.5;
  font-size: 14px;
}

.userSubmissionRequirements {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  .dataGroup {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .icon {
    margin-right: 8px;
    font-size: 1.2rem;
    color: var(--paragraph-color);
    vertical-align: middle;
  }
}

.suggestEdit {
  color: var(--blue-500);
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}
