.root {
  padding: 24px 0;
  font-size: 14px;

  .label {
    margin-top: 24px;
    color: var(--label-color);
    line-height: 1;
  }

  .description {
    color: var(--paragraph-color);
    margin-top: 8px;
    line-height: 1.5;
  }
}

.attendanceLabel {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--label-color);
  line-height: 1;
}

.attendanceDescription {
  color: var(--paragraph-color);
  font-size: 14px;
  margin-top: 6px;
  line-height: 1.5;
}

.attendanceRequirements {
  .icon {
    margin-right: 8px;
    font-size: 1.2rem;
    color: var(--paragraph-color);
    vertical-align: middle;
  }
}

.suggestEdit {
  color: var(--blue-500);
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 10px;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}
