.root {
  background-color: var(--zinc-50);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  width: 420px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;

  :global(body[data-theme="dark"]) &,
  :global(body:not([data-theme])) & {
    @media (prefers-color-scheme: dark) {
      background-color: var(--button-hover-color);
    }
  }

  :global(body[data-theme="dark"]) & {
    background-color: var(--button-hover-color);
  }
}

// avoid weird clipping issue with the color background
.colorBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  z-index: 0;
}

.bubble {
  position: relative;
  min-height: 130px;
  z-index: 1;
  flex: 1 1 auto;
}

.bubbleWithPadding {
  padding: 20px;
}

.footer {
  background-color: var(--foreground-color);
  border-top: 1px solid var(--border-color);
  padding: 20px;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuButton {
  opacity: 0;
  transition: opacity 0.15s ease;

  &[data-state="open"] {
    opacity: 1;
  }
}

.root:hover .menuButton {
  opacity: 1;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
  overflow: hidden;
  flex: 1;
  margin-right: 12px;
}

.title {
  font-size: var(--text-16);
  font-weight: var(--font-semibold);
  color: var(--heading-color);
  letter-spacing: -0.16px;
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 0;
  margin: 0;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.description {
  font-size: var(--text-14);
  font-weight: var(--font-medium);
  color: var(--paragraph-color);
  letter-spacing: -0.14px;
}
