name: "CD: Deploy to Production"
run-name: "Deployed `${{ github.sha }}`${{ inputs.deploy_staff && ' with staff dashboard' || '' }}"

concurrency: production

on:
  workflow_dispatch:
    inputs:
      deploy_staff:
        description: "Deploy staff dashboard"
        required: true
        type: boolean
        default: false

jobs:
  branch-check:
    name: Environment Check
    runs-on: ubuntu-latest
    environment: production
 
    steps:
      - name: Pass
        run: echo "Passed check"

  build-push:
    name: Build and Push Images and Charts
    needs: [branch-check]
    uses: ./.github/workflows/cd-build.yaml
    with:
      image_tag: prod
      chart_ver: "1.0.0"
    secrets: inherit

  deploy:
    name: SSH and Deploy
    needs: [build-push]
    uses: ./.github/workflows/cd-deploy.yaml
    with:
      environment: production
      name: bt-prod-app
      version: "1.0.0"
      values: |
        host: berkeleytime.com
      host: berkeleytime.com
      deploy_staff: ${{ inputs.deploy_staff }}
    secrets: inherit
