name: Deploy to Staging

concurrency:
  group: staging
  cancel-in-progress: true

on:
  push:
    branches: [main]
    paths-ignore: ["docs/**"]

jobs:
  build-push:
    name: Build and Push Images and Charts
    uses: ./.github/workflows/cd-build.yaml
    with:
      image_tag: latest
      chart_ver: 0.1.0-stage
    secrets: inherit

  deploy:
    name: SSH and Deploy
    needs: [build-push]
    uses: ./.github/workflows/cd-deploy.yaml
    with:
      environment: staging
      name: bt-stage-app
      version: 0.1.0-stage
      values: |
        env: stage
        frontend:
          image:
            tag: latest
        backend:
          image:
            tag: latest
        datapuller:
          image:
            tag: latest
        host: staging.berkeleytime.com
        mongoUri: mongodb://bt-stage-mongo-mongodb-0.bt-stage-mongo-mongodb-headless.bt.svc.cluster.local:27017/bt
        redisUri: redis://bt-stage-redis-master.bt.svc.cluster.local:6379
      host: staging.berkeleytime.com
    secrets: inherit
