.root {
	height: 100vh;

  background: linear-gradient(var(--angle, to top right), var(--start), var(--stop));

  position: relative;

  display: flex;
  flex-direction: column;

  .wave {
    position: absolute;

    width: 100%;

    bottom: 0;
    left: 0;

    z-index: 2;
  }

  .container {
    max-width: 1200px;
    width: 100%;

    flex-grow: 1;

    padding: 64px 24px 0;
    
    position: relative;

    z-index: 1;

    margin: 0 auto;

    .clock {
      position: absolute;

      right: 280px;
      bottom: 160px;

      text-align: right;

      font-size: 16px;
      line-height: 1;

      p.time {
        font-weight: 500;
        color: white;

        margin-bottom: 4px;
      }

      p.period {
        color: rgba(white, 0.5);
      }
    }

    img.campanile {
      position: absolute;
  
      right: 24px;
      bottom: 0;

      bottom: -75%;

      z-index: -1;
    }

    .header {
      font-size: 48px;
      color: white;

      max-width: 512px;

      margin-bottom: 16px;
    }

    .description {
      font-size: 16px;
      color: white;

      max-width: 512px;

      margin-bottom: 32px;
    }

    .button {
      background-color: rgba(black, 0.1);

      height: 48px;

      display: inline-flex;
      align-items: center;

      padding: 0 24px;

      border-radius: 8px;

      font-size: 16px;
      font-weight: 700;
      color: white;

      &:hover {
        background-color: rgba(black, 0.2);
      }
    }
  }
}
